Repository Automattic/newspack-plugin, pull requests merged in 2019-05, with the labels that each got.

#25 Build pipeline, Murielized Checkbox, and Subscriptions Wizard stub
  .gitignore
  .prettierrc
  assets/plugins-screen/plugins-screen-rtl.css
  assets/plugins-screen/plugins-screen.css
  assets/plugins-screen/plugins-screen.js
  assets/plugins-screen/plugins-screen.scss
  assets/src/components/checkboxInput/index.js
  assets/src/components/checkboxInput/style.scss
  assets/src/wizards/subscriptions/index.js
  assets/src/wizards/subscriptions/style.scss
  babel.config.js
  includes/class-admin-plugins-screen.php
  includes/class-newspack.php
  includes/wizards/class-subscriptions-wizard.php
  includes/wizards/class-wizard.php
  package-lock.json
  package.json
  webpack.config.js
Labels: [Status] Needs review

#26 Replace React and ReactDOM with @wordpress/element
  assets/src/wizards/subscriptions/index.js
Labels: [Status] Needs review

#27 Info Buttons for Checkboxes
  assets/src/components/checkboxInput/index.js
  assets/src/components/checkboxInput/style.scss
  assets/src/components/infoButton/index.js
  assets/src/components/infoButton/info_24px.svg
  assets/src/components/infoButton/style.scss
  assets/src/wizards/subscriptions/index.js
  package-lock.json
  package.json
Labels: [Status] Approved

#28 Muriel-styled Card component.
  assets/src/components/card/card.test.js
  assets/src/components/card/index.js
  assets/src/components/card/style.scss
  assets/src/setupTests.js
  assets/src/wizards/subscriptions/index.js
  package-lock.json
  package.json
Labels: [Status] Needs review

#30 Bump calypso-build to 1.0.0-rc.3. Remove file-loader and Babel config.
  babel.config.js
  package-lock.json
  package.json
Labels: [Status] Approved

#5 Add Javascript files to PHPCS scan
  phpcs.xml
Labels: [Status] Approved

#38 Build: Simplify style build stack
  assets/src/components/card/index.js
  assets/src/components/checkboxInput/index.js
  assets/src/components/infoButton/index.js
  assets/src/wizards/subscriptions/index.js
  includes/wizards/class-subscriptions-wizard.php
  includes/wizards/class-wizard.php
  webpack.config.js
Labels: [Status] Needs review

#36 Muriel-styled Text/Number Input component.
  assets/src/components/inputText/index.js
  assets/src/components/inputText/style.scss
  assets/src/wizards/subscriptions/index.js
Labels: [Status] Approved

#39 Fix jest tests
  babel.config.js
  package-lock.json
  package.json
Labels: [Status] Approved

#41 Use jsdom environment when running jest tests.
  package.json
Labels: [Status] Approved

#42 Bug fix: corrected the path in the clean script.
  package.json
Labels: [Status] Needs review

#43 Fix: Checkbox input should extend Component, not CheckboxControl.
  assets/src/components/checkboxInput/index.js
Labels: [Status] Approved

#37 Minor tweaks
  assets/src/components/checkboxInput/style.scss
  includes/class-newspack.php
  includes/wizards/class-subscriptions-wizard.php
  webpack.config.js
Labels: [Status] Approved

#40 Formatted header component
  assets/src/components/formattedHeader/formattedHeader.test.js
  assets/src/components/formattedHeader/index.js
  assets/src/components/formattedHeader/style.scss
  assets/src/wizards/subscriptions/index.js
  assets/src/wizards/subscriptions/style.scss
Labels: [Status] Approved

#47 Standardize naming conventions
  assets/src/components/card/card.test.js
  assets/src/components/card/index.js
  assets/src/components/card/style.scss
  assets/src/components/checkboxControl/index.js
  assets/src/components/checkboxControl/style.scss
  assets/src/components/formattedHeader/formattedHeader.test.js
  assets/src/components/formattedHeader/index.js
  assets/src/components/formattedHeader/style.scss
  assets/src/components/infoButton/index.js
  assets/src/components/infoButton/style.scss
  assets/src/components/textControl/index.js
  assets/src/components/textControl/style.scss
  assets/src/wizards/subscriptions/index.js
Labels: [Status] Approved

#29 Image upload/media modal component
  assets/src/components/imageUpload/imageUpload.test.js
  assets/src/components/imageUpload/image_upload_24px.svg
  assets/src/components/imageUpload/index.js
  assets/src/components/imageUpload/style.scss
  assets/src/wizards/subscriptions/index.js
  includes/wizards/class-subscriptions-wizard.php
  package-lock.json
  package.json
Labels: [Status] Approved

#50 Bump calypso-build To v2
  package-lock.json
  package.json
Labels: [Status] Needs review

#51 Fix ImageUpload Tests
  assets/src/components/imageUpload/imageUpload.test.js
Labels: [Status] Approved

#48 Progress Bar component
  assets/src/components/progressBar/index.js
  assets/src/components/progressBar/progressBar.test.js
  assets/src/components/progressBar/style.scss
  assets/src/wizards/subscriptions/index.js
Labels: [Status] Approved

#57 Shared Component Styles
  assets/src/components/card/index.js
  assets/src/components/card/style.scss
  assets/src/components/checkboxControl/index.js
  assets/src/components/checkboxControl/style.scss
  assets/src/components/formattedHeader/index.js
  assets/src/components/formattedHeader/style.scss
  assets/src/components/imageUpload/index.js
  assets/src/components/imageUpload/style.scss
  assets/src/components/infoButton/index.js
  assets/src/components/infoButton/style.scss
  assets/src/components/textControl/index.js
  assets/src/components/textControl/style.scss
  assets/src/shared/js/muriel-classnames.js
  assets/src/shared/scss/_muriel-component.scss
Labels: [Status] Approved

#46 Add Button Component
  assets/src/components/button/button.test.js
  assets/src/components/button/index.js
  assets/src/components/button/style.scss
  assets/src/wizards/subscriptions/index.js
  package.json
Labels: [Status] Has pull request, [Status] Needs review

#61 Switch to using shared Muriel styles and murielClassnames()
  assets/src/components/button/index.js
  assets/src/components/button/style.scss
Labels: [Status] Approved

#62 Add Muriel-styled Select dropdown component
  assets/src/components/selectControl/arrow_down.svg
  assets/src/components/selectControl/index.js
  assets/src/components/selectControl/style.scss
  assets/src/wizards/subscriptions/index.js
Labels: [Status] Needs review

#58 Checklist Component
  .editorconfig
  .prettierrc
  assets/src/components/button/style.scss
  assets/src/components/checklist/index.js
  assets/src/components/checklist/style.scss
  assets/src/components/task/index.js
  assets/src/components/task/style.scss
  assets/src/wizards/subscriptions/index.js
  assets/src/wizards/subscriptions/style.scss
Labels: [Status] Approved

#63 Checkbox Visual Fixes
  assets/src/components/checkboxControl/style.scss
  assets/src/components/infoButton/index.js
Labels: [Status] Approved

#65 Unified Components Import
  assets/src/components/checkbox-control/index.js
  assets/src/components/checkbox-control/style.scss
  assets/src/components/checklist/index.js
  assets/src/components/formatted-header/formattedHeader.test.js
  assets/src/components/formatted-header/index.js
  assets/src/components/formatted-header/style.scss
  assets/src/components/image-upload/imageUpload.test.js
  assets/src/components/image-upload/image_upload_24px.svg
  assets/src/components/image-upload/index.js
  assets/src/components/image-upload/style.scss
  assets/src/components/index.js
  assets/src/components/info-button/index.js
  assets/src/components/info-button/info_24px.svg
  assets/src/components/info-button/style.scss
  assets/src/components/progress-bar/index.js
  assets/src/components/progress-bar/progressBar.test.js
  assets/src/components/progress-bar/style.scss
  assets/src/components/select-control/arrow_down.svg
  assets/src/components/select-control/index.js
  assets/src/components/select-control/style.scss
  assets/src/components/text-control/index.js
  assets/src/components/text-control/style.scss
  assets/src/wizards/subscriptions/index.js
Labels: [Status] Approved

#66 Move components demo into its own wizard
  assets/src/wizards/componentsDemo/index.js
  assets/src/wizards/componentsDemo/style.scss
  includes/class-newspack.php
  includes/wizards/class-components-demo.php
  includes/wizards/class-subscriptions-wizard.php
Labels: [Status] Approved

#67 Fix prop issues in select component
  assets/src/components/select-control/index.js
Labels: [Status] Approved, [Type] Bug

#68 Style 'help' text for checkboxes
  assets/src/components/checkbox-control/style.scss
  assets/src/wizards/componentsDemo/index.js
Labels: [Status] Approved, [Type] Bug, [Type] Enhancement

#70 Style number/password/etc. inputs
  assets/src/components/text-control/style.scss
  assets/src/wizards/componentsDemo/index.js
Labels: [Status] Approved, [Type] Bug

#71 Remove js from phpcs check
  phpcs.xml
Labels: [Status] Approved

#73 Subscriptions Wizard
  assets/src/wizards/subscriptions/index.js
  assets/src/wizards/subscriptions/style.scss
  assets/src/wizards/subscriptions/views/editSubscriptionScreen.js
  assets/src/wizards/subscriptions/views/manageSubscriptionsScreen.js
  includes/class-newspack.php
  includes/wizards/class-subscriptions-wizard.php
  includes/wizards/class-wizard.php
Labels: [Status] Approved

#79 Action Card Component
  assets/src/components/action-card/index.js
  assets/src/components/action-card/style.scss
  assets/src/components/index.js
  assets/src/wizards/componentsDemo/index.js
Labels: [Status] Needs Design Review, [Status] Needs review

#80 Subscriptions Wizard w/ActionCard
  assets/src/wizards/subscriptions/style.scss
  assets/src/wizards/subscriptions/views/manageSubscriptionsScreen.js
Labels: [Status] Approved

#81 Fix build
  assets/components/src/action-card/index.js
  assets/components/src/action-card/style.scss
  assets/wizards/subscriptions/index.js
  assets/wizards/subscriptions/style.scss
  assets/wizards/subscriptions/views/editSubscriptionScreen.js
  assets/wizards/subscriptions/views/manageSubscriptionsScreen.js
Labels: [Status] Approved, [Type] Bug, [Type] Infrastructure
