Repository Automattic/newspack-plugin, pull requests merged in 2019-11, with the labels that each got.

#299 Fake Newspack
  assets/components/src/progress-bar/style.scss
  assets/shared/images/newspack-logo.png
  assets/wizards/setup/index.js
  assets/wizards/setup/views/index.js
  assets/wizards/setup/views/starter-content/index.js
  composer.lock
  includes/class-newspack.php
  includes/class-settings.php
  includes/class-starter-content.php
  includes/configuration_managers/class-jetpack-configuration-manager.php
  includes/configuration_managers/class-site-kit-configuration-manager.php
  includes/wizards/class-setup-wizard.php
  package-lock.json
Labels: [Status] Approved

#300 Google Analytics: Fix plugin handoff
  assets/wizards/analytics/views/intro/index.js
Labels: [Initiatives] Optimisation, [Status] Approved, [Type] Bug

#296 Fix Dashicon height/width and position when checkbox is checked
  assets/components/src/checkbox-control/style.scss
Labels: [Status] Approved

#302 Add Co-Authors Plus as a supported plugin
  includes/class-plugin-manager.php
Labels: [Status] Approved

#304 Move the Wizard Pagination to the bottom and add new style
  assets/components/src/wizard-pagination/index.js
  assets/components/src/wizard-pagination/style.scss
  assets/wizards/setup/index.js
Labels: [Status] Approved

#305 Add an icon option to the Formatted Header + Add icons for the setup
  assets/components/src/formatted-header/index.js
  assets/components/src/formatted-header/style.scss
  assets/components/src/with-wizard-screen/index.js
  assets/wizards/setup/index.js
Labels: [Status] Approved

#306 Add a wrapper around the `NewspackLogo`
  assets/components/src/with-wizard/index.js
  assets/components/src/with-wizard/style.scss
Labels: [Status] Approved

#307 Add header icons to the different wizard pages
  assets/wizards/advertising/index.js
  assets/wizards/analytics/index.js
  assets/wizards/componentsDemo/index.js
  assets/wizards/engagement/index.js
  assets/wizards/health-check/index.js
  assets/wizards/performance/index.js
  assets/wizards/readerRevenue/index.js
  assets/wizards/seo/index.js
  assets/wizards/syndication/index.js
Labels: [Status] Approved, [Status] Needs changes or feedback

#308 Dashboard: Add Material icons to the different cards and normalize header
  assets/wizards/dashboard/advertising-icon.svg
  assets/wizards/dashboard/analytics-icon.svg
  assets/wizards/dashboard/engagement-icon.svg
  assets/wizards/dashboard/index.js
  assets/wizards/dashboard/performance-icon.svg
  assets/wizards/dashboard/reader-revenue-icon.svg
  assets/wizards/dashboard/seo-icon.svg
  assets/wizards/dashboard/site-design-icon.svg
  assets/wizards/dashboard/style.scss
  assets/wizards/dashboard/syndication-icon.svg
  assets/wizards/dashboard/views/dashboardCard.js
  includes/wizards/class-dashboard.php
Labels: [Status] Approved

#309 Fix input and select by resetting value added by WordPress 5.3
  assets/components/src/select-control/style.scss
  assets/components/src/text-control/style.scss
  assets/wizards/setup/views/about/style.scss
Labels: [Status] Approved

#314 Apple News Configuration Manager #311
  includes/class-plugin-manager.php
  includes/configuration_managers/class-configuration-managers.php
  includes/configuration_managers/class-publish-to-apple-news-configuration-manager.php
Labels: [Status] Approved

#316 Update the logo component/header section
  assets/components/src/newspack-logo/index.js
  assets/components/src/with-wizard/index.js
  assets/components/src/with-wizard/style.scss
  assets/shared/scss/_muriel-component.scss
  assets/wizards/checklist/index.js
  assets/wizards/componentsDemo/index.js
  assets/wizards/dashboard/index.js
  assets/wizards/dashboard/style.scss
Labels: [Status] Approved

#313 Update/plugin installer icons
  assets/components/src/plugin-installer/index.js
  assets/components/src/plugin-installer/style.scss
  package-lock.json
  package.json
Labels: [Status] Approved
