Repository Automattic/newspack-plugin, pull requests merged in 2019-06, with the labels that each got.

#69 Plugin Installer Component
  assets/components/src/action-card/style.scss
  assets/components/src/card/index.js
  assets/components/src/card/style.scss
  assets/components/src/index.js
  assets/components/src/plugin-installer/index.js
  assets/components/src/plugin-installer/style.scss
  assets/wizards/componentsDemo/index.js
  includes/class-plugin-manager.php
Labels: [Status] Needs review

#87 Notification/Modal component
  assets/components/src/index.js
  assets/components/src/modal/index.js
  assets/components/src/modal/style.scss
  assets/wizards/componentsDemo/index.js
Labels: [Status] Approved

#86 Business setup for onboarding wizard
  assets/wizards/subscriptionsOnboarding/index.js
  assets/wizards/subscriptionsOnboarding/style.scss
  assets/wizards/subscriptionsOnboarding/views/locationSetup.js
  assets/wizards/subscriptionsOnboarding/views/paymentSetup.js
  includes/class-newspack.php
  includes/class-plugin-manager.php
  includes/util.php
  includes/wizards/class-subscriptions-onboarding-wizard.php
  includes/wizards/class-wizard.php
Labels: [Status] Approved

#96 Dashboard + Checklist + Cohesiveness
  assets/wizards/checklist/index.js
  assets/wizards/dashboard/index.js
  assets/wizards/dashboard/style.scss
  assets/wizards/dashboard/views/dashboardCard.js
  assets/wizards/dashboard/views/tier.js
  includes/class-checklists.php
  includes/class-newspack.php
  includes/class-wizards.php
  includes/wizards/class-components-demo.php
  includes/wizards/class-dashboard.php
  includes/wizards/class-subscriptions-onboarding-wizard.php
  includes/wizards/class-subscriptions-wizard.php
  includes/wizards/class-wizard.php
Labels: [Status] Approved

#101 Couple small tweaks to Subscriptions Onboarding wizard
  assets/wizards/subscriptionsOnboarding/index.js
  assets/wizards/subscriptionsOnboarding/style.scss
  assets/wizards/subscriptionsOnboarding/views/locationSetup.js
  assets/wizards/subscriptionsOnboarding/views/paymentSetup.js
Labels: [Status] Approved

#103 Newspack Logo In Admin Menu
  includes/wizards/class-dashboard.php
Labels: [Status] Approved

#100 Add 'return to checklist' links where needed
  assets/wizards/subscriptions/views/manageSubscriptionsScreen.js
  assets/wizards/subscriptionsOnboarding/index.js
  includes/class-checklists.php
  includes/class-wizards.php
  includes/wizards/class-wizard.php
Labels: [Status] Approved

#105 Handoff Component
  assets/components/src/button/style.scss
  assets/components/src/handoff/index.js
  assets/components/src/index.js
  assets/wizards/componentsDemo/index.js
  assets/wizards/handoff-banner/index.js
  assets/wizards/handoff-banner/newspack-mark.svg
  assets/wizards/handoff-banner/style.scss
  includes/api/class-plugins-controller.php
  includes/class-handoff-banner.php
  includes/class-newspack.php
  includes/class-plugin-manager.php
  tests/unit-tests/api-plugins-controller.php
  tests/unit-tests/plugin-manager.php
Labels: [Status] Approved, [Status] Needs Design Review

#109 React Router + Wizard Higher Order Components
  assets/components/src/action-card/index.js
  assets/components/src/index.js
  assets/components/src/with-wizard-screen/index.js
  assets/components/src/with-wizard-screen/style.scss
  assets/components/src/with-wizard/index.js
  assets/shared/js/button-props.js
  assets/shared/js/index.js
  assets/wizards/subscriptions/index.js
  assets/wizards/subscriptions/style.scss
  assets/wizards/subscriptions/views/editSubscriptionScreen.js
  assets/wizards/subscriptions/views/manageSubscriptionsScreen.js
  assets/wizards/subscriptionsOnboarding/index.js
  assets/wizards/subscriptionsOnboarding/style.scss
  assets/wizards/subscriptionsOnboarding/views/locationSetup.js
  assets/wizards/subscriptionsOnboarding/views/paymentSetup.js
  includes/class-plugin-manager.php
  includes/wizards/class-subscriptions-wizard.php
  package-lock.json
  package.json
Labels: [Status] Approved, [Status] Needs changes or feedback, [Type] Infrastructure

#111 Fix key validation logic in Stripe setup
  includes/wizards/class-subscriptions-onboarding-wizard.php
Labels: [Status] Approved

#116 Function for installing + activating Newspack theme
  includes/util.php
Labels: [Status] Approved

#112 Improved handling for plugins that Newspack can't install
  assets/wizards/componentsDemo/index.js
  includes/api/class-plugins-controller.php
  includes/class-plugin-manager.php
  tests/unit-tests/plugin-manager.php
Labels: [Status] Approved

#115 Mighty Blue
  assets/components/src/button/style.scss
  assets/components/src/checkbox-control/style.scss
  assets/components/src/image-upload/style.scss
  assets/components/src/progress-bar/style.scss
  assets/shared/scss/_muriel-component.scss
Labels: [Status] Approved, [Status] Needs Design Review

#120 Handoff: Edit Link and Button Text Overrides
  assets/components/src/handoff/index.js
  assets/wizards/componentsDemo/index.js
  includes/api/class-plugins-controller.php
  includes/class-plugin-manager.php
Labels: [Status] Needs review

#118 Fix/concurrent plugin installation
  assets/components/src/plugin-installer/index.js
Labels: [Status] Approved

#125 Tweak notice and menu priorities
  includes/class-handoff-banner.php
  includes/wizards/class-dashboard.php
Labels: [Status] Approved

#124 Only validate API key fields if Stripe is enabled
  includes/wizards/class-subscriptions-onboarding-wizard.php
Labels: [Status] Approved

#127 Newspack Logo component.
  assets/components/src/index.js
  assets/components/src/newspack-logo/index.js
  assets/wizards/componentsDemo/index.js
  assets/wizards/componentsDemo/style.scss
Labels: [Status] Approved

#131 Action Button Below Card
  assets/components/src/with-wizard-screen/index.js
Labels: [Status] Approved

#126 Add/plugin configurator
  includes/api/class-plugins-controller.php
  includes/class-plugin-manager.php
  includes/configuration_managers/class-amp-configuration-manager.php
  includes/configuration_managers/class-configuration-manager.php
  includes/configuration_managers/class-jetpack-configuration-manager.php
  tests/unit-tests/api-plugins-controller.php
  tests/unit-tests/plugin-manager.php
Labels: [Status] Approved

#132 Alternate Plugin Installer UI
  assets/components/src/plugin-installer/index.js
  assets/wizards/componentsDemo/index.js
Labels: [Status] Approved

#121 Handoff Banner Style Change
  assets/components/src/button/style.scss
  assets/wizards/handoff-banner/style.scss
  includes/class-handoff-banner.php
Labels: [Status] Approved

#130 Muriel Grid WIP
  assets/components/src/card/style.scss
  assets/components/src/checklist/index.js
  assets/components/src/checklist/style.scss
Labels: [Status] Needs Design Review, [Status] Needs review

#128 Advertising Wizard with AdSense
  assets/wizards/googleAdSense/index.js
  assets/wizards/googleAdSense/style.scss
  includes/class-checklists.php
  includes/class-newspack.php
  includes/class-wizards.php
  includes/wizards/class-dashboard.php
  includes/wizards/class-google-adsense-wizard.php
Labels: [Initiative] Integrations, [Status] Needs review

#122 Fine-tune and update dashboard/checklist options
  assets/wizards/dashboard/advertising-icon.png
  assets/wizards/dashboard/analytics-icon.png
  assets/wizards/dashboard/engagement-icon.png
  assets/wizards/dashboard/index.js
  assets/wizards/dashboard/performance-icon.png
  assets/wizards/dashboard/reader-revenue-icon.png
  assets/wizards/dashboard/seo-icon.png
  assets/wizards/dashboard/site-design-icon.png
  assets/wizards/dashboard/style.scss
  assets/wizards/dashboard/syndication-icon.png
  assets/wizards/subscriptions/index.js
  assets/wizards/subscriptionsOnboarding/index.js
  includes/class-checklists.php
  includes/wizards/class-dashboard.php
Labels: [Status] Approved

#137 Wizard Container Class
  includes/wizards/class-wizard.php
Labels: [Status] Approved

#139 SVG Dashboard Icons
  assets/wizards/dashboard/advertising-icon.png
  assets/wizards/dashboard/advertising-icon.svg
  assets/wizards/dashboard/analytics-icon.png
  assets/wizards/dashboard/analytics-icon.svg
  assets/wizards/dashboard/engagement-icon.png
  assets/wizards/dashboard/engagement-icon.svg
  assets/wizards/dashboard/performance-icon.png
  assets/wizards/dashboard/performance-icon.svg
  assets/wizards/dashboard/reader-revenue-icon.png
  assets/wizards/dashboard/reader-revenue-icon.svg
  assets/wizards/dashboard/seo-icon.png
  assets/wizards/dashboard/seo-icon.svg
  assets/wizards/dashboard/site-design-icon.png
  assets/wizards/dashboard/site-design-icon.svg
  assets/wizards/dashboard/syndication-icon.png
  assets/wizards/dashboard/syndication-icon.svg
  includes/wizards/class-dashboard.php
Labels: [Status] Approved
