Repository Automattic/newspack-plugin, pull requests merged in 2019-09, with the labels that each got.

#249 Install The Newspack Theme
  assets/wizards/setup/index.js
  includes/class-plugin-manager.php
  includes/configuration_managers/class-configuration-managers.php
  includes/configuration_managers/class-newspack-theme-configuration-manager.php
  includes/util.php
Labels: [Status] Approved

#247 Action Card: Handoff Functionality
  assets/components/src/action-card/index.js
  assets/components/src/handoff/index.js
  assets/wizards/componentsDemo/index.js
Labels: [Status] Approved

#248 Logo Link To Dashboard
  assets/components/src/with-wizard/index.js
Labels: [Status] Approved

#257 Add Newspack Blocks As Required Plugin
  assets/wizards/setup/index.js
Labels: [Status] Approved

#256 Add Gutenberg As Required Plugin
  assets/wizards/setup/index.js
Labels: [Initiative] Integrations, [Status] Approved

#255 Fix Handoff React State Update When Unmounted
  assets/components/src/handoff/index.js
Labels: [Status] Approved, [Type] Bug

#254 Fixes To Setup Wizard Plugin Installation
  assets/components/src/plugin-installer/index.js
  assets/components/src/with-wizard-screen/index.js
  assets/wizards/setup/index.js
  assets/wizards/setup/views/installation-progress/index.js
Labels: [Status] Approved, [Type] Bug, [Type] Infrastructure

#250 Site Design Wizard: Stub
  assets/wizards/setup/index.js
  includes/wizards/class-dashboard.php
Labels: [Status] Approved

#252 Syndication Wizard: Stub
  assets/wizards/syndication/index.js
  assets/wizards/syndication/views/index.js
  assets/wizards/syndication/views/intro/index.js
  includes/class-newspack.php
  includes/class-plugin-manager.php
  includes/class-wizards.php
  includes/wizards/class-dashboard.php
  includes/wizards/class-syndication-wizard.php
Labels: [Status] Approved

#251 SEO Wizard: Stub
  assets/components/src/action-card/index.js
  assets/wizards/seo/index.js
  assets/wizards/seo/views/index.js
  assets/wizards/seo/views/intro/index.js
  includes/class-newspack.php
  includes/class-wizards.php
  includes/wizards/class-dashboard.php
  includes/wizards/class-seo-wizard.php
Labels: [Status] Approved

#253 Bring PWA feature management in-house
  assets/components/src/with-wizard-screen/style.scss
  assets/wizards/performance/index.js
  assets/wizards/performance/views/add-to-homescreen/index.js
  assets/wizards/performance/views/index.js
  assets/wizards/performance/views/intro/index.js
  assets/wizards/performance/views/offline-usage/index.js
  assets/wizards/performance/views/push-notifications/index.js
  includes/class-newspack.php
  includes/class-plugin-manager.php
  includes/class-pwa.php
  includes/configuration_managers/class-progressive-wp-configuration-manager.php
  includes/wizards/class-performance-wizard.php
Labels: [Status] Approved

#262 Notifications For Missing Required Plugins, Theme
  includes/class-admin-plugins-screen.php
  includes/class-plugin-manager.php
Labels: [Status] Approved

#264 Introduce AMP Enhancements class and fix DocumentCloud AMP compatibility
  includes/class-amp-enhancements.php
  includes/class-newspack.php
Labels: [Status] Approved

#266 Fix PHP Warnings
  includes/class-plugin-manager.php
Labels: [Status] Approved

#277 Developer Mode: Skip Site Kit and Jetpack Connected Checks
  includes/configuration_managers/class-jetpack-configuration-manager.php
  includes/configuration_managers/class-site-kit-configuration-manager.php
Labels: [Status] Approved

#274 Unified Engagement Wizard
  assets/wizards/engagement/index.js
  assets/wizards/engagement/views/commenting-coral/index.js
  assets/wizards/engagement/views/commenting-disqus/index.js
  assets/wizards/engagement/views/commenting-native/index.js
  assets/wizards/engagement/views/commenting/index.js
  assets/wizards/engagement/views/index.js
  assets/wizards/engagement/views/newsletters/index.js
  assets/wizards/engagement/views/social/index.js
  assets/wizards/engagement/views/ugc/index.js
  assets/wizards/mailchimp/index.js
  assets/wizards/mailchimp/style.scss
  assets/wizards/mailchimp/views/mailchimpConnectScreen.js
  assets/wizards/newsletterBlock/index.js
  assets/wizards/newsletterBlock/style.scss
  assets/wizards/newsletterBlock/views/mailchimpBlockSetup.js
  assets/wizards/seo/index.js
  includes/class-admin-plugins-screen.php
  includes/class-newspack.php
  includes/class-plugin-manager.php
  includes/class-wizards.php
  includes/configuration_managers/class-jetpack-configuration-manager.php
  includes/wizards/class-dashboard.php
  includes/wizards/class-engagement-wizard.php
  includes/wizards/class-mailchimp-wizard.php
Labels: [Status] Approved
