Repository Automattic/newspack-plugin, pull requests merged in 2019-08, with the labels that each got.

#222 Donations: Fix typo in dependency reference
  assets/wizards/donations/index.js
Labels: [Status] Approved, [Type] Bug

#199 Tier support for Donations wizard
  assets/components/src/text-control/index.js
  assets/wizards/donations/index.js
  assets/wizards/donations/style.scss
  assets/wizards/donations/views/donationSettingsScreen.js
  assets/wizards/donations/views/moneyInput.js
  assets/wizards/readerRevenueOnboarding/views/revenueModel.js
  includes/class-donations.php
  includes/class-newspack.php
  includes/configuration_managers/class-woocommerce-configuration-manager.php
  includes/wizards/class-donations-wizard.php
Labels: [Status] Approved

#225 Donation form processing
  includes/class-donations.php
Labels: [Status] Approved

#218 Setup Wizard UI Improvements
  assets/components/src/button/style.scss
  assets/components/src/plugin-installer/index.js
  assets/components/src/with-wizard-screen/index.js
  assets/components/src/with-wizard-screen/style.scss
  assets/wizards/setup/components/index.js
  assets/wizards/setup/components/plugin-link-card/index.js
  assets/wizards/setup/components/plugin-link-card/style.scss
  assets/wizards/setup/index.js
  assets/wizards/setup/style.scss
  assets/wizards/setup/views/configure-plugins/index.js
  assets/wizards/setup/views/configure-plugins/jetpack.svg
  assets/wizards/setup/views/configure-plugins/sitekit.svg
  assets/wizards/setup/views/configure-plugins/style.scss
  assets/wizards/setup/views/index.js
  assets/wizards/setup/views/installation-progress/index.js
Labels: [Status] Approved, [Type] User Interface Design

#229 Fix #226: Prevent conflictive function from being called by users below admin level.
  includes/wizards/class-setup-wizard.php
Labels: [Status] Approved

#230 Fix #119: Disable Install button on premium plugins.
  includes/class-admin-plugins-screen.php
  includes/class-plugin-manager.php
Labels: [Status] Approved

#173 Memberships Landing Page Wizard
  assets/components/src/handoff/index.js
  assets/wizards/handoff-banner/block-editor.js
  assets/wizards/membershipsPage/index.js
  assets/wizards/membershipsPage/style.scss
  assets/wizards/membershipsPage/views/manageMembershipsPage.js
  includes/api/class-plugins-controller.php
  includes/class-checklists.php
  includes/class-handoff-banner.php
  includes/class-newspack.php
  includes/class-wizards.php
  includes/wizards/class-memberships-page-wizard.php
Labels: [Status] Approved

#232 Fix AdSense handoff issues
  includes/configuration_managers/class-site-kit-configuration-manager.php
  includes/wizards/class-advertising-wizard.php
Labels: [Status] Approved

#228 WIP: Unified Revenue Wizard
  assets/components/src/tabbed-navigation/style.scss
  assets/wizards/membershipsPage/views/manageMembershipsPage.js
  assets/wizards/readerRevenue/components/index.js
  assets/wizards/readerRevenue/components/money-input/index.js
  assets/wizards/readerRevenue/components/money-input/style.scss
  assets/wizards/readerRevenue/index.js
  assets/wizards/readerRevenue/views/configure-landing-page/index.js
  assets/wizards/readerRevenue/views/configure-landing-page/style.scss
  assets/wizards/readerRevenue/views/donation/index.js
  assets/wizards/readerRevenue/views/donation/style.scss
  assets/wizards/readerRevenue/views/index.js
  assets/wizards/readerRevenue/views/location-setup/index.js
  assets/wizards/readerRevenue/views/revenue-main/index.js
  assets/wizards/readerRevenue/views/stripe-setup/index.js
  assets/wizards/readerRevenue/views/stripe-setup/style.scss
  includes/class-checklists.php
  includes/class-donations.php
  includes/class-newspack.php
  includes/class-plugin-manager.php
  includes/class-wizards.php
  includes/configuration_managers/class-woocommerce-configuration-manager.php
  includes/wizards/class-dashboard.php
  includes/wizards/class-donations-wizard.php
  includes/wizards/class-reader-revenue-wizard.php
  tests/unit-tests/api-wizards-controller.php
Labels: [Status] Approved

#237 Remove Unused Wizards
  assets/wizards/donations/index.js
  assets/wizards/donations/style.scss
  assets/wizards/donations/views/donationSettingsScreen.js
  assets/wizards/donations/views/moneyInput.js
  assets/wizards/membershipsPage/index.js
  assets/wizards/membershipsPage/style.scss
  assets/wizards/membershipsPage/views/manageMembershipsPage.js
  assets/wizards/readerRevenueOnboarding/index.js
  assets/wizards/readerRevenueOnboarding/style.scss
  assets/wizards/readerRevenueOnboarding/views/locationSetup.js
  assets/wizards/readerRevenueOnboarding/views/paymentSetup.js
  assets/wizards/readerRevenueOnboarding/views/revenueModel.js
  assets/wizards/subscriptions/index.js
  assets/wizards/subscriptions/style.scss
  assets/wizards/subscriptions/views/editSubscriptionScreen.js
  assets/wizards/subscriptions/views/manageSubscriptionsScreen.js
  includes/wizards/class-donations-wizard.php
  includes/wizards/class-memberships-page-wizard.php
  includes/wizards/class-reader-revenue-onboarding-wizard.php
  includes/wizards/class-subscriptions-wizard.php
Labels: [Status] Approved

#238 Enable alternate Donation form checkout locations.
  includes/class-donations.php
Labels: [Status] Approved

#240 Unsupported Plugin Notification
  includes/class-admin-plugins-screen.php
  includes/class-plugin-manager.php
Labels: [Status] Approved, [Type] Core functionality

#239 Hook up global ad injection for Google Ads
  includes/wizards/class-advertising-wizard.php
Labels: [Status] Approved

#241 Ad Picker Improvements
  assets/wizards/advertising/views/placements/ad-picker/index.js
  includes/wizards/class-advertising-wizard.php
Labels: [Status] Approved, [Type] Bug

#243 Update 'once' donation price logic
  includes/class-donations.php
Labels: [Status] Approved

#244 Logo Update
  assets/components/src/newspack-logo/index.js
  assets/wizards/handoff-banner/newspack-mark.svg
  includes/wizards/class-dashboard.php
Labels: [Status] Approved
