Repository Automattic/newspack-plugin, pull requests merged in 2019-07, with the labels that each got.

#134 Site Kit configuration manager
  includes/class-plugin-manager.php
  includes/configuration_managers/class-site-kit-configuration-manager.php
Labels: [Status] Approved

#114 Setup Wizard
  assets/components/src/card/index.js
  assets/components/src/handoff/index.js
  assets/components/src/newspack-logo/index.js
  assets/components/src/with-wizard-screen/index.js
  assets/shared/js/button-props.js
  assets/wizards/componentsDemo/index.js
  assets/wizards/setup/components/index.js
  assets/wizards/setup/components/plugin-link-card/index.js
  assets/wizards/setup/components/plugin-link-card/jetpack.svg
  assets/wizards/setup/components/plugin-link-card/sitekit.svg
  assets/wizards/setup/components/plugin-link-card/style.scss
  assets/wizards/setup/index.js
  assets/wizards/setup/style.scss
  assets/wizards/setup/views/about/index.js
  assets/wizards/setup/views/about/style.scss
  assets/wizards/setup/views/configure-plugins/index.js
  assets/wizards/setup/views/configure-plugins/style.scss
  assets/wizards/setup/views/index.js
  assets/wizards/setup/views/newsroom/index.js
  assets/wizards/setup/views/newsroom/style.scss
  assets/wizards/setup/views/welcome/index.js
  assets/wizards/setup/views/welcome/style.scss
  includes/api/class-plugins-controller.php
  includes/class-handoff-banner.php
  includes/class-newspack.php
  includes/class-plugin-manager.php
  includes/class-profile.php
  includes/class-wizards.php
  includes/configuration_managers/class-configuration-managers.php
  includes/configuration_managers/class-sitekit-configuration-manager.php
  includes/util.php
  includes/wizards/class-setup-wizard.php
  tests/unit-tests/api-plugins-controller.php
  tests/unit-tests/plugin-manager.php
Labels: [Status] Approved

#140 Improved Plugin Loading Flow
  assets/components/src/plugin-installer/index.js
  assets/components/src/plugin-installer/style.scss
  assets/components/src/with-wizard/index.js
  assets/wizards/componentsDemo/index.js
Labels: [Status] Approved

#143 Fix Set Up Wizard Plugin Installer Completion Event
  assets/wizards/setup/index.js
Labels: [Status] Approved, [Type] Bug

#147 Dashboard Hover State
  assets/wizards/dashboard/style.scss
Labels: [Status] Approved

#145 Only show Components Demo if WP_DEBUG is enabled
  includes/wizards/class-components-demo.php
Labels: [Status] Approved

#149 Newspack Logo Above Wizards
  assets/components/src/card/style.scss
  assets/components/src/newspack-logo/index.js
  assets/components/src/with-wizard-screen/index.js
  assets/components/src/with-wizard/index.js
  assets/components/src/with-wizard/style.scss
  assets/wizards/checklist/index.js
  assets/wizards/checklist/style.scss
  assets/wizards/setup/index.js
  assets/wizards/setup/style.scss
  includes/class-checklists.php
Labels: [Status] Approved

#142 Wizard Pagination
  assets/components/src/index.js
  assets/components/src/wizard-pagination/index.js
  assets/components/src/wizard-pagination/style.scss
  assets/wizards/setup/index.js
Labels: [Status] Approved

#148 Checklist completion
  assets/wizards/checklist/index.js
  assets/wizards/subscriptions/index.js
  assets/wizards/subscriptionsOnboarding/index.js
  includes/api/class-wizards-controller.php
  includes/class-api.php
  includes/wizards/class-wizard.php
  tests/unit-tests/api-wizards-controller.php
Labels: [Status] Needs review

#152 Reset Newspack
  includes/class-newspack.php
Labels: [Status] Approved

#154 Fix Tertiary Button Focus State
  assets/components/src/button/style.scss
Labels: [Status] Approved

#153 Setup Wizard Graphic
  assets/wizards/setup/views/welcome/setup.svg
  assets/wizards/setup/views/welcome/style.scss
Labels: [Status] Approved

#141 Performance Wizard
  assets/components/src/with-wizard-screen/index.js
  assets/shared/scss/_muriel-component.scss
  assets/wizards/performance/index.js
  assets/wizards/performance/style.scss
  assets/wizards/performance/views/add-to-homescreen/index.js
  assets/wizards/performance/views/index.js
  assets/wizards/performance/views/intro/index.js
  assets/wizards/performance/views/offline-usage/index.js
  assets/wizards/performance/views/push-notifications/index.js
  includes/class-newspack.php
  includes/class-plugin-manager.php
  includes/class-wizards.php
  includes/configuration_managers/class-configuration-manager.php
  includes/configuration_managers/class-configuration-managers.php
  includes/configuration_managers/class-progressive-wp-configuration-manager.php
  includes/wizards/class-dashboard.php
  includes/wizards/class-performance-wizard.php
Labels: [Status] Approved

#157 ActionCards Checklist Style
  assets/components/src/action-card/index.js
  assets/components/src/action-card/style.scss
  assets/components/src/card/style.scss
  assets/wizards/checklist/index.js
  includes/class-checklists.php
Labels: [Status] Approved

#159 Set Up Wizard Loading Fixes
  assets/components/src/wizard-pagination/index.js
  assets/wizards/setup/index.js
Labels: [Status] Approved

#138 Advertising Wizard: Google Ad Manager integration
  assets/components/src/with-wizard/index.js
  assets/wizards/googleAdManager/index.js
  assets/wizards/googleAdManager/views/editAdUnitsScreen.js
  assets/wizards/googleAdManager/views/manageAdUnitsScreen.js
  includes/api/class-plugins-controller.php
  includes/class-checklists.php
  includes/class-newspack.php
  includes/class-plugin-manager.php
  includes/class-wizards.php
  includes/models/class-ad-manager-model.php
  includes/wizards/class-google-ad-manager-wizard.php
  tests/sql/newspacktestdata.sql
  tests/unit-tests/ad-manager-wizard.php
Labels: [Initiatives] Optimisation, [Status] Approved

#160 Functionality for enabling/disabling modules in PWA wizard where possible
  includes/configuration_managers/class-progressive-wp-configuration-manager.php
  includes/wizards/class-performance-wizard.php
Labels: [Status] Approved

#156 Script create release package
  .gitignore
  composer.json
  composer.lock
  package.json
Labels: [Status] Approved

#165 Configure Plugins After Install
  assets/components/src/plugin-installer/index.js
Labels: [Status] Approved

#164 Loading UI and use loading UI in Subscriptions wizards
  assets/components/src/with-wizard/index.js
  assets/components/src/with-wizard/style.scss
  assets/wizards/subscriptions/index.js
  assets/wizards/subscriptionsOnboarding/index.js
  assets/wizards/subscriptionsOnboarding/views/locationSetup.js
Labels: [Status] Approved

#176 Fix Ad Unit Titles
  includes/wizards/class-google-ad-manager-wizard.php
Labels: [Status] Approved, [Type] Bug

#175 Tweak Subscriptions and Ad Manager wizard buttons to better match designs.
  assets/wizards/googleAdManager/index.js
  assets/wizards/googleAdManager/views/editAdUnitsScreen.js
  assets/wizards/subscriptions/index.js
  assets/wizards/subscriptions/views/editSubscriptionScreen.js
Labels: [Status] Approved

#174 Sprinkle some loading throughout the wizards
  assets/wizards/googleAdManager/index.js
  assets/wizards/googleAdSense/index.js
  assets/wizards/googleAdSense/views/adSenseSetup.js
  assets/wizards/googleAnalytics/index.js
  assets/wizards/googleAnalytics/views/googleAnalyticsSetup.js
  assets/wizards/performance/index.js
  assets/wizards/setup/index.js
Labels: [Status] Approved

#181 Fix Grid style issues
  assets/components/src/with-wizard/index.js
  assets/wizards/dashboard/style.scss
  assets/wizards/dashboard/views/tier.js
Labels: [Status] Approved

#185 Dashboard: remove tiers, switch to simple two-dimensional grid.
  assets/wizards/dashboard/index.js
  assets/wizards/dashboard/style.scss
  assets/wizards/dashboard/views/tier.js
  includes/wizards/class-dashboard.php
Labels: [Status] Needs Design Review, [Status] Needs review

#184 Google Ad Manager Feature Extraction
  assets/wizards/googleAdManager/index.js
  includes/class-newspack.php
  includes/class-plugin-manager.php
  includes/configuration_managers/class-configuration-managers.php
  includes/configuration_managers/class-newspack-gam-configuration-manager.php
  includes/models/class-ad-manager-model.php
  includes/wizards/class-google-ad-manager-wizard.php
  tests/unit-tests/ad-manager-wizard.php
Labels: [Initiatives] Optimisation, [Status] Approved, [Type] Enhancement

#182 Upgrade to v2.0.0 of the VIP Coding Standards
  composer.json
Labels: [Status] Approved, [Type] Infrastructure

#189 Switch newspack-gam to newspack-ads.
  assets/wizards/googleAdManager/index.js
  includes/class-plugin-manager.php
  includes/configuration_managers/class-configuration-managers.php
  includes/configuration_managers/class-newspack-ads-configuration-manager.php
  includes/wizards/class-google-ad-manager-wizard.php
Labels: [Status] Approved

#192 Move <Grid> wrapper inside the plugin requirements route's render.
  assets/components/src/with-wizard/index.js
Labels: [Status] Approved, [Type] Bug

#193 Action Card Toggle Control
  assets/components/src/action-card/index.js
  assets/components/src/action-card/style.scss
  assets/wizards/componentsDemo/index.js
Labels: Component, [Status] Approved

#194 Tabbed Navigation
  assets/components/src/index.js
  assets/components/src/tabbed-navigation/index.js
  assets/components/src/tabbed-navigation/style.scss
  assets/components/src/with-wizard-screen/index.js
Labels: [Status] Approved

#195 Toggle Group
  assets/components/src/index.js
  assets/components/src/toggle-group/index.js
  assets/components/src/toggle-group/style.scss
  assets/wizards/componentsDemo/index.js
Labels: [Status] Approved

#196 Donations Wizard and Donations/Subscriptions handling
  assets/wizards/donations/index.js
  assets/wizards/donations/style.scss
  assets/wizards/donations/views/donationSettingsScreen.js
  assets/wizards/readerRevenueOnboarding/index.js
  assets/wizards/readerRevenueOnboarding/style.scss
  assets/wizards/readerRevenueOnboarding/views/locationSetup.js
  assets/wizards/readerRevenueOnboarding/views/paymentSetup.js
  assets/wizards/readerRevenueOnboarding/views/revenueModel.js
  includes/class-checklists.php
  includes/class-newspack.php
  includes/class-wizards.php
  includes/configuration_managers/class-configuration-managers.php
  includes/configuration_managers/class-woocommerce-configuration-manager.php
  includes/wizards/class-donations-wizard.php
  includes/wizards/class-reader-revenue-onboarding-wizard.php
Labels: [Status] Approved, [Status] Needs Design Review

#191 Fixes Select Component initial value is always the first option
  assets/components/src/select-control/index.js
  assets/components/src/select-control/style.scss
  assets/components/src/select-control/wordpress-components-select-control-modified.js
  assets/wizards/componentsDemo/index.js
Labels: Component, [Status] Approved, [Type] Bug, [Type] Core functionality

#178 Beginnings of Newsletter Setup Wizard and implementation of Newsletter Block Setup Wizard
  assets/wizards/mailchimp/index.js
  assets/wizards/mailchimp/style.scss
  assets/wizards/mailchimp/views/mailchimpConnectScreen.js
  assets/wizards/newsletterBlock/index.js
  assets/wizards/newsletterBlock/style.scss
  assets/wizards/newsletterBlock/views/mailchimpBlockSetup.js
  includes/class-checklists.php
  includes/class-newspack.php
  includes/class-plugin-manager.php
  includes/class-wizards.php
  includes/configuration_managers/class-jetpack-configuration-manager.php
  includes/wizards/class-dashboard.php
  includes/wizards/class-mailchimp-wizard.php
  includes/wizards/class-newsletter-block-wizard.php
Labels: [Status] Approved, [Status] Needs Design Review

#202 Tabbed Navigation: Fill Available Area
  assets/components/src/tabbed-navigation/style.scss
Labels: [Status] Approved

#203 Action Card Badges
  assets/components/src/action-card/index.js
  assets/components/src/action-card/style.scss
  assets/wizards/componentsDemo/index.js
Labels: Component, [Status] Approved

#206 Add API Fetch Dependency To Wizards
  includes/wizards/class-components-demo.php
  includes/wizards/class-dashboard.php
  includes/wizards/class-donations-wizard.php
  includes/wizards/class-google-ad-manager-wizard.php
  includes/wizards/class-google-adsense-wizard.php
  includes/wizards/class-google-analytics-wizard.php
  includes/wizards/class-performance-wizard.php
  includes/wizards/class-reader-revenue-onboarding-wizard.php
  includes/wizards/class-setup-wizard.php
  includes/wizards/class-subscriptions-wizard.php
Labels: [Status] Approved, [Type] Core functionality

#190 Unified Ad Wizard
  assets/components/src/action-card/style.scss
  assets/components/src/toggle-group/index.js
  assets/components/src/with-wizard-screen/index.js
  assets/components/src/with-wizard-screen/style.scss
  assets/wizards/advertising/index.js
  assets/wizards/advertising/views/ad-unit/index.js
  assets/wizards/advertising/views/ad-units/index.js
  assets/wizards/advertising/views/adsense/index.js
  assets/wizards/advertising/views/header-code/index.js
  assets/wizards/advertising/views/index.js
  assets/wizards/advertising/views/placements/ad-picker/index.js
  assets/wizards/advertising/views/placements/ad-picker/style.scss
  assets/wizards/advertising/views/placements/index.js
  assets/wizards/advertising/views/services/index.js
  assets/wizards/googleAdManager/index.js
  assets/wizards/googleAdManager/views/editAdUnitsScreen.js
  assets/wizards/googleAdManager/views/manageAdUnitsScreen.js
  assets/wizards/googleAdSense/index.js
  assets/wizards/googleAdSense/style.scss
  includes/class-checklists.php
  includes/class-newspack.php
  includes/class-wizards.php
  includes/configuration_managers/class-jetpack-configuration-manager.php
  includes/configuration_managers/class-newspack-ads-configuration-manager.php
  includes/wizards/class-advertising-wizard.php
  includes/wizards/class-dashboard.php
  includes/wizards/class-google-ad-manager-wizard.php
  includes/wizards/class-google-adsense-wizard.php
  includes/wizards/class-wizard.php
Labels: Advertising, [Status] Approved, [Status] Needs Design Review, [Type] Core functionality

#214 Show Feature Areas In Admin Menu
  includes/class-checklists.php
  includes/wizards/class-components-demo.php
  includes/wizards/class-dashboard.php
  includes/wizards/class-donations-wizard.php
  includes/wizards/class-google-analytics-wizard.php
  includes/wizards/class-mailchimp-wizard.php
  includes/wizards/class-newsletter-block-wizard.php
  includes/wizards/class-performance-wizard.php
  includes/wizards/class-reader-revenue-onboarding-wizard.php
  includes/wizards/class-setup-wizard.php
  includes/wizards/class-subscriptions-wizard.php
  includes/wizards/class-wizard.php
Labels: [Status] Approved, [Status] Needs Design Review

#217 Button Component Styling
  assets/components/src/button/button.test.js
  assets/components/src/button/index.js
  assets/components/src/button/style.scss
Labels: [Status] Approved, [Status] Needs Design Review

#216 Plugin Installer UI Improvements
  assets/components/src/plugin-installer/index.js
  assets/components/src/plugin-installer/style.scss
  assets/components/src/with-wizard-screen/style.scss
Labels: [Status] Approved, [Type] User Interface Design

#215 Secondary Navigation
  assets/components/src/index.js
  assets/components/src/secondary-navigation/index.js
  assets/components/src/secondary-navigation/style.scss
  assets/components/src/tabbed-navigation/style.scss
  assets/components/src/with-wizard-screen/index.js
Labels: [Status] Needs Design Review, [Status] Needs review, [Type] User Interface Design
