Repository Automattic/newspack-plugin, pull requests merged in 2020-05, with the labels that each got.

#515 Popups Wizard
  assets/components/src/action-card/style.scss
  assets/components/src/index.js
  assets/components/src/popover/index.js
  assets/components/src/popover/style.scss
  assets/components/src/toggle-control/style.scss
  assets/components/src/web-preview/style.scss
  assets/wizards/dashboard/views/dashboardCard.js
  assets/wizards/popups/components/popup-action-card/index.js
  assets/wizards/popups/components/popup-action-card/style.scss
  assets/wizards/popups/components/popup-popover/index.js
  assets/wizards/popups/components/popup-popover/style.scss
  assets/wizards/popups/index.js
  assets/wizards/popups/views/analytics/index.js
  assets/wizards/popups/views/index.js
  assets/wizards/popups/views/popup-group/index.js
  assets/wizards/popups/views/popup-group/style.scss
  includes/class-newspack.php
  includes/class-wizards.php
  includes/configuration_managers/class-newspack-popups-configuration-manager.php
  includes/wizards/class-dashboard.php
  includes/wizards/class-popups-wizard.php
  package-lock.json
  package.json
Labels: [Status] Approved

#517 fix: remove pop-ups ui from engagement wizard
  assets/wizards/engagement/index.js
  assets/wizards/engagement/views/index.js
  assets/wizards/engagement/views/popups/components/popup-action-card/index.js
  assets/wizards/engagement/views/popups/components/popup-action-card/style.scss
  assets/wizards/engagement/views/popups/index.js
  assets/wizards/engagement/views/popups/style.scss
  includes/wizards/class-engagement-wizard.php
Labels: [Initiative] Pop-ups, [Status] Approved, [Type] User Interface Design

#521 feat: whitelist newspack newsletters plugin
  includes/class-plugin-manager.php
Labels: [Status] Approved

#523 fix: previewing for inline popups in wizard
  assets/wizards/popups/index.js
  includes/wizards/class-popups-wizard.php
Labels: [Initiative] Campaigns, [Status] Approved

#525 feat: popup wizard ui for draft popups
  assets/wizards/popups/components/popup-action-card/index.js
  assets/wizards/popups/components/popup-popover/index.js
  assets/wizards/popups/index.js
  assets/wizards/popups/views/popup-group/index.js
  includes/configuration_managers/class-newspack-popups-configuration-manager.php
  includes/wizards/class-popups-wizard.php
Labels: [Initiative] Campaigns, [Status] Approved

#522 refactor: rename pop-ups->campaigns
  assets/wizards/popups/index.js
  includes/class-plugin-manager.php
  includes/wizards/class-popups-wizard.php
Labels: [Initiative] Campaigns, [Status] Approved

#526 Release May 6, 2020
  assets/components/src/action-card/style.scss
  assets/components/src/index.js
  assets/components/src/popover/index.js
  assets/components/src/popover/style.scss
  assets/components/src/toggle-control/style.scss
  assets/components/src/web-preview/style.scss
  assets/wizards/dashboard/views/dashboardCard.js
  assets/wizards/engagement/index.js
  assets/wizards/engagement/views/index.js
  assets/wizards/engagement/views/popups/components/popup-action-card/index.js
  assets/wizards/engagement/views/popups/index.js
  assets/wizards/engagement/views/popups/style.scss
  assets/wizards/popups/components/popup-action-card/index.js
  assets/wizards/popups/components/popup-action-card/style.scss
  assets/wizards/popups/components/popup-popover/index.js
  assets/wizards/popups/components/popup-popover/style.scss
  assets/wizards/popups/index.js
  assets/wizards/popups/views/analytics/index.js
  assets/wizards/popups/views/index.js
  assets/wizards/popups/views/popup-group/index.js
  assets/wizards/popups/views/popup-group/style.scss
  includes/class-newspack.php
  includes/class-plugin-manager.php
  includes/class-wizards.php
  includes/configuration_managers/class-newspack-popups-configuration-manager.php
  includes/wizards/class-dashboard.php
  includes/wizards/class-engagement-wizard.php
  includes/wizards/class-popups-wizard.php
  package-lock.json
  package.json
Labels: [Status] Approved

#529 Add small action card and plugin installer
  assets/components/src/action-card/index.js
  assets/components/src/action-card/style.scss
  assets/components/src/card/style.scss
  assets/components/src/plugin-installer/index.js
  assets/wizards/componentsDemo/index.js
Labels: [Status] Approved

#530 Update popup action card to use small style
  assets/wizards/popups/components/popup-action-card/index.js
  assets/wizards/popups/views/popup-group/index.js
  assets/wizards/popups/views/popup-group/style.scss
Labels: [Status] Approved

#533 fix: handle empty title for campaigns
  assets/wizards/popups/components/popup-action-card/index.js
Labels: [Initiative] Campaigns, [Status] Approved, [Type] User Interface Design

#535 Add GH action to manage labels
  .github/workflows/main.yml
Labels: [Status] Approved

#520 Support: validate token before starting chat
  assets/wizards/support/views/chat/index.js
  includes/wizards/class-support-wizard.php
Labels: [Status] Approved

#538 fix: duplicate key
  assets/wizards/popups/views/popup-group/index.js
Labels: [Status] Approved, [Type] Bug

#534 Add tickets list in Support wizard
  assets/wizards/support/components/withWPCOMAuth.js
  assets/wizards/support/index.js
  assets/wizards/support/utils/index.js
  assets/wizards/support/views/chat/index.js
  assets/wizards/support/views/create-ticket/index.js
  assets/wizards/support/views/index.js
  assets/wizards/support/views/list-tickets/index.js
  assets/wizards/support/views/list-tickets/style.scss
  includes/wizards/class-support-wizard.php
Labels: [Status] Approved
