Repository Automattic/newspack-plugin, pull requests merged in 2020-03, with the labels that each got.

#465 Relocate Starter Content Newspack Logo
  includes/class-starter-content.php
  includes/raw_assets/images/newspack-logo.png
Labels: Starter Content, [Status] Approved

#463 Use php-loremipsum For Starter Content Text
  composer.json
  composer.lock
  includes/class-starter-content.php
  package-lock.json
  package.json
Labels: [Status] Approved

#464 Support Stripe Mode (Live/Test)
  assets/wizards/payment/index.js
  assets/wizards/payment/views/payment-method/index.js
  composer.json
  composer.lock
  includes/class-newspack.php
  includes/class-settings.php
  includes/wizards/class-payment-wizard.php
Labels: Managed Newspack, [Status] Approved

#466 Support: add Happychat
  assets/wizards/support/index.js
  assets/wizards/support/views/chat/index.js
  assets/wizards/support/views/chat/style.scss
  assets/wizards/support/views/index.js
  assets/wizards/support/views/loading/index.js
  assets/wizards/support/views/loading/style.scss
  includes/wizards/class-support-wizard.php
  package-lock.json
  package.json
Labels: [Status] Approved

#470 Support: add a link to support docs
  assets/wizards/support/views/create-ticket/index.js
  assets/wizards/support/views/loading/index.js
Labels: [Status] Approved

#475 Health Check Configuration View
  assets/wizards/health-check/index.js
  assets/wizards/health-check/views/configuration/index.js
  assets/wizards/health-check/views/index.js
  assets/wizards/health-check/views/plugins/index.js
  includes/configuration_managers/class-amp-configuration-manager.php
  includes/wizards/class-health-check-wizard.php
Labels: [Initiative] Health Check, [Status] Approved, [Status] Needs Design Review

#276 Pym.js AMP-compatibility
  includes/class-plugin-manager.php
Labels: [Status] Approved

#472 Fix Site Kit module deactivation
  includes/configuration_managers/class-site-kit-configuration-manager.php
Labels: [Status] Approved

#471 Support: send initial info on chat start
  assets/wizards/support/views/chat/index.js
Labels: [Status] Approved

#477 Standardize REST API namespace usage
  includes/api/class-plugins-controller.php
  includes/api/class-wizards-controller.php
  includes/class-profile.php
  includes/util.php
  includes/wizards/class-advertising-wizard.php
  includes/wizards/class-engagement-wizard.php
  includes/wizards/class-health-check-wizard.php
  includes/wizards/class-payment-wizard.php
  includes/wizards/class-performance-wizard.php
  includes/wizards/class-reader-revenue-wizard.php
  includes/wizards/class-seo-wizard.php
  includes/wizards/class-setup-wizard.php
  includes/wizards/class-support-wizard.php
Labels: Next release, [Status] Approved, [Type] Bug

#476 Docs: add info about env vars, badges
  README.md
Labels: [Status] Approved

#478 Support: update subject string for support tickets
  includes/wizards/class-support-wizard.php
Labels: Next release, [Status] Approved

#469 Tax Included Message
  assets/components/src/card/style.scss
  assets/wizards/payment/views/payment-method/index.js
  assets/wizards/payment/views/payment-method/style.scss
Labels: Next release, [Status] Approved, [Status] Needs changes or feedback

#479 1.0.1 Release
  README.md
  assets/components/src/card/style.scss
  assets/wizards/health-check/index.js
  assets/wizards/health-check/views/configuration/index.js
  assets/wizards/health-check/views/index.js
  assets/wizards/health-check/views/plugins/index.js
  assets/wizards/payment/views/payment-method/index.js
  assets/wizards/payment/views/payment-method/style.scss
  assets/wizards/support/views/chat/index.js
  assets/wizards/support/views/create-ticket/index.js
  assets/wizards/support/views/loading/index.js
  includes/api/class-plugins-controller.php
  includes/api/class-wizards-controller.php
  includes/class-plugin-manager.php
  includes/class-profile.php
  includes/configuration_managers/class-amp-configuration-manager.php
  includes/configuration_managers/class-site-kit-configuration-manager.php
  includes/util.php
  includes/wizards/class-advertising-wizard.php
  includes/wizards/class-engagement-wizard.php
  includes/wizards/class-health-check-wizard.php
  includes/wizards/class-payment-wizard.php
  includes/wizards/class-performance-wizard.php
  includes/wizards/class-reader-revenue-wizard.php
  includes/wizards/class-seo-wizard.php
  includes/wizards/class-setup-wizard.php
  includes/wizards/class-support-wizard.php
Labels: [Status] Approved

#480 Use https in author/plugin URI fields
  includes/class-plugin-manager.php
Labels: Next release, [Status] Approved

#481 Reduce deliverable zip size (by 70%)
  assets/wizards/advertising/index.js
  assets/wizards/analytics/index.js
  assets/wizards/checklist/index.js
  assets/wizards/componentsDemo/index.js
  assets/wizards/dashboard/index.js
  assets/wizards/engagement/index.js
  assets/wizards/handoff-banner/index.js
  assets/wizards/health-check/index.js
  assets/wizards/payment/index.js
  assets/wizards/performance/index.js
  assets/wizards/readerRevenue/index.js
  assets/wizards/seo/index.js
  assets/wizards/setup/index.js
  assets/wizards/site-design/index.js
  assets/wizards/site-design/views/theme-selection/images/joseph.png
  assets/wizards/site-design/views/theme-selection/images/katharine.png
  assets/wizards/site-design/views/theme-selection/images/nelson.png
  assets/wizards/site-design/views/theme-selection/images/newspack.png
  assets/wizards/site-design/views/theme-selection/images/sacha.png
  assets/wizards/site-design/views/theme-selection/images/scott.png
  assets/wizards/support/index.js
  assets/wizards/syndication/index.js
  includes/wizards/class-analytics-wizard.php
  includes/wizards/class-components-demo.php
  includes/wizards/class-health-check-wizard.php
  includes/wizards/class-payment-wizard.php
  includes/wizards/class-performance-wizard.php
  includes/wizards/class-wizard.php
  package-lock.json
  package.json
  webpack.config.js
Labels: [Status] Approved

#483 fix: button box-shadow since Gutenberg 7.7
  assets/components/src/button/style.scss
  assets/components/src/color-picker/style.scss
Labels: [Status] Approved

#474 Fixes grammar in Step 3 of setup
  assets/wizards/setup/index.js
Labels: [Status] Approved

#485 Deterministic Starter Content
  includes/class-starter-content.php
  includes/raw_assets/markup/body.txt
  includes/raw_assets/markup/title.txt
Labels: Starter Content, [Status] Approved

#482 Integrate ad suppression with global ad settings
  includes/configuration_managers/class-newspack-ads-configuration-manager.php
  includes/wizards/class-advertising-wizard.php
Labels: Needs documentation, [Status] Approved

#488 Release 3/17/20
  assets/components/src/button/style.scss
  assets/components/src/color-picker/style.scss
  assets/wizards/advertising/index.js
  assets/wizards/analytics/index.js
  assets/wizards/checklist/index.js
  assets/wizards/componentsDemo/index.js
  assets/wizards/dashboard/index.js
  assets/wizards/engagement/index.js
  assets/wizards/handoff-banner/index.js
  assets/wizards/health-check/index.js
  assets/wizards/payment/index.js
  assets/wizards/performance/index.js
  assets/wizards/readerRevenue/index.js
  assets/wizards/seo/index.js
  assets/wizards/setup/index.js
  assets/wizards/site-design/index.js
  assets/wizards/site-design/views/theme-selection/images/joseph.png
  assets/wizards/site-design/views/theme-selection/images/katharine.png
  assets/wizards/site-design/views/theme-selection/images/nelson.png
  assets/wizards/site-design/views/theme-selection/images/newspack.png
  assets/wizards/site-design/views/theme-selection/images/sacha.png
  assets/wizards/site-design/views/theme-selection/images/scott.png
  assets/wizards/support/index.js
  assets/wizards/syndication/index.js
  includes/class-plugin-manager.php
  includes/class-starter-content.php
  includes/configuration_managers/class-newspack-ads-configuration-manager.php
  includes/raw_assets/markup/body.txt
  includes/raw_assets/markup/title.txt
  includes/wizards/class-advertising-wizard.php
  includes/wizards/class-analytics-wizard.php
  includes/wizards/class-components-demo.php
  includes/wizards/class-health-check-wizard.php
  includes/wizards/class-payment-wizard.php
  includes/wizards/class-performance-wizard.php
  includes/wizards/class-wizard.php
  package-lock.json
  package.json
  webpack.config.js
Labels: [Status] Approved

#491 Fix: broken REST URL in SEO wizard
  includes/wizards/class-seo-wizard.php
Labels: [Status] Approved

#492 Fix handoff: enqueue shared JS in handoff
  includes/class-handoff-banner.php
Labels: [Status] Approved

#495 Release 3/19/20
  includes/class-handoff-banner.php
  includes/wizards/class-seo-wizard.php
Labels: [Status] Approved

#489 Starter content: parallelise post creation; tweaks for handling E2E
  .eslintrc.js
  assets/components/src/style-card/index.js
  assets/wizards/setup/index.js
  assets/wizards/setup/views/starter-content/index.js
  assets/wizards/site-design/views/theme-selection/index.js
  includes/class-starter-content.php
  includes/wizards/class-setup-wizard.php
  includes/wizards/class-wizard.php
Labels: [Status] Approved

#497 Expose Health Check data to external PHP code
  includes/wizards/class-health-check-wizard.php
Labels: [Status] Approved

#499 Release 3/24/2020
  .eslintrc.js
  assets/components/src/style-card/index.js
  assets/wizards/setup/index.js
  assets/wizards/setup/views/starter-content/index.js
  assets/wizards/site-design/views/theme-selection/index.js
  includes/class-starter-content.php
  includes/wizards/class-health-check-wizard.php
  includes/wizards/class-setup-wizard.php
  includes/wizards/class-wizard.php
Labels: [Status] Approved

#496 Add grid view option to the Dashboard
  assets/components/src/card/index.js
  assets/components/src/card/style.scss
  assets/wizards/componentsDemo/index.js
  assets/wizards/dashboard/index.js
  assets/wizards/dashboard/style.scss
Labels: [Status] Approved
