Repository Automattic/newspack-plugin, pull requests merged in 2020-01, with the labels that each got.

#356 Add Material UI package to the dependencies and update all SVG to use icons from `@material-ui/icons`
  assets/components/src/checklist/index.js
  assets/components/src/info-button/index.js
  assets/components/src/notice/index.js
  assets/components/src/plugin-installer/index.js
  assets/components/src/task/index.js
  assets/components/src/waiting/index.js
  assets/components/src/with-wizard/index.js
  assets/components/src/wizard-pagination/index.js
  assets/wizards/advertising/index.js
  assets/wizards/analytics/index.js
  assets/wizards/componentsDemo/index.js
  assets/wizards/dashboard/style.scss
  assets/wizards/dashboard/views/dashboardCard.js
  assets/wizards/engagement/index.js
  assets/wizards/health-check/index.js
  assets/wizards/performance/index.js
  assets/wizards/readerRevenue/index.js
  assets/wizards/seo/index.js
  assets/wizards/setup/index.js
  assets/wizards/syndication/index.js
  includes/wizards/class-dashboard.php
  package-lock.json
  package.json
Labels: [Status] Approved

#354 Update npm scripts
  README.md
  package.json
Labels: [Status] Approved

#357 Performance: Remove unused stylesheet and div/classes
  assets/wizards/performance/index.js
  assets/wizards/performance/style.scss
  assets/wizards/performance/views/intro/index.js
Labels: [Status] Approved

#358 Action Card: Always display secondary button and remove unused CSS
  assets/components/src/action-card/style.scss
Labels: [Status] Approved

#359 With Wizards: Remove unused WordPress component
  assets/components/src/with-wizard/index.js
Labels: [Status] Approved

#360 Notice: Add background colour depending on status
  assets/components/src/notice/style.scss
Labels: [Status] Approved

#350 Image Upload: Update component to use Newspack's `Button`
  assets/components/src/button/style.scss
  assets/components/src/image-upload/index.js
  assets/components/src/image-upload/style.scss
  assets/wizards/componentsDemo/index.js
  assets/wizards/performance/views/intro/index.js
Labels: [Status] Approved

#353 Add support for LaterPay
  assets/wizards/readerRevenue/index.js
  includes/class-plugin-manager.php
  includes/configuration_managers/class-configuration-managers.php
  includes/configuration_managers/class-laterpay-configuration-manager.php
Labels: [Status] Approved

#361 Fix Component Tests
  assets/components/src/button/button.test.js
  assets/components/src/card/card.test.js
  assets/components/src/formatted-header/formattedHeader.test.js
  assets/components/src/image-upload/imageUpload.test.js
  assets/components/src/progress-bar/progressBar.test.js
Labels: [Status] Approved, [Type] Infrastructure

#363 Fix the ad picker select layout margins
  assets/components/src/card/style.scss
  assets/components/src/select-control/style.scss
  assets/wizards/advertising/views/placements/ad-picker/index.js
  assets/wizards/advertising/views/placements/ad-picker/style.scss
Labels: [Status] Approved

#362 Remove all mentions of Muriel
  assets/components/README.md
  assets/components/package.json
  assets/components/src/with-wizard-screen/index.js
  assets/components/src/with-wizard-screen/style.scss
  assets/components/src/with-wizard/index.js
  assets/components/src/with-wizard/style.scss
  assets/shared/js/index.js
  assets/shared/js/muriel-classnames.js
  assets/shared/scss/_muriel-component.scss
Labels: [Status] Approved

#368 Shared Images: Update the Newspack Logo so it's a perfect square
  assets/shared/images/newspack-logo.png
Labels: [Status] Approved

#355 Update node-sass and calypso-build to support node v.12
  package-lock.json
  package.json
Labels: [Status] Approved

#369 Plugin "Quiet" Mode
  includes/class-admin-plugins-screen.php
  includes/class-plugin-manager.php
Labels: [Status] Approved

#370 Fix typo in newspack-content-converter plugin URL
  includes/class-plugin-manager.php
Labels: [Status] Approved

#366 LaterPay shouldn't be a required plugin for WC integration
  assets/wizards/readerRevenue/index.js
Labels: [Status] Approved

#367 Make sure the installer wizard button text is based on plugin status
  assets/components/src/plugin-installer/index.js
Labels: [Status] Approved

#371 Redirect To Setup Wizard After Activation
  includes/class-newspack.php
Labels: [Status] Approved

#372 Reset Button, Menu Visibility
  assets/components/src/with-wizard/style.scss
  includes/class-newspack.php
  includes/class-settings.php
  includes/wizards/class-components-demo.php
  includes/wizards/class-setup-wizard.php
Labels: [Status] Approved

#374 Add Organic Profile Block to managed plugins
  includes/class-plugin-manager.php
Labels: [Status] Needs Design Review, [Status] Needs Plugin Review, [Status] Needs Review

#373 Add Newspack Supporters to managed plugins
  includes/class-plugin-manager.php
Labels: [Status] Approved

#376 Button: Fix style missing since Gutenberg 7.2.0
  assets/components/src/button/style.scss
  assets/components/src/modal/style.scss
  assets/components/src/with-wizard-screen/style.scss
  assets/components/src/wizard-pagination/style.scss
Labels: [Status] Approved

#377 Remove Dashicon component in Action Card and Wizards Screens
  assets/components/src/action-card/index.js
  assets/wizards/advertising/views/adsense/index.js
  assets/wizards/engagement/views/commenting/index.js
  assets/wizards/engagement/views/newsletters/index.js
Labels: [Status] Approved

#378 Use `RawHTML` instead of span to return the noticeText
  assets/components/src/modal/style.scss
  assets/components/src/notice/index.js
  assets/components/src/notice/style.scss
  includes/class-plugin-manager.php
Labels: [Status] Approved

#382 WebPreview Component
  assets/components/src/index.js
  assets/components/src/modal/style.scss
  assets/components/src/web-preview/index.js
  assets/components/src/web-preview/style.scss
  assets/wizards/componentsDemo/index.js
Labels: [Status] Approved, [Type] User Interface Design

#384 Install latest version of Newspack Ads from Newspack
  includes/class-plugin-manager.php
Labels: [Status] Approved, [Type] Bug

#385 Update components publish script
  assets/components/copy-styles.js
  assets/components/package.json
Labels: [Status] Approved

#381 Fix the Notice RawHTML object conflict
  assets/components/src/action-card/index.js
  assets/components/src/notice/index.js
  assets/components/src/notice/style.scss
  assets/components/src/plugin-installer/index.js
  assets/components/src/with-wizard/index.js
  includes/class-plugin-manager.php
Labels: [Status] Approved

#388 Ensure a single instance of react-router-dom is used
  assets/components/proxied-imports/router.js
  assets/components/src/secondary-navigation/index.js
  assets/components/src/tabbed-navigation/index.js
  assets/components/src/with-wizard/index.js
  assets/components/src/wizard-pagination/index.js
  assets/wizards/advertising/index.js
  assets/wizards/analytics/index.js
  assets/wizards/engagement/index.js
  assets/wizards/health-check/index.js
  assets/wizards/performance/index.js
  assets/wizards/readerRevenue/index.js
  assets/wizards/seo/index.js
  assets/wizards/setup/index.js
  assets/wizards/syndication/index.js
Labels: [Status] Approved

#389 Button: Fix styles when Gutenberg 7.2.0 is not yet installed
  assets/components/src/button/style.scss
Labels: [Status] Approved

#392 Install Site Kit from WPORG
  includes/class-plugin-manager.php
Labels: [Status] Approved, [Type] Bug

#365 Engagement Wizard: Pop-Ups
  assets/components/src/category-autocomplete/index.js
  assets/components/src/form-token-field/index.js
  assets/components/src/form-token-field/style.scss
  assets/components/src/index.js
  assets/wizards/engagement/index.js
  assets/wizards/engagement/views/index.js
  assets/wizards/engagement/views/popups/index.js
  assets/wizards/engagement/views/popups/style.scss
  includes/configuration_managers/class-configuration-managers.php
  includes/configuration_managers/class-newspack-popups-configuration-manager.php
  includes/wizards/class-engagement-wizard.php
Labels: [Status] Approved

#395 Fix Site Kit Handoffs, v2
  assets/wizards/advertising/index.js
  assets/wizards/advertising/views/adsense/index.js
  assets/wizards/advertising/views/index.js
  assets/wizards/advertising/views/services/index.js
  includes/api/class-plugins-controller.php
  includes/configuration_managers/class-site-kit-configuration-manager.php
  includes/wizards/class-advertising-wizard.php
  phpcs.xml
Labels: [Status] Approved

#394 Fix Starter Content Homepage Column Blocks
  includes/class-starter-content.php
Labels: [Status] Approved, [Type] Bug

#391 Bump version number
  newspack.php
Labels: [Status] Approved

#396 Bump version for release
  newspack.php
Labels: [Status] Approved

#398 Whitelist Plugin: Password Protected
  includes/class-plugin-manager.php
Labels: [Status] Approved, [Status] Needs Plugin Review

#400 Newspack Components: Bump version number to update npm
  assets/components/package.json
Labels: [Status] Approved

#401 feat: move proxied-imports
  assets/components/src/proxied-imports/router.js
  assets/components/src/secondary-navigation/index.js
  assets/components/src/tabbed-navigation/index.js
  assets/components/src/with-wizard/index.js
  assets/components/src/wizard-pagination/index.js
  assets/wizards/advertising/index.js
  assets/wizards/analytics/index.js
  assets/wizards/engagement/index.js
  assets/wizards/health-check/index.js
  assets/wizards/performance/index.js
  assets/wizards/readerRevenue/index.js
  assets/wizards/seo/index.js
  assets/wizards/setup/index.js
  assets/wizards/syndication/index.js
Labels: [Status] Approved, [Type] Infrastructure

#403 Pass Placement To Ads Plugin
  includes/configuration_managers/class-newspack-ads-configuration-manager.php
  includes/wizards/class-advertising-wizard.php
Labels: [Status] Approved

#390 Child Theme Installer
  includes/class-newspack.php
  includes/class-plugin-manager.php
  includes/class-theme-manager.php
  includes/util.php
  tests/unit-tests/theme-manager.php
Labels: [Status] Approved

#404 WebPreview: layering fix; renderButton prop
  assets/components/src/web-preview/index.js
  assets/wizards/componentsDemo/index.js
Labels: [Status] Approved

#410 Newspack Components: Bump version number to update npm
  assets/components/package.json
Labels: [Status] Approved

#411 Fix Reader Revenue select for countries with no states defined
  includes/configuration_managers/class-woocommerce-configuration-manager.php
Labels: [Status] Approved

#402 MC4WP support
  includes/class-plugin-manager.php
Labels: [Status] Approved

#412 Bump version for release
  newspack.php
Labels: [Status] Approved

#364 Setup Wizard: Theme Style Screen
  assets/components/src/grid/index.js
  assets/components/src/grid/style.scss
  assets/components/src/index.js
  assets/components/src/style-card-group/index.js
  assets/components/src/style-card-group/style.scss
  assets/components/src/style-card/index.js
  assets/components/src/style-card/style.scss
  assets/components/src/web-preview/index.js
  assets/components/src/with-wizard-screen/index.js
  assets/shared/js/public-path.js
  assets/wizards/setup/index.js
  assets/wizards/setup/views/index.js
  assets/wizards/setup/views/theme-selection/images/joseph.png
  assets/wizards/setup/views/theme-selection/images/katharine.png
  assets/wizards/setup/views/theme-selection/images/nelson.png
  assets/wizards/setup/views/theme-selection/images/newspack.png
  assets/wizards/setup/views/theme-selection/images/sacha.png
  assets/wizards/setup/views/theme-selection/images/scott.png
  assets/wizards/setup/views/theme-selection/index.js
  includes/class-starter-content.php
  includes/wizards/class-setup-wizard.php
  includes/wizards/class-wizard.php
  webpack.config.js
Labels: Starter Content, [Status] Approved, [Type] User Interface Design

#406 Plugin Toggle Component
  assets/components/src/index.js
  assets/components/src/plugin-installer/style.scss
  assets/components/src/plugin-toggle/README.md
  assets/components/src/plugin-toggle/index.js
  assets/components/src/plugin-toggle/style.scss
  assets/components/src/waiting/style.scss
  assets/wizards/componentsDemo/index.js
  assets/wizards/handoff-banner/style.scss
  includes/class-plugin-manager.php
Labels: Component, [Status] Approved, [Type] User Interface Design
