Repository Automattic/newspack-plugin, pull requests merged in 2020-06, with the labels that each got.

#544 Fix: php testing on CI
  .circleci/config.yml
Labels: [Status] Approved

#546 Support: token removal UI & auth scope change
  includes/class-newspack.php
  includes/class-settings.php
  includes/wizards/class-support-wizard.php
Labels: [Status] Approved

#545 Release 03/06/2020
  .circleci/config.yml
  .github/workflows/main.yml
  assets/components/src/action-card/index.js
  assets/components/src/action-card/style.scss
  assets/components/src/card/style.scss
  assets/components/src/plugin-installer/index.js
  assets/components/src/with-wizard/index.js
  assets/wizards/componentsDemo/index.js
  assets/wizards/popups/components/popup-action-card/index.js
  assets/wizards/popups/views/popup-group/index.js
  assets/wizards/popups/views/popup-group/style.scss
  assets/wizards/support/components/withWPCOMAuth.js
  assets/wizards/support/index.js
  assets/wizards/support/utils/index.js
  assets/wizards/support/views/chat/index.js
  assets/wizards/support/views/create-ticket/index.js
  assets/wizards/support/views/index.js
  assets/wizards/support/views/list-tickets/index.js
  assets/wizards/support/views/list-tickets/style.scss
  includes/class-newspack.php
  includes/class-settings.php
  includes/wizards/class-support-wizard.php
Labels: [Status] Approved

#531 Analytics events framework
  includes/class-analytics.php
  includes/class-newspack.php
Labels: [Status] Approved

#516 Add Campaign analytics view
  assets/components/src/with-wizard/index.js
  assets/wizards/popups/index.js
  assets/wizards/popups/views/analytics/Chart.js
  assets/wizards/popups/views/analytics/Filters.js
  assets/wizards/popups/views/analytics/Info.js
  assets/wizards/popups/views/analytics/consts.js
  assets/wizards/popups/views/analytics/index.js
  assets/wizards/popups/views/analytics/style.scss
  assets/wizards/popups/views/analytics/utils.js
  includes/class-api.php
  includes/popups-analytics/class-popups-analytics-utils.php
  includes/wizards/class-popups-wizard.php
  package-lock.json
  package.json
Labels: Site Kit, [Initiative] Analytics, [Initiative] Campaigns, [Status] Approved

#551 Release 09/06/2020
  assets/components/src/with-wizard/index.js
  assets/wizards/popups/index.js
  assets/wizards/popups/views/analytics/Chart.js
  assets/wizards/popups/views/analytics/Filters.js
  assets/wizards/popups/views/analytics/Info.js
  assets/wizards/popups/views/analytics/consts.js
  assets/wizards/popups/views/analytics/index.js
  assets/wizards/popups/views/analytics/style.scss
  assets/wizards/popups/views/analytics/utils.js
  includes/class-analytics.php
  includes/class-api.php
  includes/class-newspack.php
  includes/popups-analytics/class-popups-analytics-utils.php
  includes/wizards/class-popups-wizard.php
  package-lock.json
  package.json
Labels: [Status] Approved

#555 Add information about News Consumer Insights integration
  README.md
Labels: [Status] Approved

#554 Campaign Analytics: better error handling
  assets/wizards/popups/views/analytics/index.js
  includes/popups-analytics/class-popups-analytics-utils.php
Labels: [Status] Approved, [Status] Needs changes or feedback

#556 Release 18/06/2020
  README.md
  assets/wizards/popups/views/analytics/index.js
  includes/popups-analytics/class-popups-analytics-utils.php
Labels: [Status] Approved

#558 Analytics: add non-AMP submit, ini-load events handling
  includes/class-analytics.php
Labels: [Status] Approved

#564 Release 23/06/2020
  includes/class-analytics.php
Labels: [Status] Approved

#563 Extract ActionCardSections component
  .gitignore
  assets/components/src/action-card-sections/index.js
  assets/components/src/action-card-sections/style.scss
  assets/components/src/action-card/style.scss
  assets/components/src/button/style.scss
  assets/components/src/index.js
  assets/wizards/advertising/index.js
  assets/wizards/popups/views/popup-group/index.js
  assets/wizards/popups/views/popup-group/style.scss
Labels: [Status] Approved

#566 Chore: update newspack-components' version
  assets/components/package.json
Labels: [Status] Approved

#568 Add non_interaction: true for scroll events
  includes/class-analytics.php
Labels: [Status] Approved

#549 SalesForce integration
  assets/wizards/readerRevenue/index.js
  assets/wizards/readerRevenue/views/index.js
  assets/wizards/readerRevenue/views/revenue-main/index.js
  assets/wizards/readerRevenue/views/salesforce/index.js
  assets/wizards/readerRevenue/views/salesforce/style.scss
  includes/class-newspack.php
  includes/class-salesforce.php
  includes/class-webhooks.php
  includes/util.php
  includes/wizards/class-reader-revenue-wizard.php
Labels: [Status] Approved

#572 fix: mop up a couple of remain instances of "lead" in text
  assets/wizards/readerRevenue/index.js
  assets/wizards/readerRevenue/views/revenue-main/index.js
Labels: [Status] Approved

#573 Make GAM toggle work correctly
  includes/wizards/class-advertising-wizard.php
Labels: [Status] Approved

#574 Release - June 30, 2020
  .gitignore
  assets/components/package.json
  assets/components/src/action-card-sections/index.js
  assets/components/src/action-card-sections/style.scss
  assets/components/src/action-card/style.scss
  assets/components/src/button/style.scss
  assets/components/src/index.js
  assets/wizards/advertising/index.js
  assets/wizards/popups/views/popup-group/index.js
  assets/wizards/popups/views/popup-group/style.scss
  assets/wizards/readerRevenue/index.js
  assets/wizards/readerRevenue/views/index.js
  assets/wizards/readerRevenue/views/revenue-main/index.js
  assets/wizards/readerRevenue/views/salesforce/index.js
  assets/wizards/readerRevenue/views/salesforce/style.scss
  includes/class-analytics.php
  includes/class-newspack.php
  includes/class-salesforce.php
  includes/class-webhooks.php
  includes/util.php
  includes/wizards/class-advertising-wizard.php
  includes/wizards/class-reader-revenue-wizard.php
Labels: [Status] Approved
