Repository Automattic/newspack-plugin, pull requests merged in 2020-09, with the labels that each got.

#650 Add support wizard to dashboard
  assets/wizards/dashboard/views/dashboardCard.js
  assets/wizards/support/index.js
  includes/wizards/class-dashboard.php
  includes/wizards/class-popups-wizard.php
  includes/wizards/class-support-wizard.php
  includes/wizards/class-updates-wizard.php
Labels: [Status] Approved, [Status] Needs changes or feedback

#644 Append categories, tags data to WC order; sync w/ SF
  includes/class-donations.php
  includes/class-salesforce.php
Labels: [Status] Approved

#657 Release Sep 08
  assets/wizards/dashboard/views/dashboardCard.js
  assets/wizards/support/index.js
  includes/class-donations.php
  includes/class-salesforce.php
  includes/wizards/class-dashboard.php
  includes/wizards/class-popups-wizard.php
  includes/wizards/class-support-wizard.php
  includes/wizards/class-updates-wizard.php
Labels: [Status] Approved

#658 Analytics: report User ID
  includes/class-analytics.php
Labels: Needs documentation, [Status] Approved

#661 fix: override site kit _gl query param behavior
  includes/class-amp-enhancements.php
Labels: AMP, Site Kit, [Status] Approved, performance

#664 Styling: fix selects in wizards
  assets/components/src/action-card-sections/index.js
  assets/components/src/action-card-sections/style.scss
  assets/components/src/select-control/style.scss
  assets/wizards/advertising/views/placements/ad-picker/style.scss
  assets/wizards/analytics/style.scss
Labels: [Status] Approved

#655 Add author, word count, publish date custom dimensions
  assets/wizards/analytics/style.scss
  assets/wizards/analytics/views/custom-dimensions/index.js
  includes/class-analytics.php
  includes/wizards/class-analytics-wizard.php
Labels: [Status] Approved

#666 Ignore Yoast weight limit to prevent missing `og:image` tags
  includes/wizards/class-seo-wizard.php
Labels: [Priority] High, [Status] Approved, [Type] Bug

#669 Release Sep 15
  assets/components/src/action-card-sections/index.js
  assets/components/src/action-card-sections/style.scss
  assets/components/src/select-control/style.scss
  assets/wizards/advertising/views/placements/ad-picker/style.scss
  assets/wizards/analytics/style.scss
  assets/wizards/analytics/views/custom-dimensions/index.js
  includes/class-amp-enhancements.php
  includes/class-analytics.php
  includes/wizards/class-analytics-wizard.php
  includes/wizards/class-seo-wizard.php
  package-lock.json
  package.json
Labels: [Status] Approved

#663 Fix: campaigns-wizard: prevent edge case errors
  assets/wizards/popups/components/popup-popover/index.js
  assets/wizards/popups/views/popup-group/index.js
Labels: [Status] Approved

#673 Release Sep 22
  assets/wizards/popups/components/popup-popover/index.js
  assets/wizards/popups/views/popup-group/index.js
Labels: [Status] Approved

#233 Improve generated product settings
  includes/class-donations.php
Labels: [Status] Approved
