Repository Automattic/newspack-plugin, pull requests merged in 2020-11, with the labels that each got.

#689 Add segmentation UI in Campaigns wizard
  assets/components/src/tabbed-navigation/index.js
  assets/wizards/popups/index.js
  assets/wizards/popups/views/index.js
  assets/wizards/popups/views/segmentation/SegmentsList.js
  assets/wizards/popups/views/segmentation/SingleSegment.js
  assets/wizards/popups/views/segmentation/index.js
  assets/wizards/popups/views/segmentation/style.scss
  includes/configuration_managers/class-newspack-popups-configuration-manager.php
  includes/wizards/class-popups-wizard.php
  package-lock.json
  package.json
Labels: [Status] Approved

#690 Use newspack-popups' preview post link getter
  includes/wizards/class-popups-wizard.php
Labels: [Status] Approved

#692 Fix layout issues in Campaigns Wizard
  assets/components/src/action-card-sections/index.js
  assets/components/src/select-control/style.scss
  assets/wizards/popups/components/popup-popover/index.js
  assets/wizards/popups/components/popup-popover/style.scss
Labels: [Status] Approved

#694 Update React Router Dom to its latest version
  package-lock.json
  package.json
Labels: [Status] Approved

#693 Campaigns Wizard: add segment options for subscriptions, donations
  assets/wizards/popups/views/segmentation/SingleSegment.js
Labels: Do Not Merge!, [Status] Approved

#695 Campaigns Wizard: display segment name in campaign card
  assets/wizards/popups/index.js
  assets/wizards/popups/views/popup-group/index.js
  includes/wizards/class-popups-wizard.php
Labels: [Status] Approved

#688 feat: allow gam scripts in amp pages
  includes/amp-sanitizers/class-amp-sanitizer-gam.php
  includes/class-amp-enhancements.php
  includes/wizards/class-advertising-wizard.php
Labels: AMP, [Status] Approved

#698 Campaigns segmentation: add a note about donation segmentation working only with WC checkout
  assets/wizards/popups/views/segmentation/SingleSegment.js
  assets/wizards/popups/views/segmentation/style.scss
Labels: [Status] Approved

#702 Release Nov 11
  assets/components/src/action-card-sections/index.js
  assets/components/src/select-control/style.scss
  assets/components/src/tabbed-navigation/index.js
  assets/wizards/popups/components/popup-popover/index.js
  assets/wizards/popups/components/popup-popover/style.scss
  assets/wizards/popups/index.js
  assets/wizards/popups/views/index.js
  assets/wizards/popups/views/popup-group/index.js
  assets/wizards/popups/views/segmentation/SegmentsList.js
  assets/wizards/popups/views/segmentation/SingleSegment.js
  assets/wizards/popups/views/segmentation/index.js
  assets/wizards/popups/views/segmentation/style.scss
  includes/amp-sanitizers/class-amp-sanitizer-gam.php
  includes/class-amp-enhancements.php
  includes/configuration_managers/class-newspack-popups-configuration-manager.php
  includes/wizards/class-advertising-wizard.php
  includes/wizards/class-popups-wizard.php
  package-lock.json
  package.json
Labels: [Status] Approved
