Repository Automattic/newspack-plugin, pull requests merged in 2020-02, with the labels that each got.

#415 Starter Content Improvements
  includes/class-starter-content.php
Labels: Starter Content, [Status] Approved

#409 Engagement Wizard Popups Screen: ActionCard UI
  assets/components/src/action-card/index.js
  assets/components/src/action-card/style.scss
  assets/components/src/button/style.scss
  assets/wizards/engagement/index.js
  assets/wizards/engagement/views/popups/components/popup-action-card/index.js
  assets/wizards/engagement/views/popups/components/popup-action-card/style.scss
  assets/wizards/engagement/views/popups/index.js
  assets/wizards/engagement/views/popups/style.scss
  includes/configuration_managers/class-newspack-popups-configuration-manager.php
  includes/wizards/class-engagement-wizard.php
Labels: [Status] Approved, [Type] User Interface Design

#423 Bump version for release
  newspack.php
Labels: [Status] Approved

#422 Remove "Back to dashboard" button
  assets/wizards/advertising/index.js
  assets/wizards/analytics/index.js
  assets/wizards/performance/index.js
  assets/wizards/seo/index.js
  assets/wizards/syndication/index.js
Labels: [Status] Approved

#428 Fix Action Card right region text align
  assets/components/src/action-card/style.scss
Labels: [Status] Approved

#421 Add Site Design Wizard and link it to the Setup
  assets/wizards/setup/index.js
  assets/wizards/setup/views/index.js
  assets/wizards/site-design/index.js
  assets/wizards/site-design/views/index.js
  assets/wizards/site-design/views/theme-selection/images/joseph.png
  assets/wizards/site-design/views/theme-selection/images/katharine.png
  assets/wizards/site-design/views/theme-selection/images/nelson.png
  assets/wizards/site-design/views/theme-selection/images/newspack.png
  assets/wizards/site-design/views/theme-selection/images/sacha.png
  assets/wizards/site-design/views/theme-selection/images/scott.png
  assets/wizards/site-design/views/theme-selection/index.js
  includes/class-newspack.php
  includes/class-wizards.php
  includes/wizards/class-dashboard.php
  includes/wizards/class-site-design-wizard.php
Labels: [Status] Approved, [Type] User Interface Design

#434 Use official xwp/wp-dev-lib
  composer.json
  composer.lock
Labels: [Status] Approved

#419 Reader Revenue: Rework "welcome" screen to use ActionCard/Plugin Toggle
  assets/components/src/handoff/index.js
  assets/wizards/readerRevenue/index.js
  assets/wizards/readerRevenue/views/configure-landing-page/index.js
  assets/wizards/readerRevenue/views/donation/index.js
  assets/wizards/readerRevenue/views/donation/style.scss
  assets/wizards/readerRevenue/views/index.js
  assets/wizards/readerRevenue/views/revenue-main/index.js
Labels: [Status] Approved

#424 Configure CircleCI for linting & releasing
  .circleci/config.yml
  commitlint.config.js
  composer.json
  package-lock.json
  package.json
Labels: [Status] Approved

#435 SEO Wizard/Yoast Configuration Manager
  assets/components/src/button-group/index.js
  assets/components/src/button-group/style.scss
  assets/components/src/button/style.scss
  assets/components/src/card/style.scss
  assets/components/src/index.js
  assets/components/src/text-control/style.scss
  assets/components/src/toggle-control/index.js
  assets/components/src/toggle-control/style.scss
  assets/components/src/with-wizard-screen/index.js
  assets/shared/js/button-props.js
  assets/wizards/seo/index.js
  assets/wizards/seo/views/environment/index.js
  assets/wizards/seo/views/environment/style.scss
  assets/wizards/seo/views/index.js
  assets/wizards/seo/views/intro/index.js
  assets/wizards/seo/views/separator/index.js
  assets/wizards/seo/views/social/index.js
  assets/wizards/seo/views/social/style.scss
  assets/wizards/seo/views/tools/index.js
  includes/configuration_managers/class-configuration-managers.php
  includes/configuration_managers/class-wordpress-seo-configuration-manager.php
  includes/wizards/class-seo-wizard.php
  includes/wizards/class-wizard.php
  package-lock.json
  package.json
Labels: [Status] Approved

#438 Fix new linting errors
  assets/components/src/color-picker/index.js
  assets/components/src/with-wizard-screen/index.js
  assets/wizards/componentsDemo/index.js
  assets/wizards/readerRevenue/index.js
  assets/wizards/readerRevenue/views/donation/index.js
  assets/wizards/readerRevenue/views/revenue-main/index.js
  assets/wizards/seo/views/separator/index.js
  assets/wizards/setup/index.js
  assets/wizards/site-design/index.js
Labels: [Status] Approved

#426 Release: remove unnecessary files from the generated zip
  .circleci/config.yml
  .eslintrc.js
  .gitignore
  .prettierignore
  includes/class-checklists.php
  includes/class-handoff-banner.php
  includes/wizards/class-advertising-wizard.php
  includes/wizards/class-analytics-wizard.php
  includes/wizards/class-components-demo.php
  includes/wizards/class-dashboard.php
  includes/wizards/class-engagement-wizard.php
  includes/wizards/class-health-check-wizard.php
  includes/wizards/class-performance-wizard.php
  includes/wizards/class-reader-revenue-wizard.php
  includes/wizards/class-seo-wizard.php
  includes/wizards/class-setup-wizard.php
  includes/wizards/class-syndication-wizard.php
  includes/wizards/class-wizard.php
  package.json
  phpcs.xml
  webpack.config.js
Labels: [Status] Approved

#429 Add SCSS linting & formatting
  .stylelintrc
  assets/components/src/action-card/style.scss
  assets/components/src/button/style.scss
  assets/components/src/checkbox-control/style.scss
  assets/components/src/checklist/style.scss
  assets/components/src/color-picker/style.scss
  assets/components/src/form-token-field/style.scss
  assets/components/src/grid/style.scss
  assets/components/src/image-upload/style.scss
  assets/components/src/modal/style.scss
  assets/components/src/plugin-installer/style.scss
  assets/components/src/progress-bar/style.scss
  assets/components/src/secondary-navigation/style.scss
  assets/components/src/select-control/style.scss
  assets/components/src/style-card-group/style.scss
  assets/components/src/style-card/style.scss
  assets/components/src/task/style.scss
  assets/components/src/text-control/style.scss
  assets/components/src/textarea-control/style.scss
  assets/components/src/waiting/style.scss
  assets/components/src/web-preview/style.scss
  assets/components/src/with-wizard/style.scss
  assets/components/src/wizard-pagination/style.scss
  assets/plugins-screen/plugins-screen.scss
  assets/shared/scss/_colors.scss
  assets/wizards/advertising/views/ad-unit/style.scss
  assets/wizards/advertising/views/placements/ad-picker/style.scss
  assets/wizards/dashboard/style.scss
  assets/wizards/engagement/views/popups/components/popup-action-card/style.scss
  assets/wizards/handoff-banner/style.scss
  assets/wizards/readerRevenue/components/money-input/style.scss
  assets/wizards/seo/views/environment/style.scss
  assets/wizards/seo/views/social/style.scss
  assets/wizards/setup/views/about/style.scss
  composer.json
  package-lock.json
  package.json
Labels: [Status] Approved

#436 Linting: use lint-staged for JS pre-commit linting
  composer.json
  package.json
Labels: [Status] Approved

#432 CI: run PHP tests & linting; fix PHP linting errors
  .circleci/config.yml
  bin/install-wp-tests.sh
  includes/api/class-wizards-controller.php
  includes/class-admin-plugins-screen.php
  includes/class-handoff-banner.php
  includes/class-newspack.php
  includes/configuration_managers/class-newspack-ads-configuration-manager.php
  includes/wizards/class-advertising-wizard.php
  newspack.php
  tests/class-newspack-unit-tests-bootstrap.php
  tests/unit-tests/api-wizards-controller.php
Labels: [Status] Approved

#430 Testing with testing library
  .circleci/config.yml
  assets/components/src/formatted-header/formattedHeader.test.js
  assets/components/src/formatted-header/index.test.js
  assets/components/src/image-upload/imageUpload.test.js
  assets/components/src/image-upload/index.js
  assets/components/src/image-upload/index.test.js
  assets/components/src/progress-bar/index.js
  assets/components/src/progress-bar/index.test.js
  assets/components/src/progress-bar/progressBar.test.js
  assets/setupTests.js
  babel.config.js
  package-lock.json
  package.json
Labels: [Status] Approved

#439 Release config: archive after version bump
  .circleci/config.yml
  package.json
Labels: [Status] Approved

#444 Bump version for release
  newspack.php
Labels: [Status] Approved

#445 Fix Plugins Screen Script/Stylesheet Paths
  assets/plugins-screen/plugins-screen-rtl.css
  assets/plugins-screen/plugins-screen.css
  assets/plugins-screen/plugins-screen.js
  includes/class-admin-plugins-screen.php
  package.json
  webpack.config.js
Labels: [Status] Approved, [Type] Infrastructure

#447 Fix npm dev script
  package-lock.json
  package.json
Labels: [Status] Approved

#433 Site Design Wizard: Theme Mod Controls
  assets/components/src/button/style.scss
  assets/components/src/index.js
  assets/components/src/radio-control/index.js
  assets/components/src/radio-control/style.scss
  assets/components/src/toggle-control/style.scss
  assets/wizards/site-design/index.js
  assets/wizards/site-design/views/index.js
  assets/wizards/site-design/views/theme-mods/index.js
  assets/wizards/site-design/views/theme-mods/style.scss
  composer.lock
  includes/wizards/class-setup-wizard.php
  includes/wizards/class-site-design-wizard.php
Labels: [Status] Approved

#448 Releases: include composer packages in the release
  .circleci/config.yml
  composer.json
  composer.lock
  package-lock.json
  package.json
Labels: [Status] Approved

#449 Web Preview: align items to the center when waiting
  assets/components/src/web-preview/style.scss
Labels: [Status] Approved

#450 Only display author bio length setting when author bio is set to show
  assets/wizards/site-design/views/theme-mods/index.js
  assets/wizards/site-design/views/theme-mods/style.scss
Labels: [Status] Approved

#442 Managed Newspack Wizard
  assets/wizards/payment/index.js
  assets/wizards/payment/views/index.js
  assets/wizards/payment/views/payment-method/index.js
  composer.json
  composer.lock
  includes/class-newspack.php
  includes/class-wizards.php
  includes/wizards/class-payment-wizard.php
  package-lock.json
  package.json
Labels: [Status] Approved

#451 Add support screen
  assets/wizards/support/index.js
  assets/wizards/support/views/create-ticket/index.js
  assets/wizards/support/views/create-ticket/style.scss
  assets/wizards/support/views/index.js
  includes/class-newspack.php
  includes/class-wizards.php
  includes/wizards/class-support-wizard.php
  package-lock.json
  package.json
Labels: [Status] Approved

#458 WP.com Stripe Endpoints
  includes/wizards/class-payment-wizard.php
Labels: [Status] Approved

#461 Update Site Kit connection check for latest SK version
  includes/configuration_managers/class-site-kit-configuration-manager.php
Labels: [Status] Approved, [Type] Bug

#459 Fix Starter Content Lorem Ipsum Generation
  includes/class-starter-content.php
  includes/wizards/class-setup-wizard.php
Labels: [Status] Approved

#454 Clean up and update supported plugin list
  assets/wizards/componentsDemo/index.js
  includes/class-plugin-manager.php
Labels: [Status] Approved

#462 Bump version for release
  newspack.php
Labels: [Status] Approved
