Repository Automattic/newspack-plugin, pull requests merged in 2020-12, with the labels that each got.

#712 Update Dashboard icons to use G2
  assets/wizards/dashboard/index.js
  assets/wizards/dashboard/style.scss
  assets/wizards/dashboard/views/dashboardCard.js
  package-lock.json
  package.json
Labels: [Status] Approved, [Type] User Interface Design

#709 Campaigns Wizard: display segment reach
  assets/wizards/popups/views/segmentation/SingleSegment.js
  includes/configuration_managers/class-newspack-popups-configuration-manager.php
  includes/wizards/class-popups-wizard.php
Labels: [Status] Approved

#685 Allow adding external custom dimensions
  assets/wizards/analytics/views/custom-dimensions/index.js
  assets/wizards/popups/views/analytics/Chart.js
  includes/class-analytics.php
  includes/wizards/class-analytics-wizard.php
Labels: [Status] Approved

#713 Fix freudian slip
  assets/wizards/popups/views/segmentation/SingleSegment.js
Labels: [Status] Approved

#714 Update Wizards icons to use G2
  .gitignore
  assets/wizards/advertising/index.js
  assets/wizards/analytics/index.js
  assets/wizards/componentsDemo/index.js
  assets/wizards/dashboard/views/dashboardCard.js
  assets/wizards/engagement/index.js
  assets/wizards/health-check/index.js
  assets/wizards/popups/index.js
  assets/wizards/readerRevenue/index.js
  assets/wizards/seo/index.js
  assets/wizards/setup/index.js
  assets/wizards/site-design/index.js
  assets/wizards/support/index.js
  assets/wizards/syndication/index.js
  assets/wizards/updates/index.js
Labels: [Status] Approved, [Type] User Interface Design

#708 Campaigns Wizard: referrer segmentation
  assets/components/src/text-control/index.js
  assets/components/src/text-control/style.scss
  assets/wizards/popups/views/segmentation/SingleSegment.js
  assets/wizards/popups/views/segmentation/style.scss
Labels: [Status] Approved

#719 Release – Dec. 1
  .gitignore
  CHANGELOG.md
  assets/components/src/text-control/index.js
  assets/components/src/text-control/style.scss
  assets/wizards/advertising/index.js
  assets/wizards/analytics/index.js
  assets/wizards/analytics/views/custom-dimensions/index.js
  assets/wizards/componentsDemo/index.js
  assets/wizards/dashboard/index.js
  assets/wizards/dashboard/style.scss
  assets/wizards/dashboard/views/dashboardCard.js
  assets/wizards/engagement/index.js
  assets/wizards/health-check/index.js
  assets/wizards/popups/index.js
  assets/wizards/popups/views/analytics/Chart.js
  assets/wizards/popups/views/segmentation/SingleSegment.js
  assets/wizards/popups/views/segmentation/style.scss
  assets/wizards/readerRevenue/index.js
  assets/wizards/seo/index.js
  assets/wizards/setup/index.js
  assets/wizards/site-design/index.js
  assets/wizards/support/index.js
  assets/wizards/syndication/index.js
  assets/wizards/updates/index.js
  includes/class-analytics.php
  includes/configuration_managers/class-newspack-popups-configuration-manager.php
  includes/wizards/class-analytics-wizard.php
  includes/wizards/class-popups-wizard.php
  newspack.php
  package-lock.json
  package.json
Labels: [Status] Approved

#721 Release (2) – Dec. 1
  .gitignore
  assets/components/src/text-control/index.js
  assets/components/src/text-control/style.scss
  assets/wizards/advertising/index.js
  assets/wizards/analytics/index.js
  assets/wizards/analytics/views/custom-dimensions/index.js
  assets/wizards/componentsDemo/index.js
  assets/wizards/dashboard/index.js
  assets/wizards/dashboard/style.scss
  assets/wizards/dashboard/views/dashboardCard.js
  assets/wizards/engagement/index.js
  assets/wizards/health-check/index.js
  assets/wizards/popups/index.js
  assets/wizards/popups/views/analytics/Chart.js
  assets/wizards/popups/views/segmentation/SingleSegment.js
  assets/wizards/popups/views/segmentation/style.scss
  assets/wizards/readerRevenue/index.js
  assets/wizards/seo/index.js
  assets/wizards/setup/index.js
  assets/wizards/site-design/index.js
  assets/wizards/support/index.js
  assets/wizards/syndication/index.js
  assets/wizards/updates/index.js
  includes/class-analytics.php
  includes/configuration_managers/class-newspack-popups-configuration-manager.php
  includes/wizards/class-analytics-wizard.php
  includes/wizards/class-popups-wizard.php
  package-lock.json
  package.json
Labels: [Status] Approved

#715 feat: necessary WooComm settings for Checkout to work correctly
  includes/configuration_managers/class-woocommerce-configuration-manager.php
Labels: [Status] Approved, [Type] Enhancement

#723 feat: remove laterpay
  assets/wizards/handoff-banner/style.scss
  assets/wizards/readerRevenue/views/revenue-main/index.js
  includes/class-plugin-manager.php
  includes/configuration_managers/class-configuration-managers.php
  includes/configuration_managers/class-laterpay-configuration-manager.php
Labels: Reader Revenue, [Status] Approved

#725 Update radio style to match Gutenberg
  assets/components/src/radio-control/style.scss
Labels: [Status] Approved

#724 Update checkbox style to match Gutenberg
  assets/components/src/checkbox-control/style.scss
Labels: [Status] Approved

#705 Wizards redesign and cleanup
  assets/components/src/action-card/style.scss
  assets/components/src/card/index.js
  assets/components/src/card/style.scss
  assets/components/src/checklist/index.js
  assets/components/src/checklist/style.scss
  assets/components/src/grid/style.scss
  assets/components/src/handoff/index.js
  assets/components/src/index.js
  assets/components/src/plugin-installer/index.js
  assets/components/src/plugin-installer/style.scss
  assets/components/src/preview-box/index.js
  assets/components/src/preview-box/style.scss
  assets/components/src/secondary-navigation/index.js
  assets/components/src/secondary-navigation/style.scss
  assets/components/src/select-control/style.scss
  assets/components/src/tabbed-navigation/index.js
  assets/components/src/tabbed-navigation/style.scss
  assets/components/src/task/index.js
  assets/components/src/task/style.scss
  assets/components/src/toggle-group/style.scss
  assets/components/src/web-preview/index.js
  assets/components/src/with-wizard-screen/index.js
  assets/components/src/with-wizard-screen/style.scss
  assets/components/src/with-wizard/index.js
  assets/components/src/with-wizard/style.scss
  assets/components/src/wizard-pagination/index.js
  assets/components/src/wizard-pagination/style.scss
  assets/wizards/advertising/views/ad-unit/index.js
  assets/wizards/advertising/views/ad-unit/style.scss
  assets/wizards/analytics/style.scss
  assets/wizards/analytics/views/custom-dimensions/index.js
  assets/wizards/analytics/views/custom-events/index.js
  assets/wizards/checklist/index.js
  assets/wizards/checklist/style.scss
  assets/wizards/componentsDemo/index.js
  assets/wizards/dashboard/index.js
  assets/wizards/dashboard/style.scss
  assets/wizards/dashboard/views/dashboardCard.js
  assets/wizards/engagement/index.js
  assets/wizards/engagement/views/commenting-coral/index.js
  assets/wizards/engagement/views/commenting-disqus/index.js
  assets/wizards/engagement/views/commenting-native/index.js
  assets/wizards/engagement/views/commenting/index.js
  assets/wizards/engagement/views/index.js
  assets/wizards/engagement/views/ugc/index.js
  assets/wizards/popups/views/segmentation/style.scss
  assets/wizards/seo/views/separator/index.js
  assets/wizards/updates/views/devInfo/style.scss
  includes/class-checklists.php
  includes/class-newspack.php
  includes/wizards/class-dashboard.php
  includes/wizards/class-wizard.php
Labels: [Status] Needs Review

#727 Analytics: report single category if primary category is set
  includes/class-analytics.php
Labels: Needs documentation, [Status] Approved

#728 Design adjustments to the wizards
  assets/components/src/card/index.js
  assets/components/src/card/style.scss
  assets/components/src/formatted-header/index.js
  assets/components/src/formatted-header/index.test.js
  assets/components/src/formatted-header/style.scss
  assets/components/src/index.js
  assets/components/src/with-wizard-screen/index.js
  assets/components/src/with-wizard-screen/style.scss
  assets/components/src/with-wizard/index.js
  assets/wizards/advertising/index.js
  assets/wizards/analytics/index.js
  assets/wizards/componentsDemo/index.js
  assets/wizards/engagement/index.js
  assets/wizards/health-check/index.js
  assets/wizards/popups/index.js
  assets/wizards/readerRevenue/index.js
  assets/wizards/seo/index.js
  assets/wizards/setup/index.js
  assets/wizards/site-design/index.js
  assets/wizards/support/index.js
  assets/wizards/syndication/index.js
  assets/wizards/updates/index.js
Labels: [Status] Approved

#726 NRH Integration
  assets/wizards/readerRevenue/constants.js
  assets/wizards/readerRevenue/index.js
  assets/wizards/readerRevenue/views/index.js
  assets/wizards/readerRevenue/views/nrh-settings/index.js
  assets/wizards/readerRevenue/views/platform/index.js
  assets/wizards/readerRevenue/views/services/index.js
  includes/class-donations.php
  includes/class-newspack.php
  includes/class-nrh.php
  includes/wizards/class-reader-revenue-wizard.php
Labels: [Status] Approved

#651 Hide Campaigns plugin in menu; display settings in wizard
  assets/wizards/popups/index.js
  assets/wizards/popups/views/index.js
  assets/wizards/popups/views/settings/index.js
  includes/class-newspack.php
  includes/configuration_managers/class-newspack-popups-configuration-manager.php
  includes/wizards/class-popups-wizard.php
Labels: [Status] Approved

#691 Handle above header placement in Campaigns Wizard
  assets/wizards/popups/components/popup-popover/index.js
  assets/wizards/popups/index.js
  assets/wizards/popups/utils.js
  assets/wizards/popups/views/popup-group/index.js
Labels: [Status] Approved

#732 Update dashboard header style
  assets/components/src/newspack-logo/index.js
  assets/components/src/with-wizard/style.scss
  assets/wizards/dashboard/index.js
  assets/wizards/dashboard/style.scss
Labels: [Status] Approved

#733 Update newspack-popups constant name
  includes/class-newspack.php
Labels: [Status] Approved

#735 Update info button icon to use Gutenberg
  assets/components/src/info-button/index.js
  assets/components/src/info-button/style.scss
Labels: [Status] Approved

#737 Update npm packages
  package-lock.json
  package.json
Labels: [Status] Approved

#734 Update toggle group and toggle control vertical alignment
  assets/components/src/action-card/style.scss
  assets/components/src/checkbox-control/style.scss
  assets/components/src/text-control/style.scss
  assets/components/src/textarea-control/style.scss
  assets/components/src/toggle-control/style.scss
  assets/components/src/toggle-group/style.scss
  assets/wizards/site-design/views/theme-mods/style.scss
Labels: [Status] Approved

#740 Fix: empty section in Campaigns Wizard
  assets/wizards/popups/index.js
Labels: [Status] Approved

#731 Update SelectControl and Popover style since WP 5.6
  assets/components/src/action-card-sections/index.js
  assets/components/src/action-card-sections/style.scss
  assets/components/src/form-token-field/style.scss
  assets/components/src/popover/style.scss
  assets/components/src/select-control/index.js
  assets/components/src/select-control/style.scss
  assets/components/src/style-card/style.scss
  assets/components/src/text-control/style.scss
  assets/components/src/textarea-control/style.scss
  assets/wizards/popups/components/popup-popover/index.js
  assets/wizards/popups/components/popup-popover/style.scss
  assets/wizards/support/views/create-ticket/style.scss
Labels: [Status] Approved, [Status] Needs changes or feedback

#743 Improve debug mode
  assets/components/src/with-wizard-screen/index.js
  assets/components/src/with-wizard-screen/style.scss
  includes/class-newspack.php
  includes/class-plugin-manager.php
  includes/configuration_managers/class-configuration-managers.php
  includes/configuration_managers/class-jetpack-configuration-manager.php
  includes/configuration_managers/class-site-kit-configuration-manager.php
  includes/wizards/class-wizard.php
Labels: [Status] Approved

#745 Release – Dec. 15
  assets/components/src/action-card-sections/index.js
  assets/components/src/action-card-sections/style.scss
  assets/components/src/action-card/style.scss
  assets/components/src/checkbox-control/style.scss
  assets/components/src/form-token-field/style.scss
  assets/components/src/info-button/index.js
  assets/components/src/info-button/style.scss
  assets/components/src/newspack-logo/index.js
  assets/components/src/popover/style.scss
  assets/components/src/select-control/index.js
  assets/components/src/select-control/style.scss
  assets/components/src/style-card/style.scss
  assets/components/src/text-control/style.scss
  assets/components/src/textarea-control/style.scss
  assets/components/src/toggle-control/style.scss
  assets/components/src/toggle-group/style.scss
  assets/components/src/with-wizard-screen/index.js
  assets/components/src/with-wizard-screen/style.scss
  assets/components/src/with-wizard/style.scss
  assets/wizards/dashboard/index.js
  assets/wizards/dashboard/style.scss
  assets/wizards/popups/components/popup-popover/index.js
  assets/wizards/popups/components/popup-popover/style.scss
  assets/wizards/popups/index.js
  assets/wizards/popups/utils.js
  assets/wizards/popups/views/popup-group/index.js
  assets/wizards/site-design/views/theme-mods/style.scss
  assets/wizards/support/views/create-ticket/style.scss
  includes/class-newspack.php
  includes/class-plugin-manager.php
  includes/configuration_managers/class-configuration-managers.php
  includes/configuration_managers/class-jetpack-configuration-manager.php
  includes/configuration_managers/class-site-kit-configuration-manager.php
  includes/wizards/class-wizard.php
  package-lock.json
  package.json
Labels: [Status] Approved

#746 Fix RadioControl label font size and line height
  assets/components/src/radio-control/style.scss
Labels: [Status] Approved

#748 Update Notice component
  assets/components/src/action-card/index.js
  assets/components/src/notice/index.js
  assets/components/src/notice/style.scss
  assets/wizards/componentsDemo/index.js
Labels: [Status] Approved

#747 Update Grid component and wizards using it
  assets/components/src/grid/index.js
  assets/components/src/grid/style.scss
  assets/components/src/index.js
  assets/components/src/newspack-logo/index.js
  assets/components/src/style-card-group/index.js
  assets/components/src/style-card-group/style.scss
  assets/components/src/with-wizard/style.scss
  assets/wizards/componentsDemo/index.js
  assets/wizards/dashboard/index.js
  assets/wizards/dashboard/style.scss
  assets/wizards/popups/index.js
  assets/wizards/setup/index.js
  assets/wizards/site-design/index.js
  assets/wizards/site-design/views/theme-selection/index.js
Labels: [Status] Approved

#752 Update icons for web preview and popup action card
  assets/components/src/web-preview/index.js
  assets/wizards/popups/components/popup-action-card/index.js
  package-lock.json
  package.json
Labels: [Status] Approved

#751 Update is-loading animation
  assets/components/src/with-wizard/style.scss
  assets/wizards/updates/index.js
Labels: [Status] Approved

#750 Campaigns Wizard: handle session read count segmentation
  assets/wizards/popups/views/segmentation/SingleSegment.js
  assets/wizards/popups/views/segmentation/style.scss
Labels: [Status] Approved

#707 Campaigns Wizard: favorite category segmentation
  assets/components/src/category-autocomplete/index.js
  assets/wizards/popups/views/segmentation/SingleSegment.js
  assets/wizards/popups/views/segmentation/style.scss
Labels: [Status] Approved

#706 Campaigns Wizard: display campaign ID
  assets/wizards/popups/components/popup-popover/index.js
  assets/wizards/popups/components/popup-popover/style.scss
Labels: [Status] Approved

#741 Campaigns Wizard: "view as" UI
  assets/components/src/category-autocomplete/index.js
  assets/components/src/web-preview/index.js
  assets/wizards/popups/index.js
  assets/wizards/popups/utils.js
  assets/wizards/popups/views/index.js
  assets/wizards/popups/views/preview/index.js
  assets/wizards/popups/views/preview/style.scss
  assets/wizards/popups/views/segmentation/SegmentsList.js
  assets/wizards/popups/views/segmentation/index.js
  includes/wizards/class-popups-wizard.php
Labels: [Status] Approved

#749 chore: add Newspack Listings as a whitelisted plugin
  includes/class-plugin-manager.php
Labels: [Status] Approved

#755 Use grid to reorganise the reader revenue
  assets/components/src/grid/style.scss
  assets/components/src/with-wizard-screen/style.scss
  assets/wizards/readerRevenue/components/money-input/style.scss
  assets/wizards/readerRevenue/views/donation/index.js
  assets/wizards/readerRevenue/views/donation/style.scss
  assets/wizards/readerRevenue/views/nrh-settings/index.js
  assets/wizards/readerRevenue/views/platform/index.js
  assets/wizards/readerRevenue/views/salesforce/index.js
  assets/wizards/readerRevenue/views/salesforce/style.scss
  assets/wizards/readerRevenue/views/stripe-setup/index.js
  assets/wizards/readerRevenue/views/stripe-setup/style.scss
Labels: [Status] Approved
