Repository Automattic/newspack-plugin, pull requests merged in 2020-08, with the labels that each got.

#610 Build: change release zip structure
  .circleci/config.yml
  .distignore
  bin/release-archive.js
  package.json
Labels: [Status] Approved

#612 fix empty space in three-column wizard grid
  assets/wizards/dashboard/style.scss
Labels: [Status] Approved

#606 Fix Site Kit connection error handling
  assets/wizards/analytics/views/configuration/index.js
  includes/class-analytics.php
  includes/wizards/class-analytics-wizard.php
Labels: [Status] Approved

#608 feat: sync country code of WooCommerce order to Salesforce contact
  includes/class-salesforce.php
Labels: [Status] Approved

#614 Don't list uninstalled Newspack-approved plugins when using WP CLI
  includes/class-admin-plugins-screen.php
Labels: [Status] Approved, [Type] Bug

#615 Release Aug 04
  .circleci/config.yml
  .distignore
  assets/components/src/with-wizard/style.scss
  assets/wizards/analytics/views/configuration/index.js
  assets/wizards/dashboard/style.scss
  bin/release-archive.js
  includes/class-admin-plugins-screen.php
  includes/class-analytics.php
  includes/class-salesforce.php
  includes/class-webhooks.php
  includes/wizards/class-analytics-wizard.php
  package.json
Labels: [Status] Approved

#616 Revert setting version in release zip file name
  bin/release-archive.js
  package.json
Labels: [Status] Approved

#617 Release Aug 04 bis
  bin/release-archive.js
  package.json
Labels: [Status] Approved

#619 Prevent vendor contents exclusion in zip
  .distignore
  package.json
Labels: [Status] Approved

#620 Release Aug 04 bis bis
  .distignore
  package.json
Labels: [Status] Approved

#622 Remove un-cacheable ajax call in AMP mode from WP GDPR Cookie Notice
  includes/amp-enhancements/class-newspack-cookie-notice-amp-markup.php
  includes/amp-enhancements/class-wp-gdpr-cookie-notice-performance.php
  includes/class-amp-enhancements.php
  includes/class-plugin-manager.php
Labels: [Initiatives] Optimisation, [Priority] High, [Status] Approved

#623 Enable alpha builds
  package.json
Labels: [Status] Approved

#624 Handle alpha builds on CI
  .circleci/config.yml
Labels: [Status] Approved

#611 Add custom events adding UI
  assets/components/src/consts.js
  assets/components/src/text-control/index.js
  assets/components/src/text-control/style.scss
  assets/components/src/with-wizard/index.js
  assets/wizards/analytics/index.js
  assets/wizards/analytics/style.scss
  assets/wizards/analytics/views/custom-dimensions/index.js
  assets/wizards/analytics/views/custom-events/index.js
  assets/wizards/analytics/views/index.js
  includes/class-analytics.php
  includes/wizards/class-analytics-wizard.php
Labels: Needs documentation, [Status] Approved, [Status] Needs Design Review

#625 Update updates wizard details style
  assets/wizards/dashboard/views/dashboardCard.js
  assets/wizards/updates/index.js
  assets/wizards/updates/views/devInfo/index.js
  assets/wizards/updates/views/devInfo/style.scss
Labels: [Status] Approved

#627 Add permission callbacks (required in WP 5.5.)
  includes/class-webhooks.php
Labels: [Status] Approved

#626 Add related posts age setting
  assets/wizards/engagement/index.js
  assets/wizards/engagement/views/index.js
  assets/wizards/engagement/views/related-content/index.js
  assets/wizards/engagement/views/related-content/style.scss
  includes/configuration_managers/class-jetpack-configuration-manager.php
  includes/wizards/class-engagement-wizard.php
Labels: [Status] Approved

#628 Release Aug 11
  .circleci/config.yml
  assets/components/src/consts.js
  assets/components/src/text-control/index.js
  assets/components/src/text-control/style.scss
  assets/components/src/with-wizard/index.js
  assets/wizards/analytics/index.js
  assets/wizards/analytics/style.scss
  assets/wizards/analytics/views/custom-dimensions/index.js
  assets/wizards/analytics/views/custom-events/index.js
  assets/wizards/analytics/views/index.js
  assets/wizards/dashboard/views/dashboardCard.js
  assets/wizards/engagement/index.js
  assets/wizards/engagement/views/index.js
  assets/wizards/engagement/views/related-content/index.js
  assets/wizards/engagement/views/related-content/style.scss
  assets/wizards/updates/index.js
  assets/wizards/updates/views/devInfo/index.js
  assets/wizards/updates/views/devInfo/style.scss
  includes/amp-enhancements/class-newspack-cookie-notice-amp-markup.php
  includes/amp-enhancements/class-wp-gdpr-cookie-notice-performance.php
  includes/class-amp-enhancements.php
  includes/class-analytics.php
  includes/class-plugin-manager.php
  includes/class-webhooks.php
  includes/configuration_managers/class-jetpack-configuration-manager.php
  includes/wizards/class-analytics-wizard.php
  includes/wizards/class-engagement-wizard.php
  package.json
Labels: [Status] Approved

#629 Fix notice in Analytics wizard
  assets/wizards/analytics/views/custom-events/index.js
Labels: [Status] Approved

#634 Update dashboard default view to grid
  assets/wizards/dashboard/index.js
Labels: [Status] Approved, [Type] Enhancement

#637 feat: add AutomateWoo and AW Refer Friend to the list of vetted plugins
  includes/class-plugin-manager.php
Labels: [Status] Approved

#638 Release Aug 18
  assets/wizards/analytics/views/custom-events/index.js
  assets/wizards/dashboard/index.js
  includes/class-plugin-manager.php
Labels: [Status] Approved

#641 feat: add newspack-sponsors as a managed plugin
  includes/class-plugin-manager.php
Labels: [Status] Approved

#635 feat: add support to distributor
  assets/wizards/syndication/index.js
  assets/wizards/syndication/views/intro/index.js
  includes/class-plugin-manager.php
  includes/wizards/class-dashboard.php
  includes/wizards/class-syndication-wizard.php
Labels: [Status] Approved, [Type] Enhancement

#643 Chore: remove unused code
  assets/wizards/engagement/views/commenting/index.js
  assets/wizards/engagement/views/index.js
Labels: [Status] Approved

#646 Update WP GDPR Cookie Notice AMP handling for latest version of WP GDPR Cookie Notice
  includes/amp-enhancements/class-newspack-cookie-notice-amp-markup.php
  includes/amp-enhancements/class-wp-gdpr-cookie-notice-performance.php
  includes/class-amp-enhancements.php
Labels: [Status] Approved

#647 feat: quiet support for yoast premium and yoast news
  includes/class-plugin-manager.php
Labels: [Status] Approved

#649 Release Aug 25
  .circleci/config.yml
  assets/wizards/dashboard/views/dashboardCard.js
  assets/wizards/engagement/views/commenting/index.js
  assets/wizards/engagement/views/index.js
  assets/wizards/performance/index.js
  assets/wizards/performance/views/index.js
  assets/wizards/performance/views/intro/index.js
  assets/wizards/syndication/index.js
  assets/wizards/syndication/views/intro/index.js
  includes/amp-enhancements/class-newspack-cookie-notice-amp-markup.php
  includes/amp-enhancements/class-wp-gdpr-cookie-notice-performance.php
  includes/class-amp-enhancements.php
  includes/class-newspack.php
  includes/class-plugin-manager.php
  includes/class-wizards.php
  includes/wizards/class-dashboard.php
  includes/wizards/class-performance-wizard.php
  includes/wizards/class-syndication-wizard.php
Labels: [Status] Approved
