Repository Automattic/newspack-plugin, pull requests merged in 2021-12, with the labels that each got.

#1329 fix: plugin settings checkbox
  assets/components/src/plugin-settings/SettingsSection.js
Labels: [Status] Approved

#1331 Release Dec 01
  CHANGELOG.md
  assets/components/src/plugin-settings/SettingsSection.js
  newspack.php
  package-lock.json
  package.json
Labels: [Status] Approved

#1332 chore: implement auto-merge for dependabot minor/patch updates
  .github/workflows/auto-merge.yml
Labels: [Status] Approved, dependencies

#1340 Update badge design and notice
  assets/components/src/action-card/style.scss
  assets/components/src/notice/style.scss
  assets/components/src/style-card/style.scss
  assets/components/src/with-wizard-screen/style.scss
  assets/components/src/wizard/style.scss
Labels: [Status] Approved

#1334 feat(ads): handle multiple GAM accounts
  assets/wizards/advertising/views/ad-units/index.js
  includes/configuration_managers/class-newspack-ads-configuration-manager.php
  includes/wizards/class-advertising-wizard.php
Labels: [Status] Approved

#1247 feat: use newspack manager plugin for authentication
  assets/wizards/connections/views/main/fivetran.js
  assets/wizards/connections/views/main/google.js
  assets/wizards/connections/views/main/index.js
  assets/wizards/connections/views/main/wpcom.js
  includes/class-newspack.php
  includes/oauth/class-fivetran-connection.php
  includes/oauth/class-google-oauth.php
  includes/oauth/class-oauth.php
  includes/wizards/class-connections-wizard.php
  tests/class-newspack-unit-tests-bootstrap.php
  tests/unit-tests/oauth.php
Labels: [Status] Approved

#1341 chore: fix auto-merge worfklow to grant write permissions
  .github/workflows/auto-merge.yml
Labels: [Status] Approved, dependencies

#1348 fix: use access token instead of default token
  .github/workflows/auto-merge.yml
Labels: [Status] Approved

#1350 Reorganise Add New Segment wizard
  assets/components/src/settings/SettingsCard.js
  assets/components/src/settings/style.scss
  assets/wizards/popups/views/segments/SingleSegment.js
  assets/wizards/popups/views/segments/style.scss
Labels: [Status] Approved

#1326 fix(campaigns): duplicating a prompt needs both original and parent p…
  assets/wizards/popups/components/prompt-action-card/index.js
  includes/configuration_managers/class-newspack-popups-configuration-manager.php
  includes/wizards/class-popups-wizard.php
Labels: [Status] Approved

#1285 feat(ads): placement bidders
  assets/components/src/plugin-settings/SettingsSection.js
  assets/components/src/plugin-settings/style.scss
  assets/wizards/advertising/components/placement-control/index.js
  assets/wizards/advertising/index.js
  assets/wizards/advertising/views/placements/index.js
Labels: [Status] Approved

#1366 fix: use new shortened preview query keys form Campaigns
  assets/wizards/popups/index.js
  includes/configuration_managers/class-newspack-popups-configuration-manager.php
  includes/wizards/class-popups-wizard.php
Labels: [Type] Bug, [Status] Approved

#1365 feat(ads): stick to top placements
  assets/wizards/advertising/views/placements/index.js
Labels: [Status] Approved

#1370 Release Dec 15
  CHANGELOG.md
  assets/wizards/advertising/views/placements/index.js
  assets/wizards/popups/index.js
  composer.lock
  includes/configuration_managers/class-newspack-popups-configuration-manager.php
  includes/wizards/class-popups-wizard.php
  newspack.php
  package-lock.json
  package.json
Labels: [Status] Approved

#1372 chore: only run auto-merge if the PR is not already approved
  .github/workflows/auto-merge.yml
Labels: [Status] Approved, dependencies

#1375 chore: add codeowners file
  .github/CODEOWNERS
Labels: [Status] Approved

#1374 test: refactor unit tests to avoid redefined constant errors
  includes/class-plugin-manager.php
  tests/unit-tests/api-plugins-controller.php
  tests/unit-tests/plugin-manager.php
Labels: [Type] Bug, [Status] Approved

#1305 Add/apple pay file
  includes/reader-revenue/apple-developer-merchantid-domain-association
  includes/reader-revenue/class-stripe-connection.php
  tests/class-stripemockhttpclient.php
  tests/unit-tests/stripe-connection.php
Labels: [Status] Approved

#1388 Fix Google token refreshing
  .circleci/config.yml
  includes/oauth/class-google-oauth.php
  includes/oauth/class-oauth.php
  phpcs.xml
  tests/unit-tests/oauth.php
Labels: [Status] Approved

#1391 Release Dec 20
  .circleci/config.yml
  .github/CODEOWNERS
  .github/workflows/auto-merge.yml
  CHANGELOG.md
  includes/class-plugin-manager.php
  includes/oauth/class-google-oauth.php
  includes/oauth/class-oauth.php
  includes/reader-revenue/apple-developer-merchantid-domain-association
  includes/reader-revenue/class-stripe-connection.php
  newspack.php
  package-lock.json
  package.json
  phpcs.xml
  tests/class-stripemockhttpclient.php
  tests/unit-tests/api-plugins-controller.php
  tests/unit-tests/oauth.php
  tests/unit-tests/plugin-manager.php
  tests/unit-tests/stripe-connection.php
Labels: [Status] Approved
