Repository Automattic/newspack-plugin, pull requests merged in 2021-07, with the labels that each got.

#1024 feat: remove unused global ad placements
  assets/wizards/advertising/index.js
  assets/wizards/advertising/views/placements/index.js
  includes/wizards/class-advertising-wizard.php
Labels: [Status] Approved

#1023 fix: use the new token after refreshing
  includes/oauth/class-google-oauth.php
Labels: [Status] Approved

#1030 feat: prevent accidental deletion of essential pages
  includes/class-patches.php
Labels: [Status] Approved, [Type] Feature request

#1018 feat(ga-events): make NTG events reporting enabled by default
  includes/wizards/class-analytics-wizard.php
Labels: [Status] Approved

#1033 fix: prevent newspack plugins from being flagged as unsupported
  includes/class-plugin-manager.php
Labels: [Status] Approved

#1035 Release Jul 06
  assets/components/src/card/style.scss
  assets/components/src/handoff/index.js
  assets/components/src/modal/style.scss
  assets/components/src/with-wizard/index.js
  assets/wizards/advertising/index.js
  assets/wizards/advertising/views/placements/index.js
  assets/wizards/analytics/views/custom-events/index.js
  assets/wizards/componentsDemo/index.js
  assets/wizards/popups/components/prompt-action-card/index.js
  assets/wizards/popups/components/segment-group/index.js
  assets/wizards/popups/components/segment-group/style.scss
  assets/wizards/popups/views/campaigns/index.js
  assets/wizards/popups/views/campaigns/style.scss
  assets/wizards/popups/views/segments/style.scss
  includes/class-patches.php
  includes/class-plugin-manager.php
  includes/oauth/class-google-oauth.php
  includes/wizards/class-advertising-wizard.php
  includes/wizards/class-analytics-wizard.php
Labels: [Status] Approved

#1038 Apply correct plugin slug for Distributor in the Syndication Wizard
  assets/wizards/syndication/views/intro/index.js
Labels: [Status] Approved

#1040 Release Jul 13
  assets/wizards/syndication/views/intro/index.js
Labels: [Status] Approved

#1037 Fix modal style in WordPress 5.8
  assets/components/src/modal/style.scss
  assets/components/src/web-preview/index.js
Labels: [Status] Approved

#1029 Add Stripe connection for streamlined Donate block
  assets/wizards/readerRevenue/index.js
  assets/wizards/readerRevenue/views/stripe-setup/index.js
  composer.json
  composer.lock
  includes/class-amp-enhancements.php
  includes/class-donations.php
  includes/class-newspack.php
  includes/class-nrh.php
  includes/class-profile.php
  includes/class-stripe-connection.php
  includes/configuration_managers/class-woocommerce-configuration-manager.php
  includes/util.php
  includes/wizards/class-reader-revenue-wizard.php
Labels: [Status] Approved

#1045 Remove missing wizard CSS
  includes/wizards/class-reader-revenue-wizard.php
  includes/wizards/class-seo-wizard.php
Labels: [Status] Approved

#1049 fix(design-wizard): correct path to update theme mods
  assets/wizards/site-design/index.js
Labels: [Status] Approved

#1041 Simplify handoff banner style
  assets/wizards/handoff-banner/index.js
  assets/wizards/handoff-banner/style.scss
  includes/class-handoff-banner.php
  languages/newspack-plugin.pot
Labels: [Status] Approved

#1048 Update style of the autocomplete with suggestions component
  assets/components/src/autocomplete-tokenfield/style.scss
  assets/components/src/autocomplete-with-suggestions/style.scss
Labels: [Status] Approved

#1046 fix/donations nrh tweaks
  assets/wizards/readerRevenue/index.js
  assets/wizards/readerRevenue/views/donation/index.js
  includes/class-donations.php
  includes/class-nrh.php
  includes/wizards/class-reader-revenue-wizard.php
Labels: [Status] Approved

#1056 Release Jul 19
  assets/components/src/autocomplete-tokenfield/style.scss
  assets/components/src/autocomplete-with-suggestions/style.scss
  assets/components/src/modal/style.scss
  assets/components/src/web-preview/index.js
  assets/wizards/handoff-banner/index.js
  assets/wizards/handoff-banner/style.scss
  assets/wizards/readerRevenue/index.js
  assets/wizards/readerRevenue/views/donation/index.js
  assets/wizards/readerRevenue/views/nrh-settings/index.js
  assets/wizards/readerRevenue/views/stripe-setup/index.js
  assets/wizards/site-design/index.js
  composer.json
  composer.lock
  includes/class-amp-enhancements.php
  includes/class-donations.php
  includes/class-handoff-banner.php
  includes/class-newspack.php
  includes/class-nrh.php
  includes/class-profile.php
  includes/class-stripe-connection.php
  includes/configuration_managers/class-woocommerce-configuration-manager.php
  includes/util.php
  includes/wizards/class-reader-revenue-wizard.php
  includes/wizards/class-seo-wizard.php
  languages/newspack-plugin.pot
Labels: [Status] Approved

#1052 feat/campaigns mgmt
  assets/wizards/popups/components/prompt-popovers/primary.js
  assets/wizards/popups/index.js
  assets/wizards/popups/views/campaigns/index.js
  includes/configuration_managers/class-newspack-popups-configuration-manager.php
  includes/wizards/class-popups-wizard.php
Labels: [Status] Approved

#1055 fix(engagement-wizard): grid columns and provider selector
  assets/wizards/engagement/views/newsletters/index.js
Labels: [Status] Approved

#1057 Campaigns Wizard: display GA-derived insights
  assets/wizards/popups/components/prompt-action-card/index.js
  assets/wizards/popups/index.js
  assets/wizards/popups/utils.js
  assets/wizards/popups/views/analytics/Info.js
  includes/popups-analytics/class-popups-analytics-utils.php
  includes/wizards/class-popups-wizard.php
  tests/unit-tests/popups-analytics.php
Labels: [Status] Approved, [Status] Needs Design Review

#1058 feat(amp): skip AMP on WC pages
  includes/class-donations.php
Labels: [Status] Approved

#1059 feat(starter-content): set primary category on posts
  includes/class-starter-content.php
Labels: [Status] Approved

#1047 feat/stripe webhooks
  assets/wizards/readerRevenue/views/stripe-setup/index.js
  includes/class-stripe-connection.php
Labels: [Status] Approved

#1061 feat(setup-wizard): prevent installation on non-HTTPS sites
  assets/wizards/setup/views/welcome/index.js
  includes/wizards/class-setup-wizard.php
Labels: [Status] Approved

#1063 Update campaigns action card style for analytics data
  assets/wizards/popups/components/prompt-action-card/index.js
  assets/wizards/popups/components/prompt-action-card/style.scss
Labels: [Status] Approved

#1064 Add isSmall prop to text-control and select-control
  assets/components/src/select-control/index.js
  assets/components/src/select-control/style.scss
  assets/components/src/text-control/index.js
  assets/components/src/text-control/style.scss
  assets/wizards/componentsDemo/index.js
  assets/wizards/handoff-banner/style.scss
Labels: [Status] Approved

#1069 Release Jul 27
  assets/components/src/select-control/index.js
  assets/components/src/select-control/style.scss
  assets/components/src/text-control/index.js
  assets/components/src/text-control/style.scss
  assets/wizards/componentsDemo/index.js
  assets/wizards/engagement/views/newsletters/index.js
  assets/wizards/handoff-banner/style.scss
  assets/wizards/popups/components/prompt-action-card/index.js
  assets/wizards/popups/components/prompt-action-card/style.scss
  assets/wizards/popups/components/prompt-popovers/primary.js
  assets/wizards/popups/index.js
  assets/wizards/popups/utils.js
  assets/wizards/popups/views/analytics/Info.js
  assets/wizards/popups/views/campaigns/index.js
  assets/wizards/readerRevenue/views/stripe-setup/index.js
  assets/wizards/setup/views/welcome/index.js
  includes/class-donations.php
  includes/class-starter-content.php
  includes/class-stripe-connection.php
  includes/configuration_managers/class-newspack-popups-configuration-manager.php
  includes/popups-analytics/class-popups-analytics-utils.php
  includes/wizards/class-popups-wizard.php
  includes/wizards/class-setup-wizard.php
  tests/unit-tests/popups-analytics.php
Labels: [Status] Approved

#1070 fix: namespace wp_error correctly
  includes/class-stripe-connection.php
Labels: [Status] Approved

#1065 feat/campaigns wizard modal
  assets/components/src/category-autocomplete/index.js
  assets/components/src/form-token-field/index.js
  assets/components/src/form-token-field/style.scss
  assets/components/src/index.js
  assets/components/src/modal/style.scss
  assets/components/src/settings/MinMaxSetting.js
  assets/components/src/settings/SettingsCard.js
  assets/components/src/settings/SettingsSection.js
  assets/components/src/settings/index.js
  assets/components/src/settings/style.scss
  assets/wizards/popups/components/prompt-action-card/index.js
  assets/wizards/popups/components/prompt-popovers/secondary.js
  assets/wizards/popups/components/prompt-popovers/style.scss
  assets/wizards/popups/components/segment-criteria/index.js
  assets/wizards/popups/components/segment-group/index.js
  assets/wizards/popups/components/settings-modal/index.js
  assets/wizards/popups/index.js
  assets/wizards/popups/views/segments/SingleSegment.js
  assets/wizards/popups/views/segments/style.scss
  includes/wizards/class-popups-wizard.php
Labels: [Status] Approved, [Status] Needs changes or feedback

#1060 feat(reader-revenue-wizard): clarify donation tiers description
  assets/wizards/readerRevenue/views/donation/index.js
Labels: [Status] Approved, [Status] Needs Design Review

#1072 fix(stripe): error namespace, listing webhooks condition
  includes/class-stripe-connection.php
Labels: [Status] Approved

#1073 Reorganize campaigns settings modal
  assets/components/src/category-autocomplete/index.js
  assets/components/src/form-token-field/index.js
  assets/components/src/form-token-field/style.scss
  assets/components/src/settings/SettingsCard.js
  assets/components/src/settings/style.scss
  assets/wizards/popups/components/settings-modal/index.js
  assets/wizards/popups/views/segments/SingleSegment.js
Labels: [Status] Approved
