Repository Automattic/newspack-plugin, pull requests merged in 2021-09, with the labels that each got.

#1117 fix(campaigns-wizard): prompt duplication
  assets/wizards/popups/components/prompt-popovers/primary.js
Labels: [Status] Approved

#1123 feat: allow multiple GAM network codes
  assets/wizards/advertising/index.js
  assets/wizards/advertising/views/ad-units/index.js
  includes/wizards/class-advertising-wizard.php
Labels: [Type] Enhancement, [Status] Approved, Advertising

#1125 feat: plugin screen access restriction
  includes/class-newspack.php
Labels: [Status] Approved

#1119 feat(stripe): handle subscriber status in campaigns data update
  includes/class-stripe-connection.php
Labels: [Status] Approved

#1127 fix: stricter plugin area restriction
  includes/class-newspack.php
Labels: [Status] Approved

#1130 Release Sep 08
  assets/wizards/advertising/index.js
  assets/wizards/advertising/views/ad-units/index.js
  assets/wizards/popups/components/prompt-popovers/primary.js
  includes/class-newspack.php
  includes/class-stripe-connection.php
  includes/wizards/class-advertising-wizard.php
Labels: [Status] Approved

#1128 fix(stripe): error handling
  assets/wizards/readerRevenue/views/stripe-setup/index.js
  includes/class-stripe-connection.php
  includes/wizards/class-reader-revenue-wizard.php
Labels: [Status] Approved

#1140 Release Sep 14
  assets/wizards/readerRevenue/views/stripe-setup/index.js
  includes/class-stripe-connection.php
  includes/wizards/class-reader-revenue-wizard.php
Labels: [Status] Approved

#1137 feat: disable block-based widget editing
  includes/class-newspack.php
Labels: [Status] Approved

#1138 feat(ads-wizard): sanitize ads suppression config
  includes/wizards/class-advertising-wizard.php
Labels: [Status] Approved

#1122 feat(oauth): use a self-hosted proxy for authenication
  includes/oauth/class-google-oauth.php
  includes/oauth/class-wpcom-oauth.php
  tests/unit-tests/oauth.php
Labels: [Status] Approved

#1139 feat/supported unmanaged plugins
  assets/wizards/health-check/index.js
  assets/wizards/health-check/views/plugins/index.js
  includes/class-admin-plugins-screen.php
  includes/class-plugin-manager.php
  includes/wizards/class-health-check-wizard.php
Labels: [Status] Approved

#1143 fix(setup): install WC only if Reader Revenue is enabled
  includes/wizards/class-setup-wizard.php
Labels: [Status] Approved

#1146 Feat: Ads GAM custom targeting keys integration
  assets/wizards/advertising/index.js
  assets/wizards/advertising/views/ad-units/index.js
  assets/wizards/advertising/views/services/index.js
  includes/configuration_managers/class-newspack-ads-configuration-manager.php
  includes/wizards/class-advertising-wizard.php
Labels: [Status] Approved

#1149 feat(ads): gam service account credentials upload
  assets/wizards/advertising/index.js
  assets/wizards/advertising/style.scss
  assets/wizards/advertising/views/ad-unit/index.js
  assets/wizards/advertising/views/ad-units/index.js
  assets/wizards/advertising/views/services/index.js
  includes/configuration_managers/class-newspack-ads-configuration-manager.php
  includes/wizards/class-advertising-wizard.php
Labels: [Status] Approved

#1147 feat: integrate newspack-image-credits into main plugin and wizard UI
  assets/components/src/image-upload/index.js
  assets/components/src/image-upload/index.test.js
  assets/components/src/image-upload/style.scss
  assets/wizards/site-design/views/theme-settings/index.js
  assets/wizards/site-design/views/theme-settings/style.scss
  includes/class-newspack-image-credits.php
  includes/class-newspack.php
  includes/wizards/class-setup-wizard.php
Labels: [Type] Enhancement, [Status] Approved

#1151 Fix/ads handle legacy network code
  assets/wizards/advertising/index.js
  assets/wizards/advertising/views/ad-units/index.js
  includes/configuration_managers/class-newspack-ads-configuration-manager.php
  includes/wizards/class-advertising-wizard.php
Labels: [Status] Approved

#1155 Release Sep 22
  assets/components/src/image-upload/index.js
  assets/components/src/image-upload/index.test.js
  assets/components/src/image-upload/style.scss
  assets/plugins-screen/plugins-screen.js
  assets/wizards/advertising/index.js
  assets/wizards/advertising/style.scss
  assets/wizards/advertising/views/ad-unit/index.js
  assets/wizards/advertising/views/ad-units/index.js
  assets/wizards/advertising/views/services/index.js
  assets/wizards/componentsDemo/index.js
  assets/wizards/dashboard/index.js
  assets/wizards/engagement/views/newsletters/index.js
  assets/wizards/handoff-banner/block-editor.js
  assets/wizards/health-check/index.js
  assets/wizards/health-check/views/plugins/index.js
  assets/wizards/popups/views/analytics/Info.js
  assets/wizards/readerRevenue/views/stripe-setup/newsletter-settings.js
  assets/wizards/setup/views/welcome/index.js
  assets/wizards/site-design/views/main/index.js
  assets/wizards/site-design/views/theme-settings/index.js
  assets/wizards/site-design/views/theme-settings/style.scss
  assets/wizards/updates/views/devInfo/index.js
  includes/class-admin-plugins-screen.php
  includes/class-newspack-image-credits.php
  includes/class-newspack.php
  includes/class-plugin-manager.php
  includes/configuration_managers/class-newspack-ads-configuration-manager.php
  includes/oauth/class-google-oauth.php
  includes/oauth/class-wpcom-oauth.php
  includes/wizards/class-advertising-wizard.php
  includes/wizards/class-health-check-wizard.php
  includes/wizards/class-setup-wizard.php
  package-lock.json
  package.json
  tests/unit-tests/oauth.php
Labels: [Status] Approved

#1158 Removes Newspack Image Credits
  includes/class-plugin-manager.php
Labels: [Status] Approved

#1157 fix: restore scroll for wizard screens navigation
  assets/components/src/with-wizard-screen/index.js
Labels: [Status] Approved

#1159 Simplify commenting settings
  assets/wizards/engagement/views/commenting/index.js
Labels: [Status] Approved

#1153 fix(health-check): AMP status
  assets/wizards/health-check/index.js
  assets/wizards/health-check/views/configuration/index.js
  includes/configuration_managers/class-amp-configuration-manager.php
Labels: [Status] Approved

#1165 fix: react router crash from useLocation in HOC
  assets/components/src/with-wizard-screen/index.js
Labels: [Type] Bug, [Status] Approved

#1167 Release Sep 28
  assets/components/src/with-wizard-screen/index.js
  assets/wizards/engagement/views/commenting/index.js
  assets/wizards/health-check/index.js
  assets/wizards/health-check/views/configuration/index.js
  includes/class-plugin-manager.php
  includes/configuration_managers/class-amp-configuration-manager.php
Labels: [Status] Approved

#1163 feat: multiple badges for action card
  assets/components/src/action-card/index.js
  assets/components/src/action-card/style.scss
  assets/wizards/componentsDemo/index.js
Labels: [Status] Approved

#1145 feat/connections view
  assets/components/src/footer/index.js
  assets/components/src/waiting/index.js
  assets/components/src/waiting/style.scss
  assets/wizards/connections/index.js
  assets/wizards/connections/views/index.js
  assets/wizards/connections/views/main/google.js
  assets/wizards/connections/views/main/index.js
  assets/wizards/connections/views/main/wpcom.js
  assets/wizards/dashboard/index.js
  assets/wizards/dashboard/views/dashboardCard.js
  assets/wizards/support/components/withWPCOMAuth.js
  assets/wizards/support/index.js
  assets/wizards/support/views/create-ticket/index.js
  includes/class-newspack.php
  includes/class-wizards.php
  includes/oauth/class-google-oauth.php
  includes/wizards/class-connections-wizard.php
  includes/wizards/class-dashboard.php
  includes/wizards/class-support-wizard.php
  includes/wizards/class-wizard.php
  tests/unit-tests/oauth.php
Labels: [Status] Approved

#1172 Release Sep 30
  assets/components/src/action-card/index.js
  assets/components/src/action-card/style.scss
  assets/components/src/footer/index.js
  assets/components/src/waiting/index.js
  assets/components/src/waiting/style.scss
  assets/components/src/with-wizard-screen/index.js
  assets/wizards/componentsDemo/index.js
  assets/wizards/connections/index.js
  assets/wizards/connections/views/index.js
  assets/wizards/connections/views/main/google.js
  assets/wizards/connections/views/main/index.js
  assets/wizards/connections/views/main/wpcom.js
  assets/wizards/dashboard/index.js
  assets/wizards/dashboard/views/dashboardCard.js
  assets/wizards/support/components/withWPCOMAuth.js
  assets/wizards/support/index.js
  assets/wizards/support/views/create-ticket/index.js
  includes/class-newspack.php
  includes/class-wizards.php
  includes/oauth/class-google-oauth.php
  includes/wizards/class-connections-wizard.php
  includes/wizards/class-dashboard.php
  includes/wizards/class-support-wizard.php
  includes/wizards/class-wizard.php
  tests/unit-tests/oauth.php
Labels: [Status] Approved
