Repository Automattic/newspack-plugin, pull requests merged in 2021-11, with the labels that each got.

#1210 fix: update ci images
  .circleci/config.yml
Labels: [Status] Approved

#1207 Parse.ly config manager
  includes/configuration_managers/class-configuration-managers.php
  includes/configuration_managers/class-parsely-configuration-manager.php
Labels: [Status] Approved

#1216 fix: disable Newspack events if Site Kit's GTM module is active
  includes/class-analytics.php
Labels: [Status] Approved

#1212 feat/gam service account connection
  assets/wizards/advertising/index.js
  assets/wizards/advertising/views/ad-unit/index.js
  assets/wizards/advertising/views/ad-units/index.js
  assets/wizards/advertising/views/ad-units/service-account-connection.js
  includes/configuration_managers/class-newspack-ads-configuration-manager.php
  includes/wizards/class-advertising-wizard.php
Labels: [Status] Approved

#1208 feat: newspack plugin settings component
  assets/components/src/index.js
  assets/components/src/plugin-settings/SettingsSection.js
  assets/components/src/plugin-settings/index.js
  assets/wizards/advertising/index.js
  assets/wizards/advertising/views/index.js
  assets/wizards/advertising/views/settings/ad-picker/index.js
  assets/wizards/advertising/views/settings/ad-picker/style.scss
  assets/wizards/advertising/views/settings/index.js
Labels: [Status] Approved

#1133 feat(popups wizard): add archive page permalink as preview URL
  assets/wizards/popups/components/segment-group/icons.js
  assets/wizards/popups/components/segment-group/index.js
  assets/wizards/popups/index.js
  assets/wizards/popups/utils.js
  includes/wizards/class-popups-wizard.php
Labels: [Status] Approved

#1223 Release Nov 09
  assets/components/src/index.js
  assets/components/src/plugin-settings/SettingsSection.js
  assets/components/src/plugin-settings/index.js
  assets/wizards/advertising/index.js
  assets/wizards/advertising/views/ad-unit/index.js
  assets/wizards/advertising/views/ad-units/index.js
  assets/wizards/advertising/views/ad-units/service-account-connection.js
  assets/wizards/advertising/views/index.js
  assets/wizards/advertising/views/settings/ad-picker/index.js
  assets/wizards/advertising/views/settings/ad-picker/style.scss
  assets/wizards/advertising/views/settings/index.js
  assets/wizards/popups/components/segment-group/icons.js
  assets/wizards/popups/components/segment-group/index.js
  assets/wizards/popups/index.js
  assets/wizards/popups/utils.js
  includes/class-analytics.php
  includes/configuration_managers/class-newspack-ads-configuration-manager.php
  includes/wizards/class-advertising-wizard.php
  includes/wizards/class-popups-wizard.php
Labels: [Status] Approved

#1228 ci: fix WP version at 5.8.1 until the PHPUnit changes are addressed
  .circleci/config.yml
Labels: [Status] Approved

#1242 chore: update NPM package version
  assets/components/package.json
Labels: [Status] Approved

#1227 feat(google-oauth): handle invalid access token; add GA scopes
  assets/wizards/connections/views/main/google.js
  includes/oauth/class-google-oauth.php
  tests/unit-tests/oauth.php
Labels: [Status] Approved, Next release

#1221 Update button-card and button-group focus/pressed style
  assets/components/src/button-card/style.scss
  assets/components/src/button-group/style.scss
Labels: [Status] Approved

#1187 add/donations mailing
  assets/components/src/plugin-installer/index.js
  assets/other-scripts/reader-revenue-emails/index.js
  assets/other-scripts/reader-revenue-emails/style.scss
  assets/wizards/readerRevenue/index.js
  assets/wizards/readerRevenue/views/emails/index.js
  assets/wizards/readerRevenue/views/index.js
  includes/class-handoff-banner.php
  includes/class-newspack.php
  includes/reader-revenue/class-reader-revenue-emails.php
  includes/reader-revenue/class-stripe-connection.php
  includes/templates/reader-revenue-emails/receipt.php
  includes/wizards/class-reader-revenue-wizard.php
  includes/wizards/class-wizard.php
  package-lock.json
  package.json
  tests/unit-tests/reader-revenue-emails.php
  webpack.config.js
Labels: [Status] Approved

#1253 fix(ads): network code visibility
  assets/wizards/advertising/views/ad-units/index.js
Labels: [Status] Approved, Next release

#1248 fix: plugin settings section toggle on `null` active
  assets/components/src/plugin-settings/SettingsSection.js
Labels: [Status] Approved

#1202 feat: integrate fluid to ad unit size control
  assets/wizards/advertising/components/ad-unit-size-control/index.js
  assets/wizards/advertising/style.scss
  assets/wizards/advertising/views/ad-unit/index.js
Labels: [Status] Approved

#1256 Update ad suppression layout
  assets/components/src/category-autocomplete/style.scss
  assets/components/src/grid/index.js
  assets/components/src/grid/style.scss
  assets/wizards/advertising/views/suppression/index.js
Labels: [Status] Approved

#1168 feat(connections): add MailChimp API key setting in connection screen
  assets/components/src/card/style.scss
  assets/components/src/grid/style.scss
  assets/wizards/connections/views/main/index.js
  assets/wizards/connections/views/main/mailchimp.js
  assets/wizards/connections/views/main/wpcom.js
  assets/wizards/engagement/views/newsletters/index.js
  includes/class-newspack.php
  includes/class-wizards.php
  includes/oauth/class-mailchimp-api.php
  includes/oauth/class-wpcom-oauth.php
  includes/wizards/class-connections-wizard.php
  includes/wizards/class-dashboard.php
Labels: [Status] Approved

#1192 feat(prompt settings): add prompt new placements and size options
  assets/wizards/popups/components/segment-group/SegmentGroup.test.js
  assets/wizards/popups/components/settings-modal/index.js
  assets/wizards/popups/utils.js
  includes/configuration_managers/class-newspack-popups-configuration-manager.php
  includes/wizards/class-popups-wizard.php
Labels: [Status] Approved

#1271 revert: "chore(deps-dev): bump @typescript-eslint/eslint-plugin"
  package-lock.json
  package.json
Labels: [Status] Approved

#1268 Reduce section-header margin when followed by another component
  assets/components/src/section-header/style.scss
  assets/wizards/advertising/views/suppression/index.js
  assets/wizards/engagement/views/related-content/index.js
  assets/wizards/site-design/views/main/style.scss
  assets/wizards/site-design/views/theme-settings/style.scss
Labels: [Status] Approved

#1225 Refactor/ads global placements
  assets/components/src/action-card/index.js
  assets/components/src/plugin-settings/index.js
  assets/components/src/with-wizard/style.scss
  assets/wizards/advertising/index.js
  assets/wizards/advertising/style.scss
  assets/wizards/advertising/views/index.js
  assets/wizards/advertising/views/placements/index.js
  assets/wizards/advertising/views/settings/ad-picker/index.js
  assets/wizards/advertising/views/settings/ad-picker/style.scss
  assets/wizards/advertising/views/settings/index.js
  includes/configuration_managers/class-newspack-ads-configuration-manager.php
  includes/wizards/class-advertising-wizard.php
Labels: [Status] Approved, [Status] Needs Design Review

#1277 fix: add moment-range to newspack-components dependencies
  assets/components/package.json
Labels: [Status] Approved, dependencies

#1262 feat: remove Updates wizard; replace with a link to manual release notes
  assets/components/src/footer/index.js
  assets/wizards/updates/index.js
  assets/wizards/updates/views/devInfo/index.js
  assets/wizards/updates/views/devInfo/style.scss
  assets/wizards/updates/views/index.js
  includes/class-newspack.php
  includes/class-wizards.php
  includes/wizards/class-updates-wizard.php
  includes/wizards/class-wizard.php
  languages/newspack-plugin.pot
  package-lock.json
  package.json
Labels: [Status] Approved

#1077 Add migration option to onboarding
  assets/components/src/button-card/index.js
  assets/components/src/button-card/style.scss
  assets/components/src/global-notices/index.js
  assets/components/src/newspack-icon/index.js
  assets/components/src/newspack-icon/style.scss
  assets/components/src/notice/style.scss
  assets/components/src/with-wizard/style.scss
  assets/wizards/setup/style.scss
  assets/wizards/setup/views/welcome/index.js
  includes/class-newspack.php
  includes/class-starter-content.php
  includes/starter_content/class-starter-content-generated.php
  includes/starter_content/class-starter-content-provider.php
  includes/starter_content/class-starter-content-wordpress.php
  includes/wizards/class-setup-wizard.php
  includes/wizards/class-wizard.php
Labels: [Status] Approved, [Status] Needs changes or feedback

#1267 fix/deps
  package-lock.json
  package.json
Labels: [Status] Approved

#1283 Fix Mailchimp connection destructive link and update external link
  assets/components/src/button/style.scss
  assets/wizards/connections/views/main/mailchimp.js
Labels: [Status] Approved

#1281 fix(stripe): variable name
  includes/reader-revenue/class-stripe-connection.php
Labels: [Status] Approved, Next release

#1217 feat(google-oauth): display notice if there's no refresh token
  assets/wizards/connections/views/main/google.js
  assets/wizards/connections/views/main/index.js
  includes/oauth/class-google-oauth.php
Labels: [Status] Approved

#1286 chore: reduce frequency of dependabot checks
  .github/dependabot.yml
Labels: [Status] Approved, dependencies

#1263 chore: update composer lockfile
  composer.lock
Labels: [Status] Approved, dependencies

#1282 Update various elements of the onboarding wizard
  assets/components/src/action-card/style.scss
  assets/components/src/button-card/style.scss
  assets/components/src/style-card/index.js
  assets/components/src/style-card/style.scss
  assets/wizards/engagement/views/newsletters/index.js
  assets/wizards/readerRevenue/views/stripe-setup/index.js
  assets/wizards/setup/index.js
  assets/wizards/setup/style.scss
  assets/wizards/setup/views/integrations/index.js
  assets/wizards/setup/views/services/index.js
  assets/wizards/setup/views/settings/index.js
  assets/wizards/site-design/views/main/index.js
  assets/wizards/site-design/views/main/style.scss
Labels: [Status] Approved

#1287 Add multiple support for select-control
  assets/components/src/select-control/style.scss
  assets/wizards/componentsDemo/index.js
Labels: [Status] Approved
