Repository Automattic/newspack-plugin, pull requests merged in 2021-04, with the labels that each got.

#924 Analytics: NTG events reporting disabled by default
  includes/wizards/class-analytics-wizard.php
Labels: [Status] Approved

#927 feat: add web stories to supported plugin list
  includes/class-plugin-manager.php
Labels: [Status] Approved

#925 Campaigns Analytics: fetch all pages of analytics report
  includes/popups-analytics/class-popups-analytics-utils.php
Labels: [Status] Approved

#930 Release Apr 06
  includes/class-plugin-manager.php
  includes/popups-analytics/class-popups-analytics-utils.php
  includes/wizards/class-analytics-wizard.php
Labels: [Status] Approved

#931 Fix onboarding issues
  assets/wizards/site-design/views/main/index.js
  includes/wizards/class-reader-revenue-wizard.php
  includes/wizards/class-setup-wizard.php
Labels: [Status] Approved

#932 Onboarding: Homepage patterns
  assets/components/src/color-picker/index.js
  assets/components/src/grid/style.scss
  assets/components/src/index.js
  assets/components/src/style-card/index.js
  assets/components/src/style-card/style.scss
  assets/components/src/utils/index.js
  assets/wizards/site-design/index.js
  assets/wizards/site-design/views/main/index.js
  includes/templates/block-patterns/homepage/01.php
  includes/templates/block-patterns/homepage/02.php
  includes/templates/block-patterns/homepage/03.php
  includes/templates/block-patterns/homepage/04.php
  includes/templates/block-patterns/homepage/05.php
  includes/templates/block-patterns/homepage/06.php
  includes/templates/block-patterns/homepage/07.php
  includes/templates/block-patterns/homepage/08.php
  includes/templates/block-patterns/homepage/09.php
  includes/templates/block-patterns/homepage/10.php
  includes/templates/block-patterns/homepage/11.php
  includes/templates/block-patterns/homepage/12.php
  includes/wizards/class-setup-wizard.php
Labels: [Status] Approved

#934 Engagement: remove MJML creds settings
  assets/wizards/engagement/views/newsletters/index.js
  includes/configuration_managers/class-newspack-newsletters-configuration-manager.php
Labels: [Status] Approved

#938 Release Apr 20
  assets/components/src/color-picker/index.js
  assets/components/src/grid/style.scss
  assets/components/src/index.js
  assets/components/src/style-card/index.js
  assets/components/src/style-card/style.scss
  assets/components/src/utils/index.js
  assets/wizards/engagement/views/newsletters/index.js
  assets/wizards/site-design/index.js
  assets/wizards/site-design/views/main/index.js
  includes/configuration_managers/class-newspack-newsletters-configuration-manager.php
  includes/templates/block-patterns/homepage/01.php
  includes/templates/block-patterns/homepage/02.php
  includes/templates/block-patterns/homepage/03.php
  includes/templates/block-patterns/homepage/04.php
  includes/templates/block-patterns/homepage/05.php
  includes/templates/block-patterns/homepage/06.php
  includes/templates/block-patterns/homepage/07.php
  includes/templates/block-patterns/homepage/08.php
  includes/templates/block-patterns/homepage/09.php
  includes/templates/block-patterns/homepage/10.php
  includes/templates/block-patterns/homepage/11.php
  includes/templates/block-patterns/homepage/12.php
  includes/wizards/class-reader-revenue-wizard.php
  includes/wizards/class-setup-wizard.php
Labels: [Status] Approved

#935 Add Google OAuth2 authentication flow
  README.md
  assets/components/src/global-notices/index.js
  assets/wizards/dashboard/index.js
  assets/wizards/dashboard/style.scss
  composer.json
  composer.lock
  includes/class-newspack.php
  includes/class-nrh.php
  includes/google/class-google-oauth.php
  includes/google/class-google-services-connection.php
  includes/popups-analytics/class-popups-analytics-utils.php
  includes/wizards/class-analytics-wizard.php
Labels: OAuth, [Status] Approved

#862 feat: reorganize segment UI
  __mocks__/@wordpress/api-fetch.js
  assets/components/package.json
  assets/components/src/card/style.scss
  assets/components/src/category-autocomplete/index.js
  assets/components/src/form-token-field/style.scss
  assets/components/src/grid/style.scss
  assets/components/src/notice/index.js
  assets/components/src/notice/style.scss
  assets/components/src/with-wizard-screen/style.scss
  assets/setupTests.js
  assets/wizards/popups/components/prompt-action-card/style.scss
  assets/wizards/popups/components/segment-criteria/index.js
  assets/wizards/popups/views/campaigns/style.scss
  assets/wizards/popups/views/segments/SingleSegment.js
  assets/wizards/popups/views/segments/SingleSegment.test.js
  assets/wizards/popups/views/segments/style.scss
  package-lock.json
  package.json
Labels: [Status] Approved, [Status] Needs changes or feedback

#941 Fix credentials refreshment in Google OAuth2
  includes/google/class-google-oauth.php
Labels: [Status] Approved

#943 Release Apr 27
  README.md
  __mocks__/@wordpress/api-fetch.js
  assets/components/package.json
  assets/components/src/card/style.scss
  assets/components/src/category-autocomplete/index.js
  assets/components/src/form-token-field/style.scss
  assets/components/src/global-notices/index.js
  assets/components/src/grid/style.scss
  assets/components/src/notice/index.js
  assets/components/src/notice/style.scss
  assets/components/src/with-wizard-screen/style.scss
  assets/setupTests.js
  assets/wizards/dashboard/index.js
  assets/wizards/dashboard/style.scss
  assets/wizards/popups/components/prompt-action-card/style.scss
  assets/wizards/popups/components/segment-criteria/index.js
  assets/wizards/popups/views/campaigns/style.scss
  assets/wizards/popups/views/segments/SingleSegment.js
  assets/wizards/popups/views/segments/SingleSegment.test.js
  assets/wizards/popups/views/segments/style.scss
  composer.json
  composer.lock
  includes/class-newspack.php
  includes/class-nrh.php
  includes/google/class-google-oauth.php
  includes/google/class-google-services-connection.php
  includes/popups-analytics/class-popups-analytics-utils.php
  includes/wizards/class-analytics-wizard.php
  package-lock.json
  package.json
Labels: [Status] Approved

#940 feat: integrate Newspack Scheduled Post Checker into main plugin
  includes/class-newspack.php
  includes/scheduled-post-checker/scheduled-post-checker.php
Labels: [Status] Approved

#944 Batch amp-analytics events
  includes/class-analytics.php
Labels: [Status] Approved
