Repository Automattic/newspack-plugin, pull requests merged in 2021-06, with the labels that each got.

#986 chore: bump newspack-components NPM version
  assets/components/package.json
Labels: [Status] Approved

#988 docs: update readme
  README.md
Labels: [Status] Approved

#982 Remove material icons and rework Analytics and Ads Wizards
  assets/components/package.json
  assets/components/src/card/style.scss
  assets/components/src/modal/index.js
  assets/components/src/modal/style.scss
  assets/components/src/plugin-installer/index.js
  assets/components/src/plugin-installer/style.scss
  assets/components/src/section-header/index.js
  assets/components/src/section-header/style.scss
  assets/components/src/text-control/index.js
  assets/components/src/text-control/style.scss
  assets/components/src/waiting/index.js
  assets/components/src/waiting/style.scss
  assets/components/src/with-wizard-screen/style.scss
  assets/wizards/advertising/index.js
  assets/wizards/advertising/views/ad-unit/index.js
  assets/wizards/advertising/views/ad-unit/style.scss
  assets/wizards/analytics/index.js
  assets/wizards/analytics/style.scss
  assets/wizards/analytics/views/custom-dimensions/index.js
  assets/wizards/analytics/views/custom-events/index.js
  assets/wizards/dashboard/views/dashboardCard.js
  assets/wizards/popups/views/segments/SegmentsList.js
  assets/wizards/setup/views/integrations/style.scss
  assets/wizards/support/views/create-ticket/index.js
  assets/wizards/support/views/create-ticket/style.scss
  assets/wizards/updates/index.js
  assets/wizards/updates/views/devInfo/index.js
  assets/wizards/updates/views/devInfo/style.scss
  includes/wizards/class-analytics-wizard.php
  languages/newspack-plugin.pot
  package-lock.json
  package.json
Labels: [Status] Approved

#819 Use WPCOM endpoint for ticket submission
  includes/wizards/class-support-wizard.php
Labels: [Status] Approved

#979 Update SEO wizard design
  assets/components/src/action-card/index.js
  assets/components/src/button/style.scss
  assets/components/src/handoff/index.js
  assets/components/src/tabbed-navigation/style.scss
  assets/wizards/seo/index.js
  assets/wizards/seo/views/environment/index.js
  assets/wizards/seo/views/environment/style.scss
  assets/wizards/seo/views/separator/index.js
  assets/wizards/seo/views/social/index.js
  assets/wizards/seo/views/social/style.scss
  assets/wizards/seo/views/tools/index.js
  includes/class-profile.php
  includes/wizards/class-seo-wizard.php
Labels: [Status] Approved

#923 Campaigns Wizard: display tags
  assets/wizards/popups/components/segment-group/SegmentGroup.test.js
  assets/wizards/popups/utils.js
  package-lock.json
Labels: [Status] Approved

#992 feat: update campaigns wording
  assets/wizards/popups/views/analytics/Filters.js
  languages/newspack-plugin.pot
Labels: [Status] Needs Review

#998 Release Jun 08
  README.md
  assets/components/package.json
  assets/components/src/action-card/index.js
  assets/components/src/button/style.scss
  assets/components/src/card/style.scss
  assets/components/src/handoff/index.js
  assets/components/src/modal/index.js
  assets/components/src/modal/style.scss
  assets/components/src/plugin-installer/index.js
  assets/components/src/plugin-installer/style.scss
  assets/components/src/section-header/index.js
  assets/components/src/section-header/style.scss
  assets/components/src/tabbed-navigation/style.scss
  assets/components/src/text-control/index.js
  assets/components/src/text-control/style.scss
  assets/components/src/waiting/index.js
  assets/components/src/waiting/style.scss
  assets/components/src/with-wizard-screen/style.scss
  assets/wizards/advertising/index.js
  assets/wizards/advertising/views/ad-unit/index.js
  assets/wizards/advertising/views/ad-unit/style.scss
  assets/wizards/analytics/index.js
  assets/wizards/analytics/style.scss
  assets/wizards/analytics/views/custom-dimensions/index.js
  assets/wizards/analytics/views/custom-events/index.js
  assets/wizards/dashboard/views/dashboardCard.js
  assets/wizards/popups/components/segment-group/SegmentGroup.test.js
  assets/wizards/popups/utils.js
  assets/wizards/popups/views/analytics/Filters.js
  assets/wizards/popups/views/segments/SegmentsList.js
  assets/wizards/seo/index.js
  assets/wizards/seo/views/environment/index.js
  assets/wizards/seo/views/environment/style.scss
  assets/wizards/seo/views/separator/index.js
  assets/wizards/seo/views/social/index.js
  assets/wizards/seo/views/social/style.scss
  assets/wizards/seo/views/tools/index.js
  assets/wizards/setup/views/integrations/style.scss
  assets/wizards/support/views/create-ticket/index.js
  assets/wizards/support/views/create-ticket/style.scss
  assets/wizards/updates/index.js
  assets/wizards/updates/views/devInfo/index.js
  assets/wizards/updates/views/devInfo/style.scss
  includes/class-profile.php
  includes/wizards/class-analytics-wizard.php
  includes/wizards/class-seo-wizard.php
  includes/wizards/class-support-wizard.php
  languages/newspack-plugin.pot
  package-lock.json
  package.json
Labels: [Status] Approved

#995 Campaign Analytics update design
  assets/wizards/popups/views/analytics/Chart.js
  assets/wizards/popups/views/analytics/Filters.js
  assets/wizards/popups/views/analytics/style.scss
Labels: [Status] Approved

#999 feat(design-wizard): allow custom font importing
  assets/components/src/image-upload/style.scss
  assets/components/src/radio-control/style.scss
  assets/components/src/select-control/GroupedSelectControl.js
  assets/components/src/select-control/style.scss
  assets/components/src/textarea-control/style.scss
  assets/wizards/site-design/views/main/index.js
  assets/wizards/site-design/views/main/style.scss
  assets/wizards/site-design/views/main/utils.js
Labels: [Status] Approved

#1002 Add checkbox prop to ActionCard
  assets/components/src/action-card/index.js
  assets/components/src/action-card/style.scss
  assets/components/src/plugin-installer/style.scss
  assets/wizards/componentsDemo/index.js
Labels: [Status] Approved

#1003 Update setup wizard to use action cards for integrations step
  assets/components/src/action-card/style.scss
  assets/wizards/setup/views/integrations/index.js
  assets/wizards/setup/views/integrations/logos.js
  assets/wizards/setup/views/integrations/style.scss
Labels: [Status] Approved

#936 Handle GAM ad units from Ads plugin
  .distignore
  assets/components/src/action-card/index.js
  assets/components/src/action-card/style.scss
  assets/components/src/button/style.scss
  assets/components/src/card/style.scss
  assets/wizards/advertising/index.js
  assets/wizards/advertising/views/ad-unit/index.js
  assets/wizards/advertising/views/ad-units/index.js
  assets/wizards/advertising/views/header-code/index.js
  assets/wizards/advertising/views/index.js
  assets/wizards/advertising/views/placements/ad-picker/index.js
  assets/wizards/setup/views/services/AdManager.js
  assets/wizards/setup/views/services/index.js
  includes/configuration_managers/class-newspack-ads-configuration-manager.php
  includes/wizards/class-advertising-wizard.php
  includes/wizards/class-setup-wizard.php
Labels: Advertising, Needs documentation, [Status] Approved

#1001 feat: duplicate a prompt
  assets/components/src/popover/style.scss
  assets/wizards/popups/components/prompt-popovers/primary.js
  assets/wizards/popups/index.js
  includes/configuration_managers/class-newspack-popups-configuration-manager.php
  includes/wizards/class-popups-wizard.php
Labels: [Status] Approved, [Type] Enhancement

#1005 Release Jun 15
  .distignore
  assets/components/src/action-card/index.js
  assets/components/src/action-card/style.scss
  assets/components/src/button/style.scss
  assets/components/src/card/style.scss
  assets/components/src/image-upload/style.scss
  assets/components/src/plugin-installer/style.scss
  assets/components/src/popover/style.scss
  assets/components/src/radio-control/style.scss
  assets/components/src/select-control/GroupedSelectControl.js
  assets/components/src/select-control/style.scss
  assets/components/src/textarea-control/style.scss
  assets/wizards/advertising/index.js
  assets/wizards/advertising/views/ad-unit/index.js
  assets/wizards/advertising/views/ad-units/index.js
  assets/wizards/advertising/views/header-code/index.js
  assets/wizards/advertising/views/index.js
  assets/wizards/advertising/views/placements/ad-picker/index.js
  assets/wizards/componentsDemo/index.js
  assets/wizards/popups/components/prompt-popovers/primary.js
  assets/wizards/popups/index.js
  assets/wizards/popups/views/analytics/Chart.js
  assets/wizards/popups/views/analytics/Filters.js
  assets/wizards/popups/views/analytics/style.scss
  assets/wizards/setup/views/integrations/index.js
  assets/wizards/setup/views/integrations/logos.js
  assets/wizards/setup/views/integrations/style.scss
  assets/wizards/setup/views/services/AdManager.js
  assets/wizards/setup/views/services/index.js
  assets/wizards/site-design/views/main/index.js
  assets/wizards/site-design/views/main/style.scss
  assets/wizards/site-design/views/main/utils.js
  includes/configuration_managers/class-newspack-ads-configuration-manager.php
  includes/configuration_managers/class-newspack-popups-configuration-manager.php
  includes/wizards/class-advertising-wizard.php
  includes/wizards/class-popups-wizard.php
  includes/wizards/class-setup-wizard.php
Labels: [Status] Approved

#990 feat: allow some JS on AMP pages
  .distignore
  includes/amp-sanitizers/class-amp-sanitizer-gam.php
  includes/class-amp-enhancements.php
Labels: [Status] Approved

#1010 fix: handle no description in action card component
  assets/components/src/action-card/index.js
Labels: [Status] Approved

#1009 Release Jun 16
  .distignore
  assets/components/src/action-card/index.js
  includes/amp-sanitizers/class-amp-sanitizer-gam.php
  includes/class-amp-enhancements.php
Labels: [Status] Approved

#1007 Update "add new prompt" icons to match Gutenberg style
  assets/components/src/button/style.scss
  assets/wizards/popups/components/segment-group/icons.js
  assets/wizards/popups/components/segment-group/index.js
Labels: [Status] Approved

#1006 feat: remove organic-profile-block from supported plugins
  includes/class-plugin-manager.php
Labels: [Status] Approved

#1014 fix: distributor plugin URL and slug in plugins whitelist
  includes/class-plugin-manager.php
Labels: [Status] Approved, [Type] Bug

#1016 Release Jun 22
  assets/components/src/button/style.scss
  assets/wizards/popups/components/segment-group/icons.js
  assets/wizards/popups/components/segment-group/index.js
  includes/class-plugin-manager.php
Labels: [Status] Approved

#1017 Make auto-created donation products "downloadable" for better checkout
  includes/class-donations.php
Labels: [Status] Approved, [Type] Enhancement

#1019 Use` http` `og:url` for consistency
  includes/class-patches.php
Labels: [Status] Approved, [Type] Bug

#1022 Release Jun 29
  includes/class-donations.php
  includes/class-patches.php
Labels: [Status] Approved

#1012 feat: prompt duplication UI in a modal in the Campaigns wizard
  assets/components/src/notice/style.scss
  assets/wizards/popups/components/prompt-action-card/index.js
  assets/wizards/popups/components/prompt-popovers/primary.js
  assets/wizards/popups/index.js
  assets/wizards/popups/views/campaigns/index.js
  includes/configuration_managers/class-newspack-popups-configuration-manager.php
  includes/wizards/class-popups-wizard.php
Labels: [Status] Approved, [Type] Enhancement

#1028 Release Jun 30
  assets/components/src/notice/style.scss
  assets/wizards/popups/components/prompt-action-card/index.js
  assets/wizards/popups/components/prompt-popovers/primary.js
  assets/wizards/popups/index.js
  assets/wizards/popups/views/campaigns/index.js
  includes/configuration_managers/class-newspack-popups-configuration-manager.php
  includes/wizards/class-popups-wizard.php
Labels: [Status] Approved
