Repository Automattic/newspack-plugin, pull requests merged in 2021-05, with the labels that each got.

#947 Use guest authors in Slack preview when needed
  includes/class-patches.php
Labels: [Status] Approved

#945 Onboarding enhancements
  assets/wizards/setup/views/welcome/index.js
  assets/wizards/site-design/views/main/index.js
  includes/class-profile.php
  includes/configuration_managers/class-newspack-newsletters-configuration-manager.php
  includes/wizards/class-setup-wizard.php
Labels: [Initiative] Onboarding, [Status] Approved, [Status] Needs Design Review

#950 Release May 04
  assets/wizards/setup/views/welcome/index.js
  assets/wizards/site-design/views/main/index.js
  includes/class-analytics.php
  includes/class-newspack.php
  includes/class-patches.php
  includes/class-profile.php
  includes/configuration_managers/class-newspack-newsletters-configuration-manager.php
  includes/scheduled-post-checker/scheduled-post-checker.php
  includes/wizards/class-setup-wizard.php
Labels: [Status] Approved

#953 Campaigns Analytics tweak
  includes/popups-analytics/class-popups-analytics-utils.php
  tests/unit-tests/popups-analytics.php
Labels: [Status] Needs Review

#956 Hotfix release May 07
  includes/popups-analytics/class-popups-analytics-utils.php
  tests/unit-tests/popups-analytics.php
Labels: [Status] Needs Review

#949 Add menu link to manage reusable blocks
  includes/class-patches.php
Labels: [Status] Approved, [Type] Enhancement

#959 Release May 13
  includes/class-patches.php
Labels: [Status] Approved

#958 fix: loading quiet anim time/height and margin when admin menu is folded
  assets/components/src/with-wizard/style.scss
Labels: [Status] Approved

#952 feat: add an AutocompleteWithSuggestions component for reusability
  assets/components/src/autocomplete-tokenfield/index.js
  assets/components/src/autocomplete-with-suggestions/index.js
  assets/components/src/autocomplete-with-suggestions/style.scss
  assets/components/src/index.js
  assets/wizards/componentsDemo/index.js
  includes/wizards/class-components-demo.php
Labels: Component, [Status] Approved, [Status] Needs changes or feedback

#963 Fix progress-bar radius when using headings
  assets/components/src/progress-bar/index.js
  assets/components/src/progress-bar/style.scss
Labels: [Status] Approved

#961 Add new ButtonCard component
  assets/components/src/button-card/index.js
  assets/components/src/button-card/style.scss
  assets/components/src/card/style.scss
  assets/components/src/index.js
  assets/wizards/componentsDemo/index.js
  assets/wizards/dashboard/index.js
  assets/wizards/dashboard/style.scss
  assets/wizards/dashboard/views/dashboardCard.js
Labels: [Status] Needs Review

#965 chore: bump NPM version number for newspack-components
  assets/components/package.json
Labels: [Status] Approved

#964 Fix WPCOM token saving
  includes/wizards/class-support-wizard.php
Labels: [Status] Approved

#966 Replace WP User Avatar with Simple Local Avatars
  includes/class-plugin-manager.php
Labels: [Status] Approved

#968 Add reusable blocks extended as supported plugin
  includes/class-plugin-manager.php
Labels: [Status] Approved

#970 Release May 18
  assets/components/package.json
  assets/components/src/autocomplete-tokenfield/index.js
  assets/components/src/autocomplete-with-suggestions/index.js
  assets/components/src/autocomplete-with-suggestions/style.scss
  assets/components/src/button-card/index.js
  assets/components/src/button-card/style.scss
  assets/components/src/card/style.scss
  assets/components/src/index.js
  assets/components/src/progress-bar/index.js
  assets/components/src/progress-bar/style.scss
  assets/components/src/with-wizard/style.scss
  assets/wizards/componentsDemo/index.js
  assets/wizards/dashboard/index.js
  assets/wizards/dashboard/style.scss
  assets/wizards/dashboard/views/dashboardCard.js
  includes/class-plugin-manager.php
  includes/wizards/class-components-demo.php
  includes/wizards/class-support-wizard.php
Labels: [Status] Approved

#974 Update Advertizing's Global Settings and use ActionCard
  assets/components/src/toggle-group/style.scss
  assets/components/src/with-wizard-screen/style.scss
  assets/wizards/advertising/index.js
  assets/wizards/advertising/views/placements/ad-picker/index.js
  assets/wizards/advertising/views/placements/ad-picker/style.scss
  assets/wizards/advertising/views/placements/index.js
  includes/wizards/class-advertising-wizard.php
  languages/newspack-plugin.pot
Labels: [Status] Approved

#960 feat: reinstate manual-only placement option
  assets/wizards/popups/components/prompt-popovers/secondary.js
  assets/wizards/popups/utils.js
  includes/wizards/class-popups-wizard.php
Labels: [Status] Approved, [Type] Feature request

#976 fix: prevent external links from ad dashboard UI
  assets/components/src/action-card/index.js
  assets/wizards/advertising/views/ad-units/index.js
  assets/wizards/advertising/views/services/index.js
Labels: [Status] Approved, [Type] Bug

#975 feat: add multi-select capabillity to AutocompleteWithSuggestions
  assets/components/package.json
  assets/components/src/autocomplete-tokenfield/index.js
  assets/components/src/autocomplete-with-suggestions/index.js
  assets/components/src/autocomplete-with-suggestions/style.scss
  assets/wizards/componentsDemo/index.js
Labels: [Status] Needs Review, [Type] Feature request
