Repository Automattic/newspack-plugin, pull requests merged in 2021-02, with the labels that each got.

#841 Fix Patrons Logo and rename DOM properties
  assets/components/src/patrons-logo/index.js
Labels: [Status] Approved

#843 Fix button group style
  assets/components/src/button-group/style.scss
Labels: [Status] Approved

#833 feat: campaigns wizard overhaul
  assets/components/src/action-card/style.scss
  assets/components/src/autocomplete-tokenfield/style.scss
  assets/components/src/button/index.js
  assets/components/src/button/style.scss
  assets/components/src/card/index.js
  assets/components/src/card/style.scss
  assets/components/src/category-autocomplete/style.scss
  assets/components/src/custom-select-control/index.js
  assets/components/src/custom-select-control/style.scss
  assets/components/src/index.js
  assets/components/src/plugin-installer/style.scss
  assets/components/src/popover/style.scss
  assets/wizards/popups/components/campaign-management-popover/index.js
  assets/wizards/popups/components/popup-action-card/index.js
  assets/wizards/popups/components/popup-action-card/style.scss
  assets/wizards/popups/components/prompt-action-card/index.js
  assets/wizards/popups/components/prompt-action-card/style.scss
  assets/wizards/popups/components/prompt-popovers/primary.js
  assets/wizards/popups/components/prompt-popovers/secondary.js
  assets/wizards/popups/components/prompt-popovers/style.scss
  assets/wizards/popups/components/segment-group/icons.js
  assets/wizards/popups/components/segment-group/index.js
  assets/wizards/popups/components/segment-group/style.scss
  assets/wizards/popups/index.js
  assets/wizards/popups/utils.js
  assets/wizards/popups/views/campaign-group-management/index.js
  assets/wizards/popups/views/campaign-group-management/style.scss
  assets/wizards/popups/views/campaigns/index.js
  assets/wizards/popups/views/campaigns/style.scss
  assets/wizards/popups/views/index.js
  assets/wizards/popups/views/popup-group/index.js
  assets/wizards/popups/views/popup-group/style.scss
  assets/wizards/popups/views/preview/index.js
  assets/wizards/popups/views/preview/style.scss
  assets/wizards/popups/views/segments/SegmentsList.js
  assets/wizards/popups/views/segments/SingleSegment.js
  assets/wizards/popups/views/segments/index.js
  assets/wizards/popups/views/segments/style.scss
  includes/configuration_managers/class-newspack-popups-configuration-manager.php
  includes/wizards/class-popups-wizard.php
Labels: [Initiative] Campaigns, [Status] Approved, [Type] User Interface Design, segmentation

#844 Add Bing URL Submissions to supported plugins list
  includes/class-plugin-manager.php
Labels: [Status] Approved

#846 Fix Site Kit integration
  includes/popups-analytics/class-popups-analytics-utils.php
Labels: [Status] Approved

#832 feat: segment priority UI and logic
  assets/components/src/action-card/style.scss
  assets/wizards/popups/components/prompt-action-card/index.js
  assets/wizards/popups/components/prompt-action-card/style.scss
  assets/wizards/popups/components/prompt-popovers/primary.js
  assets/wizards/popups/components/prompt-popovers/secondary.js
  assets/wizards/popups/components/segment-group/index.js
  assets/wizards/popups/contexts/Campaigns.js
  assets/wizards/popups/contexts/index.js
  assets/wizards/popups/index.js
  assets/wizards/popups/utils.js
  assets/wizards/popups/views/campaigns/index.js
  assets/wizards/popups/views/segments/SegmentsList.js
  assets/wizards/popups/views/segments/style.scss
  includes/configuration_managers/class-newspack-popups-configuration-manager.php
  includes/wizards/class-popups-wizard.php
Labels: [Status] Approved

#810 Feat/nrh xdomain tracking
  includes/class-nrh.php
Labels: News Revenue Hub, Reader Revenue, [Status] Approved

#851 Initial onboarding overhaul
  assets/components/src/hooks/index.js
  assets/components/src/hooks/useObjectState.js
  assets/components/src/progress-bar/style.scss
  assets/components/src/style-card/index.js
  assets/components/src/web-preview/index.js
  assets/components/src/with-wizard/style.scss
  assets/components/src/wizard-pagination/index.js
  assets/wizards/engagement/views/newsletters/index.js
  assets/wizards/popups/views/segments/SingleSegment.js
  assets/wizards/setup/index.js
  assets/wizards/setup/views/about/index.js
  assets/wizards/setup/views/about/style.scss
  assets/wizards/setup/views/configure-plugins/index.js
  assets/wizards/setup/views/design/index.js
  assets/wizards/setup/views/index.js
  assets/wizards/setup/views/installation-progress/index.js
  assets/wizards/setup/views/integrations/index.js
  assets/wizards/setup/views/integrations/logos.js
  assets/wizards/setup/views/integrations/style.scss
  assets/wizards/setup/views/settings/index.js
  assets/wizards/setup/views/starter-content/index.js
  assets/wizards/setup/views/welcome/index.js
  assets/wizards/site-design/views/theme-selection/index.js
  includes/class-profile.php
  includes/class-starter-content.php
  includes/wizards/class-engagement-wizard.php
  includes/wizards/class-wizard.php
Labels: [Status] Approved

#847 feat: add segment descriptions to Campaigns and Segments tabs
  assets/wizards/popups/components/segment-group/index.js
  assets/wizards/popups/components/segment-group/style.scss
  assets/wizards/popups/utils.js
  assets/wizards/popups/views/campaigns/index.js
  assets/wizards/popups/views/segments/SegmentsList.js
Labels: [Status] Approved

#845 Update CPT-like Wizard headers (Campaigns and Segments)
  assets/components/src/card/index.js
  assets/components/src/card/style.scss
  assets/components/src/with-wizard-screen/style.scss
  assets/wizards/popups/views/campaigns/index.js
  assets/wizards/popups/views/campaigns/style.scss
  assets/wizards/popups/views/segments/SegmentsList.js
  assets/wizards/popups/views/segments/style.scss
Labels: [Status] Approved

#857 Increase segment border colour and increase add prompt button width
  assets/wizards/popups/components/segment-group/index.js
  assets/wizards/popups/components/segment-group/style.scss
Labels: [Status] Needs Review

#849 fix: change in how to retrieve property id from site kit
  includes/class-nrh.php
Labels: News Revenue Hub, Reader Revenue, Site Kit, [Status] Approved, [Type] Bug, regression

#856 fix: preview functionality by campaign/group
  assets/wizards/popups/components/segment-group/index.js
  assets/wizards/popups/components/segmentation-preview/index.js
  assets/wizards/popups/views/campaigns/index.js
Labels: [Status] Approved

#865 fix: display uncategorized category in campaigns wizard
  assets/wizards/popups/components/prompt-popovers/secondary.js
  assets/wizards/popups/utils.js
Labels: [Initiative] Campaigns, [Status] Approved

#867 Release Feb 16
  assets/wizards/popups/components/prompt-popovers/secondary.js
  assets/wizards/popups/utils.js
Labels: [Status] Approved

#863 Setup Wizard: Settings step
  assets/components/src/button/index.js
  assets/components/src/button/style.scss
  assets/components/src/checkbox-control/style.scss
  assets/components/src/grid/index.js
  assets/components/src/grid/style.scss
  assets/components/src/image-upload/index.js
  assets/components/src/image-upload/index.test.js
  assets/components/src/image-upload/style.scss
  assets/components/src/index.js
  assets/components/src/section-header/index.js
  assets/components/src/section-header/style.scss
  assets/components/src/text-control/style.scss
  assets/components/src/with-wizard-screen/index.js
  assets/components/src/with-wizard-screen/style.scss
  assets/wizards/setup/index.js
  assets/wizards/setup/style.scss
  assets/wizards/setup/views/integrations/style.scss
  assets/wizards/setup/views/settings/index.js
  assets/wizards/setup/views/welcome/index.js
  includes/class-profile.php
  includes/configuration_managers/class-woocommerce-configuration-manager.php
  includes/configuration_managers/class-wordpress-seo-configuration-manager.php
  includes/util.php
  includes/wizards/class-wizard.php
  package-lock.json
  package.json
Labels: [Initiative] Onboarding, [Status] Approved

#864 Starter content removal
  assets/components/package.json
  assets/components/src/footer/index.js
  assets/components/src/global-notices/index.js
  assets/components/src/index.js
  assets/wizards/dashboard/index.js
  includes/class-newspack.php
  includes/class-starter-content.php
  includes/wizards/class-wizard.php
Labels: [Status] Approved

#868 fix: don't include site domain in linker
  includes/class-nrh.php
Labels: [Status] Approved, [Type] Bug

#872 Release Feb 19
  assets/components/package.json
  assets/components/src/button/index.js
  assets/components/src/button/style.scss
  assets/components/src/checkbox-control/style.scss
  assets/components/src/footer/index.js
  assets/components/src/global-notices/index.js
  assets/components/src/grid/index.js
  assets/components/src/grid/style.scss
  assets/components/src/image-upload/index.js
  assets/components/src/image-upload/index.test.js
  assets/components/src/image-upload/style.scss
  assets/components/src/index.js
  assets/components/src/section-header/index.js
  assets/components/src/section-header/style.scss
  assets/components/src/text-control/style.scss
  assets/components/src/with-wizard-screen/index.js
  assets/components/src/with-wizard-screen/style.scss
  assets/wizards/dashboard/index.js
  assets/wizards/setup/index.js
  assets/wizards/setup/style.scss
  assets/wizards/setup/views/integrations/style.scss
  assets/wizards/setup/views/settings/index.js
  assets/wizards/setup/views/welcome/index.js
  includes/class-newspack.php
  includes/class-nrh.php
  includes/class-profile.php
  includes/class-starter-content.php
  includes/configuration_managers/class-woocommerce-configuration-manager.php
  includes/configuration_managers/class-wordpress-seo-configuration-manager.php
  includes/util.php
  includes/wizards/class-wizard.php
  package-lock.json
  package.json
Labels: [Status] Needs Review

#873 fix: only show sticky ad at mobile viewports
  includes/wizards/class-advertising-wizard.php
Labels: [Status] Approved

#875 Visually update the Welcome step
  assets/components/src/card/index.js
  assets/components/src/card/style.scss
  assets/components/src/newspack-logo/index.js
  assets/components/src/newspack-logo/style.scss
  assets/components/src/with-wizard-screen/style.scss
  assets/components/src/with-wizard/style.scss
  assets/wizards/setup/views/welcome/index.js
Labels: [Status] Approved

#860 feat: update style of the segments and prompts
  assets/components/src/action-card/style.scss
  assets/components/src/card/style.scss
  assets/components/src/modal/style.scss
  assets/components/src/popover/style.scss
  assets/components/src/web-preview/index.js
  assets/components/src/web-preview/style.scss
  assets/wizards/popups/components/prompt-action-card/index.js
  assets/wizards/popups/components/prompt-action-card/style.scss
  assets/wizards/popups/components/segment-group/icons.js
  assets/wizards/popups/components/segment-group/index.js
  assets/wizards/popups/components/segment-group/style.scss
  assets/wizards/popups/views/campaigns/index.js
Labels: [Status] Needs Review

#877 Visually update the Integrations step
  assets/wizards/setup/views/integrations/index.js
  assets/wizards/setup/views/integrations/style.scss
Labels: [Status] Approved

#881 fix: duplication of segments when dragging while re-sorting
  assets/wizards/popups/views/segments/SegmentsList.js
  assets/wizards/popups/views/segments/style.scss
Labels: [Status] Approved, [Type] Bug

#883 Update design campaigns wizard
  assets/components/src/select-control/style.scss
  assets/wizards/popups/components/segment-group/icons.js
  assets/wizards/popups/components/segment-group/style.scss
  assets/wizards/popups/views/segments/style.scss
  assets/wizards/popups/views/settings/index.js
Labels: [Status] Approved

#884 Update design dashboard
  assets/wizards/dashboard/index.js
  assets/wizards/dashboard/style.scss
  assets/wizards/dashboard/views/dashboardCard.js
Labels: [Status] Approved

#886 feat: validated segmentation sort and error handling
  assets/wizards/popups/views/segments/SegmentsList.js
  includes/configuration_managers/class-newspack-popups-configuration-manager.php
  includes/wizards/class-popups-wizard.php
Labels: [Status] Approved

#888 Release Feb 24
  assets/components/src/action-card/style.scss
  assets/components/src/card/index.js
  assets/components/src/card/style.scss
  assets/components/src/modal/style.scss
  assets/components/src/newspack-logo/index.js
  assets/components/src/newspack-logo/style.scss
  assets/components/src/popover/style.scss
  assets/components/src/select-control/style.scss
  assets/components/src/web-preview/index.js
  assets/components/src/web-preview/style.scss
  assets/components/src/with-wizard-screen/style.scss
  assets/components/src/with-wizard/style.scss
  assets/wizards/dashboard/index.js
  assets/wizards/dashboard/style.scss
  assets/wizards/dashboard/views/dashboardCard.js
  assets/wizards/popups/components/prompt-action-card/index.js
  assets/wizards/popups/components/prompt-action-card/style.scss
  assets/wizards/popups/components/segment-group/icons.js
  assets/wizards/popups/components/segment-group/index.js
  assets/wizards/popups/components/segment-group/style.scss
  assets/wizards/popups/views/campaigns/index.js
  assets/wizards/popups/views/segments/SegmentsList.js
  assets/wizards/popups/views/segments/style.scss
  assets/wizards/popups/views/settings/index.js
  assets/wizards/setup/views/integrations/index.js
  assets/wizards/setup/views/integrations/style.scss
  assets/wizards/setup/views/welcome/index.js
  includes/configuration_managers/class-newspack-popups-configuration-manager.php
  includes/wizards/class-advertising-wizard.php
  includes/wizards/class-popups-wizard.php
Labels: [Status] Approved

#870 Onboarding: Services step; Newsletters wizard
  .eslintrc.js
  assets/components/src/action-card/index.js
  assets/components/src/action-card/style.scss
  assets/components/src/card/style.scss
  assets/components/src/grid/index.js
  assets/components/src/grid/style.scss
  assets/components/src/hooks/useObjectState.js
  assets/components/src/info-button/index.js
  assets/components/src/info-button/style.scss
  assets/components/src/plugin-installer/style.scss
  assets/components/src/progress-bar/index.js
  assets/components/src/section-header/index.js
  assets/components/src/toggle-control/index.js
  assets/components/src/toggle-control/style.scss
  assets/utils/index.js
  assets/wizards/engagement/index.js
  assets/wizards/engagement/views/newsletters/index.js
  assets/wizards/popups/components/prompt-action-card/index.js
  assets/wizards/readerRevenue/components/money-input/style.scss
  assets/wizards/readerRevenue/index.js
  assets/wizards/readerRevenue/views/donation/index.js
  assets/wizards/readerRevenue/views/stripe-setup/index.js
  assets/wizards/setup/index.js
  assets/wizards/setup/views/index.js
  assets/wizards/setup/views/integrations/index.js
  assets/wizards/setup/views/services/AdManager.js
  assets/wizards/setup/views/services/ReaderRevenue.js
  assets/wizards/setup/views/services/index.js
  assets/wizards/setup/views/services/style.scss
  assets/wizards/setup/views/settings/index.js
  assets/wizards/setup/views/welcome/index.js
  includes/class-donations.php
  includes/configuration_managers/class-configuration-managers.php
  includes/configuration_managers/class-newspack-ads-configuration-manager.php
  includes/configuration_managers/class-newspack-newsletters-configuration-manager.php
  includes/wizards/class-advertising-wizard.php
  includes/wizards/class-engagement-wizard.php
  includes/wizards/class-reader-revenue-wizard.php
  includes/wizards/class-setup-wizard.php
Labels: [Status] Approved

#890 Update design WebPreview
  assets/components/src/web-preview/index.js
  assets/components/src/web-preview/style.scss
Labels: [Status] Approved
