Repository Automattic/newspack-plugin, pull requests merged in 2021-03, with the labels that each got.

#874 feat: allow multiple segments per prompt
  assets/wizards/popups/components/prompt-popovers/secondary.js
  assets/wizards/popups/components/prompt-popovers/style.scss
  assets/wizards/popups/components/segment-group/index.js
  assets/wizards/popups/utils.js
  assets/wizards/popups/views/campaigns/index.js
  includes/wizards/class-popups-wizard.php
Labels: [Status] Approved

#853 feat: only show prompts for the best-priority segment
  assets/wizards/popups/components/prompt-popovers/secondary.js
  assets/wizards/popups/components/prompt-popovers/style.scss
  assets/wizards/popups/components/segment-group/index.js
  assets/wizards/popups/components/segmentation-preview/index.js
  assets/wizards/popups/utils.js
  assets/wizards/popups/views/campaigns/index.js
  includes/wizards/class-popups-wizard.php
Labels: [Status] Needs Review

#893 Allow disabling NTG events reporting
  assets/components/src/toggle-control/index.js
  assets/wizards/analytics/views/custom-events/index.js
  includes/class-analytics.php
  includes/wizards/class-analytics-wizard.php
Labels: [Status] Approved

#891 Replace CID cookie on preview triggering
  assets/wizards/popups/components/segment-group/index.js
  includes/wizards/class-wizard.php
  package-lock.json
  package.json
Labels: [Status] Approved

#885 Update the Footer to support a simpler style
  assets/components/src/footer/index.js
  assets/components/src/footer/style.scss
  assets/components/src/with-wizard/index.js
  assets/components/src/with-wizard/style.scss
  assets/wizards/setup/index.js
  assets/wizards/setup/style.scss
Labels: [Status] Approved

#895 Release Mar 02
  .eslintrc.js
  assets/components/src/action-card/index.js
  assets/components/src/action-card/style.scss
  assets/components/src/card/style.scss
  assets/components/src/footer/index.js
  assets/components/src/footer/style.scss
  assets/components/src/grid/index.js
  assets/components/src/grid/style.scss
  assets/components/src/hooks/useObjectState.js
  assets/components/src/info-button/index.js
  assets/components/src/info-button/style.scss
  assets/components/src/plugin-installer/style.scss
  assets/components/src/progress-bar/index.js
  assets/components/src/section-header/index.js
  assets/components/src/toggle-control/index.js
  assets/components/src/toggle-control/style.scss
  assets/components/src/web-preview/index.js
  assets/components/src/web-preview/style.scss
  assets/components/src/with-wizard/index.js
  assets/components/src/with-wizard/style.scss
  assets/utils/index.js
  assets/wizards/analytics/views/custom-events/index.js
  assets/wizards/engagement/index.js
  assets/wizards/engagement/views/newsletters/index.js
  assets/wizards/popups/components/prompt-action-card/index.js
  assets/wizards/popups/components/prompt-popovers/secondary.js
  assets/wizards/popups/components/prompt-popovers/style.scss
  assets/wizards/popups/components/segment-group/index.js
  assets/wizards/popups/components/segmentation-preview/index.js
  assets/wizards/popups/utils.js
  assets/wizards/popups/views/campaigns/index.js
  assets/wizards/readerRevenue/components/money-input/style.scss
  assets/wizards/readerRevenue/index.js
  assets/wizards/readerRevenue/views/donation/index.js
  assets/wizards/readerRevenue/views/stripe-setup/index.js
  assets/wizards/setup/index.js
  assets/wizards/setup/style.scss
  assets/wizards/setup/views/index.js
  assets/wizards/setup/views/integrations/index.js
  assets/wizards/setup/views/services/AdManager.js
  assets/wizards/setup/views/services/ReaderRevenue.js
  assets/wizards/setup/views/services/index.js
  assets/wizards/setup/views/services/style.scss
  assets/wizards/setup/views/settings/index.js
  assets/wizards/setup/views/welcome/index.js
  includes/class-analytics.php
  includes/class-donations.php
  includes/configuration_managers/class-configuration-managers.php
  includes/configuration_managers/class-newspack-ads-configuration-manager.php
  includes/configuration_managers/class-newspack-newsletters-configuration-manager.php
  includes/wizards/class-advertising-wizard.php
  includes/wizards/class-analytics-wizard.php
  includes/wizards/class-engagement-wizard.php
  includes/wizards/class-popups-wizard.php
  includes/wizards/class-reader-revenue-wizard.php
  includes/wizards/class-setup-wizard.php
  includes/wizards/class-wizard.php
  package-lock.json
  package.json
Labels: [Status] Approved

#896 Campaigns Wizard: fix settings reading
  assets/components/src/checkbox-control/index.js
  assets/wizards/popups/views/settings/index.js
Labels: [Status] Approved

#897 Fix card styling
  assets/wizards/popups/views/segments/style.scss
Labels: [Status] Approved

#842 fix: possible redirect loop when plus sign in query param
  includes/class-newspack.php
  includes/class-patches.php
Labels: [Status] Approved

#902 Fix categories handling in segment settings
  assets/components/src/hooks/useObjectState.js
  assets/components/src/hooks/useObjectState.test.js
Labels: [Status] Approved

#907 Release Mar 16
  assets/components/src/hooks/useObjectState.js
  assets/components/src/hooks/useObjectState.test.js
  includes/class-newspack.php
  includes/class-patches.php
Labels: [Status] Approved

#892 Onboarding: add Design step
  .eslintrc.js
  assets/components/src/button-group/index.js
  assets/components/src/button-group/style.scss
  assets/components/src/color-picker/index.js
  assets/components/src/color-picker/style.scss
  assets/components/src/grid/style.scss
  assets/components/src/hooks/index.js
  assets/components/src/hooks/useObjectState.js
  assets/components/src/hooks/useOnClickOutside.js
  assets/components/src/image-upload/index.js
  assets/components/src/image-upload/style.scss
  assets/components/src/select-control/ButtonGroupControl.js
  assets/components/src/select-control/GroupedSelectControl.js
  assets/components/src/select-control/index.js
  assets/components/src/select-control/style.scss
  assets/components/src/toggle-control/index.js
  assets/components/src/web-preview/style.scss
  assets/components/src/with-wizard-screen/index.js
  assets/wizards/componentsDemo/index.js
  assets/wizards/setup/index.js
  assets/wizards/setup/views/design/index.js
  assets/wizards/setup/views/index.js
  assets/wizards/setup/views/settings/index.js
  assets/wizards/site-design/components/theme-selection/images/joseph.png
  assets/wizards/site-design/components/theme-selection/images/katharine.png
  assets/wizards/site-design/components/theme-selection/images/nelson.png
  assets/wizards/site-design/components/theme-selection/images/newspack.png
  assets/wizards/site-design/components/theme-selection/images/sacha.png
  assets/wizards/site-design/components/theme-selection/images/scott.png
  assets/wizards/site-design/components/theme-selection/index.js
  assets/wizards/site-design/index.js
  assets/wizards/site-design/views/index.js
  assets/wizards/site-design/views/main/index.js
  assets/wizards/site-design/views/main/style.scss
  assets/wizards/site-design/views/main/utils.js
  assets/wizards/site-design/views/theme-selection/index.js
  assets/wizards/site-design/views/theme-settings/index.js
  assets/wizards/site-design/views/theme-settings/style.scss
  includes/wizards/class-setup-wizard.php
Labels: [Status] Approved

#905 Fix starter content issues
  assets/wizards/setup/views/welcome/index.js
  includes/class-starter-content.php
Labels: [Status] Approved

#909 Update welcome wizard card footer
  assets/components/src/with-wizard/style.scss
  assets/wizards/setup/views/welcome/index.js
Labels: [Status] Approved

#910 Apply correct colour to the Jetpack logo
  assets/wizards/setup/views/integrations/logos.js
Labels: [Status] Approved

#912 CI: change MySQL version
  .circleci/config.yml
Labels: [Status] Approved

#908 Redirect to dashboard after onboarding complete
  assets/wizards/setup/index.js
  assets/wizards/site-design/views/main/index.js
Labels: [Status] Approved

#914 Leaner GA config
  .gitignore
  assets/components/src/with-wizard/style.scss
  assets/wizards/analytics/views/custom-events/index.js
  assets/wizards/popups/views/analytics/index.js
  assets/wizards/popups/views/analytics/utils.js
  includes/class-analytics.php
  includes/popups-analytics/class-popups-analytics-utils.php
  phpunit.xml
  tests/unit-tests/popups-analytics.php
Labels: [Status] Approved

#913 Remove WooCommerce One Page Checkout from Newspack distribution
  includes/class-plugin-manager.php
Labels: [Status] Approved

#918 test: fix failing analytics tests due to hard-coded dates
  tests/unit-tests/popups-analytics.php
Labels: [Status] Approved

#898 feat: custom placements
  assets/wizards/popups/components/prompt-popovers/secondary.js
  assets/wizards/popups/components/segment-group/SegmentGroup.test.js
  assets/wizards/popups/components/segment-group/index.js
  assets/wizards/popups/utils.js
  includes/configuration_managers/class-newspack-popups-configuration-manager.php
  includes/wizards/class-popups-wizard.php
Labels: [Status] Approved, [Type] Enhancement

#917 Release Mar 23
  .circleci/config.yml
  .eslintrc.js
  .gitignore
  assets/components/src/button-group/index.js
  assets/components/src/button-group/style.scss
  assets/components/src/color-picker/index.js
  assets/components/src/color-picker/style.scss
  assets/components/src/grid/style.scss
  assets/components/src/hooks/index.js
  assets/components/src/hooks/useObjectState.js
  assets/components/src/hooks/useOnClickOutside.js
  assets/components/src/image-upload/index.js
  assets/components/src/image-upload/style.scss
  assets/components/src/select-control/ButtonGroupControl.js
  assets/components/src/select-control/GroupedSelectControl.js
  assets/components/src/select-control/index.js
  assets/components/src/select-control/style.scss
  assets/components/src/toggle-control/index.js
  assets/components/src/web-preview/style.scss
  assets/components/src/with-wizard-screen/index.js
  assets/components/src/with-wizard/style.scss
  assets/wizards/analytics/views/custom-events/index.js
  assets/wizards/componentsDemo/index.js
  assets/wizards/popups/components/prompt-popovers/secondary.js
  assets/wizards/popups/components/segment-group/SegmentGroup.test.js
  assets/wizards/popups/components/segment-group/index.js
  assets/wizards/popups/utils.js
  assets/wizards/popups/views/analytics/index.js
  assets/wizards/popups/views/analytics/utils.js
  assets/wizards/setup/index.js
  assets/wizards/setup/views/design/index.js
  assets/wizards/setup/views/index.js
  assets/wizards/setup/views/integrations/logos.js
  assets/wizards/setup/views/settings/index.js
  assets/wizards/setup/views/welcome/index.js
  assets/wizards/site-design/components/theme-selection/images/joseph.png
  assets/wizards/site-design/components/theme-selection/images/katharine.png
  assets/wizards/site-design/components/theme-selection/images/nelson.png
  assets/wizards/site-design/components/theme-selection/images/newspack.png
  assets/wizards/site-design/components/theme-selection/images/sacha.png
  assets/wizards/site-design/components/theme-selection/images/scott.png
  assets/wizards/site-design/components/theme-selection/index.js
  assets/wizards/site-design/index.js
  assets/wizards/site-design/views/index.js
  assets/wizards/site-design/views/main/index.js
  assets/wizards/site-design/views/main/style.scss
  assets/wizards/site-design/views/main/utils.js
  assets/wizards/site-design/views/theme-selection/index.js
  assets/wizards/site-design/views/theme-settings/index.js
  assets/wizards/site-design/views/theme-settings/style.scss
  includes/class-analytics.php
  includes/class-plugin-manager.php
  includes/class-starter-content.php
  includes/configuration_managers/class-newspack-popups-configuration-manager.php
  includes/popups-analytics/class-popups-analytics-utils.php
  includes/wizards/class-popups-wizard.php
  includes/wizards/class-setup-wizard.php
  phpunit.xml
  tests/unit-tests/popups-analytics.php
Labels: [Status] Approved

#920 Fix Campaigns Analytics reporting
  includes/popups-analytics/class-popups-analytics-utils.php
Labels: [Status] Approved
