Repository Automattic/newspack-plugin, pull requests merged in 2022-07, with the labels that each got.

#1752 feat(reader-activation): extended auth expiration
  includes/class-reader-activation.php
Labels: [Status] Approved

#1724 feat(reader-activation): registration block
  assets/blocks/index.js
  assets/blocks/reader-registration/block.json
  assets/blocks/reader-registration/edit.js
  assets/blocks/reader-registration/editor.scss
  assets/blocks/reader-registration/index.js
  assets/blocks/reader-registration/index.php
  assets/blocks/reader-registration/style.scss
  assets/blocks/reader-registration/view.js
  assets/reader-activation/index.js
  includes/class-blocks.php
  includes/class-newspack.php
  includes/class-patches.php
  includes/class-reader-activation.php
  webpack.config.js
Labels: [Status] Approved

#1722 Fix/remove unused functions
  includes/api/class-wizards-controller.php
  includes/class-wizards.php
  includes/wizards/class-advertising-wizard.php
  includes/wizards/class-analytics-wizard.php
  includes/wizards/class-components-demo.php
  includes/wizards/class-connections-wizard.php
  includes/wizards/class-dashboard.php
  includes/wizards/class-engagement-wizard.php
  includes/wizards/class-health-check-wizard.php
  includes/wizards/class-popups-wizard.php
  includes/wizards/class-reader-revenue-wizard.php
  includes/wizards/class-seo-wizard.php
  includes/wizards/class-setup-wizard.php
  includes/wizards/class-site-design-wizard.php
  includes/wizards/class-syndication-wizard.php
  includes/wizards/class-wizard.php
Labels: [Status] Approved

#1760 fix: include blocks' files in release
  .distignore
  includes/class-blocks.php
Labels: [Status] Approved

#1704 fix(donations): numbers formatting if NRH is the platform
  includes/class-nrh.php
Labels: [Status] Approved

#1715 chore(wc): use proper metadata setters
  includes/reader-revenue/class-woocommerce-connection.php
Labels: [Status] Approved

#1737 fix(amp-plus): handle complianz-gdpr plugin
  includes/class-amp-enhancements.php
Labels: [Status] Approved

#1762 fix(donations): numbers formatting if NRH is the platform
  includes/class-nrh.php
Labels: [Status] Approved

#1753 Donations – amounts and frequencies customisation
  assets/components/src/button/index.js
  assets/components/src/section-header/index.js
  assets/wizards/readerRevenue/components/money-input/index.js
  assets/wizards/readerRevenue/components/money-input/style.scss
  assets/wizards/readerRevenue/views/donation/index.js
  assets/wizards/readerRevenue/views/donation/index.tsx
  includes/class-donations.php
  includes/class-nrh.php
  includes/wizards/class-reader-revenue-wizard.php
  tests/unit-tests/donations.php
Labels: [Status] Approved, [Status] Needs Design Review

#1763 Fix/donations processing
  includes/class-donations.php
  includes/reader-revenue/class-stripe-connection.php
Labels: [Status] Approved

#1734 feat(engagement): manage newsletters subscription lists
  assets/utils/index.js
  assets/wizards/connections/views/main/plugins.js
  assets/wizards/engagement/views/newsletters/index.js
  includes/wizards/class-engagement-wizard.php
Labels: [Status] Approved

#1770 feat(reader-activation): restricted reader roles
  includes/class-reader-activation.php
  tests/unit-tests/reader-activation.php
Labels: [Status] Approved

#1713 chore(deps): update newspack-scripts
  assets/blocks/reader-registration/editor.scss
  assets/components/src/action-card/style.scss
  assets/components/src/autocomplete-tokenfield/style.scss
  assets/components/src/autocomplete-with-suggestions/style.scss
  assets/components/src/button-card/style.scss
  assets/components/src/card/style.scss
  assets/components/src/category-autocomplete/style.scss
  assets/components/src/color-picker/style.scss
  assets/components/src/custom-select-control/style.scss
  assets/components/src/date-range-picker/style.scss
  assets/components/src/footer/style.scss
  assets/components/src/form-token-field/index.js
  assets/components/src/form-token-field/style.scss
  assets/components/src/grid/style.scss
  assets/components/src/handoff/index.js
  assets/components/src/image-upload/style.scss
  assets/components/src/info-button/style.scss
  assets/components/src/modal/style.scss
  assets/components/src/newspack-icon/style.scss
  assets/components/src/newspack-logo/style.scss
  assets/components/src/notice/style.scss
  assets/components/src/plugin-installer/style.scss
  assets/components/src/plugin-settings/SettingsSection.js
  assets/components/src/plugin-toggle/index.js
  assets/components/src/plugin-toggle/style.scss
  assets/components/src/popover/style.scss
  assets/components/src/progress-bar/style.scss
  assets/components/src/radio-control/style.scss
  assets/components/src/section-header/style.scss
  assets/components/src/select-control/style.scss
  assets/components/src/style-card/index.js
  assets/components/src/style-card/style.scss
  assets/components/src/style.scss
  assets/components/src/tabbed-navigation/style.scss
  assets/components/src/web-preview/style.scss
  assets/components/src/with-wizard-screen/style.scss
  assets/components/src/with-wizard/style.scss
  assets/wizards/advertising/style.scss
  assets/wizards/analytics/style.scss
  assets/wizards/dashboard/style.scss
  assets/wizards/engagement/index.js
  assets/wizards/handoff-banner/style.scss
  assets/wizards/popups/components/prompt-action-card/style.scss
  assets/wizards/popups/components/prompt-popovers/style.scss
  assets/wizards/popups/components/segment-group/style.scss
  assets/wizards/popups/index.js
  assets/wizards/popups/views/analytics/style.scss
  assets/wizards/popups/views/campaigns/style.scss
  assets/wizards/popups/views/segments/style.scss
  assets/wizards/readerRevenue/components/money-input/style.scss
  assets/wizards/readerRevenue/views/stripe-setup/style.scss
  assets/wizards/site-design/views/main/style.scss
  package-lock.json
  package.json
Labels: [Status] Approved

#1771 fix: linking buttons
  assets/components/src/button/index.js
  assets/wizards/readerRevenue/views/donation/index.tsx
Labels: [Status] Approved

#1780 Feat/reader activation tweaks
  assets/blocks/reader-registration/edit.js
  assets/blocks/reader-registration/editor.scss
  assets/blocks/reader-registration/index.php
  assets/blocks/reader-registration/style.scss
  assets/blocks/reader-registration/view.js
  assets/reader-activation/index.js
  assets/wizards/connections/views/main/google.js
  includes/class-amp-enhancements.php
  includes/class-magic-link.php
  includes/class-newspack.php
  includes/class-reader-activation.php
  includes/reader-revenue/class-woocommerce-connection.php
Labels: [Status] Approved

#1787 feat(reader-activation): registration auth cookie control
  includes/class-magic-link.php
  includes/class-reader-activation.php
Labels: [Status] Approved

#1789 fix: email to username handling
  includes/class-reader-activation.php
Labels: [Status] Approved

#1765 feat(stripe): webhook auto-creation and validation
  assets/wizards/readerRevenue/views/stripe-setup/index.js
  includes/reader-revenue/class-stripe-connection.php
  includes/wizards/class-reader-revenue-wizard.php
  tests/class-stripemockhttpclient.php
  tests/unit-tests/stripe-connection.php
Labels: [Status] Approved

#1754 feat(reader-activation): account link and auth form
  assets/blocks/reader-registration/index.php
  assets/blocks/reader-registration/view.js
  assets/reader-activation/auth.js
  assets/reader-activation/auth.scss
  assets/reader-activation/index.js
  includes/class-reader-activation.php
  webpack.config.js
Labels: [Status] Approved

#1779 feat: handle new frequency options in Campaigns dashbaord
  assets/wizards/popups/utils.js
  includes/wizards/class-popups-wizard.php
Labels: [Type] Enhancement, [Status] Approved

#1778 feat(registration-block): newsletter subscription
  assets/blocks/reader-registration/block.json
  assets/blocks/reader-registration/edit.js
  assets/blocks/reader-registration/editor.scss
  assets/blocks/reader-registration/index.js
  assets/blocks/reader-registration/index.php
  assets/blocks/reader-registration/style.scss
  assets/blocks/reader-registration/view.js
  assets/reader-activation/auth.js
  includes/class-blocks.php
  includes/class-reader-activation.php
  includes/wizards/class-engagement-wizard.php
Labels: [Status] Approved, [Status] Needs Design Review

#1794 fix(popups): use new Campaigns method for creating donation events on new orders
  includes/configuration_managers/class-newspack-newsletters-configuration-manager.php
  includes/reader-revenue/class-stripe-connection.php
  includes/reader-revenue/class-woocommerce-connection.php
Labels: [Type] Feature request, [Status] Approved

#1761 Stripe billing portal link
  includes/class-newspack.php
  includes/reader-revenue/class-stripe-connection.php
  includes/reader-revenue/class-woocommerce-connection.php
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
  includes/reader-revenue/my-account/index.js
  includes/reader-revenue/my-account/style.scss
  includes/reader-revenue/templates/myaccount-billing.php
  includes/reader-revenue/templates/myaccount-edit-account.php
  webpack.config.js
Labels: [Status] Approved

#1781 Registration block – login with Google
  assets/blocks/reader-registration/edit.js
  assets/blocks/reader-registration/editor.scss
  assets/blocks/reader-registration/icons/google.svg
  assets/blocks/reader-registration/index.php
  assets/blocks/reader-registration/style.scss
  assets/blocks/reader-registration/view.js
  assets/reader-activation/index.js
  assets/wizards/connections/views/main/google.js
  includes/class-blocks.php
  includes/class-magic-link.php
  includes/class-newspack.php
  includes/class-reader-activation.php
  includes/oauth/class-google-login.php
  includes/oauth/class-google-oauth.php
  includes/oauth/class-oauth.php
  includes/reader-revenue/class-woocommerce-connection.php
Labels: [Status] Approved, Work In Progress

#1795 feat: register anonymous single donors
  includes/class-donations.php
  includes/reader-revenue/class-woocommerce-connection.php
Labels: [Type] Enhancement, [Status] Needs Review

#1785 feat(registration-block): editable success state
  assets/blocks/reader-registration/edit.js
  assets/blocks/reader-registration/editor.scss
  assets/blocks/reader-registration/index.js
  assets/blocks/reader-registration/index.php
  assets/blocks/reader-registration/style.scss
  assets/blocks/reader-registration/view.js
Labels: [Status] Approved

#1804 feat(registration-block): add success icon
  assets/blocks/reader-registration/edit.js
  assets/blocks/reader-registration/editor.scss
  assets/blocks/reader-registration/index.php
  assets/blocks/reader-registration/style.scss
Labels: [Status] Approved

#1805 remove unused prop
  assets/blocks/reader-registration/edit.js
Labels: [Status] Approved

#1793 Send user metadata to AC
  assets/blocks/reader-registration/index.php
  assets/blocks/reader-registration/view.js
  includes/class-newspack.php
  includes/class-reader-activation.php
  includes/plugins/class-newspack-newsletters.php
  includes/reader-revenue/class-stripe-connection.php
Labels: [Status] Approved

#1808 fix(registration-block): margin for success message
  assets/blocks/reader-registration/style.scss
Labels: [Status] Approved

#1800 Reader Activation: auth form with third-party and lists subscriptions
  assets/blocks/reader-registration/edit.js
  assets/blocks/reader-registration/editor.scss
  assets/blocks/reader-registration/index.php
  assets/blocks/reader-registration/style.scss
  assets/blocks/reader-registration/view.js
  assets/reader-activation/auth.js
  assets/reader-activation/auth.scss
  assets/wizards/connections/views/main/index.js
  includes/class-reader-activation.php
Labels: [Status] Approved

#1811 feat: tweak registration block styling
  assets/blocks/reader-registration/style.scss
Labels: [Status] Approved

#1810 feat(reader-auth): make password login the first option
  includes/class-reader-activation.php
Labels: [Status] Approved

#1812 fix(reader-activation): reinitialize auth links after DOM load
  assets/reader-activation/auth.js
Labels: [Status] Approved

#1813 fix(reader-activation): ensure scroll on smaller height for auth modal
  assets/reader-activation/auth.scss
Labels: [Status] Approved, Reader Activation

#1773 feat(reader-activation): settings wizard
  assets/reader-activation/auth.scss
  assets/wizards/engagement/index.js
  assets/wizards/engagement/views/index.js
  assets/wizards/engagement/views/reader-activation/index.js
  includes/class-reader-activation.php
  includes/wizards/class-engagement-wizard.php
Labels: [Status] Approved

#1816 feat: handle contact update w/out lists selection
  includes/plugins/class-newspack-newsletters.php
Labels: [Status] Approved, Reader Activation

#1807 chore: logger update
  includes/class-logger.php
Labels: [Status] Approved

#1806 Feat/registration button
  assets/reader-activation/auth.js
  assets/reader-activation/auth.scss
  includes/class-reader-activation.php
Labels: [Status] Approved, Reader Activation

#1815 feat(reader-activation): prevent updating user email in my-account
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
  includes/reader-revenue/my-account/style.scss
  includes/reader-revenue/templates/myaccount-edit-account.php
Labels: [Status] Approved, Reader Activation
