Repository Automattic/newspack-plugin, pull requests merged in 2022-06, with the labels that each got.

#1682 refactor(oauth): google oauth handling
  includes/oauth/class-google-oauth.php
  tests/unit-tests/oauth.php
Labels: [Status] Approved

#1687 fix: oauth error handling
  includes/oauth/class-google-oauth.php
Labels: [Status] Approved

#1695 Hotfix – OAuth logging and errors
  CHANGELOG.md
  includes/oauth/class-google-oauth.php
  newspack.php
  package-lock.json
  package.json
  tests/unit-tests/oauth.php
Labels: [Status] Approved

#1703 chore(wizards): don't require jetpack for popups (campaigns) wizard
  assets/wizards/popups/index.js
Labels: [Status] Approved

#1698 feat(analytics): automatically link GA4 with Site Kit
  includes/class-analytics.php
  includes/class-newspack.php
  includes/configuration_managers/class-site-kit-configuration-manager.php
  includes/plugins/google-site-kit/class-googlesitekit.php
  includes/plugins/google-site-kit/class-googlesitekitanalytics.php
Labels: [Status] Approved

#1669 fix: deactivate Salesforce syncing if RR platform is not Newspack
  includes/class-salesforce.php
Labels: [Type] Bug, [Status] Approved

#1688 feat(rss): add RSS Enhancements plugin to the core
  assets/components/src/wizard/store/index.js
  assets/wizards/dashboard/index.js
  assets/wizards/syndication/views/intro/index.js
  includes/class-newspack.php
  includes/class-plugin-manager.php
  includes/class-wizards.php
  includes/optional-modules/class-rss.php
  includes/wizards/class-settings.php
  tests/unit-tests/settings.php
Labels: [Status] Approved

#1694 fix(ads): always allow service account credentials
  assets/wizards/advertising/views/ad-units/index.js
Labels: [Status] Approved

#1679 fix: compare both IDs and labels for autocomplete selections
  assets/components/src/autocomplete-with-suggestions/index.js
Labels: [Type] Bug, [Status] Approved

#1711 Release Jun 13
  .circleci/config.yml
  CHANGELOG.md
  assets/wizards/advertising/views/ad-units/index.js
  assets/wizards/site-design/views/main/index.js
  includes/class-analytics.php
  includes/class-newspack.php
  includes/class-reader-activation.php
  includes/configuration_managers/class-site-kit-configuration-manager.php
  includes/plugins/google-site-kit/class-googlesitekit.php
  includes/plugins/google-site-kit/class-googlesitekitanalytics.php
  includes/reader-revenue/class-stripe-connection.php
  includes/reader-revenue/class-woocommerce-connection.php
  newspack.php
  package-lock.json
  package.json
  tests/unit-tests/reader-activation.php
Labels: [Status] Approved

#1697 feat(ads): fixed height support for placements
  assets/wizards/advertising/views/placements/index.js
Labels: [Status] Approved

#1668 feat: magic links
  includes/class-magic-link.php
  includes/class-newspack.php
  includes/class-reader-activation.php
  tests/unit-tests/magic-link.php
Labels: [Status] Approved

#1712 feat: disable deactivate and delete for required plugins
  includes/class-plugin-manager.php
Labels: [Status] Approved, Managed Newspack

#1710 feat(reader-revenue): prevent creating duplicate stripe webhooks
  assets/wizards/readerRevenue/views/stripe-setup/index.js
  includes/reader-revenue/class-stripe-connection.php
  includes/wizards/class-reader-revenue-wizard.php
Labels: [Status] Approved

#1709 fix(reader-revenue): disable WC email if module will send email
  includes/reader-revenue/class-stripe-connection.php
Labels: [Status] Approved

#1678 feat: ads onboarding
  assets/wizards/advertising/components/onboarding/index.js
  assets/wizards/advertising/components/utils/index.js
  assets/wizards/advertising/index.js
  assets/wizards/advertising/views/ad-units/service-account-connection.js
  assets/wizards/advertising/views/providers/index.js
  assets/wizards/connections/views/main/google.js
  assets/wizards/connections/views/main/index.js
  assets/wizards/setup/views/services/index.js
  includes/oauth/class-google-oauth.php
  includes/wizards/class-advertising-wizard.php
  includes/wizards/class-setup-wizard.php
Labels: [Status] Approved

#1726 fix: set HTTPS transport mode to "beacon" for non-AMP GA
  includes/class-analytics.php
Labels: [Type] Bug, [Status] Approved, [Priority] High

#1733 chore: publish v2.1.0 of newspack-components
  assets/components/package.json
Labels: [Status] Approved, dependencies
