Repository Automattic/newspack-plugin, pull requests merged in 2022-12, with the labels that each got.

#2156 Feat/perfmatters defaults
  includes/class-newspack.php
  includes/plugins/class-perfmatters.php
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
Labels: [Status] Approved, performance

#2162 Improved existing Woo user subs handling
  includes/reader-activation/class-reader-activation.php
Labels: [Status] Approved

#2163 fix: fatal if no woo
  CHANGELOG.md
  assets/blocks/reader-registration/index.php
  newspack.php
  package-lock.json
  package.json
Labels: [Status] Approved, bug

#2165 fix: logic to update existing contact on subscription cancellation or deletion
  includes/reader-revenue/stripe/class-stripe-webhooks.php
Labels: [Status] Approved, bug

#2160 feat(reader-revenue): add "other" reader revenue platform
  assets/wizards/readerRevenue/constants.js
  assets/wizards/readerRevenue/index.js
  assets/wizards/readerRevenue/views/platform/index.js
  includes/class-donations.php
  includes/wizards/class-reader-revenue-wizard.php
Labels: [Status] Approved, Reader Revenue

#2175 Ignore payment error notifications for sync'd subscriptions
  includes/reader-revenue/class-woocommerce-connection.php
Labels: [Status] Approved, Reader Revenue, Stripe, WooCommerce

#2172 chore: remove unused config file
  postcss.config.js
Labels: [Status] Approved

#2176 feat: use privacy policy URL as default terms URL
  includes/reader-activation/class-reader-activation.php
Labels: [Type] Feature request, [Status] Approved

#2173 feat(data-events): agnostic data integration tool
  includes/class-newspack.php
  includes/data-events/class-data-events.php
  tests/unit-tests/data-events.php
Labels: [Status] Approved

#2178 Hotfix(stripe): force sync'd subscriptions to manual renewal
  CHANGELOG.md
  includes/reader-revenue/class-woocommerce-connection.php
  newspack.php
  package-lock.json
  package.json
Labels: [Status] Approved, Reader Revenue, Stripe, WooCommerce

#2179 feat(newsletters): support constant contact oauth
  assets/wizards/engagement/views/newsletters/index.js
Labels: [Status] Approved

#2190 Hotfix/perfmatters defaults admin
  CHANGELOG.md
  includes/plugins/class-perfmatters.php
  newspack.php
  package-lock.json
  package.json
Labels: [Status] Approved

#2181 chore(admin): bundle tachyons with WP assets instead of fetching from…
  assets/admin/index.js
  assets/admin/style.scss
  includes/class-newspack.php
  includes/wizards/class-wizard.php
  package-lock.json
  package.json
  webpack.config.js
Labels: [Status] Approved

#2188 feat(analytics): prevent Site Kit's false positive notice
  includes/class-analytics.php
Labels: [Status] Approved, [Initiative] Analytics

#2189 chore: add perfmatters & onesignal to supported plugins list
  includes/class-plugin-manager.php
Labels: [Status] Approved

#2180 feat(stripe-sync-cli): create WC subscriptions
  includes/reader-revenue/stripe/class-stripe-connection.php
  includes/reader-revenue/stripe/class-stripe-sync.php
Labels: [Status] Approved, Reader Revenue, Stripe, WooCommerce

#2108 feat: add setup cli command
  composer.json
  includes/class-newspack.php
  includes/cli/class-initializer.php
  includes/cli/class-setup.php
  newspack.php
Labels: [Status] Approved

#2192 fix: typo in setup command
  includes/cli/class-setup.php
Labels: [Status] Approved

#2143 Stripe webhooks management
  assets/components/src/accordion/index.js
  assets/components/src/accordion/style.scss
  assets/components/src/index.js
  assets/components/src/tabbed-navigation/index.js
  assets/components/src/utils/index.js
  assets/wizards/advertising/index.js
  assets/wizards/readerRevenue/index.js
  assets/wizards/readerRevenue/views/index.js
  assets/wizards/readerRevenue/views/stripe-setup/index.js
  assets/wizards/readerRevenue/views/stripe-setup/style.scss
  assets/wizards/readerRevenue/views/stripe-setup/webhooks-settings.js
  includes/reader-revenue/stripe/class-stripe-connection.php
  includes/reader-revenue/stripe/class-stripe-webhooks.php
Labels: [Status] Approved

#2195 Revert "remove autoloader dependency"
  composer.json
  includes/class-newspack.php
  includes/cli/class-initializer.php
  newspack.php
Labels: [Status] Approved

#2157 Performance: optimize analytics
  includes/analytics/class-analytics-dimensions.php
  includes/analytics/class-analytics-events.php
  includes/analytics/class-analytics.php
  includes/class-newspack.php
  includes/plugins/class-perfmatters.php
Labels: [Status] Approved, performance

#2187 Feat/donation additional fields
  includes/plugins/class-newspack-newsletters.php
  includes/reader-revenue/stripe/class-stripe-webhooks.php
Labels: [Status] Approved

#2196 feat: allow RAS library to load async
  assets/blocks/reader-registration/view.js
  assets/reader-activation/auth.js
  assets/reader-activation/index.js
  includes/reader-activation/class-reader-activation.php
Labels: [Status] Approved

#2198 feat(registration-block): newsletter subscription by default
  assets/blocks/reader-registration/block.json
  assets/blocks/reader-registration/edit.js
Labels: [Status] Approved

#2182 feat(data-events): webhooks
  includes/class-newspack.php
  includes/data-events/class-data-events.php
  includes/data-events/class-webhooks.php
  includes/data-events/listeners.php
  includes/scheduled-post-checker/scheduled-post-checker.php
  tests/unit-tests/data-events.php
  tests/unit-tests/webhooks.php
Labels: [Status] Approved

#2205 fix(pixel): proper usage of action hooks
  includes/tracking/class-meta-pixel.php
  includes/tracking/class-twitter-pixel.php
Labels: [Status] Approved

#2206 Post-release merge
  CHANGELOG.md
  includes/tracking/class-meta-pixel.php
  includes/tracking/class-twitter-pixel.php
  newspack.php
  package-lock.json
  package.json
Labels: [Status] Approved

#2207 fix: fatal due to different class property
  includes/analytics/class-analytics-events.php
Labels: [Status] Approved, bug

#2208 fix: handle email sender when not under RAS
  includes/emails/class-emails.php
  includes/reader-activation/class-reader-activation.php
Labels: [Status] Approved

#2197 feat(webhooks): endpoint management ui
  assets/components/src/card/style.scss
  assets/components/src/modal/style.scss
  assets/components/src/popover/style.scss
  assets/wizards/connections/index.js
  assets/wizards/connections/style.scss
  assets/wizards/connections/views/main/index.js
  assets/wizards/connections/views/main/webhooks.js
  includes/class-newspack.php
  includes/data-events/class-api.php
  includes/data-events/class-webhooks.php
  includes/wizards/class-connections-wizard.php
  tests/unit-tests/webhooks.php
Labels: [Status] Approved, [Status] Needs Design Review

#2210 fix: webpack build issue
  assets/components/src/accordion/index.js
  assets/components/src/accordion/style.scss
Labels: [Status] Approved
