Repository Automattic/newspack-plugin, pull requests merged in 2022-03, with the labels that each got.

#1537 fix(analytics): avoid Site Kit crash due to conflict with HandoffBanner
  assets/wizards/handoff-banner/index.js
  includes/class-handoff-banner.php
Labels: [Type] Bug, [Status] Approved

#1532 fix: stripe data setting
  includes/reader-revenue/class-stripe-connection.php
Labels: [Status] Approved

#1540 fix(starter-content): prevent starter homepage deletion
  includes/starter_content/class-starter-content-provider.php
Labels: [Status] Approved

#1539 fix(design): header defaults in line with the theme
  includes/class-starter-content.php
Labels: [Status] Approved

#1521 feat(ads): placement providers
  assets/wizards/advertising/components/placement-control/index.js
  assets/wizards/advertising/index.js
  assets/wizards/advertising/views/placements/index.js
Labels: [Status] Approved

#1541 feat: restrict access to others' posts for non-admin/editor users
  includes/class-patches.php
Labels: [Type] Feature request, [Status] Approved

#1549 Fix/Reusable Blocks menu item minimum capability
  includes/class-patches.php
Labels: [Status] Approved

#1551 Release Mar 08
  .circleci/config.yml
  CHANGELOG.md
  assets/components/src/modal/style.scss
  assets/components/src/textarea-control/style.scss
  assets/wizards/advertising/index.js
  assets/wizards/advertising/views/ad-units/index.js
  assets/wizards/advertising/views/ad-units/options-popover.js
  assets/wizards/readerRevenue/views/stripe-setup/index.js
  composer.lock
  includes/class-starter-content.php
  includes/reader-revenue/class-stripe-connection.php
  includes/wizards/class-reader-revenue-wizard.php
  includes/wizards/class-setup-wizard.php
  newspack.php
  package-lock.json
  package.json
  tests/class-stripemockhttpclient.php
  tests/unit-tests/stripe-connection.php
Labels: [Status] Approved

#1552 fix: a bad merge after the last post-release job
  includes/class-patches.php
Labels: [Type] Bug, [Status] Approved

#1553 feat(popups): add category/tag exclusion fields to campaigns wizard UI
  assets/components/src/category-autocomplete/index.js
  assets/components/src/category-autocomplete/style.scss
  assets/wizards/popups/components/settings-modal/index.js
Labels: [Type] Enhancement, [Status] Approved

#1563 feat: allow segmentation by user login status
  assets/wizards/popups/utils.js
  assets/wizards/popups/views/segments/SingleSegment.js
  assets/wizards/popups/views/segments/SingleSegment.test.js
Labels: [Type] Feature request, [Status] Approved

#1569 feat(donations): remove sidebar for default donations page
  includes/class-donations.php
Labels: [Status] Approved

#1465 feat(ads): integrate Broadstreet into the providers wizard
  assets/wizards/advertising/index.js
  assets/wizards/advertising/views/ad-unit/index.js
  assets/wizards/advertising/views/ad-units/index.js
  assets/wizards/advertising/views/index.js
  assets/wizards/advertising/views/providers/index.js
  assets/wizards/advertising/views/services/index.js
  assets/wizards/setup/views/services/index.js
  includes/class-plugin-manager.php
  includes/configuration_managers/class-jetpack-configuration-manager.php
  includes/wizards/class-advertising-wizard.php
  includes/wizards/class-setup-wizard.php
Labels: [Status] Approved

#1570 Release Mar 22
  CHANGELOG.md
  assets/components/src/action-card/style.scss
  assets/components/src/checkbox-control/style.scss
  assets/components/src/plugin-settings/SettingsSection.js
  assets/components/src/plugin-settings/index.js
  assets/components/src/plugin-settings/style.scss
  assets/wizards/advertising/components/placement-control/index.js
  assets/wizards/advertising/index.js
  assets/wizards/advertising/style.scss
  assets/wizards/advertising/views/placements/index.js
  assets/wizards/popups/views/settings/index.js
  composer.lock
  includes/class-patches.php
  includes/class-starter-content.php
  includes/configuration_managers/class-parsely-configuration-manager.php
  includes/starter_content/class-starter-content-provider.php
  newspack.php
  package-lock.json
  package.json
  tests/unit-tests/parsely-configuration-manager.php
Labels: [Status] Approved

#1571 chore: update ads api
  includes/configuration_managers/class-newspack-ads-configuration-manager.php
  includes/oauth/class-fivetran-connection.php
  includes/wizards/class-advertising-wizard.php
Labels: [Status] Needs Review

#1573 fix(ads): handle gam connection error
  includes/wizards/class-advertising-wizard.php
Labels: [Status] Needs Review

#1564 feat(ads): Add-Ons and Ad Refresh Control integration
  assets/components/src/plugin-settings/SettingsSection.js
  assets/components/src/plugin-settings/index.js
  assets/wizards/advertising/components/ad-refresh-control/index.js
  assets/wizards/advertising/components/add-ons/index.js
  assets/wizards/advertising/index.js
  assets/wizards/advertising/views/add-ons/index.js
  assets/wizards/advertising/views/index.js
  assets/wizards/advertising/views/settings/index.js
  includes/class-plugin-manager.php
Labels: [Status] Approved
