Repository Automattic/newspack-plugin, pull requests merged in 2022-02, with the labels that each got.

#1467 fix: tooltip position in header and remove duplicated css
  assets/components/src/with-wizard-screen/style.scss
  assets/components/src/wizard/index.js
  assets/components/src/wizard/style.scss
Labels: [Status] Approved

#1485 feat(salesforce): ability to manually sync WC orders to salesforce
  assets/other-scripts/salesforce/index.js
  includes/class-salesforce.php
Labels: [Type] Feature request, [Status] Approved

#1488 fix(stripe): prevent webhook processing if platform is not Stripe
  includes/reader-revenue/class-stripe-connection.php
Labels: [Status] Approved

#1475 feat: support multiple control for plugin settings
  assets/components/src/plugin-settings/SettingsSection.js
  assets/wizards/componentsDemo/index.js
Labels: [Status] Approved

#1481 fix(setup-wizard): donation data
  assets/components/src/wizard/store/utils.js
  assets/wizards/engagement/views/newsletters/index.js
  assets/wizards/readerRevenue/index.js
  assets/wizards/readerRevenue/views/donation/index.js
  assets/wizards/readerRevenue/views/location-setup/index.js
  assets/wizards/readerRevenue/views/nrh-settings/index.js
  assets/wizards/readerRevenue/views/platform/index.js
  assets/wizards/readerRevenue/views/salesforce/index.js
  assets/wizards/readerRevenue/views/stripe-setup/index.js
  assets/wizards/setup/views/services/ReaderRevenue.js
  assets/wizards/setup/views/services/index.js
  includes/configuration_managers/class-woocommerce-configuration-manager.php
  includes/wizards/class-setup-wizard.php
Labels: [Status] Approved

#1486 feat: enable AMP Plus for Jetpack Instant Search
  includes/class-amp-enhancements.php
  includes/class-jetpack.php
  includes/class-newspack.php
  includes/class-patches.php
Labels: [Status] Approved

#1482 feat(block-editor): utility to relink the editor close button to a wizard screen
  includes/class-newspack.php
Labels: [Type] Feature request, [Status] Approved, [Status] Needs changes or feedback

#1495 test(e2e): update env var name; skip SSL check in E2E tests
  includes/class-starter-content.php
  includes/wizards/class-setup-wizard.php
Labels: [Status] Approved

#1450 feat: use PluginSettings components for Campaigns wizard
  assets/components/src/plugin-settings/SettingsSection.js
  assets/components/src/plugin-settings/index.js
  assets/components/src/text-control/style.scss
  assets/wizards/popups/views/settings/index.js
  includes/configuration_managers/class-newspack-popups-configuration-manager.php
  includes/wizards/class-popups-wizard.php
Labels: [Status] Approved, [Status] Needs changes or feedback

#1502 fix: lookup user by queried slug, not by login
  includes/class-patches.php
Labels: [Type] Bug, [Status] Approved

#1499 fix(parsely): configuring Parse.ly
  includes/configuration_managers/class-parsely-configuration-manager.php
Labels: [Status] Approved

#1496 Add sticky position to TabbedNavigation
  assets/components/src/tabbed-navigation/style.scss
  assets/components/src/with-wizard-screen/index.js
  assets/components/src/wizard/index.js
Labels: [Status] Approved

#1509 fix(setup-wizard): hide navigation on welcome screen
  assets/components/src/with-wizard/style.scss
  assets/wizards/setup/style.scss
Labels: [Status] Approved

#1504 ci: build plugin files and store as artifact
  .circleci/config.yml
Labels: [Status] Approved

#1515 Hotfix/fivetran amendments
  CHANGELOG.md
  assets/components/src/action-card/index.js
  assets/components/src/style.scss
  assets/wizards/connections/views/main/fivetran.js
  assets/wizards/connections/views/main/index.js
  includes/oauth/class-fivetran-connection.php
  newspack.php
  package-lock.json
  package.json
Labels: [Status] Approved

#1516 ci: use newspack orb
  .circleci/config.yml
Labels: [Status] Approved

#1483 feat(stripe): add business location field
  assets/wizards/readerRevenue/views/stripe-setup/index.js
  includes/reader-revenue/class-stripe-connection.php
  includes/wizards/class-reader-revenue-wizard.php
  tests/class-stripemockhttpclient.php
  tests/unit-tests/stripe-connection.php
Labels: [Status] Approved

#1500 Fix/theme mods setting
  assets/components/src/textarea-control/style.scss
  includes/class-starter-content.php
  includes/wizards/class-setup-wizard.php
Labels: [Status] Approved

#1522 Release Feb 22
  CHANGELOG.md
  assets/components/copy-styles.js
  assets/components/src/handoff/index.js
  assets/components/src/plugin-settings/SettingsSection.js
  assets/components/src/plugin-settings/index.js
  assets/components/src/tabbed-navigation/style.scss
  assets/components/src/text-control/style.scss
  assets/components/src/with-wizard-screen/index.js
  assets/components/src/with-wizard-screen/style.scss
  assets/components/src/with-wizard/style.scss
  assets/components/src/wizard/index.js
  assets/components/src/wizard/store/utils.js
  assets/components/src/wizard/style.scss
  assets/wizards/componentsDemo/index.js
  assets/wizards/engagement/views/newsletters/index.js
  assets/wizards/popups/views/settings/index.js
  assets/wizards/readerRevenue/index.js
  assets/wizards/readerRevenue/views/donation/index.js
  assets/wizards/readerRevenue/views/location-setup/index.js
  assets/wizards/readerRevenue/views/nrh-settings/index.js
  assets/wizards/readerRevenue/views/platform/index.js
  assets/wizards/readerRevenue/views/salesforce/index.js
  assets/wizards/readerRevenue/views/stripe-setup/index.js
  assets/wizards/setup/style.scss
  assets/wizards/setup/views/services/ReaderRevenue.js
  assets/wizards/setup/views/services/index.js
  composer.json
  composer.lock
  includes/class-amp-enhancements.php
  includes/class-donations.php
  includes/class-jetpack.php
  includes/class-newspack.php
  includes/class-patches.php
  includes/class-starter-content.php
  includes/configuration_managers/class-newspack-popups-configuration-manager.php
  includes/configuration_managers/class-parsely-configuration-manager.php
  includes/configuration_managers/class-woocommerce-configuration-manager.php
  includes/reader-revenue/class-stripe-connection.php
  includes/wizards/class-popups-wizard.php
  includes/wizards/class-reader-revenue-wizard.php
  includes/wizards/class-setup-wizard.php
  newspack.php
  package-lock.json
  package.json
Labels: [Status] Needs Review

#1526 fix(reader-revenue): return saved settings
  CHANGELOG.md
  includes/class-donations.php
  newspack.php
  package-lock.json
  package.json
Labels: [Type] Bug, [Status] Approved

#1527 fix(jetpack): modules scripts behind constant
  CHANGELOG.md
  includes/class-jetpack.php
  includes/class-patches.php
  newspack.php
  package-lock.json
  package.json
Labels: [Status] Approved

#1525 Update Ads and Campaigns ActionCards style
  assets/components/src/action-card/style.scss
  assets/components/src/checkbox-control/style.scss
  assets/components/src/plugin-settings/SettingsSection.js
  assets/components/src/plugin-settings/index.js
  assets/components/src/plugin-settings/style.scss
  assets/wizards/advertising/components/placement-control/index.js
  assets/wizards/advertising/style.scss
  assets/wizards/advertising/views/placements/index.js
  assets/wizards/popups/views/settings/index.js
  assets/wizards/readerRevenue/views/salesforce/index.js
Labels: [Status] Approved

#1518 Fix posts block date issues when running The Events Calendar
  includes/class-patches.php
Labels: [Type] Bug, [Status] Approved
