Repository Automattic/newspack-plugin, pull requests merged in 2022-08, with the labels that each got.

#1818 feat(reader-activation): activecampaign master list
  assets/wizards/engagement/views/reader-activation/active-campaign.js
  assets/wizards/engagement/views/reader-activation/index.js
  includes/class-reader-activation.php
  includes/plugins/class-newspack-newsletters.php
Labels: [Status] Approved, Reader Activation

#1820 fix(campaigns-wizard): segmentation wording
  assets/wizards/popups/utils.js
Labels: [Status] Approved

#1790 Adds offset feature to RSS
  includes/optional-modules/class-rss.php
Labels: [Status] Approved

#1819 fix(reader-activation): handle no lists config available
  assets/blocks/reader-registration/index.php
  includes/class-reader-activation.php
Labels: [Status] Approved

#1826 Fix fatal error when debug mode active
  includes/optional-modules/class-rss.php
Labels: [Status] Approved

#1824 Reorganise donations wizard and use buttongroup for donation type
  assets/components/src/card/style.scss
  assets/components/src/select-control/ButtonGroupControl.js
  assets/components/src/select-control/index.js
  assets/wizards/readerRevenue/components/money-input/style.scss
  assets/wizards/readerRevenue/views/donation/index.tsx
Labels: [Status] Approved

#1829 fix: google auth button type
  includes/class-reader-activation.php
Labels: [Status] Approved, Reader Activation

#1833 fix(magic-links): fix email encoding on sent link
  includes/class-magic-link.php
Labels: [Status] Approved, Reader Activation

#1834 fix(registration-block): don't escape html for sign in labels
  assets/blocks/reader-registration/index.php
  includes/class-reader-activation.php
Labels: [Status] Approved, Reader Activation

#1844 fix(registration-block): render on preview
  assets/blocks/reader-registration/index.php
Labels: [Status] Approved, Reader Activation

#1846 fix(reader-activation): remove async prop from library
  includes/class-reader-activation.php
Labels: [Status] Approved, Reader Activation

#1828 Fix/ga events server side
  assets/blocks/reader-registration/index.php
  includes/class-analytics.php
  includes/class-magic-link.php
  includes/class-reader-activation.php
  includes/oauth/class-google-login.php
  includes/oauth/class-google-services-connection.php
  includes/plugins/class-newspack-newsletters.php
  includes/reader-revenue/class-stripe-connection.php
  includes/reader-revenue/class-woocommerce-connection.php
Labels: [Status] Needs Review, Reader Activation

#1823 My Account – handle legacy data
  includes/plugins/class-newspack-newsletters.php
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
Labels: [Status] Approved, Reader Activation

#1839 fix(reader-activation): handle modal conflict when auth is triggered …
  assets/reader-activation/auth.js
Labels: [Status] Approved, Reader Activation

#1847 feat(reader-activation): optimistic account link
  assets/reader-activation/auth.js
Labels: [Status] Approved, Reader Activation

#1840 feat(active-campaigns): override is-new-contact for legacy contacts
  includes/plugins/class-newspack-newsletters.php
Labels: [Status] Approved, Reader Activation

#1851 Feat/ac metadata improvements
  includes/plugins/class-newspack-newsletters.php
  includes/reader-revenue/class-stripe-connection.php
Labels: [Status] Approved, Reader Activation

#1849 feat: if registering an email that already has an account, show different message
  assets/blocks/reader-registration/block.json
  assets/blocks/reader-registration/edit.js
  assets/blocks/reader-registration/index.php
  assets/blocks/reader-registration/view.js
  includes/class-reader-activation.php
Labels: [Type] Enhancement, [Status] Approved, Reader Activation

#1854 feat: replace WooCommerce’s login form with our own
  assets/reader-activation/auth.js
  assets/reader-activation/auth.scss
  includes/class-reader-activation.php
  includes/templates/reader-activation/login-form.php
Labels: [Type] Enhancement, [Status] Approved, Reader Activation

#1855 fix(newsletters): use international date format
  includes/plugins/class-newspack-newsletters.php
Labels: [Status] Approved, Reader Activation

#1862 fix: tweak arguments for magic link client hash
  includes/class-magic-link.php
Labels: [Status] Approved, Reader Activation

#1814 feat(donations): remove defaultFrequency from the configuration
  includes/class-donations.php
  includes/wizards/class-reader-revenue-wizard.php
  tests/unit-tests/donations.php
Labels: [Status] Approved

#1857 fix(ga): cookie parsing
  includes/oauth/class-google-services-connection.php
Labels: [Status] Approved, Reader Activation

#1858 fix(active-campaign): legacy contacts detection
  includes/plugins/class-newspack-newsletters.php
Labels: [Status] Approved, Reader Activation

#1869 fix(oauth): csrf token lifespan
  includes/oauth/class-oauth.php
Labels: [Status] Needs Review, Reader Activation

#1871 fix(google-auth): catch and display errors
  assets/reader-activation/auth.js
Labels: [Status] Approved, Reader Activation

#1873 fix: verify reader on google authentication
  includes/class-reader-activation.php
Labels: [Status] Needs Review, Reader Activation

#1863 fix: redirecting to My Account after logging in while pre-authed
  assets/blocks/reader-registration/view.js
  assets/reader-activation/auth.js
  assets/reader-activation/auth.scss
  includes/class-reader-activation.php
  includes/oauth/class-google-login.php
Labels: [Type] Bug, [Status] Needs Review

#1876 feat: disable woocomerce welcome emails in favor of verification email
  includes/class-magic-link.php
  includes/class-reader-activation.php
Labels: [Type] Enhancement, [Status] Approved, Reader Activation

#1874 fix: parse CID from _ga cookie if it only contains CID string
  includes/oauth/class-google-services-connection.php
Labels: [Type] Bug, [Status] Approved, Reader Activation

#1870 Update reader registration design
  assets/blocks/reader-registration/index.php
  assets/blocks/reader-registration/style.scss
  assets/reader-activation/auth.scss
  includes/class-reader-activation.php
Labels: [Status] Approved

#1875 feat: cookie reader's preferred auth strategy
  assets/reader-activation/auth.js
  assets/reader-activation/index.js
  includes/class-reader-activation.php
Labels: [Status] Approved, Reader Activation

#1879 feat: recaptcha settings in Reader Revenue
  CHANGELOG.md
  assets/wizards/readerRevenue/views/stripe-setup/index.js
  includes/reader-revenue/class-stripe-connection.php
  includes/wizards/class-reader-revenue-wizard.php
  newspack.php
  package-lock.json
  package.json
Labels: [Type] Feature request, [Status] Approved

#1877 feat: lock access to My Account UI until account is verified
  includes/class-reader-activation.php
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
  includes/reader-revenue/templates/myaccount-edit-account.php
  includes/reader-revenue/templates/myaccount-verify.php
Labels: [Type] Enhancement, [Status] Approved

#1881 refactor: "My Account" lock for unverified readers
  includes/class-reader-activation.php
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
  includes/reader-revenue/templates/myaccount-edit-account.php
  includes/reader-revenue/templates/myaccount-verify.php
  tests/unit-tests/reader-activation.php
Labels: [Status] Approved, Reader Activation

#1880 feat: better welcome email copy for initial verification
  includes/class-magic-link.php
  includes/class-reader-activation.php
Labels: [Type] Enhancement, [Status] Approved, Reader Activation

#1882 feat: authenticated reader cookie
  assets/reader-activation/index.js
  includes/class-reader-activation.php
Labels: [Status] Approved, Reader Activation

#1896 feat: honeypot trap for auth and registration forms
  assets/blocks/reader-registration/index.php
  assets/blocks/reader-registration/style.scss
  assets/blocks/reader-registration/view.js
  assets/reader-activation/auth.js
  assets/reader-activation/auth.scss
  assets/shared/scss/_mixins.scss
  includes/class-reader-activation.php
Labels: [Type] Enhancement, [Status] Approved

#1894 Adds reCaptcha for WooCommerce to plugin manager
  includes/class-plugin-manager.php
Labels: [Type] Enhancement, [Status] Approved

#618 Disable the MC4WC campaign tracking cookie
  includes/class-newspack.php
  includes/plugins/class-mailchimp-for-woocommerce.php
Labels: [Status] Approved, [Status] Needs changes or feedback

#1860 feat(stripe): lookup stripe customer ID on registration
  includes/reader-revenue/class-stripe-connection.php
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
Labels: [Status] Approved, Reader Activation

#1859 ActiveCampaigns – subscription metadata
  assets/wizards/readerRevenue/views/stripe-setup/index.js
  includes/plugins/class-newspack-newsletters.php
  includes/reader-revenue/class-stripe-connection.php
  includes/wizards/class-reader-revenue-wizard.php
Labels: [Status] Approved, Stripe, Reader Activation

#1884 feat: reader account deletion and ESP sync options
  assets/wizards/engagement/views/reader-activation/index.js
  includes/class-reader-activation.php
  includes/plugins/class-newspack-newsletters.php
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
  includes/reader-revenue/templates/myaccount-delete-account.php
  includes/reader-revenue/templates/myaccount-edit-account.php
  includes/templates/reader-activation/login-form.php
Labels: [Status] Approved, Reader Activation

#1895 feat: new option for minimum donation amount
  assets/wizards/readerRevenue/components/money-input/index.js
  assets/wizards/readerRevenue/components/money-input/style.scss
  assets/wizards/readerRevenue/views/donation/index.tsx
  includes/class-donations.php
  includes/wizards/class-reader-revenue-wizard.php
  tests/unit-tests/donations.php
Labels: [Type] Enhancement, [Status] Approved

#1918 fix: version for cache busting
  CHANGELOG.md
  newspack.php
  package-lock.json
  package.json
Labels: [Status] Approved

#1919 fix: x scrollbar on "Sign In" modal
  assets/reader-activation/auth.scss
Labels: [Status] Approved, Reader Activation

#1920 fix(registration-block): column layout in editor
  assets/reader-activation/auth.scss
Labels: [Status] Approved, Reader Activation

#1917 feat: move have account text below SSO and adjust font-size
  assets/blocks/reader-registration/edit.js
  assets/blocks/reader-registration/editor.scss
  assets/blocks/reader-registration/index.php
  assets/blocks/reader-registration/style.scss
Labels: [Status] Approved

#1924 feat: title and description for registration block
  assets/blocks/reader-registration/block.json
  assets/blocks/reader-registration/edit.js
  assets/blocks/reader-registration/index.php
  assets/blocks/reader-registration/view.js
Labels: [Status] Approved, Reader Activation

#1925 fix(google-oauth): missing email message
  includes/oauth/class-google-login.php
Labels: [Status] Approved, Reader Activation

#1910 feat: use reCAPTCHA to secure all Reader Activation-related forms
  assets/blocks/reader-registration/index.php
  assets/blocks/reader-registration/view.js
  assets/reader-activation/auth.js
  assets/reader-activation/index.js
  assets/wizards/connections/views/main/index.js
  assets/wizards/connections/views/main/recaptcha.js
  assets/wizards/engagement/views/reader-activation/index.js
  assets/wizards/readerRevenue/views/stripe-setup/index.js
  includes/class-newspack.php
  includes/class-reader-activation.php
  includes/class-recaptcha.php
  includes/reader-revenue/class-stripe-connection.php
  includes/wizards/class-reader-revenue-wizard.php
Labels: [Status] Approved, enhancement

#1926 feat: set from details for password reset emails
  includes/class-reader-activation.php
Labels: [Status] Approved, enhancement

#1930 fix(stripe): handle WC-originating Stripe transactions
  includes/reader-revenue/class-stripe-connection.php
Labels: [Status] Approved, Reader Revenue

#1932 fix: show My Account messages using custom messaging instead of WC messaging
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
  includes/reader-revenue/my-account/style.scss
Labels: [Status] Approved, bug

#1933 feat(reader-activation): check lists in auth modal by default
  includes/class-reader-activation.php
Labels: [Status] Needs Review, Reader Activation

#1928 feat: for donations via a prompt, add prompt ID to event label
  includes/reader-revenue/class-stripe-connection.php
Labels: [Status] Approved, enhancement

#1934 fix: post-logout messaging
  includes/class-reader-activation.php
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
Labels: [Status] Approved, enhancement

#1935 fix: register and auth form tweaks
  assets/blocks/reader-registration/style.scss
  assets/blocks/reader-registration/view.js
  assets/reader-activation/auth.js
  assets/reader-activation/auth.scss
  includes/class-reader-activation.php
  includes/reader-revenue/my-account/style.scss
Labels: [Status] Approved, enhancement, bug

#1941 fix(registration-block): fix empty success state
  assets/blocks/reader-registration/index.php
Labels: [Status] Approved, Reader Activation

#1929 Reader Activation: customizable verification email
  assets/other-scripts/emails/index.js
  assets/other-scripts/emails/style.scss
  assets/wizards/engagement/views/reader-activation/index.js
  assets/wizards/readerRevenue/views/emails/index.js
  includes/class-magic-link.php
  includes/class-newspack.php
  includes/emails/class-emails.php
  includes/reader-activation/class-reader-activation-emails.php
  includes/reader-activation/class-reader-activation.php
  includes/reader-revenue/class-reader-revenue-emails.php
  includes/reader-revenue/class-stripe-connection.php
  includes/templates/reader-activation-emails/verification.php
  includes/wizards/class-reader-revenue-wizard.php
  tests/unit-tests/emails.php
Labels: [Status] Approved, Reader Activation

#1949 feat(registration-block): hidden input for subscription
  assets/blocks/reader-registration/block.json
  assets/blocks/reader-registration/edit.js
  assets/blocks/reader-registration/index.php
Labels: [Status] Approved

#1948 fix: localized reader auth error messages
  assets/reader-activation/auth.js
  includes/class-amp-enhancements.php
  includes/reader-activation/class-reader-activation.php
Labels: [Status] Needs Review

#1954 fix(WooCommerce): error notice text color
  includes/reader-revenue/my-account/style.scss
Labels: [Status] Approved

#1955 style: more consistent margins and padding for custom WC message styles
  includes/reader-revenue/my-account/style.scss
Labels: [Status] Approved

#1937 Feat/use universal from email
  assets/other-scripts/emails/index.js
  includes/class-magic-link.php
  includes/emails/class-emails.php
  includes/reader-activation/class-reader-activation-emails.php
  includes/reader-activation/class-reader-activation.php
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
  includes/templates/reader-activation-emails/magic-link.php
  tests/unit-tests/emails.php
Labels: [Status] Approved, Reader Activation

#1951 feat: update billing portal copy
  includes/reader-revenue/templates/myaccount-billing.php
Labels: [Status] Approved, Reader Activation

#1946 feat(analytics): prevent sending NTG newsletter event if subscribing to master list
  includes/class-analytics.php
  includes/plugins/class-newspack-newsletters.php
  tests/unit-tests/newsletters.php
Labels: [Status] Approved, Reader Activation
