Repository Automattic/newspack-plugin, pull requests merged in 2022-09, with the labels that each got.

#1961 fix(emails): editor message
  assets/other-scripts/emails/index.js
Labels: [Status] Approved

#1959 feat: after account deletion message
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
  includes/reader-revenue/templates/myaccount-after-delete-account.php
Labels: [Status] Approved, Reader Activation

#1938 Feat/other emails
  includes/emails/class-emails.php
  includes/reader-activation/class-reader-activation-emails.php
  includes/reader-activation/class-reader-activation.php
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
  includes/templates/reader-activation-emails/delete-account.php
  includes/templates/reader-activation-emails/magic-link.php
  includes/templates/reader-activation-emails/password-reset.php
  includes/templates/reader-activation-emails/verification.php
  tests/unit-tests/emails.php
Labels: [Status] Approved, Reader Activation

#1960 Site Kit: prevent excluding logged-in users from GA if RA is enabled
  includes/plugins/google-site-kit/class-googlesitekit.php
Labels: [Status] Approved, Reader Activation

#1962 fix: allow Register block to be edited even if RAS is not enabled
  assets/blocks/reader-registration/index.php
  includes/class-blocks.php
  includes/reader-activation/class-reader-activation.php
Labels: [Status] Needs Review, bug

#1957 fix(reader-activation): send payment contact metadata only if RA is enabled
  includes/reader-revenue/class-stripe-connection.php
Labels: [Status] Approved, Reader Activation

#1958 Registration block: allow any success markup
  assets/blocks/reader-registration/index.php
Labels: [Status] Approved, Reader Activation

#1964 feat(reader-activation): handle global auth success in registration block
  assets/blocks/reader-registration/view.js
Labels: [Status] Approved, Reader Activation

#1965 feat: custom messaging for reader without password
  includes/reader-activation/class-reader-activation-emails.php
  includes/reader-activation/class-reader-activation.php
  includes/reader-revenue/templates/myaccount-edit-account.php
  includes/templates/reader-activation-emails/password-reset.php
Labels: [Status] Approved, Reader Activation

#1956 feat: update woocommerce account message/notice
  includes/reader-revenue/my-account/style.scss
Labels: [Status] Approved, Reader Activation, enhancement

#1969 feat(reader-activation): improve password reset flow
  includes/emails/class-emails.php
  includes/reader-activation/class-reader-activation-emails.php
  includes/reader-activation/class-reader-activation.php
Labels: [Status] Approved, Reader Activation

#1967 feat: move already have account message above content
  assets/blocks/reader-registration/edit.js
  assets/blocks/reader-registration/editor.scss
  assets/blocks/reader-registration/index.php
  assets/blocks/reader-registration/style.scss
  assets/reader-activation/auth.scss
Labels: [Status] Approved, Reader Activation, enhancement

#1953 feat: give each registration form a unique ID
  assets/blocks/reader-registration/index.php
  includes/class-analytics.php
Labels: [Status] Approved, enhancement

#1974 feat: update reader-facing language on auth fail
  includes/class-magic-link.php
Labels: [Status] Approved

#1979 fix(emails): don't create post if pluggable functions are not available
  includes/emails/class-emails.php
Labels: [Status] Approved

#1980 style: fix unwanted scrollbar for inline auth wrapper
  assets/reader-activation/auth.scss
Labels: [Status] Approved, bug

#1973 fix(ac-master-list): handle empty lists
  includes/plugins/class-newspack-newsletters.php
Labels: [Status] Approved

#1968 Improved Woo sync to ActiveCampaign
  includes/reader-revenue/class-woocommerce-connection.php
Labels: [Status] Approved

#1963 fix: prefix WC My Account actions so we can decide which hooks to support
  includes/reader-revenue/templates/myaccount-delete-account.php
  includes/reader-revenue/templates/myaccount-edit-account.php
  includes/reader-revenue/templates/myaccount-verify.php
Labels: [Status] Approved, enhancement

#1978 Site Design: add check to only change theme if not empty
  includes/wizards/class-setup-wizard.php
Labels: [Status] Approved

#1972 refactor: profile fields getting
  includes/class-profile.php
Labels: [Status] Approved

#1966 Stripe: send data about cancelled subscription to Campaigns
  assets/wizards/popups/components/segment-group/SegmentGroup.test.js
  assets/wizards/popups/utils.js
  assets/wizards/popups/views/segments/SingleSegment.js
  assets/wizards/popups/views/segments/SingleSegment.test.js
  includes/reader-revenue/class-stripe-connection.php
Labels: [Status] Approved

#1981 Stripe to WC sync CLI tool
  includes/class-newspack.php
  includes/reader-revenue/class-stripe-connection.php
  includes/reader-revenue/class-stripe-sync.php
Labels: [Status] Approved, Reader Activation

#1989 feat: do not redirect resubscribe requests
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
Labels: [Status] Approved, bug

#1983 fix(wc-to-ac-metadata): disregard `0` next payment date
  includes/reader-revenue/class-woocommerce-connection.php
Labels: [Status] Approved, Reader Activation

#1985 Adds a filter by Author in the Posts page
  includes/author-filter/class-author-filter.php
  includes/class-newspack.php
Labels: [Status] Approved

#1999 test: update tests dependencies
  composer.json
  composer.lock
  tests/class-newspack-unit-tests-bootstrap.php
Labels: [Status] Approved

#1988 feat(auth): otp embedded to magic links
  assets/reader-activation/auth.js
  assets/reader-activation/auth.scss
  assets/reader-activation/index.js
  includes/class-magic-link.php
  includes/reader-activation/class-reader-activation-emails.php
  includes/reader-activation/class-reader-activation.php
  includes/templates/reader-activation-emails/otp.php
  tests/unit-tests/magic-link.php
Labels: [Status] Approved, [Status] Needs Design Review, Reader Activation

#2003 refactor: add namespace to author filters
  includes/author-filter/class-author-filter.php
Labels: [Status] Approved

#2004 feat: stop auto-email on registration and rate limit unverified accounts
  CHANGELOG.md
  assets/blocks/reader-registration/edit.js
  assets/reader-activation/auth.js
  includes/reader-activation/class-reader-activation.php
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
  newspack.php
  package-lock.json
  package.json
Labels: [Status] Approved

#1997 feat(plugins): handle missing organic-profile-block plugin
  assets/other-scripts/organic-profile-block/index.js
  assets/other-scripts/organic-profile-block/style.scss
  includes/class-newspack.php
  includes/plugins/class-organic-profile-block.php
Labels: [Status] Approved

#2024 fix(reader-activation-auth): header link color
  assets/reader-activation/auth.scss
Labels: [Status] Approved, Reader Activation

#2027 style: RAS - Improve billing template
  includes/reader-revenue/templates/myaccount-billing.php
Labels: [Status] Approved

#2022 Hotfix/remove preset frequency
  assets/wizards/popups/utils.js
Labels: [Status] Approved

#2008 fix(stripe): handle error if customer LTV is not retrievable
  includes/reader-revenue/class-stripe-connection.php
Labels: [Status] Approved

#2020 fix(wc-to-ac-metadata): add last payment date field for one-time donors
  includes/reader-revenue/class-woocommerce-connection.php
Labels: [Status] Approved

#2005 feat(plugins-screen): display a plugin review form, if supplied
  assets/plugins-screen/plugins-screen.js
  assets/plugins-screen/plugins-screen.scss
  includes/class-admin-plugins-screen.php
Labels: [Status] Approved, [Status] Needs Design Review

#2034 fix(analytics): improve reliability of custom events reporting in AMP
  CHANGELOG.md
  includes/class-analytics.php
  newspack.php
  package-lock.json
  package.json
Labels: [Status] Approved

#2032 Stripe-to-Stripe Migrator
  includes/reader-revenue/class-stripe-sync.php
Labels: [Status] Approved

#2030 Feature: Limit the number of revisions kept in the database
  includes/class-newspack.php
  includes/revisions-control/README.md
  includes/revisions-control/class-revisions-control.php
  tests/unit-tests/revisions-control.php
Labels: [Status] Approved

#2029 fix(wizards): rename advertising scripts and API paths to bypass ad blockers
  assets/wizards/advertising/components/onboarding/index.js
  assets/wizards/advertising/index.js
  assets/wizards/advertising/views/ad-units/index.js
  assets/wizards/advertising/views/ad-units/service-account-connection.js
  assets/wizards/advertising/views/providers/index.js
  includes/wizards/class-advertising-wizard.php
  webpack.config.js
Labels: [Status] Approved

#2037 feat(plugins-screen): update button to use primary style
  assets/plugins-screen/plugins-screen.js
  assets/plugins-screen/plugins-screen.scss
Labels: [Status] Approved

#2042 Release Sep 27
  CHANGELOG.md
  assets/other-scripts/organic-profile-block/index.js
  assets/other-scripts/organic-profile-block/style.scss
  assets/plugins-screen/plugins-screen.js
  assets/plugins-screen/plugins-screen.scss
  assets/reader-activation/auth.js
  assets/reader-activation/auth.scss
  assets/reader-activation/index.js
  assets/wizards/popups/components/segment-group/SegmentGroup.test.js
  assets/wizards/popups/utils.js
  assets/wizards/popups/views/segments/SingleSegment.js
  assets/wizards/popups/views/segments/SingleSegment.test.js
  composer.json
  composer.lock
  includes/author-filter/class-author-filter.php
  includes/class-admin-plugins-screen.php
  includes/class-magic-link.php
  includes/class-newspack.php
  includes/plugins/class-organic-profile-block.php
  includes/reader-activation/class-reader-activation-emails.php
  includes/reader-activation/class-reader-activation.php
  includes/reader-revenue/class-stripe-connection.php
  includes/reader-revenue/class-stripe-sync.php
  includes/reader-revenue/class-woocommerce-connection.php
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
  includes/reader-revenue/templates/myaccount-billing.php
  includes/revisions-control/README.md
  includes/revisions-control/class-revisions-control.php
  includes/templates/reader-activation-emails/otp.php
  includes/wizards/class-analytics-wizard.php
  newspack.php
  package-lock.json
  package.json
  tests/class-newspack-unit-tests-bootstrap.php
  tests/unit-tests/magic-link.php
  tests/unit-tests/revisions-control.php
Labels: [Status] Approved

#2023 Update tests to php8
  .circleci/config.yml
  composer.json
  composer.lock
  phpunit.xml
  tests/unit-tests/api-plugins-controller.php
  tests/unit-tests/api-wizards-controller.php
  tests/unit-tests/emails.php
  tests/unit-tests/magic-link.php
  tests/unit-tests/plugin-manager.php
  tests/unit-tests/popups-analytics.php
  tests/unit-tests/reader-activation.php
  tests/unit-tests/settings.php
  tests/unit-tests/stripe-connection.php
  tests/unit-tests/theme-manager.php
Labels: [Status] Approved

#2006 style: update styles of Subscription Totals table in My Account
  includes/reader-revenue/my-account/style.scss
Labels: [Status] Approved

#2050 hotfix: disable author filter for co-authors
  includes/author-filter/class-author-filter.php
Labels: [Status] Approved

#2052 feat: custom email sender for reader activation
  CHANGELOG.md
  assets/wizards/engagement/views/reader-activation/index.js
  includes/emails/class-emails.php
  includes/reader-activation/class-reader-activation.php
  includes/reader-revenue/class-reader-revenue-emails.php
  newspack.php
  package-lock.json
  package.json
Labels: [Status] Approved
