Repository Automattic/newspack-plugin, pull requests merged in 2022-10, with the labels that each got.

#2057 fix(reader-activation): checkbox alignment
  assets/reader-activation/auth.scss
Labels: [Status] Approved

#2056 fix(reader-activation): vertical alignment of the icon
  assets/reader-activation/auth.scss
Labels: [Status] Approved

#2063 feat: update woocommerce account details and use cards
  includes/reader-revenue/templates/myaccount-edit-account.php
Labels: [Status] Approved, Reader Activation

#2053 fix(auth): ensure OTP on reader state changes
  assets/reader-activation/auth.js
Labels: [Status] Approved

#1915 feat(ads): expand suppression options
  assets/wizards/advertising/views/suppression/index.js
  includes/configuration_managers/class-newspack-ads-configuration-manager.php
  includes/wizards/class-advertising-wizard.php
Labels: [Status] Approved

#2064 feat: show unregistered RAS UI to admins
  assets/blocks/reader-registration/index.php
Labels: [Status] Approved, enhancement

#2065 fix: fire ini-load analytics events on DOMContentLoaded, not load
  includes/class-analytics.php
Labels: [Status] Approved, bug

#2048 feat(ads): publisher media kit add-on
  assets/wizards/advertising/components/add-ons/index.js
  includes/class-plugin-manager.php
  includes/wizards/class-advertising-wizard.php
Labels: [Status] Approved

#2033 Add the Significant Revisions feature
  includes/revisions-control/class-major-revision.php
  includes/revisions-control/class-major-revisions.php
  includes/revisions-control/class-revisions-control.php
  includes/revisions-control/newspack-revisions.css
  includes/revisions-control/newspack-revisions.js
  tests/unit-tests/revisions-control.php
Labels: [Status] Approved

#2067 Hotfix: donations sync errors
  includes/reader-revenue/class-stripe-connection.php
  includes/reader-revenue/class-woocommerce-connection.php
Labels: [Status] Approved, Stripe, WooCommerce

#2043 feat(reader-auth): improved otp ux
  assets/reader-activation/auth.js
  assets/reader-activation/auth.scss
  includes/reader-activation/class-reader-activation.php
Labels: [Status] Approved, [Status] Needs changes or feedback

#2075 fix: "Sign In" page styles
  assets/blocks/reader-registration/style.scss
  assets/reader-activation/auth.scss
  assets/shared/scss/_mixins.scss
Labels: [Status] Approved

#2074 fix(ads): rename GAM methods
  includes/configuration_managers/class-newspack-ads-configuration-manager.php
Labels: [Status] Approved

#2077 fix: sql error with starter content queries
  includes/starter_content/class-starter-content-provider.php
Labels: [Status] Approved, bug

#2076 fix: check Woo plugins status before enabling RAS
  assets/wizards/engagement/views/reader-activation/index.js
  includes/class-plugin-manager.php
  includes/reader-activation/class-reader-activation.php
  tests/class-newspack-unit-tests-bootstrap.php
  tests/unit-tests/reader-activation.php
Labels: [Status] Approved, [Status] Needs changes or feedback, enhancement

#2079 fix: show display name in My Account UI
  includes/reader-revenue/templates/myaccount-edit-account.php
Labels: [Status] Approved, bug

#2083 fix: "Sign In" page styles
  assets/blocks/reader-registration/style.scss
  assets/reader-activation/auth.scss
  assets/shared/scss/_mixins.scss
Labels: [Status] Needs Review

#2084 Release Oct 19
  .circleci/config.yml
  CHANGELOG.md
  assets/blocks/reader-registration/edit.js
  assets/blocks/reader-registration/index.php
  assets/blocks/reader-registration/style.scss
  assets/plugins-screen/plugins-screen.js
  assets/plugins-screen/plugins-screen.scss
  assets/reader-activation/auth.js
  assets/reader-activation/auth.scss
  assets/shared/scss/_mixins.scss
  assets/wizards/advertising/components/onboarding/index.js
  assets/wizards/advertising/index.js
  assets/wizards/advertising/views/ad-units/index.js
  assets/wizards/advertising/views/ad-units/service-account-connection.js
  assets/wizards/advertising/views/providers/index.js
  assets/wizards/advertising/views/suppression/index.js
  composer.json
  composer.lock
  includes/configuration_managers/class-newspack-ads-configuration-manager.php
  includes/reader-activation/class-reader-activation.php
  includes/reader-revenue/my-account/style.scss
  includes/reader-revenue/templates/myaccount-edit-account.php
  includes/wizards/class-advertising-wizard.php
  newspack.php
  package-lock.json
  package.json
  phpunit.xml
  tests/unit-tests/api-plugins-controller.php
  tests/unit-tests/api-wizards-controller.php
  tests/unit-tests/emails.php
  tests/unit-tests/magic-link.php
  tests/unit-tests/plugin-manager.php
  tests/unit-tests/popups-analytics.php
  tests/unit-tests/reader-activation.php
  tests/unit-tests/settings.php
  tests/unit-tests/stripe-connection.php
  tests/unit-tests/theme-manager.php
  webpack.config.js
Labels: [Status] Approved

#1994 Adds meta pixel settings section
  assets/wizards/engagement/views/social/index.js
  assets/wizards/engagement/views/social/meta-pixel.js
  includes/class-meta-pixel.php
  includes/class-newspack.php
  includes/wizards/class-engagement-wizard.php
Labels: [Status] Approved

#2086 fix: apply My Account template changes only when RAS is active
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
Labels: [Status] Approved, bug

#2078 fix: use default terms text in reg block if no text defined
  assets/blocks/reader-registration/block.json
  assets/blocks/reader-registration/edit.js
  assets/blocks/reader-registration/index.php
  includes/class-blocks.php
Labels: [Status] Approved, enhancement

#2098 Release Oct 31
  CHANGELOG.md
  assets/reader-activation/auth.js
  assets/reader-activation/auth.scss
  assets/wizards/advertising/components/add-ons/index.js
  assets/wizards/engagement/views/reader-activation/index.js
  assets/wizards/engagement/views/social/index.js
  assets/wizards/engagement/views/social/meta-pixel.js
  composer.lock
  includes/class-donations.php
  includes/class-meta-pixel.php
  includes/class-newspack.php
  includes/class-plugin-manager.php
  includes/configuration_managers/class-newspack-ads-configuration-manager.php
  includes/reader-activation/class-reader-activation.php
  includes/reader-revenue/class-stripe-connection.php
  includes/reader-revenue/class-woocommerce-connection.php
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
  includes/reader-revenue/templates/myaccount-edit-account.php
  includes/revisions-control/class-major-revision.php
  includes/revisions-control/class-major-revisions.php
  includes/revisions-control/class-revisions-control.php
  includes/revisions-control/newspack-revisions.css
  includes/revisions-control/newspack-revisions.js
  includes/starter_content/class-starter-content-provider.php
  includes/wizards/class-advertising-wizard.php
  includes/wizards/class-engagement-wizard.php
  newspack.php
  package-lock.json
  package.json
  tests/class-newspack-unit-tests-bootstrap.php
  tests/class-stripemockhttpclient.php
  tests/unit-tests/reader-activation.php
  tests/unit-tests/revisions-control.php
  tests/unit-tests/stripe-connection.php
Labels: [Status] Approved

#2099 fix(oauth): log missing google scopes
  CHANGELOG.md
  includes/oauth/class-google-oauth.php
  newspack.php
  package-lock.json
  package.json
Labels: [Status] Needs Review
