Repository Automattic/newspack-plugin, pull requests merged in 2022-11, with the labels that each got.

#2093 feat(newsletter-contact): disallow overriding membership status field
  includes/plugins/class-newspack-newsletters.php
  includes/reader-revenue/class-stripe-connection.php
Labels: [Status] Approved, Reader Activation

#2100 style: hide logged-out message if submitting login form again
  assets/reader-activation/auth.js
Labels: [Status] Approved, enhancement

#2101 fix: apply ex-donor status only if user has no active subscriptions
  includes/reader-revenue/class-stripe-connection.php
  includes/reader-revenue/class-woocommerce-connection.php
Labels: [Status] Approved, bug

#2102 Feat/author fields
  includes/authors/class-authors-custom-fields.php
  includes/class-newspack.php
Labels: [Status] Approved

#2103 fix(stripe): handle failed invoice fatal error
  includes/reader-revenue/class-stripe-connection.php
Labels: [Status] Approved

#2106 fix(oauth): change Google's `dfp` scope to `admanager`
  CHANGELOG.md
  includes/oauth/class-google-oauth.php
  newspack.php
  package-lock.json
  package.json
Labels: [Status] Approved

#2109 Fix/ci build
  .eslintrc.js
  package-lock.json
  package.json
Labels: [Status] Approved

#2111 fix: package lock
  package-lock.json
Labels: [Status] Needs Review

#2117 fix(Stripe): improve handling of invoice error
  includes/reader-revenue/class-stripe-connection.php
Labels: [Status] Approved

#2112 fix: delay receipt sending until Stripe webhook handler succeeds
  includes/reader-revenue/class-stripe-connection.php
Labels: [Status] Approved, bug

#2119 fix(stripe): invoice error handling
  includes/reader-revenue/class-stripe-connection.php
Labels: [Status] Approved

#2105 feat(plugin-screen): improve the pre-install prompt
  assets/plugins-screen/plugins-screen.js
  assets/plugins-screen/plugins-screen.scss
  includes/class-admin-plugins-screen.php
Labels: [Status] Approved

#2125 update newspack-scripts and CI orb
  .circleci/config.yml
  package-lock.json
  package.json
Labels: [Status] Approved

#2123 fix(woo): use variable post meta table name
  includes/reader-revenue/class-woocommerce-connection.php
Labels: [Status] Approved

#2126 update CI orb, hopefully finally
  .circleci/config.yml
Labels: [Status] Approved

#2128 Release Nov 14
  .circleci/config.yml
  CHANGELOG.md
  assets/blocks/reader-registration/block.json
  assets/blocks/reader-registration/edit.js
  assets/blocks/reader-registration/index.php
  assets/components/package.json
  assets/reader-activation/auth.js
  composer.lock
  includes/authors/class-authors-custom-fields.php
  includes/class-blocks.php
  includes/class-newspack.php
  includes/plugins/class-newspack-newsletters.php
  includes/reader-revenue/class-stripe-connection.php
  includes/reader-revenue/class-woocommerce-connection.php
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
  newspack.php
  package-lock.json
  package.json
Labels: [Status] Approved

#2021 Remove Stripe subs. on WP account deletion
  includes/reader-revenue/class-stripe-connection.php
  includes/reader-revenue/templates/myaccount-delete-account.php
  includes/reader-revenue/templates/myaccount-edit-account.php
Labels: [Status] Approved, Reader Activation

#2122 fix(woo): disable new order email on subscription renewals
  includes/reader-revenue/class-woocommerce-connection.php
Labels: [Status] Approved

#2131 feat: allow non-readers to log in via RAS and send them to WP admin
  assets/reader-activation/auth.js
  includes/class-magic-link.php
  includes/reader-activation/class-reader-activation.php
  tests/unit-tests/magic-link.php
Labels: [Type] Feature request, [Status] Approved

#2133 fix: revert non reader login
  assets/reader-activation/auth.js
  includes/class-magic-link.php
  includes/reader-activation/class-reader-activation.php
  tests/unit-tests/magic-link.php
Labels: [Status] Approved

#2135 feat(setup-wizard): disambiguate starter vs. demo content
  assets/wizards/setup/views/welcome/index.js
Labels: [Status] Approved

#2132 fix(my-account): hide account deletion for non-reader users
  includes/reader-revenue/templates/myaccount-edit-account.php
Labels: [Status] Approved

#2134 chore: error handling in reader registration
  assets/blocks/reader-registration/index.php
Labels: [Status] Approved

#2145 fix(auth): prevent autocomplete for honeypot field
  includes/reader-activation/class-reader-activation.php
Labels: [Status] Approved

#2147 Fix test emails sending
  includes/emails/class-emails.php
  tests/unit-tests/emails.php
Labels: [Status] Approved

#2148 feat(analytics): allow adding custom dimensions' values via filter
  includes/class-analytics.php
Labels: [Status] Approved

#2142 UI fixes for Stripe setup in Reader Revenue wizard
  assets/components/src/tabbed-navigation/index.js
  assets/components/src/wizard/index.js
  assets/components/src/wizard/store/index.js
  assets/wizards/readerRevenue/views/stripe-setup/index.js
  includes/class-newspack.php
  includes/reader-revenue/stripe/class-stripe-connection.php
  includes/reader-revenue/stripe/class-stripe-sync.php
  includes/reader-revenue/stripe/class-stripe-webhooks.php
  includes/wizards/class-reader-revenue-wizard.php
Labels: [Status] Approved

#2150 feat(ads): marketplace wizard ui
  assets/wizards/advertising/index.js
  assets/wizards/advertising/views/index.js
  assets/wizards/advertising/views/marketplace/index.js
Labels: [Status] Approved

#2149 fix(analytics): improve the condition for using Site Kit's Analytics module
  includes/class-analytics.php
Labels: [Status] Approved

#1076 feat(amp-plus): allow OneSignal script
  includes/class-amp-enhancements.php
  includes/class-newspack.php
  includes/plugins/class-gravityforms.php
  includes/plugins/class-jetpack.php
  includes/plugins/class-onesignal.php
Labels: [Status] Approved

#2144 Feat/twitter pixel
  assets/wizards/engagement/views/social/index.js
  assets/wizards/engagement/views/social/meta-pixel.js
  assets/wizards/engagement/views/social/pixel.js
  assets/wizards/engagement/views/social/twitter-pixel.js
  includes/class-meta-pixel.php
  includes/class-newspack.php
  includes/tracking/class-meta-pixel.php
  includes/tracking/class-pixel.php
  includes/tracking/class-twitter-pixel.php
  includes/wizards/class-engagement-wizard.php
Labels: [Status] Approved

#2118 fix(logging): add missing Logger::error method
  includes/class-logger.php
  includes/emails/class-emails.php
  includes/oauth/class-google-login.php
  includes/oauth/class-google-oauth.php
  includes/oauth/class-google-services-connection.php
  includes/oauth/class-oauth.php
  includes/plugins/class-newspack-newsletters.php
  includes/plugins/google-site-kit/class-googlesitekit.php
  includes/reader-activation/class-reader-activation.php
  includes/reader-revenue/class-woocommerce-connection.php
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
  includes/reader-revenue/stripe/class-stripe-connection.php
Labels: [Status] Approved

#2154 Newspack.pub -> Newspack.com
  README.md
  assets/components/src/consts.js
  assets/components/src/footer/index.js
  assets/components/src/web-preview/index.js
  assets/wizards/componentsDemo/index.js
  assets/wizards/connections/views/main/fivetran.js
  composer.json
  includes/class-plugin-manager.php
  includes/wizards/class-wizard.php
  languages/newspack-plugin.pot
  newspack.php
  package.json
Labels: [Status] Approved

#2155 Release Nov 28
  .circleci/config.yml
  CHANGELOG.md
  assets/plugins-screen/plugins-screen.js
  assets/plugins-screen/plugins-screen.scss
  composer.lock
  includes/class-admin-plugins-screen.php
  includes/reader-activation/class-reader-activation.php
  includes/reader-revenue/class-stripe-connection.php
  includes/reader-revenue/class-woocommerce-connection.php
  includes/reader-revenue/templates/myaccount-delete-account.php
  includes/reader-revenue/templates/myaccount-edit-account.php
  newspack.php
  package-lock.json
  package.json
Labels: [Status] Approved

#2153 Disable local lists in the newsletters wizard
  assets/wizards/engagement/views/newsletters/index.js
Labels: [Status] Approved

#2158 fix: override woo subscriptions login requirement on checkout
  CHANGELOG.md
  assets/blocks/reader-registration/index.php
  includes/reader-activation/class-reader-activation.php
  newspack.php
  package-lock.json
  package.json
Labels: [Type] Bug, [Status] Approved
