Repository Automattic/newspack-plugin, pull requests merged in 2022-01, with the labels that each got.

#1376 Feat/stripe fees setting
  assets/components/src/wizard/store/index.js
  assets/wizards/readerRevenue/views/stripe-setup/index.js
  includes/reader-revenue/class-stripe-connection.php
  includes/wizards/class-reader-revenue-wizard.php
  tests/unit-tests/stripe-connection.php
Labels: [Status] Approved

#1316 Setup Wizard fixes
  assets/wizards/setup/index.js
  assets/wizards/setup/views/integrations/index.js
  assets/wizards/site-design/views/main/index.js
  includes/class-profile.php
  includes/util.php
  includes/wizards/class-reader-revenue-wizard.php
  includes/wizards/class-setup-wizard.php
Labels: [Status] Approved

#1422 chore: update post-release job to pull changelog and semver changes to master
  .circleci/config.yml
  CHANGELOG.md
Labels: [Status] Approved, [Type] Infrastructure

#1407 change how we check post validity when preventing page deletion
  includes/class-patches.php
Labels: [Status] Approved

#1368 Feat/use newspack scripts
  .circleci/config.yml
  .eslintrc.js
  .gitignore
  .stylelintrc
  assets/setupTests.js
  assets/wizards/advertising/components/placement-control/index.js
  assets/wizards/popups/index.js
  babel.config.js
  commitlint.config.js
  composer.json
  package-lock.json
  package.json
  webpack.config.js
Labels: [Status] Approved

#1427 feat(amp): enable disallowing explicitly kept scripts, for debugging
  includes/class-amp-enhancements.php
Labels: [Status] Approved

#1429 refactor(salesforce): simplify Salesforce API requests
  assets/components/src/plugin-settings/SettingsSection.js
  assets/components/src/plugin-settings/index.js
  assets/wizards/readerRevenue/views/salesforce/index.js
  includes/class-newspack.php
  includes/class-salesforce.php
  includes/class-webhooks.php
  includes/wizards/class-reader-revenue-wizard.php
Labels: [Status] Approved, [Status] Needs changes or feedback

#1377 Add a "completion" screen to the onboarding
  assets/components/src/card/index.js
  assets/components/src/card/style.scss
  assets/components/src/footer/index.js
  assets/components/src/newspack-icon/index.js
  assets/components/src/newspack-icon/style.scss
  assets/components/src/section-header/index.js
  assets/components/src/section-header/style.scss
  assets/components/src/with-wizard/style.scss
  assets/wizards/setup/index.js
  assets/wizards/setup/style.scss
  assets/wizards/setup/views/completed/index.js
  assets/wizards/setup/views/index.js
  assets/wizards/setup/views/integrations/index.js
  assets/wizards/setup/views/welcome/index.js
  assets/wizards/site-design/views/main/index.js
  assets/wizards/site-design/views/main/style.scss
  assets/wizards/support/views/create-ticket/index.js
  includes/wizards/class-wizard.php
Labels: [Status] Approved, [Status] Needs changes or feedback

#1443 fix: restore accidentally-deleted rest route
  includes/wizards/class-reader-revenue-wizard.php
Labels: [Type] Bug, [Status] Approved

#1389 Add/proxy improvements
  includes/class-logger.php
  includes/class-newspack.php
  includes/oauth/class-google-oauth.php
  includes/oauth/class-oauth.php
Labels: [Status] Approved

#1448 AutomateWoo linkfix
  includes/class-plugin-manager.php
Labels: [Status] Approved

#1438 Fix Color Picker for WP 5.9
  assets/components/src/color-picker/style.scss
Labels: [Status] Approved

#1439 fix: modal header for WP 5.9
  assets/components/src/modal/style.scss
Labels: [Status] Approved

#1442 fix: timeouts due to use of get_post when checking whether to allow deletion
  includes/class-patches.php
Labels: [Type] Bug, [Status] Approved

#1452 Release Jan 18
  .circleci/config.yml
  .eslintrc.js
  .gitignore
  .stylelintrc
  CHANGELOG.md
  assets/components/src/wizard/store/index.js
  assets/setupTests.js
  assets/wizards/advertising/components/placement-control/index.js
  assets/wizards/popups/index.js
  assets/wizards/readerRevenue/views/stripe-setup/index.js
  assets/wizards/setup/index.js
  assets/wizards/setup/views/integrations/index.js
  assets/wizards/site-design/views/main/index.js
  babel.config.js
  commitlint.config.js
  composer.json
  composer.lock
  includes/class-patches.php
  includes/class-profile.php
  includes/reader-revenue/class-stripe-connection.php
  includes/util.php
  includes/wizards/class-reader-revenue-wizard.php
  includes/wizards/class-setup-wizard.php
  newspack.php
  package-lock.json
  package.json
  tests/unit-tests/stripe-connection.php
  webpack.config.js
Labels: [Status] Approved

#1454 Post-release 1/19/2022
  CHANGELOG.md
  newspack.php
  package-lock.json
  package.json
Labels: [Status] Approved, [Type] Infrastructure

#1451 Feat/1393 update plugin list
  includes/class-plugin-manager.php
Labels: [Status] Approved

#1426 Refactor/wizards
  assets/components/src/wizard/store/index.js
  assets/wizards/support/index.js
  assets/wizards/support/views/chat/index.js
  assets/wizards/support/views/create-ticket/index.js
  assets/wizards/support/views/list-tickets/index.js
  assets/wizards/support/views/loading/index.js
  assets/wizards/syndication/index.js
  assets/wizards/syndication/views/intro/index.js
Labels: [Status] Needs Review

#1449 Display all newsletter providers during the onboarding
  assets/wizards/engagement/views/newsletters/index.js
  assets/wizards/setup/views/services/index.js
Labels: [Status] Approved

#1453 Remove integrations from onboarding and add them to connections wizard
  assets/components/src/action-card/index.js
  assets/components/src/action-card/style.scss
  assets/wizards/connections/views/main/fivetran.js
  assets/wizards/connections/views/main/google.js
  assets/wizards/connections/views/main/index.js
  assets/wizards/connections/views/main/mailchimp.js
  assets/wizards/connections/views/main/plugins.js
  assets/wizards/connections/views/main/wpcom.js
  assets/wizards/setup/index.js
  assets/wizards/setup/views/index.js
  assets/wizards/setup/views/integrations/index.js
Labels: [Status] Approved

#1457 Update wizard overall design and reinstate sub-header text
  assets/components/src/button-card/index.js
  assets/components/src/button-card/style.scss
  assets/components/src/index.js
  assets/components/src/plugin-installer/index.js
  assets/components/src/plugin-settings/index.js
  assets/components/src/preview-box/index.js
  assets/components/src/preview-box/style.scss
  assets/components/src/with-wizard-screen/index.js
  assets/components/src/with-wizard-screen/style.scss
  assets/components/src/with-wizard/index.js
  assets/components/src/wizard/index.js
  assets/wizards/advertising/index.js
  assets/wizards/advertising/views/ad-units/index.js
  assets/wizards/advertising/views/ad-units/service-account-connection.js
  assets/wizards/advertising/views/placements/index.js
  assets/wizards/advertising/views/services/index.js
  assets/wizards/advertising/views/settings/index.js
  assets/wizards/componentsDemo/index.js
  assets/wizards/dashboard/index.js
  assets/wizards/engagement/index.js
  assets/wizards/engagement/views/related-content/index.js
  assets/wizards/engagement/views/social/index.js
  assets/wizards/health-check/views/plugins/index.js
  assets/wizards/popups/index.js
  assets/wizards/readerRevenue/index.js
  assets/wizards/seo/index.js
  assets/wizards/seo/views/environment/index.js
  assets/wizards/seo/views/index.js
  assets/wizards/seo/views/separator/index.js
  assets/wizards/seo/views/settings/index.js
  assets/wizards/seo/views/social/index.js
  assets/wizards/seo/views/tools/index.js
  assets/wizards/setup/index.js
  assets/wizards/setup/views/services/index.js
  assets/wizards/site-design/index.js
  assets/wizards/site-design/views/main/index.js
  includes/wizards/class-advertising-wizard.php
  includes/wizards/class-dashboard.php
  includes/wizards/class-engagement-wizard.php
  includes/wizards/class-seo-wizard.php
  includes/wizards/class-site-design-wizard.php
  languages/newspack-plugin.pot
Labels: [Status] Approved

#1466 chore: remove Facebook Instant Articles as a recommended plugin
  assets/components/src/plugin-toggle/index.js
  assets/wizards/engagement/views/commenting/index.js
  assets/wizards/syndication/views/intro/index.js
  includes/class-plugin-manager.php
Labels: [Status] Approved

#1468 Release Jan 25
  CHANGELOG.md
  assets/components/src/card/index.js
  assets/components/src/card/style.scss
  assets/components/src/category-autocomplete/index.js
  assets/components/src/color-picker/style.scss
  assets/components/src/footer/index.js
  assets/components/src/modal/style.scss
  assets/components/src/newspack-icon/index.js
  assets/components/src/newspack-icon/style.scss
  assets/components/src/plugin-settings/SettingsSection.js
  assets/components/src/plugin-settings/index.js
  assets/components/src/section-header/index.js
  assets/components/src/section-header/style.scss
  assets/components/src/with-wizard/style.scss
  assets/wizards/advertising/index.js
  assets/wizards/engagement/views/newsletters/index.js
  assets/wizards/readerRevenue/views/salesforce/index.js
  assets/wizards/setup/index.js
  assets/wizards/setup/style.scss
  assets/wizards/setup/views/completed/index.js
  assets/wizards/setup/views/index.js
  assets/wizards/setup/views/integrations/index.js
  assets/wizards/setup/views/welcome/index.js
  assets/wizards/site-design/views/main/index.js
  assets/wizards/site-design/views/main/style.scss
  assets/wizards/support/views/create-ticket/index.js
  composer.lock
  includes/class-amp-enhancements.php
  includes/class-logger.php
  includes/class-newspack.php
  includes/class-patches.php
  includes/class-plugin-manager.php
  includes/class-salesforce.php
  includes/class-webhooks.php
  includes/oauth/class-google-oauth.php
  includes/oauth/class-oauth.php
  includes/wizards/class-advertising-wizard.php
  includes/wizards/class-reader-revenue-wizard.php
  includes/wizards/class-setup-wizard.php
  includes/wizards/class-wizard.php
  newspack.php
  package-lock.json
  package.json
Labels: [Status] Approved

#1423 feat(connections-fivetran): add TOS acceptance
  assets/wizards/connections/views/main/fivetran.js
  includes/oauth/class-fivetran-connection.php
Labels: [Status] Needs Review, Connections

#1378 feat: settings section hooks
  assets/components/src/plugin-settings/SettingsSection.js
  assets/components/src/plugin-settings/index.js
Labels: [Status] Approved

#1425 feat(salesforce): check duplicate site status and disable syncs if clone
  includes/class-salesforce.php
Labels: [Type] Enhancement, [Status] Approved

#1474 hotfix: disable author archives for subscribers
  CHANGELOG.md
  includes/class-patches.php
  newspack.php
  package-lock.json
  package.json
Labels: [Type] Bug, [Status] Approved

#1480 hotfix: settings section hooks
  CHANGELOG.md
  assets/components/src/plugin-settings/SettingsSection.js
  assets/components/src/plugin-settings/index.js
  newspack.php
  package-lock.json
  package.json
Labels: [Status] Approved
