Repository Automattic/newspack-plugin, pull requests merged in 2023-05, with the labels that each got.

#2435 fix(ras-defaults): updates for design review feedback
  assets/wizards/engagement/components/prompt.tsx
Labels: [Status] Approved, [Status] Needs Design Review

#2427 feat(sign-in): support "register modal" hash url
  assets/reader-activation/auth.js
Labels: [Status] Approved

#2437 fix(ras-defaults): feedback from QA
  assets/components/src/notice/style.scss
  assets/components/src/section-header/index.js
  assets/wizards/connections/views/main/recaptcha.js
  assets/wizards/engagement/components/prerequisite.tsx
  assets/wizards/engagement/components/prompt.tsx
  assets/wizards/engagement/components/types.ts
  assets/wizards/engagement/views/reader-activation/style.scss
  includes/reader-activation/class-reader-activation.php
Labels: [Status] Approved

#2439 fix(ga4): donation event conditional typo
  includes/data-events/connectors/ga4/class-ga4.php
Labels: [Status] Approved

#2424 feat: add indentation to groups newsletters
  assets/wizards/engagement/views/newsletters/index.js
  assets/wizards/engagement/views/newsletters/style.scss
Labels: [Status] Approved

#2385 Improved handling of trial subscriptions in ESP sync
  includes/reader-revenue/stripe/class-stripe-sync.php
Labels: [Status] Approved

#2442 fix(ras-defaults): check for required plugins in RAS setup wizard
  assets/wizards/engagement/components/types.ts
  assets/wizards/engagement/views/reader-activation/index.js
  includes/reader-activation/class-reader-activation.php
Labels: [Status] Approved

#2448 Release May 08
  .distignore
  CHANGELOG.md
  assets/blocks/reader-registration/index.php
  assets/components/src/action-card/index.js
  assets/components/src/action-card/style.scss
  assets/components/src/consts.js
  assets/components/src/image-upload/index.js
  assets/components/src/index.js
  assets/components/src/notice/index.js
  assets/components/src/notice/style.scss
  assets/components/src/section-header/index.js
  assets/components/src/steps-list-item/index.js
  assets/components/src/steps-list-item/style.scss
  assets/components/src/steps-list/index.js
  assets/components/src/steps-list/style.scss
  assets/components/src/with-wizard-screen/index.js
  assets/components/src/wizard/index.js
  assets/memberships-gate/overlay.scss
  assets/reader-activation/auth.js
  assets/wizards/componentsDemo/index.js
  assets/wizards/connections/views/main/recaptcha.js
  assets/wizards/engagement/components/active-campaign.js
  assets/wizards/engagement/components/prerequisite.tsx
  assets/wizards/engagement/components/prompt.tsx
  assets/wizards/engagement/components/types.ts
  assets/wizards/engagement/index.js
  assets/wizards/engagement/views/index.js
  assets/wizards/engagement/views/newsletters/index.js
  assets/wizards/engagement/views/reader-activation/campaign.js
  assets/wizards/engagement/views/reader-activation/complete.js
  assets/wizards/engagement/views/reader-activation/index.js
  assets/wizards/engagement/views/reader-activation/style.scss
  assets/wizards/popups/utils.js
  assets/wizards/readerRevenue/index.js
  assets/wizards/readerRevenue/views/nrh-settings/index.js
  composer.lock
  includes/class-amp-enhancements.php
  includes/class-newspack.php
  includes/class-nrh.php
  includes/configuration_managers/class-newspack-newsletters-configuration-manager.php
  includes/configuration_managers/class-newspack-popups-configuration-manager.php
  includes/emails/class-emails.php
  includes/plugins/class-perfmatters.php
  includes/plugins/wc-memberships/block-patterns/donation-wall.php
  includes/plugins/wc-memberships/block-patterns/pay-wall-one-tier.php
  includes/plugins/wc-memberships/block-patterns/registration-wall.php
  includes/plugins/wc-memberships/class-block-patterns.php
  includes/plugins/wc-memberships/class-wc-memberships.php
  includes/reader-activation/class-reader-activation.php
  includes/wizards/class-engagement-wizard.php
  includes/wizards/class-reader-revenue-wizard.php
  newspack.php
  package-lock.json
  package.json
  tsconfig.json
Labels: [Status] Approved

#2434 fix: ensure migrated Stripe subs have next_payment scheduled
  includes/reader-revenue/class-woocommerce-connection.php
  includes/reader-revenue/stripe/class-stripe-sync.php
Labels: [Status] Approved

#2446 feat: filter existing webhooks endpoints
  assets/wizards/connections/views/main/webhooks.js
  includes/data-events/class-data-events.php
  includes/data-events/class-webhooks.php
  tests/unit-tests/webhooks.php
Labels: [Status] Approved

#2449 fix(perfmatters): do not delay CSS from Newspack Campaigns or Perfmatters’ own cache
  includes/plugins/class-perfmatters.php
Labels: [Status] Approved, performance

#2459 fix(perfmatters): exlcude Newspack CSS from being delayed
  includes/plugins/class-perfmatters.php
Labels: [Status] Approved, performance, bug

#2461 feat(ras): remove env flag requirements for RAS functionality
  assets/blocks/reader-registration/index.php
  assets/wizards/engagement/index.js
  includes/class-blocks.php
  includes/cli/class-setup.php
  includes/reader-activation/class-reader-activation.php
  includes/wizards/class-engagement-wizard.php
Labels: [Status] Approved

#2462 feat(ras): mailchimp audience config
  assets/wizards/engagement/components/mailchimp.js
  assets/wizards/engagement/views/reader-activation/index.js
  includes/data-events/connectors/class-mailchimp.php
Labels: [Status] Approved

#2423 feat(content-gate): metering
  assets/memberships-gate/editor.js
  assets/memberships-gate/metering.js
  includes/class-newspack.php
  includes/plugins/wc-memberships/class-block-patterns.php
  includes/plugins/wc-memberships/class-memberships.php
  includes/plugins/wc-memberships/class-metering.php
  includes/wizards/class-engagement-wizard.php
  webpack.config.js
Labels: [Status] Approved

#2464 fix(ras): total paid sum race condition
  includes/reader-revenue/class-woocommerce-connection.php
Labels: [Status] Approved, bug

#2447 feat: hook reCAPTCHA v3 to WooCommerce checkout
  includes/class-recaptcha.php
Labels: [Status] Approved

#2441 fix: remove unneeded blocks from patterns
  includes/templates/block-patterns/homepage/01.php
  includes/templates/block-patterns/homepage/02.php
  includes/templates/block-patterns/homepage/03.php
  includes/templates/block-patterns/homepage/04.php
  includes/templates/block-patterns/homepage/05.php
  includes/templates/block-patterns/homepage/06.php
  includes/templates/block-patterns/homepage/07.php
  includes/templates/block-patterns/homepage/08.php
  includes/templates/block-patterns/homepage/09.php
  includes/templates/block-patterns/homepage/10.php
  includes/templates/block-patterns/homepage/11.php
  includes/templates/block-patterns/homepage/12.php
Labels: [Status] Approved

#2469 Release May 23
  CHANGELOG.md
  assets/blocks/reader-registration/index.php
  assets/wizards/connections/views/main/webhooks.js
  assets/wizards/engagement/components/mailchimp.js
  assets/wizards/engagement/index.js
  assets/wizards/engagement/views/newsletters/index.js
  assets/wizards/engagement/views/newsletters/style.scss
  assets/wizards/engagement/views/reader-activation/index.js
  composer.lock
  includes/class-blocks.php
  includes/cli/class-setup.php
  includes/data-events/class-data-events.php
  includes/data-events/class-webhooks.php
  includes/data-events/connectors/class-mailchimp.php
  includes/data-events/connectors/ga4/class-ga4.php
  includes/reader-activation/class-reader-activation.php
  includes/reader-revenue/stripe/class-stripe-sync.php
  includes/wizards/class-engagement-wizard.php
  newspack.php
  package-lock.json
  package.json
  tests/unit-tests/webhooks.php
Labels: [Status] Approved

#2473 fix(performance): exclude main jetpack css from delay
  includes/plugins/class-perfmatters.php
Labels: [Status] Approved

#2471 feat(jetpack-photon): additional srcset sizes
  includes/plugins/class-jetpack.php
Labels: [Status] Approved

#2474 feat(content-gate): updated block patterns
  assets/memberships-gate/block-patterns.js
  assets/memberships-gate/block-patterns.scss
  includes/plugins/wc-memberships/block-patterns/donation-wall.php
  includes/plugins/wc-memberships/block-patterns/pay-wall-one-tier-metering.php
  includes/plugins/wc-memberships/block-patterns/pay-wall-one-tier.php
  includes/plugins/wc-memberships/block-patterns/pay-wall-two-tiers.php
  includes/plugins/wc-memberships/block-patterns/registration-wall.php
  includes/plugins/wc-memberships/class-block-patterns.php
  webpack.config.js
Labels: [Status] Approved

#2453 feat(ras-defaults): warn if navigating away from wizard with unsaved changes
  assets/wizards/engagement/components/prompt.tsx
  assets/wizards/engagement/components/types.ts
  assets/wizards/engagement/views/reader-activation/campaign.js
Labels: [Type] Feature request, [Status] Approved

#2463 feat: customizable receipt emails for Woo
  assets/wizards/readerRevenue/index.js
  assets/wizards/readerRevenue/views/emails/index.js
  includes/reader-revenue/class-woocommerce-connection.php
  includes/wizards/class-reader-revenue-wizard.php
Labels: [Type] Feature request, [Status] Approved
