Repository Automattic/newspack-plugin, pull requests merged in 2023-02, with the labels that each got.

#2239 feat(performance): minify all inline CSS
  .gitignore
  includes/class-performance.php
  tests/unit-tests/performance.php
Labels: [Status] Needs Review, performance

#2261 fix: change default auth strategy to "link"
  assets/reader-activation/auth.js
Labels: [Status] Approved

#2251 Stripe: create native WC Subscriptions (if a flag is set)
  includes/class-donations.php
  includes/configuration_managers/class-woocommerce-configuration-manager.php
  includes/plugins/class-newspack-newsletters.php
  includes/reader-revenue/class-woocommerce-connection.php
  includes/reader-revenue/stripe/class-stripe-connection.php
  includes/reader-revenue/stripe/class-stripe-webhooks.php
  tests/unit-tests/stripe-connection.php
Labels: [Status] Approved, Reader Revenue, Stripe, WooCommerce

#2262 feat(webhooks): support label for endpoints
  assets/wizards/connections/style.scss
  assets/wizards/connections/views/main/webhooks.js
  includes/data-events/class-api.php
  includes/data-events/class-webhooks.php
  tests/unit-tests/webhooks.php
Labels: [Status] Approved

#2263 feat(data-events): standardize the use of "user_id" and "email"
  includes/data-events/README.md
  includes/data-events/listeners.php
Labels: [Status] Approved

#2277 chore(data-events): lint
  includes/data-events/class-data-events.php
Labels: [Status] Approved

#2271 Fix/perfmatters defaults adjustments
  includes/plugins/class-perfmatters.php
Labels: [Status] Approved, performance

#2270 Changes to git commit hooks
  composer.json
  composer.lock
  package.json
Labels: [Status] Approved

#2276 fix(webhooks): check if endpoint exists
  includes/data-events/class-webhooks.php
Labels: [Status] Approved

#2254 WCS & Stripe: add payment metadata and update renewal description
  includes/reader-revenue/class-woocommerce-connection.php
  includes/reader-revenue/stripe/class-stripe-connection.php
  includes/reader-revenue/stripe/class-stripe-sync.php
  includes/reader-revenue/stripe/class-stripe-webhooks.php
Labels: [Status] Approved, Reader Revenue, Stripe, WooCommerce

#2260 feat: require all woo plugins for RAS
  assets/wizards/engagement/views/reader-activation/index.js
  includes/reader-activation/class-reader-activation.php
  includes/wizards/class-engagement-wizard.php
  includes/wizards/class-reader-revenue-wizard.php
Labels: [Status] Approved, Reader Activation

#2278 feat(my-account): display stripe billing link regardless of RR platform
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
Labels: [Status] Approved

#2282 Release Feb 15
  CHANGELOG.md
  composer.lock
  includes/analytics/class-analytics-events.php
  includes/class-donations.php
  includes/class-newspack.php
  includes/class-performance.php
  includes/data-events/README.md
  includes/data-events/listeners.php
  includes/plugins/class-perfmatters.php
  includes/reader-revenue/class-woocommerce-connection.php
  includes/reader-revenue/templates/myaccount-edit-account.php
  includes/templates/reader-activation/login-form.php
  newspack.php
  package-lock.json
  package.json
Labels: [Status] Approved

#2285 fix: update package.json to resolve a merge conflict with master
  package-lock.json
  package.json
Labels: [Status] Approved

#2280 feat(perfmatters): defaults adjustments, remove feature flag (#2271)
  includes/plugins/class-perfmatters.php
Labels: [Status] Approved

#2290 feat: add pid to Logger
  includes/class-logger.php
Labels: [Status] Approved

#2291 feat: campaigns listeners for the data events api
  assets/blocks/reader-registration/index.php
  includes/class-newspack.php
  includes/data-events/class-popups.php
Labels: [Status] Approved

#2300 Add/popup info to donations
  includes/class-donations.php
  includes/reader-revenue/class-woocommerce-connection.php
  includes/reader-revenue/stripe/class-stripe-connection.php
  includes/reader-revenue/stripe/class-stripe-webhooks.php
  tests/unit-tests/stripe-connection.php
Labels: [Status] Approved

#2301 feat: Remove the campaign rendered event
  includes/data-events/class-popups.php
Labels: [Status] Approved

#2289 fix(ads): gam api availability according to error type
  assets/wizards/advertising/views/providers/index.js
  includes/wizards/class-advertising-wizard.php
Labels: [Status] Approved

#2304 fix: skip HPB optimisations on AMP
  includes/class-performance.php
Labels: [Status] Approved

#2305 feat(wc): force allowing subscription switching
  includes/reader-revenue/class-woocommerce-connection.php
Labels: [Status] Approved, Reader Revenue, WooCommerce

#2299 Update/normalize donation events
  includes/data-events/listeners.php
  includes/reader-revenue/class-woocommerce-connection.php
Labels: [Status] Approved

#2306 Release Feb 28
  .gitignore
  CHANGELOG.md
  assets/reader-activation/auth.js
  assets/wizards/advertising/index.js
  assets/wizards/advertising/views/ad-unit/index.js
  assets/wizards/advertising/views/placements/index.js
  assets/wizards/connections/style.scss
  assets/wizards/connections/views/main/webhooks.js
  assets/wizards/engagement/views/reader-activation/index.js
  composer.json
  composer.lock
  includes/class-donations.php
  includes/class-newspack.php
  includes/class-performance.php
  includes/configuration_managers/class-woocommerce-configuration-manager.php
  includes/data-events/README.md
  includes/data-events/class-api.php
  includes/data-events/class-data-events.php
  includes/data-events/class-webhooks.php
  includes/data-events/connectors/class-mailchimp.php
  includes/data-events/connectors/ga4/class-event.php
  includes/data-events/connectors/ga4/class-ga4.php
  includes/data-events/listeners.php
  includes/oauth/class-mailchimp-api.php
  includes/plugins/class-newspack-newsletters.php
  includes/reader-activation/class-reader-activation.php
  includes/reader-revenue/class-woocommerce-connection.php
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
  includes/reader-revenue/stripe/class-stripe-connection.php
  includes/reader-revenue/stripe/class-stripe-sync.php
  includes/reader-revenue/stripe/class-stripe-webhooks.php
  includes/wizards/class-engagement-wizard.php
  includes/wizards/class-reader-revenue-wizard.php
  newspack.php
  tests/unit-tests/ga4-connector.php
  tests/unit-tests/performance.php
  tests/unit-tests/stripe-connection.php
  tests/unit-tests/webhooks.php
Labels: [Status] Approved

#2256 feat(donate-block): support modal checkout
  assets/wizards/readerRevenue/views/donation/index.tsx
  includes/class-donations.php
  includes/wizards/class-reader-revenue-wizard.php
  tests/unit-tests/donations.php
Labels: [Status] Approved
