Repository Automattic/newspack-plugin, pull requests merged in 2023-03, with the labels that each got.

#2298 Stripe Subscriptions to WC subscriptions migrator
  includes/configuration_managers/class-woocommerce-configuration-manager.php
  includes/reader-revenue/class-woocommerce-connection.php
  includes/reader-revenue/stripe/class-stripe-sync.php
Labels: [Status] Approved, Reader Revenue, Stripe, WooCommerce

#2309 feat(perfmatters): improve config
  includes/plugins/class-perfmatters.php
Labels: [Status] Approved

#2279 feat: allow external links in dashboard via a filter
  assets/wizards/dashboard/views/dashboardCard.js
  includes/wizards/class-dashboard.php
Labels: [Status] Approved

#2281 feat: add ga4 user registered handler
  assets/blocks/reader-registration/index.php
  includes/data-events/class-popups.php
  includes/data-events/connectors/ga4/class-event.php
  includes/data-events/connectors/ga4/class-ga4.php
  tests/unit-tests/ga4-connector.php
Labels: [Status] Approved

#2259 Feat: Add disable functionality to save settings button (#1531)
  assets/components/src/plugin-settings/SettingsSection.js
  assets/components/src/plugin-settings/index.js
Labels: [Status] Needs changes or feedback

#2314 feat: add a Add new button to subscription lists
  assets/wizards/engagement/views/newsletters/index.js
  includes/wizards/class-engagement-wizard.php
Labels: [Status] Approved

#2316 fix(cli): setup config path
  includes/cli/class-setup.php
Labels: [Status] Approved

#2308 feat(amp-deprecation): polyfills for some AMP tags
  includes/class-newspack.php
  includes/polyfills/class-amp-polyfills.php
  tests/unit-tests/amp-polyfills.php
Labels: [Status] Approved

#2323 chore(data-events): add docs for campaigns listeners
  includes/data-events/README.md
Labels: [Status] Approved

#2330 feat: Add GA4 Newsletters subscriptions events
  includes/data-events/connectors/ga4/class-ga4.php
  includes/data-events/listeners.php
Labels: [Status] Approved

#2327 fix(modal-checkout): provide conversion URL for ESP
  includes/reader-revenue/class-woocommerce-connection.php
Labels: [Status] Approved

#2325 chore: update CI orb name
  .circleci/config.yml
Labels: [Status] Approved

#2310 Add/popups donation events
  includes/class-salesforce.php
  includes/data-events/class-popups.php
  includes/data-events/listeners.php
  includes/reader-revenue/stripe/class-stripe-connection.php
Labels: [Status] Approved

#2332 fix(webhooks): endpoint requests modal label
  assets/wizards/connections/views/main/webhooks.js
Labels: [Status] Approved

#2331 fix(data-events): mailchimp metadata keys
  includes/data-events/connectors/class-mailchimp.php
Labels: [Status] Approved

#2334 fix(webhooks): grid layout
  assets/wizards/connections/views/main/webhooks.js
Labels: [Status] Approved

#2343 fix: show handoff to finish Newspack setup only if setup is incomplete
  includes/class-handoff-banner.php
Labels: [Status] Approved, bug

#2346 feat: remove AMP as a required plugin
  assets/wizards/componentsDemo/index.js
  assets/wizards/health-check/index.js
  assets/wizards/health-check/views/configuration/index.js
  includes/class-plugin-manager.php
  includes/cli/class-setup.php
  includes/configuration_managers/class-amp-configuration-manager.php
  includes/configuration_managers/class-configuration-managers.php
  includes/wizards/class-health-check-wizard.php
  includes/wizards/class-setup-wizard.php
  languages/newspack-plugin.pot
  tests/unit-tests/api-plugins-controller.php
  tests/unit-tests/donations.php
  tests/unit-tests/plugin-manager.php
Labels: [Status] Needs Review

#2335 fix(ads): proper usage of useEffect cleanup function
  assets/wizards/advertising/components/ad-refresh-control/index.js
  assets/wizards/advertising/views/placements/index.js
  assets/wizards/advertising/views/suppression/index.js
Labels: [Status] Approved

#2348 fix: prevent page auto-scroll when RAS is enabled
  assets/reader-activation/auth.js
Labels: [Status] Approved

#2329 feat(health-check): mark some plugins as supported
  includes/class-plugin-manager.php
Labels: [Status] Approved

#2337 feat: Add popup events to GA4
  assets/blocks/reader-registration/index.php
  includes/data-events/README.md
  includes/data-events/class-popups.php
  includes/data-events/connectors/ga4/README.md
  includes/data-events/connectors/ga4/class-ga4.php
  includes/reader-revenue/class-woocommerce-connection.php
  includes/reader-revenue/stripe/class-stripe-connection.php
  includes/reader-revenue/stripe/class-stripe-webhooks.php
Labels: [Status] Approved

#2360 hotfix(perfmatters): add twitter.com to JS delay list
  includes/plugins/class-perfmatters.php
Labels: [Status] Approved

#2371 feat(amp-deprecation): polyfills for amp-img, amp-iframe, amp-fit-text, amp-youtube
  includes/class-newspack.php
  includes/polyfills/class-amp-polyfills.php
  tests/unit-tests/amp-polyfills.php
Labels: [Status] Approved

#2372 feat(amp-deprecation): polyfill amp-vimeo tag
  includes/polyfills/class-amp-polyfills.php
  tests/unit-tests/amp-polyfills.php
Labels: [Status] Needs Review

#2324 feat(amp): polyfill lightbox effect
  assets/other-scripts/lightbox/index.js
  assets/other-scripts/lightbox/style.scss
  includes/polyfills/class-amp-polyfills.php
Labels: [Status] Needs Review

#2363 fix: bail silently when recaptcha key is not set
  assets/reader-activation/index.js
Labels: [Status] Approved

#2374 Release Mar 27
  .circleci/config.yml
  CHANGELOG.md
  assets/blocks/reader-registration/index.php
  assets/components/package.json
  assets/components/src/plugin-settings/index.js
  assets/wizards/advertising/components/ad-refresh-control/index.js
  assets/wizards/advertising/views/placements/index.js
  assets/wizards/advertising/views/suppression/index.js
  assets/wizards/connections/views/main/recaptcha.js
  assets/wizards/connections/views/main/webhooks.js
  assets/wizards/engagement/views/social/pixel.js
  composer.lock
  includes/class-plugin-manager.php
  includes/class-salesforce.php
  includes/cli/class-setup.php
  includes/data-events/README.md
  includes/data-events/class-popups.php
  includes/data-events/connectors/class-mailchimp.php
  includes/data-events/connectors/ga4/README.md
  includes/data-events/connectors/ga4/class-ga4.php
  includes/data-events/listeners.php
  includes/plugins/class-perfmatters.php
  includes/reader-revenue/class-woocommerce-connection.php
  includes/reader-revenue/stripe/class-stripe-connection.php
  includes/reader-revenue/stripe/class-stripe-webhooks.php
  newspack.php
  package-lock.json
  package.json
  tests/unit-tests/ga4-connector.php
Labels: [Status] Approved

#2355 fix(stripe-sync-script): process only customers with successful transactions
  includes/reader-revenue/stripe/class-stripe-sync.php
Labels: [Status] Needs Review

#2375 chore(ci): update orb version
  .circleci/config.yml
Labels: [Status] Approved

#2370 feat(perfmatters): add fonts settings to defaults
  includes/plugins/class-perfmatters.php
Labels: [Status] Approved

#2379 fix: if My Account is set to shown in RAS, show in Customizer at all breakpoints
  includes/reader-activation/class-reader-activation.php
Labels: [Status] Approved, bug

#2376 feat(popups): support disabled segments
  assets/wizards/popups/components/segment-group/index.js
  assets/wizards/popups/utils.js
  assets/wizards/popups/views/campaigns/index.js
  assets/wizards/popups/views/segments/SegmentsList.js
  assets/wizards/popups/views/segments/SingleSegment.js
  assets/wizards/popups/views/segments/SingleSegment.test.js
Labels: [Status] Approved, enhancement

#2366 feat(memberships): content gate page
  assets/memberships-gate/editor.js
  assets/memberships-gate/editor.scss
  assets/reader-activation/auth.js
  assets/wizards/engagement/views/reader-activation/index.js
  includes/class-newspack.php
  includes/plugins/class-wc-memberships.php
  includes/wizards/class-engagement-wizard.php
  webpack.config.js
Labels: [Status] Needs Review

#2382 fix: Avoid falal error on Reader Revenue wizard
  assets/wizards/readerRevenue/views/donation/index.tsx
Labels: [Status] Approved

#2377 feat(memberships): overlay style for content gate
  assets/components/src/position-control/index.js
  assets/components/src/position-control/style.scss
  assets/memberships-gate/editor.js
  assets/memberships-gate/editor.scss
  assets/memberships-gate/overlay.js
  assets/memberships-gate/overlay.scss
  assets/memberships-gate/vars.scss
  includes/plugins/class-wc-memberships.php
  webpack.config.js
Labels: [Status] Approved
