Repository Automattic/newspack-plugin, pull requests merged in 2023-04, with the labels that each got.

#2381 feat: start new RAS settings page
  assets/memberships-gate/editor.js
  assets/memberships-gate/editor.scss
  assets/reader-activation/auth.js
  assets/wizards/engagement/views/reader-activation/index.js
  assets/wizards/readerRevenue/views/donation/index.tsx
  includes/class-newspack.php
  includes/plugins/class-wc-memberships.php
  includes/reader-activation/class-reader-activation.php
  includes/wizards/class-engagement-wizard.php
  webpack.config.js
Labels: [Status] Approved

#2395 fix: add pre push hook
  .hooks/pre-push
  composer.json
  package.json
Labels: [Status] Approved

#2384 fix(amp): improved iframe polyfill
  includes/polyfills/class-amp-polyfills.php
  tests/unit-tests/amp-polyfills.php
Labels: [Status] Approved, Do Not Merge!

#2398 fix(memberships): remove content filters from excerpt
  assets/memberships-gate/editor.js
  includes/plugins/class-wc-memberships.php
Labels: [Status] Needs Review

#2386 feat: update RAS settings layout to i3 designs
  assets/components/src/action-card/index.js
  assets/components/src/action-card/style.scss
  assets/wizards/componentsDemo/index.js
  assets/wizards/engagement/views/reader-activation/index.js
  includes/emails/class-emails.php
  includes/reader-activation/class-reader-activation.php
  includes/wizards/class-engagement-wizard.php
Labels: [Status] Approved, [Status] Needs Design Review

#2400 fix: don't show gate unless attached to a specific post
  includes/plugins/class-wc-memberships.php
Labels: [Status] Approved, [Priority] High, bug

#2405 Release Apr 10
  .circleci/config.yml
  .hooks/pre-push
  CHANGELOG.md
  assets/components/src/position-control/index.js
  assets/components/src/position-control/style.scss
  assets/memberships-gate/editor.js
  assets/memberships-gate/editor.scss
  assets/memberships-gate/overlay.js
  assets/memberships-gate/overlay.scss
  assets/memberships-gate/vars.scss
  assets/other-scripts/lightbox/index.js
  assets/other-scripts/lightbox/style.scss
  assets/reader-activation/auth.js
  assets/reader-activation/index.js
  assets/wizards/engagement/views/reader-activation/index.js
  assets/wizards/popups/components/segment-group/index.js
  assets/wizards/popups/utils.js
  assets/wizards/popups/views/campaigns/index.js
  assets/wizards/popups/views/segments/SegmentsList.js
  assets/wizards/popups/views/segments/SingleSegment.js
  assets/wizards/popups/views/segments/SingleSegment.test.js
  assets/wizards/readerRevenue/views/donation/index.tsx
  composer.json
  composer.lock
  includes/class-newspack.php
  includes/plugins/class-wc-memberships.php
  includes/polyfills/class-amp-polyfills.php
  includes/reader-activation/class-reader-activation.php
  includes/reader-revenue/stripe/class-stripe-sync.php
  includes/wizards/class-engagement-wizard.php
  newspack.php
  package-lock.json
  package.json
  webpack.config.js
Labels: [Status] Approved

#2401 fix: sync reader to ESP on subscription update
  includes/reader-revenue/class-woocommerce-connection.php
Labels: [Status] Approved, bug

#2399 feat: RAS default prompts wizard UI
  assets/components/src/image-upload/index.js
  assets/wizards/engagement/components/active-campaign.js
  assets/wizards/engagement/components/prerequisite.tsx
  assets/wizards/engagement/components/prompt.tsx
  assets/wizards/engagement/components/types.ts
  assets/wizards/engagement/index.js
  assets/wizards/engagement/views/index.js
  assets/wizards/engagement/views/reader-activation/campaign.js
  assets/wizards/engagement/views/reader-activation/index.js
  assets/wizards/engagement/views/reader-activation/style.scss
  includes/configuration_managers/class-newspack-popups-configuration-manager.php
  includes/reader-activation/class-reader-activation.php
  includes/wizards/class-engagement-wizard.php
  package.json
  tsconfig.json
Labels: [Type] Feature request, [Status] Approved

#2407 fix(newsletters): only attempt token verification for Constant Contact
  assets/wizards/engagement/views/newsletters/index.js
Labels: [Status] Approved

#2410 fix(perfmatters): exclude Jetpack and Newsletters css delay
  includes/plugins/class-perfmatters.php
Labels: [Status] Approved

#2414 feat(sign-in): body class when in modal and url hash
  assets/memberships-gate/overlay.scss
  assets/reader-activation/auth.js
Labels: [Status] Approved

#2415 feat: add help info for preset prompts
  assets/wizards/engagement/components/prerequisite.tsx
  assets/wizards/engagement/components/prompt.tsx
  assets/wizards/engagement/components/types.ts
  assets/wizards/engagement/views/reader-activation/style.scss
Labels: [Type] Feature request, [Status] Approved

#2419 Release Apr 24
  CHANGELOG.md
  assets/blocks/reader-registration/edit.js
  composer.lock
  includes/class-blocks.php
  newspack.php
  package-lock.json
  package.json
Labels: [Status] Approved

#2406 feat: memberships block patterns
  includes/class-newspack.php
  includes/plugins/wc-memberships/block-patterns/donation-wall.php
  includes/plugins/wc-memberships/block-patterns/pay-wall-one-tier.php
  includes/plugins/wc-memberships/block-patterns/registration-wall.php
  includes/plugins/wc-memberships/class-block-patterns.php
  includes/plugins/wc-memberships/class-wc-memberships.php
Labels: [Status] Approved

#2421 fix: add filter to prompt conflicts check
  assets/wizards/popups/utils.js
Labels: [Status] Needs Review

#2422 feat: add handoff message for prerequisites
  assets/components/src/action-card/index.js
  assets/components/src/action-card/style.scss
  assets/components/src/consts.js
  assets/components/src/notice/index.js
  assets/components/src/notice/style.scss
  assets/components/src/with-wizard-screen/index.js
  assets/components/src/wizard/index.js
  assets/wizards/engagement/components/prerequisite.tsx
  assets/wizards/engagement/components/prompt.tsx
  assets/wizards/engagement/components/types.ts
  assets/wizards/engagement/views/newsletters/index.js
  assets/wizards/engagement/views/reader-activation/complete.js
  assets/wizards/engagement/views/reader-activation/index.js
  includes/reader-activation/class-reader-activation.php
  includes/wizards/class-engagement-wizard.php
Labels: [Type] Feature request, [Status] Approved

#2426 feat: RAS setup UI and default Campaigns wizard
  assets/blocks/reader-registration/index.php
  assets/components/src/action-card/index.js
  assets/components/src/action-card/style.scss
  assets/components/src/consts.js
  assets/components/src/image-upload/index.js
  assets/components/src/index.js
  assets/components/src/notice/index.js
  assets/components/src/notice/style.scss
  assets/components/src/steps-list-item/index.js
  assets/components/src/steps-list-item/style.scss
  assets/components/src/steps-list/index.js
  assets/components/src/steps-list/style.scss
  assets/components/src/with-wizard-screen/index.js
  assets/components/src/wizard/index.js
  assets/wizards/componentsDemo/index.js
  assets/wizards/engagement/components/active-campaign.js
  assets/wizards/engagement/components/prerequisite.tsx
  assets/wizards/engagement/components/prompt.tsx
  assets/wizards/engagement/components/types.ts
  assets/wizards/engagement/index.js
  assets/wizards/engagement/views/index.js
  assets/wizards/engagement/views/newsletters/index.js
  assets/wizards/engagement/views/reader-activation/campaign.js
  assets/wizards/engagement/views/reader-activation/complete.js
  assets/wizards/engagement/views/reader-activation/index.js
  assets/wizards/engagement/views/reader-activation/style.scss
  includes/class-amp-enhancements.php
  includes/configuration_managers/class-newspack-newsletters-configuration-manager.php
  includes/configuration_managers/class-newspack-popups-configuration-manager.php
  includes/emails/class-emails.php
  includes/reader-activation/class-reader-activation.php
  includes/wizards/class-engagement-wizard.php
  package.json
  tsconfig.json
Labels: [Status] Approved

#2425 feat: update NRH settings page and redirect behavior
  assets/wizards/readerRevenue/index.js
  assets/wizards/readerRevenue/views/nrh-settings/index.js
  includes/class-nrh.php
  includes/wizards/class-reader-revenue-wizard.php
Labels: [Status] Approved, News Revenue Hub
