Repository Automattic/newspack-plugin, pull requests merged in 2023-06, with the labels that each got.

#2470 Only display author filter for posts
  includes/author-filter/class-author-filter.php
Labels: [Status] Approved

#2483 fix(ras): check that unblock exists before calling it
  assets/wizards/engagement/components/prompt.tsx
Labels: [Status] Approved

#2484 feat(ras): add NRH support for setup wizard
  assets/components/src/autocomplete-with-suggestions/style.scss
  assets/components/src/handoff-message/index.js
  assets/wizards/engagement/components/prerequisite.tsx
  assets/wizards/readerRevenue/views/nrh-settings/index.js
  includes/class-nrh.php
  includes/reader-activation/class-reader-activation.php
  includes/util.php
  includes/wizards/class-reader-revenue-wizard.php
Labels: [Status] Approved

#2492 refactor: use get_popup_metadata method from Campaigns plugin
  includes/data-events/class-popups.php
  includes/data-events/connectors/ga4/class-ga4.php
Labels: [Status] Approved

#2504 Move RSS featured image to the plugin and bump up the size
  includes/class-newspack.php
  includes/class-rss-add-image.php
  includes/optional-modules/class-rss.php
Labels: [Status] Approved

#2503 Update/ga4 backend destinations
  includes/data-events/connectors/ga4/README.md
  includes/data-events/connectors/ga4/class-ga4.php
Labels: [Status] Approved

#2482 feat(plugin-installer): handle premium plugins in PluginInstaller
  assets/components/src/action-card/index.js
  assets/components/src/plugin-installer/index.js
  includes/wizards/class-wizard.php
Labels: [Type] Feature request, [Status] Approved

#2508 Hotfix/ga4 release
  includes/data-events/README.md
  includes/data-events/class-popups.php
  includes/data-events/connectors/ga4/README.md
  includes/data-events/connectors/ga4/class-ga4.php
Labels: [Status] Approved

#2514 Release Jun 19
  CHANGELOG.md
  assets/wizards/engagement/components/prompt.tsx
  assets/wizards/engagement/components/types.ts
  assets/wizards/engagement/views/reader-activation/campaign.js
  assets/wizards/readerRevenue/index.js
  assets/wizards/readerRevenue/views/emails/index.js
  composer.lock
  includes/author-filter/class-author-filter.php
  includes/plugins/class-jetpack.php
  includes/reader-revenue/class-woocommerce-connection.php
  includes/wizards/class-reader-revenue-wizard.php
  newspack.php
  package-lock.json
  package.json
Labels: [Status] Approved

#2505 fix(donations): empty cart on donation checkout
  includes/class-donations.php
Labels: [Status] Approved

#2451 feat: ras data library
  assets/memberships-gate/metering.js
  assets/reader-activation/auth.js
  assets/reader-activation/events.js
  assets/reader-activation/index.js
  assets/reader-activation/index.test.js
  assets/reader-activation/store.js
  assets/reader-activation/store.test.js
  assets/reader-activation/utils.js
  assets/reader-activation/utils.test.js
  includes/class-newspack.php
  includes/reader-activation/class-reader-activation.php
  includes/reader-activation/class-reader-data.php
Labels: [Status] Approved

#2515 fix(jetpack): preserve image src for photon srcset filter
  includes/plugins/class-jetpack.php
Labels: [Status] Approved

#2516 fix: allow campaign prompts to render on metered content
  assets/memberships-gate/metering.js
  includes/plugins/wc-memberships/class-memberships.php
  includes/plugins/wc-memberships/class-metering.php
Labels: [Status] Approved

#2507 fix: allow high-res youtube thumbs via constant
  includes/plugins/class-perfmatters.php
Labels: [Type] Feature request, [Status] Approved

#2519 fix: update required fields for editing My Account details
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
Labels: [Status] Approved, bug

#2513 fix: remove reCaptcha for WC plugin
  includes/class-plugin-manager.php
Labels: [Status] Approved

#2526 feat(data-events): broader coverage for 'reader_registered'
  includes/data-events/connectors/ga4/class-ga4.php
  includes/data-events/listeners.php
  includes/reader-activation/class-reader-activation.php
Labels: [Status] Approved

#2528 fix(auth): prevent registration redirect from hash link
  assets/reader-activation/auth.js
Labels: [Status] Approved
