Repository Automattic/newspack-plugin, pull requests merged in 2023-01, with the labels that each got.

#2216 chore(data-events): switch wp hooks priority
  includes/data-events/class-data-events.php
Labels: [Status] Approved

#2217 feat(data-events): use WC's Action Scheduler if available
  assets/wizards/connections/views/main/webhooks.js
  includes/data-events/class-data-events.php
  includes/data-events/class-webhooks.php
Labels: [Status] Approved

#2215 docs: data events
  includes/data-events/README.md
  includes/data-events/data-events-flow.jpg
Labels: [Status] Approved

#2221 fix(stripe): WC Subs scheduled actions errors suppression
  includes/reader-revenue/class-woocommerce-connection.php
Labels: [Status] Approved

#2209 fix(stripe): webhooks list edge-cases
  includes/reader-revenue/stripe/class-stripe-webhooks.php
Labels: [Status] Approved, Stripe

#2224 Remove donation products from cart if WC is not the donations platform
  includes/class-donations.php
Labels: [Status] Approved, WooCommerce

#2226 fix(wc-to-esp): total amount field value
  includes/reader-revenue/class-woocommerce-connection.php
Labels: [Status] Approved

#2230 Feat/perfmatters defaults 2
  includes/plugins/class-perfmatters.php
Labels: [Status] Approved, performance

#2225 feat(data-events): donation listeners
  includes/class-donations.php
  includes/data-events/README.md
  includes/data-events/listeners.php
  includes/reader-revenue/class-woocommerce-connection.php
Labels: [Status] Approved

#2232 Disable WC emails sent on sub. renewal for Stripe sync'd subs
  includes/reader-revenue/class-woocommerce-connection.php
Labels: [Status] Approved, Stripe, WooCommerce

#2236 feat: optimise the HP block that renders first on a page
  includes/class-newspack.php
  includes/class-performance.php
Labels: [Status] Approved, performance

#2237 fix: only enqueue salesforce admin JS when appropriate
  CHANGELOG.md
  assets/wizards/connections/views/main/webhooks.js
  composer.lock
  includes/class-donations.php
  includes/class-newspack.php
  includes/class-performance.php
  includes/class-salesforce.php
  includes/data-events/README.md
  includes/data-events/class-data-events.php
  includes/data-events/class-webhooks.php
  includes/data-events/data-events-flow.jpg
  includes/data-events/listeners.php
  includes/plugins/class-perfmatters.php
  includes/reader-revenue/class-woocommerce-connection.php
  includes/reader-revenue/stripe/class-stripe-webhooks.php
  package-lock.json
  package.json
Labels: [Status] Needs Review, bug

#2238 Optimise Newspack Ads' inline JS
  includes/analytics/class-analytics-events.php
  includes/class-performance.php
Labels: [Status] Approved, performance

#2240 fix: add template versions to Woo templates
  includes/reader-revenue/templates/myaccount-edit-account.php
  includes/templates/reader-activation/login-form.php
Labels: [Status] Approved, bug

#2248 Release Jan 24
  CHANGELOG.md
  assets/wizards/connections/views/main/webhooks.js
  composer.lock
  includes/class-donations.php
  includes/data-events/README.md
  includes/data-events/class-data-events.php
  includes/data-events/class-webhooks.php
  includes/data-events/data-events-flow.jpg
  includes/reader-revenue/class-woocommerce-connection.php
  includes/reader-revenue/stripe/class-stripe-webhooks.php
  newspack.php
  package-lock.json
  package.json
Labels: [Status] Approved

#2250 feat: if rendering media tags, ensure proper nesting
  includes/optional-modules/class-rss.php
Labels: [Status] Approved, bug, [Module] RSS

#2233 feat(data-events): mailchimp connector
  includes/class-newspack.php
  includes/data-events/connectors/class-mailchimp.php
  includes/oauth/class-mailchimp-api.php
  includes/reader-activation/class-reader-activation.php
  includes/reader-revenue/class-woocommerce-connection.php
Labels: [Status] Approved

#2241 feat: bootstrap GA4 connector
  includes/class-newspack.php
  includes/data-events/connectors/ga4/class-event.php
  includes/data-events/connectors/ga4/class-ga4.php
  tests/unit-tests/ga4-connector.php
Labels: [Status] Approved

#2255 fix(ads): remove fixed height setting
  assets/wizards/advertising/views/placements/index.js
Labels: [Status] Approved

#2249 feat(ras): enable custom contact metadata prefixes
  assets/wizards/engagement/views/reader-activation/index.js
  includes/data-events/connectors/class-mailchimp.php
  includes/plugins/class-newspack-newsletters.php
  includes/reader-activation/class-reader-activation.php
  includes/reader-revenue/class-woocommerce-connection.php
  includes/reader-revenue/stripe/class-stripe-connection.php
  includes/reader-revenue/stripe/class-stripe-sync.php
  includes/reader-revenue/stripe/class-stripe-webhooks.php
Labels: [Type] Feature request, [Status] Approved
