Repository Automattic/newspack-plugin, pull requests merged in 2023-11, with the labels that each got.

#2723 Removes MC4WP from managed plugins
  includes/class-plugin-manager.php
Labels: [Status] Approved

#2720 feat: add donation processing filters
  includes/class-donations.php
  includes/class-recaptcha.php
Labels: [Status] Approved

#2725 feat(stripe-migration): support mapping of products by SKU
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
Labels: [Status] Approved

#2695 Modal checkout: allow covering Stripe's fees
  assets/wizards/readerRevenue/views/stripe-setup/index.js
  includes/configuration_managers/class-woocommerce-configuration-manager.php
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
  includes/reader-revenue/woocommerce/class-woocommerce-cover-fees.php
  includes/wizards/class-reader-revenue-wizard.php
Labels: [Status] Approved

#2729 feat(emails): support billing name on receipt email
  includes/reader-revenue/class-reader-revenue-emails.php
  includes/reader-revenue/stripe/class-stripe-connection.php
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
Labels: [Status] Approved

#2731 Sync order to ESP *after* payment goes through
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
Labels: [Type] Bug, [Status] Approved

#2741 fix: restore method used by migration scripts
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
Labels: [Status] Approved

#2742 fix(password-reset): redirect non-readers to WP login
  includes/reader-activation/class-reader-activation-emails.php
Labels: [Status] Approved

#2732 fix(auth-modal): handle very long newsletter lists list
  assets/reader-activation/auth.scss
Labels: [Status] Approved

#2743 docs: add link in the docs
  includes/data-events/connectors/ga4/README.md
Labels: [Status] Needs Review

#2744 fix: get subscriptions from any order type
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
Labels: [Status] Approved

#2746 feat(modal-checkout): display flat percentage fee when offering to cover stripe fees
  includes/reader-revenue/woocommerce/class-woocommerce-cover-fees.php
Labels: [Status] Needs Review

#2745 feat: new options for Stripe fees
  assets/wizards/readerRevenue/views/stripe-setup/index.js
  includes/configuration_managers/class-woocommerce-configuration-manager.php
  includes/reader-revenue/woocommerce/class-woocommerce-cover-fees.php
  includes/wizards/class-reader-revenue-wizard.php
Labels: [Status] Approved

#2752 Release Nov 13
  CHANGELOG.md
  assets/blocks/reader-registration/style.scss
  assets/components/src/autocomplete-tokenfield/index.js
  assets/components/src/autocomplete-tokenfield/style.scss
  assets/components/src/autocomplete-with-suggestions/index.js
  assets/components/src/autocomplete-with-suggestions/style.scss
  assets/components/src/subscription-lists-control/index.js
  assets/wizards/connections/views/main/recaptcha.js
  assets/wizards/popups/components/lists-control/index.js
  assets/wizards/popups/utils.js
  assets/wizards/popups/views/segments/index.js
  assets/wizards/popups/views/segments/segments-list.js
  assets/wizards/popups/views/segments/single-segment.js
  assets/wizards/popups/views/segments/single-segment.test.js
  assets/wizards/readerRevenue/views/stripe-setup/index.js
  composer.json
  composer.lock
  includes/class-donations.php
  includes/class-plugin-manager.php
  includes/class-recaptcha.php
  includes/configuration_managers/class-woocommerce-configuration-manager.php
  includes/data-events/README.md
  includes/data-events/listeners.php
  includes/plugins/wc-memberships/class-memberships.php
  includes/reader-activation/class-reader-data.php
  includes/reader-revenue/class-reader-revenue-emails.php
  includes/reader-revenue/stripe/class-stripe-connection.php
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
  includes/reader-revenue/woocommerce/class-woocommerce-cover-fees.php
  includes/wizards/class-popups-wizard.php
  includes/wizards/class-reader-revenue-wizard.php
  newspack.php
  package-lock.json
  package.json
Labels: [Status] Approved

#2740 feat(data-events): track content gate interactions
  assets/blocks/reader-registration/index.php
  assets/memberships-gate/gate.js
  assets/memberships-gate/gate.scss
  assets/memberships-gate/overlay.js
  includes/class-donations.php
  includes/class-newspack.php
  includes/data-events/README.md
  includes/data-events/class-memberships.php
  includes/data-events/connectors/ga4/class-ga4.php
  includes/plugins/wc-memberships/class-memberships.php
  includes/reader-activation/class-reader-activation.php
  webpack.config.js
Labels: [Status] Approved

#2760 fix: sync non-donation data to ESP, but not donor status
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
Labels: [Status] Approved

#2751 fix(metering): restrict comments on gated content
  assets/memberships-gate/metering.js
  includes/plugins/wc-memberships/class-memberships.php
  includes/plugins/wc-memberships/class-metering.php
Labels: [Status] Approved

#2758 fix: don't sync non-donation purchases to the ESP
  includes/class-donations.php
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
Labels: [Status] Approved

#2761 chore: remove legacy code in setup
  includes/cli/class-setup.php
Labels: [Status] Approved

#2765 feat(authentication): rate limit magic links and OTP generation
  assets/reader-activation/auth.js
  includes/class-magic-link.php
  includes/reader-activation/class-reader-activation.php
  tests/unit-tests/magic-link.php
Labels: [Status] Approved

#2756 Fix/donation events renewals
  includes/data-events/README.md
  includes/data-events/class-popups.php
  includes/data-events/connectors/ga4/README.md
  includes/data-events/connectors/ga4/class-ga4.php
  includes/data-events/listeners.php
Labels: [Status] Approved

#2755 fix(data-events): no longer use ActionScheduler for dispatches
  includes/data-events/class-data-events.php
  includes/data-events/class-webhooks.php
  includes/data-events/connectors/ga4/class-ga4.php
Labels: [Status] Approved

#2766 feat(campaigns): mark duplicate segments
  assets/wizards/popups/views/segments/segments-list.js
Labels: [Status] Approved

#2770 feat(donations): disable coupons for donation checkout
  includes/class-donations.php
Labels: [Status] Approved

#2769 fix(recaptcha): refresh token on checkout error
  includes/class-recaptcha.php
Labels: [Status] Approved

#2779 fix: don’t sync empty contact fields to ESP
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
Labels: [Status] Approved

#2768 Feat/some filters
  assets/blocks/reader-registration/index.php
  includes/plugins/class-perfmatters.php
  includes/plugins/wc-memberships/class-block-patterns.php
  includes/reader-activation/class-reader-activation.php
Labels: [Status] Approved
