Repository Automattic/newspack-plugin, pull requests merged in 2024-11, with the labels that each got.

#3490 Feat / IA for Newsletters
  includes/class-newspack.php
  includes/class-wizards.php
  includes/wizards/advertising/class-advertising-display-ads.php
  includes/wizards/advertising/class-advertising-sponsors.php
  includes/wizards/class-components-demo.php
  includes/wizards/class-engagement-wizard.php
  includes/wizards/class-network-wizard.php
  includes/wizards/class-newsletters-wizard.php
  includes/wizards/class-wizard.php
  includes/wizards/newspack/class-newspack-dashboard.php
  includes/wizards/newspack/class-newspack-settings.php
  src/admin/style.scss
  src/wizards/engagement/index.js
  src/wizards/engagement/views/index.js
  src/wizards/newsletters/index.js
  src/wizards/newsletters/views/index.js
  src/wizards/newsletters/views/settings/index.js
  src/wizards/newsletters/views/settings/style.scss
  src/wizards/newsletters/views/tracking/index.js
  src/wizards/setup/views/services/index.js
Labels: [Status] Approved

#3515 fix(ia): dashboard newsletters settings link
  includes/wizards/newspack/class-newspack-dashboard.php
Labels: [Status] Approved

#3512 fix: avoid duplicate info notices in email editors
  src/other-scripts/emails/index.js
Labels: [Status] Approved

#3499 docs: add new woo events params
  includes/data-events/README.md
Labels: [Status] Approved

#3516 chore: add workflow for changelog label
  .github/labeler.yml
  .github/workflows/changelog.yml
Labels: [Status] Approved, needs-changelog

#3484 fix: command to fix active subs w/ missing next_payment dates
  includes/reader-revenue/woocommerce/class-woocommerce-cli.php
  tests/mocks/wc-mocks.php
  tests/unit-tests/woocommerce-cli.php
Labels: [Status] Approved

#3519 fix(dashboard): check theme mod key
  includes/wizards/newspack/class-newspack-dashboard.php
Labels: [Status] Approved

#3483 feat(ia-listings): IA for Listings Plugin
  includes/class-newspack.php
  includes/class-wizards.php
  includes/wizards/class-listings-wizard.php
  includes/wizards/class-wizard.php
  includes/wizards/newspack/class-newspack-dashboard.php
Labels: [Status] Approved

#3513 fix(ras): redirect to home after registering on my account page
  includes/reader-activation/class-reader-activation.php
  src/reader-activation-auth/auth-form.js
Labels: [Status] Approved, ras-acc testing

#3511 fix(ras): update checkout setting text and add privacy policy text field
  includes/reader-activation/class-reader-activation.php
  src/wizards/engagement/views/reader-activation/index.js
Labels: [Status] Approved, ras-acc testing

#3518 fix(wp-6.7): update radio control styles
  src/components/src/radio-control/style.scss
Labels: [Status] Approved, WP 6.7

#3528 chore: bump Newspack Components package version
  src/components/package.json
Labels: [Status] Approved

#3504 fix(my-account): show Orders & Payment Methods for migrated subscribers
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
Labels: [Status] Approved

#3532 fix(ia): remove `wp_enqueue_style` for newsletter.css
  includes/wizards/class-newsletters-wizard.php
Labels: [Status] Approved

#3526 feat(pwa): enable SW file caching
  includes/class-newspack.php
  includes/plugins/class-pwa.php
Labels: [Status] Approved

#3533 feat(ras): add post checkout ras settings
  includes/class-donations.php
  includes/reader-activation/class-reader-activation.php
  src/wizards/engagement/views/reader-activation/index.js
Labels: [Status] Approved, ras-acc testing

#3523 fix(reader-registration-block): fix styles of newsletter lists
  src/blocks/reader-registration/style.scss
Labels: [Status] Approved

#3521 fix(salesforce): handle woocommerce inactive
  includes/class-salesforce.php
Labels: [Status] Approved

#3514 feat: also trigger subscription change events on switch
  includes/data-events/README.md
  includes/data-events/listeners.php
Labels: [Status] Approved

#3538 Release Nov 11
  .github/labeler.yml
  .github/workflows/changelog.yml
  includes/class-logger.php
  includes/class-newspack-image-credits.php
  includes/class-newspack.php
  includes/cli/class-co-authors-plus.php
  includes/data-events/README.md
  includes/data-events/class-api.php
  includes/data-events/class-webhooks.php
  includes/plugins/co-authors-plus/class-guest-contributor-role.php
  includes/plugins/google-site-kit/class-googlesitekit-logger.php
  includes/plugins/google-site-kit/class-googlesitekit.php
  includes/reader-revenue/woocommerce/class-woocommerce-cli.php
  includes/wizards/class-connections-wizard.php
  includes/wizards/class-setup-wizard.php
  newspack.php
  package-lock.json
  package.json
  src/components/package.json
  src/components/src/modal/index.js
  src/components/src/radio-control/style.scss
  src/other-scripts/emails/index.js
  src/wizards/connections/views/main/index.js
  src/wizards/connections/views/main/jetpack-sso.js
  src/wizards/connections/views/main/webhooks.js
  src/wizards/engagement/views/newsletters/index.js
  tests/mocks/wc-mocks.php
  tests/unit-tests/webhooks.php
  tests/unit-tests/woocommerce-cli.php
Labels: [Status] Approved

#3488 feat: update Stripe Settings dashboard UI
  includes/class-plugin-manager.php
  includes/configuration_managers/class-woocommerce-configuration-manager.php
  includes/reader-revenue/stripe/class-stripe-connection.php
  includes/reader-revenue/woocommerce/class-woocommerce-cover-fees.php
  includes/wizards/class-reader-revenue-wizard.php
  includes/wizards/class-setup-wizard.php
  src/components/src/action-card/index.js
  src/components/src/action-card/style.scss
  src/wizards/componentsDemo/index.js
  src/wizards/readerRevenue/index.js
  src/wizards/readerRevenue/views/index.js
  src/wizards/readerRevenue/views/payment-methods/additional-settings.js
  src/wizards/readerRevenue/views/payment-methods/index.js
  src/wizards/readerRevenue/views/payment-methods/stripe.js
  src/wizards/readerRevenue/views/payment-methods/style.scss
  src/wizards/readerRevenue/views/payment-methods/woopayments.js
  src/wizards/readerRevenue/views/stripe-setup/index.js
  src/wizards/setup/views/services/ReaderRevenue.js
  tests/mocks/wc-mocks.php
  tests/unit-tests/stripe-connection.php
Labels: [Status] Approved, [Status] Needs Design Review

#3522 feat(wc-memberships): support team data in import
  includes/plugins/wc-memberships/class-import-export.php
  includes/plugins/wc-memberships/class-memberships.php
Labels: [Status] Approved

#3520 fix: use user email for esp sync purposes
  includes/reader-activation/sync/class-woocommerce.php
  tests/mocks/wc-mocks.php
Labels: [Status] Approved

#3530 docs: add documentation for WP CLI commands
  includes/cli/class-co-authors-plus.php
  includes/cli/class-initializer.php
  includes/cli/class-ras-esp-sync.php
  includes/cli/class-ras.php
  includes/cli/class-setup.php
Labels: [Status] Approved

#3543 chore: update base branch to release
  CHANGELOG.md
  includes/reader-activation/class-reader-activation.php
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
  newspack.php
  package-lock.json
  package.json
  src/components/package.json
Labels: [Status] Approved, ras-acc testing

#3542 fix: show "My Membership" links in My Account menu for team members
  includes/plugins/class-teams-for-memberships.php
Labels: [Status] Needs Review

#3546 fix(newspack-ui): prevent override for form label display
  src/newspack-ui/scss/elements/forms/_labels.scss
Labels: [Status] Approved, ras-acc testing

#3541 Tests/remove network dependent
  tests/mocks/newsletters-mocks.php
  tests/unit-tests/api-plugins-controller.php
  tests/unit-tests/emails.php
  tests/unit-tests/plugin-manager.php
  tests/unit-tests/reader-activation-sync-woocommerce.php
  tests/unit-tests/theme-manager.php
Labels: [Status] Approved

#3539 fix: get secondary, variation colors updating in RAS-ACC emails
  includes/emails/class-emails.php
  includes/util.php
Labels: [Status] Approved, ras-acc testing

#3498 feat(starter-content): e2e improvements; removal CLI command
  includes/class-starter-content.php
  includes/cli/class-initializer.php
  includes/cli/class-setup.php
  includes/starter_content/class-starter-content-generated.php
Labels: [Status] Approved

#3557 chore: remove dependabot pulls from changelog workflow
  .github/workflows/changelog.yml
Labels: [Status] Approved

#3529 fix(ia): deprecate webhooks global endpoint
  src/wizards/newspack/views/settings/connections/webhooks/endpoint-actions-card.tsx
  src/wizards/newspack/views/settings/connections/webhooks/index.tsx
  src/wizards/newspack/views/settings/connections/webhooks/modals/upsert.tsx
  src/wizards/newspack/views/settings/connections/webhooks/utils.tsx
  src/wizards/newspack/views/settings/types.d.ts
Labels: [Status] Approved

#3558 fix(auth): check for otp hash cookie when processing auth request
  includes/class-magic-link.php
Labels: [Status] Approved, ras-acc testing

#3524 feat(connections): jetpack sso settings wizard
  includes/wizards/class-connections-wizard.php
  includes/wizards/newspack/class-newspack-settings.php
  src/wizards/connections/views/main/index.js
  src/wizards/newspack/views/settings/connections/index.tsx
  src/wizards/newspack/views/settings/connections/jetpack-sso.tsx
  src/wizards/newspack/views/settings/types.d.ts
  src/wizards/types/index.d.ts
Labels: [Status] Approved

#3500 feat(ia): audience configuration boilerplate
  includes/class-blocks.php
  includes/class-newspack.php
  includes/class-wizards.php
  includes/reader-activation/class-reader-activation.php
  includes/wizards/audience/class-audience-campaigns.php
  includes/wizards/audience/class-audience-configuration.php
  includes/wizards/class-engagement-wizard.php
  src/admin/style.scss
  src/wizards/audience/components/active-campaign.js
  src/wizards/audience/components/mailchimp.js
  src/wizards/audience/components/metadata-fields.js
  src/wizards/audience/components/prerequisite.tsx
  src/wizards/audience/components/prompt.tsx
  src/wizards/audience/types/index.d.ts
  src/wizards/audience/views/campaigns/index.js
  src/wizards/audience/views/configuration/campaign.js
  src/wizards/audience/views/configuration/complete.js
  src/wizards/audience/views/configuration/index.js
  src/wizards/audience/views/configuration/settings.js
  src/wizards/audience/views/configuration/style.scss
  src/wizards/engagement/components/prompt.tsx
  src/wizards/engagement/index.js
  src/wizards/engagement/views/index.js
  src/wizards/index.tsx
  src/wizards/newspack/views/dashboard/style.scss
  src/wizards/newspack/views/settings/connections/index.tsx
  src/wizards/types/window.d.ts
  src/wizards/wizards-section.tsx
  src/wizards/wizards-tab.tsx
Labels: [Status] Approved

#3549 feat(ia): audience campaigns
  includes/class-newspack.php
  includes/class-wizards.php
  includes/wizards/audience/class-audience-campaigns.php
  includes/wizards/class-popups-wizard.php
  src/components/src/custom-select-control/style.scss
  src/components/src/tabbed-navigation/index.js
  src/wizards/audience/components/campaign-management-popover/index.js
  src/wizards/audience/components/lists-control/index.js
  src/wizards/audience/components/prompt-action-card/index.js
  src/wizards/audience/components/prompt-action-card/style.scss
  src/wizards/audience/components/prompt-popovers/primary.js
  src/wizards/audience/components/prompt-popovers/style.scss
  src/wizards/audience/components/segment-group/SegmentGroup.test.js
  src/wizards/audience/components/segment-group/icons.js
  src/wizards/audience/components/segment-group/index.js
  src/wizards/audience/components/segment-group/style.scss
  src/wizards/audience/components/segmentation-preview/index.js
  src/wizards/audience/components/settings-modal/index.js
  src/wizards/audience/contexts/Campaigns.js
  src/wizards/audience/contexts/index.js
  src/wizards/audience/views/campaigns/analytics/index.js
  src/wizards/audience/views/campaigns/analytics/style.scss
  src/wizards/audience/views/campaigns/campaigns/index.js
  src/wizards/audience/views/campaigns/campaigns/style.scss
  src/wizards/audience/views/campaigns/index.js
  src/wizards/audience/views/campaigns/segments/index.js
  src/wizards/audience/views/campaigns/segments/segments-list.js
  src/wizards/audience/views/campaigns/segments/single-segment.js
  src/wizards/audience/views/campaigns/segments/single-segment.test.js
  src/wizards/audience/views/campaigns/segments/style.scss
  src/wizards/audience/views/campaigns/settings/index.js
  src/wizards/audience/views/campaigns/utils.js
  src/wizards/audience/views/campaigns/views.js
  src/wizards/audience/views/configuration/index.js
  src/wizards/index.tsx
  src/wizards/popups/index.js
  src/wizards/popups/views/settings/index.js
  src/wizards/types/window.d.ts
Labels: [Status] Approved

#3561 fix(ia): Newspack / Dashboard header
  src/wizards/index.tsx
  src/wizards/newspack/views/dashboard/style.scss
Labels: [Status] Approved

#3545 fix(woocommerce-emails): use the default email if there are no donation products
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
Labels: [Status] Approved

#3551 chore(cli): fix setup command synopsis
  includes/cli/class-setup.php
Labels: [Status] Approved

#3548 feat(reader-data): add a CLI command to align reader membership data
  includes/reader-activation/class-reader-data.php
  includes/reader-activation/cli/class-sync-reader-data-cli.php
Labels: [Status] Approved

#3559 refactor(ia): audience development setup and tabs
  includes/class-newspack.php
  includes/class-wizards.php
  includes/reader-activation/class-reader-activation.php
  includes/wizards/audience/class-audience-campaigns.php
  includes/wizards/audience/class-audience-wizard.php
  src/admin/style.scss
  src/wizards/audience/components/prerequisite.tsx
  src/wizards/audience/components/prompt.tsx
  src/wizards/audience/views/configuration/index.js
  src/wizards/audience/views/setup/campaign.js
  src/wizards/audience/views/setup/complete.js
  src/wizards/audience/views/setup/content-gating.js
  src/wizards/audience/views/setup/index.js
  src/wizards/audience/views/setup/setup.js
  src/wizards/audience/views/setup/style.scss
  src/wizards/audience/views/setup/transactional-emails.js
  src/wizards/audience/views/setup/woocommerce.js
  src/wizards/index.tsx
  src/wizards/types/window.d.ts
  src/wizards/wizards-tab.tsx
Labels: [Status] Approved

#3562 refactor(ia): advertising display ads
  includes/class-wizards.php
  includes/configuration_managers/class-newspack-ads-configuration-manager.php
  includes/wizards/advertising/class-advertising-display-ads.php
  includes/wizards/advertising/class-advertising-sponsors.php
  includes/wizards/class-advertising-wizard.php
  includes/wizards/class-setup-wizard.php
  includes/wizards/newspack/class-newspack-dashboard.php
  src/wizards/advertising/components/ad-unit-size-control/index.js
  src/wizards/advertising/index.js
  src/wizards/advertising/style.scss
Labels: [Status] Approved

#3560 feat(subscriptions): add setting to reattempt payment after final retry
  includes/class-newspack.php
  includes/plugins/woocommerce-subscriptions/class-on-hold-duration.php
  includes/plugins/woocommerce-subscriptions/class-woocommerce-subscriptions.php
Labels: [Status] Approved

#3577 Release Nov 25
  .github/workflows/main.yml
  includes/class-newspack.php
  includes/class-plugin-manager.php
  includes/class-salesforce.php
  includes/class-starter-content.php
  includes/cli/class-co-authors-plus.php
  includes/cli/class-initializer.php
  includes/cli/class-ras-esp-sync.php
  includes/cli/class-ras.php
  includes/cli/class-setup.php
  includes/configuration_managers/class-woocommerce-configuration-manager.php
  includes/data-events/README.md
  includes/data-events/listeners.php
  includes/plugins/class-pwa.php
  includes/plugins/class-teams-for-memberships.php
  includes/plugins/wc-memberships/class-import-export.php
  includes/plugins/wc-memberships/class-memberships.php
  includes/reader-activation/class-reader-activation.php
  includes/reader-activation/sync/class-woocommerce.php
  includes/reader-revenue/my-account/style.scss
  includes/reader-revenue/stripe/class-stripe-connection.php
  includes/reader-revenue/woocommerce/class-woocommerce-cover-fees.php
  includes/starter_content/class-starter-content-generated.php
  includes/wizards/class-reader-revenue-wizard.php
  includes/wizards/class-setup-wizard.php
  newspack.php
  package-lock.json
  package.json
  src/blocks/reader-registration/style.scss
  src/components/src/action-card/index.js
  src/components/src/action-card/style.scss
  src/wizards/componentsDemo/index.js
  src/wizards/readerRevenue/index.js
  src/wizards/readerRevenue/views/index.js
  src/wizards/readerRevenue/views/payment-methods/additional-settings.js
  src/wizards/readerRevenue/views/payment-methods/index.js
  src/wizards/readerRevenue/views/payment-methods/stripe.js
  src/wizards/readerRevenue/views/payment-methods/style.scss
  src/wizards/readerRevenue/views/payment-methods/woopayments.js
  src/wizards/readerRevenue/views/stripe-setup/index.js
  src/wizards/setup/views/services/ReaderRevenue.js
  tests/mocks/newsletters-mocks.php
  tests/mocks/wc-mocks.php
  tests/unit-tests/api-plugins-controller.php
  tests/unit-tests/emails.php
  tests/unit-tests/plugin-manager.php
  tests/unit-tests/reader-activation-sync-woocommerce.php
  tests/unit-tests/stripe-connection.php
  tests/unit-tests/theme-manager.php
Labels: [Status] Approved

#3579 fix(auth): remove without password meta on admin profile updates
  includes/reader-activation/class-reader-activation.php
Labels: [Status] Approved

#3576 chore: update FILTER_SANITIZE_STRING to FILTER_SANITIZE_SPECIAL_CHARS
  includes/class-magic-link.php
Labels: [Status] Approved

#3575 Update string filter usage
  includes/optional-modules/class-media-partners.php
Labels: [Status] Approved

#3580 fix: cast values for transaction fee options
  includes/reader-revenue/woocommerce/class-woocommerce-cover-fees.php
  includes/wizards/class-reader-revenue-wizard.php
Labels: [Status] Approved

#3570 feat: add constant to disable Google OAuth in RAS
  includes/reader-activation/class-reader-activation.php
Labels: [Status] Approved, ras-acc testing

#3571 refactor(ia): dashboard site status etc.
  src/wizards/newspack/components/site-statuses/index.tsx
  src/wizards/newspack/components/site-statuses/site-status.tsx
  src/wizards/newspack/types/site-statuses.d.ts
Labels: [Status] Approved

#3578 feat: mark perfmatters as a required plugin
  includes/class-plugin-manager.php
Labels: [Status] Approved

#3583 feat(woocommerce): remove internal metadata from REST API response
  includes/plugins/class-woocommerce.php
Labels: [Status] Approved

#3585 fix: undefined var
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
Labels: [Status] Approved

#3584 fix(ras-acc): make helper text size more specific
  src/newspack-ui/scss/elements/forms/_index.scss
Labels: [Status] Needs Review, ras-acc testing
