Repository Automattic/newspack-plugin, pull requests merged in 2024-12, with the labels that each got.

#3588 fix(ras-acc): correct My Account custom font sizing clash
  src/newspack-ui/scss/elements/woocommerce/_overrides.scss
Labels: [Status] Approved, ras-acc testing

#3590 fix(emails): account for false order value in email hook
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
Labels: [Status] Approved, ras-acc testing

#3525 feat(plugins): add url redirect for wc subscription renewals
  includes/plugins/woocommerce-subscriptions/class-renewal.php
  includes/plugins/woocommerce-subscriptions/class-woocommerce-subscriptions.php
  includes/reader-activation/class-reader-activation.php
  src/reader-activation-auth/auth-form.js
Labels: [Status] Approved

#3555 feat(wc): duplicate orders admin notice
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
  includes/reader-revenue/woocommerce/class-woocommerce-duplicate-orders.php
Labels: [Status] Approved

#3568 feat(subscriptions): add cancellation reason metadata
  includes/plugins/woocommerce-subscriptions/class-on-hold-duration.php
  includes/plugins/woocommerce-subscriptions/class-subscriptions-meta.php
  includes/plugins/woocommerce-subscriptions/class-woocommerce-subscriptions.php
  includes/reader-activation/sync/class-metadata.php
  includes/reader-activation/sync/class-woocommerce.php
  tests/mocks/wc-mocks.php
  tests/unit-tests/plugins/woocommerce-subscriptions/class-subscriptions-meta.php
  tests/unit-tests/plugins/woocommerce-subscriptions/class-woocommerce-subscriptions.php
  tests/unit-tests/reader-activation-sync-woocommerce.php
Labels: [Status] Approved

#3587 feat(webhooks): filter request priority
  includes/data-events/class-webhooks.php
Labels: [Status] Approved

#3605 fix(ras-acc): re-add recaptcha to the WooCommerce checkout
  includes/class-recaptcha.php
Labels: [Status] Approved, ras-acc testing

#3593 feat(wcs): add expired subscription cli tool
  includes/cli/class-initializer.php
  includes/cli/class-woocommerce-subscriptions.php
Labels: [Status] Approved

#3613 fix(wcs): update subscription expiration feature
  includes/plugins/woocommerce-subscriptions/class-on-hold-duration.php
  includes/plugins/woocommerce-subscriptions/class-subscriptions-meta.php
  includes/plugins/woocommerce-subscriptions/class-woocommerce-subscriptions.php
  tests/unit-tests/plugins/woocommerce-subscriptions/class-subscriptions-meta.php
Labels: [Status] Approved

#3618 fix(wcs): remove subscriptions expiration feature flag
  includes/plugins/woocommerce-subscriptions/class-woocommerce-subscriptions.php
  tests/unit-tests/plugins/woocommerce-subscriptions/class-subscriptions-meta.php
  tests/unit-tests/plugins/woocommerce-subscriptions/class-woocommerce-subscriptions.php
Labels: [Status] Approved

#3604 fix: duplicate orders save on cron
  includes/reader-revenue/woocommerce/class-woocommerce-duplicate-orders.php
Labels: [Status] Approved

#3614 fix(ras): do not require Woo plugins if using NRH
  includes/reader-activation/class-reader-activation.php
  includes/wizards/class-wizard.php
  src/components/src/plugin-installer/index.js
Labels: [Status] Approved, News Revenue Hub

#3617 fix(wcs): update subscriptions expiration cli behavior
  includes/cli/class-woocommerce-subscriptions.php
Labels: [Status] Approved

#3620 Revert "feat: command to initialize cron job to slowly backfill CAP t…
  includes/cli/class-co-authors-plus.php
  includes/cli/class-initializer.php
Labels: [Status] Approved

#3624 fix(recaptcha): add safeguards against duplicate recaptcha rendering
  src/other-scripts/recaptcha/index.js
Labels: [Status] Approved, ras-acc testing

#3630 fix: hide duplicate notices if all was dismissed
  includes/reader-revenue/woocommerce/class-woocommerce-duplicate-orders.php
Labels: [Status] Approved

#3629 fix: dont load textdomain too early
  includes/class-newspack.php
  newspack.php
Labels: [Status] Approved

#3627 fix: replace recaptcha alerts with generic errors
  src/other-scripts/recaptcha/index.js
  src/other-scripts/recaptcha/style.scss
Labels: [Status] Needs Review, ras-acc testing

#3636 Release Dec 16
  includes/class-newspack.php
  includes/cli/class-co-authors-plus.php
  includes/cli/class-initializer.php
  includes/cli/class-woocommerce-subscriptions.php
  includes/data-events/class-webhooks.php
  includes/plugins/woocommerce-subscriptions/class-on-hold-duration.php
  includes/plugins/woocommerce-subscriptions/class-renewal.php
  includes/plugins/woocommerce-subscriptions/class-subscriptions-meta.php
  includes/plugins/woocommerce-subscriptions/class-woocommerce-subscriptions.php
  includes/reader-activation/class-reader-activation.php
  includes/reader-activation/sync/class-metadata.php
  includes/reader-activation/sync/class-woocommerce.php
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
  includes/reader-revenue/woocommerce/class-woocommerce-duplicate-orders.php
  includes/wizards/class-wizard.php
  newspack.php
  package-lock.json
  package.json
  src/components/src/plugin-installer/index.js
  src/reader-activation-auth/auth-form.js
  tests/mocks/wc-mocks.php
  tests/unit-tests/plugins/woocommerce-subscriptions/class-subscriptions-meta.php
  tests/unit-tests/plugins/woocommerce-subscriptions/class-woocommerce-subscriptions.php
  tests/unit-tests/reader-activation-sync-woocommerce.php
Labels: [Status] Approved

#3628 fix(ras): add script for fixing duplicate Mailchimp merge fields
  includes/cli/class-initializer.php
  includes/cli/class-mailchimp.php
  includes/cli/class-ras-esp-sync.php
Labels: [Status] Approved

#3623 fix(sync): strip unsuffixed UTM meta keys from normalized contact data
  includes/cli/class-initializer.php
  includes/cli/class-mailchimp.php
  includes/reader-activation/sync/class-metadata.php
  tests/unit-tests/reader-activation-sync.php
Labels: [Status] Approved, Reader Activation

#3631 fix(recaptcha): various optimizations
  src/other-scripts/recaptcha/index.js
  src/other-scripts/recaptcha/style.scss
Labels: [Status] Approved, ras-acc testing

#3581 feat(ia): setup wizard
  includes/class-newspack.php
  includes/class-wizards.php
  includes/wizards/class-setup-wizard.php
  includes/wizards/class-wizard.php
  src/wizards/setup/style.scss
  src/wizards/setup/views/services/ReaderRevenue.js
  src/wizards/setup/views/services/index.js
Labels: [Status] Approved

#3643 fix(stripe): when adding new card, update subs of all statuses
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
Labels: [Status] Approved

#3640 feat: add `/wp-admin/customize.php` as click destination for advanced settings cta
  src/wizards/newspack/views/settings/display-settings/index.tsx
Labels: [Status] Approved

#3621 feat(ia): newspack primary hex color
  includes/util.php
  src/admin/style.scss
  src/components/src/date-range-picker/style.scss
  src/components/src/modal/style.scss
  src/components/src/newspack-icon/style.scss
  src/components/src/newspack-logo/style.scss
  src/components/src/notice/style.scss
  src/components/src/popover/style.scss
  src/components/src/progress-bar/style.scss
  src/components/src/radio-control/style.scss
  src/components/src/steps-list-item/style.scss
  src/components/src/style-card/style.scss
  src/components/src/style.scss
  src/components/src/web-preview/style.scss
  src/components/src/with-wizard-screen/style.scss
  src/components/src/with-wizard/style.scss
  src/wizards/audience/views/campaigns/analytics/style.scss
  src/wizards/audience/views/campaigns/campaigns/style.scss
  src/wizards/audience/views/campaigns/segments/style.scss
  src/wizards/componentsDemo/index.js
  src/wizards/handoff-banner/style.scss
  src/wizards/newspack/views/dashboard/style.scss
  src/wizards/newspack/views/settings/constants.ts
Labels: [Status] Approved

#3649 fix: dont try to get orders if Woo is not active
  includes/reader-revenue/woocommerce/class-woocommerce-duplicate-orders.php
Labels: [Status] Approved
