Repository Automattic/newspack-plugin, pull requests merged in 2024-10, with the labels that each got.

#3450 fix(oauth): validate ID and prevent early deletion
  includes/oauth/class-google-login.php
  includes/oauth/class-oauth-transients.php
  includes/oauth/class-oauth.php
Labels: [Status] Approved

#3452 fix: handle zero cover fee percentage
  includes/reader-revenue/woocommerce/class-woocommerce-cover-fees.php
Labels: [Status] Approved

#3453 fix(oauth): tweak precision of success google auth log
  includes/oauth/class-google-login.php
Labels: [Status] Approved

#3457 feat: add elections block patterns
  includes/class-newspack.php
  includes/plugins/class-newspack-elections.php
  includes/templates/block-patterns/elections/home-pre-results-ap.php
  includes/templates/block-patterns/elections/home-pre-results-ddhq.php
  includes/templates/block-patterns/elections/home-results-ap.php
  includes/templates/block-patterns/elections/home-results-ddhq.php
  includes/templates/block-patterns/elections/live-results-post-ap.php
  includes/templates/block-patterns/elections/live-results-post-ddhq.php
Labels: [Status] Approved

#3451 fix(ras-acc): clear RAS user tokens on logout
  includes/class-magic-link.php
Labels: [Status] Approved, ras-acc testing

#3461 fix: remove Newspack Elections requirement from patterns
  includes/plugins/class-newspack-elections.php
Labels: [Status] Approved

#3466 fix: cancelled subscriptions sync
  includes/reader-activation/sync/class-metadata.php
  includes/reader-activation/sync/class-woocommerce.php
  tests/unit-tests/reader-activation-sync-woocommerce.php
Labels: [Status] Approved

#3463 feat: adds jsdoc block for better type inference on ColorPicker component
  src/components/src/color-picker/index.js
Labels: [Status] Approved

#3469 fix(oauth): start php session if no session available
  includes/oauth/class-google-login.php
  includes/oauth/class-oauth.php
Labels: [Status] Approved

#3418 feat(ia): display settings - part 1
  includes/class-newspack.php
  includes/class-wizards.php
  includes/wizards/newspack/class-recirculation-section.php
  src/admin/style.scss
  src/wizards/hooks/use-wizard-api-fetch.ts
  src/wizards/newspack/types/index.d.ts
  src/wizards/newspack/views/settings/connections/webhooks/constants.ts
  src/wizards/newspack/views/settings/constants.ts
  src/wizards/newspack/views/settings/display-settings/author-bio.tsx
  src/wizards/newspack/views/settings/display-settings/index.tsx
  src/wizards/newspack/views/settings/display-settings/recirculation.tsx
  src/wizards/newspack/views/settings/sections.tsx
  src/wizards/newspack/views/settings/theme-and-brand/index.tsx
  src/wizards/newspack/views/settings/theme-and-brand/style.scss
  src/wizards/newspack/views/settings/theme-and-brand/theme-select.tsx
  src/wizards/newspack/views/settings/theme-and-brand/types.d.ts
  src/wizards/newspack/views/settings/theme-and-brand/typography.tsx
  src/wizards/newspack/views/settings/theme-and-brand/utils.ts
  src/wizards/newspack/views/settings/theme-mods.d.ts
  src/wizards/newspack/views/settings/types.d.ts
  src/wizards/types/hooks.d.ts
  src/wizards/types/wizard-action-card.d.ts
  src/wizards/wizards-action-card.tsx
  src/wizards/wizards-tab.tsx
Labels: [Status] Approved

#3465 feat: add prop to conditionally trigger initial fetch
  src/components/src/wizard/index.js
  src/components/src/wizard/store/index.js
  src/wizards/newspack/views/settings/index.tsx
Labels: [Status] Approved

#3467 feat(ia): track hook requests in `useWizardApiFetch`
  src/wizards/hooks/use-wizard-api-fetch.ts
Labels: [Status] Approved

#3471 fix(auth): simplify pending checkout
  includes/class-donations.php
  includes/class-magic-link.php
  includes/data-events/class-woo-user-registration.php
  includes/plugins/wc-memberships/class-memberships.php
  src/reader-activation-auth/auth-form.js
  src/reader-activation/checkout.js
  src/reader-activation/index.js
Labels: [Status] Approved, ras-acc testing

#2711 fix(woocommerce): update how order meta are updated
  includes/class-donations.php
  includes/class-salesforce.php
Labels: [Status] Approved

#3430 feat(ia): display settings - part 2
  includes/wizards/class-setup-wizard.php
  src/admin/style.scss
  src/wizards/newspack/views/settings/display-settings/featured-image-posts-all.tsx
  src/wizards/newspack/views/settings/display-settings/featured-image-posts-new.tsx
  src/wizards/newspack/views/settings/display-settings/index.tsx
  src/wizards/newspack/views/settings/display-settings/media-credits.tsx
  src/wizards/newspack/views/settings/display-settings/types.d.ts
  src/wizards/newspack/views/settings/theme-and-brand/index.tsx
  src/wizards/newspack/views/settings/theme-mods.d.ts
Labels: [Status] Approved

#3476 fix(ras-acc): replace email param with secret for magic links
  includes/class-magic-link.php
  tests/unit-tests/magic-link.php
Labels: [Status] Approved, ras-acc testing

#3477 fix(ia): wizards admin-header fix dynamic property creation deprecation warning
  includes/wizards/traits/trait-wizards-admin-header.php
Labels: [Status] Approved

#3425 feat: command to initialize cron job to slowly backfill CAP term data
  includes/cli/class-co-authors-plus.php
  includes/cli/class-initializer.php
Labels: [Status] Approved

#3481 feat(auth-modal): onSuccess, onDismiss, and onError callbacks
  src/reader-activation-auth/auth-form.js
  src/reader-activation-auth/auth-modal.js
  src/reader-activation-auth/index.js
  src/reader-activation-newsletters/newsletters-modal.js
  src/reader-activation/index.js
Labels: [Status] Approved, ras-acc testing

#3472 feat(site-kit): add logging when site kit disconnects
  includes/class-logger.php
  includes/class-newspack.php
  includes/plugins/google-site-kit/class-googlesitekit-logger.php
  includes/plugins/google-site-kit/class-googlesitekit.php
Labels: [Status] Approved

#3480 feat: `useWizardApiFetch` add manual cache handling logic
  src/wizards/hooks/use-wizard-api-fetch.ts
Labels: [Status] Approved

#3485 fix(site-kit): update logger cron to hourly interval
  includes/plugins/google-site-kit/class-googlesitekit-logger.php
Labels: [Status] Approved

#3489 fix(ras-acc): add onSuccess/onError callbacks to recaptcha render method
  src/other-scripts/recaptcha/index.js
Labels: [Status] Approved, ras-acc testing

#3486 feat(connections): jetpack sso
  includes/wizards/class-connections-wizard.php
  src/wizards/connections/views/main/index.js
  src/wizards/connections/views/main/jetpack-sso.js
Labels: [Status] Approved

#3478 feat: display list remote name on newsletter wizard
  src/wizards/engagement/views/newsletters/index.js
Labels: [Status] Approved

#3462 feat(ia): settings additional brands
  includes/wizards/newspack/class-newspack-settings.php
  src/wizards/hooks/use-wizard-api-fetch.ts
  src/wizards/newspack/types/index.d.ts
  src/wizards/newspack/views/settings/additional-brands/brand-upsert.tsx
  src/wizards/newspack/views/settings/additional-brands/brand.tsx
  src/wizards/newspack/views/settings/additional-brands/brands.tsx
  src/wizards/newspack/views/settings/additional-brands/constants.ts
  src/wizards/newspack/views/settings/additional-brands/index.tsx
  src/wizards/newspack/views/settings/additional-brands/style.scss
  src/wizards/newspack/views/settings/additional-brands/types.d.ts
  src/wizards/newspack/views/settings/sections.tsx
  src/wizards/types/index.d.ts
  src/wizards/types/wizard-action-card.d.ts
Labels: [Status] Approved

#3492 fix(webhooks): deprecate global endpoint
  includes/data-events/class-api.php
  includes/data-events/class-webhooks.php
  src/components/src/modal/index.js
  src/wizards/connections/views/main/webhooks.js
  tests/unit-tests/webhooks.php
Labels: [Status] Approved

#3473 feat: add user name to woocommerce data events
  includes/data-events/class-utils.php
Labels: [Status] Approved

#3496 fix: override button, text styles
  src/newspack-ui/scss/elements/_typography.scss
  src/newspack-ui/scss/elements/forms/_buttons.scss
Labels: [Status] Approved, ras-acc testing

#3501 refactor: wizards menu order handling
  includes/class-newspack.php
  includes/class-wizards.php
  includes/wizards/advertising/class-advertising-display-ads.php
  includes/wizards/advertising/class-advertising-sponsors.php
  includes/wizards/class-components-demo.php
  includes/wizards/class-network-wizard.php
  includes/wizards/class-newsletters-wizard.php
  includes/wizards/class-wizard.php
  includes/wizards/newspack/class-newspack-dashboard.php
  includes/wizards/newspack/class-newspack-settings.php
Labels: [Status] Approved

#3502 fix: fatal and notice on php 8.3
  includes/class-newspack-image-credits.php
  includes/wizards/class-setup-wizard.php
Labels: [Status] Approved

#3497 fix(co-authors-plus): CLI for migrating from CAP GA
  includes/cli/class-co-authors-plus.php
Labels: [Status] Approved

#3491 fix: let "Cover fees" checkbox work with any payment method
  includes/reader-revenue/woocommerce/class-woocommerce-cover-fees.php
  src/other-scripts/wc-cover-fees/index.js
Labels: [Status] Approved

#3503 fix: only apply merging to plain objects
  src/wizards/hooks/use-wizard-api-fetch.ts
Labels: [Status] Approved

#3508 Release Oct 28
  includes/class-donations.php
  includes/class-salesforce.php
  includes/cli/class-co-authors-plus.php
  includes/cli/class-initializer.php
  includes/data-events/class-utils.php
  newspack.php
  package-lock.json
  package.json
  src/memberships-gate/metering.js
Labels: [Status] Needs Review

#3506 fix(ras): update transactional email logo default size
  includes/templates/reader-activation-emails/delete-account.php
  includes/templates/reader-activation-emails/magic-link.php
  includes/templates/reader-activation-emails/otp.php
  includes/templates/reader-activation-emails/password-reset.php
  includes/templates/reader-activation-emails/verification.php
  includes/templates/reader-revenue-emails/cancellation.php
  includes/templates/reader-revenue-emails/receipt.php
  includes/templates/reader-revenue-emails/welcome.php
Labels: [Status] Approved, ras-acc testing

#3505 fix(ras): update reset password email template heading and text
  includes/templates/reader-activation-emails/password-reset.php
Labels: [Status] Approved, ras-acc testing

#3510 feat(ras): login reader after successful password reset
  includes/reader-activation/class-reader-activation.php
Labels: [Status] Approved, ras-acc testing

#3509 feat(ras): add toggle to force checkout registration
  includes/reader-activation/class-reader-activation.php
  src/wizards/engagement/views/reader-activation/index.js
Labels: [Status] Approved, ras-acc testing
