Repository Automattic/newspack-plugin, pull requests merged in 2024-05, with the labels that each got.

#3066 feat: custom role for assignable authors who don't edit posts
  includes/class-newspack.php
  includes/plugins/class-co-authors-plus.php
Labels: [Status] Approved

#3086 fix(ras): sync purchase data only for most recent order/subscription
  includes/plugins/class-newspack-newsletters.php
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
  includes/reader-revenue/woocommerce/class-woocommerce-order-utm.php
Labels: [Status] Approved, Reader Activation

#3106 OAuth: use a custom table for transients
  includes/class-newspack.php
  includes/oauth/class-google-login.php
  includes/oauth/class-oauth-transients.php
  includes/oauth/class-oauth.php
Labels: [Status] Approved

#3113 fix(oauth): prevent API call if login is abandoned
  assets/reader-activation/auth.js
  includes/oauth/class-google-login.php
Labels: [Status] Needs Review

#3112 fix(oauth-transients): remove redundant cleanup
  assets/reader-activation/auth.js
  includes/oauth/class-google-login.php
  includes/oauth/class-oauth-transients.php
  includes/oauth/class-oauth.php
Labels: [Status] Approved

#3111 fix: autocomplete orders only for virtual products
  assets/other-scripts/custom-product-options/index.js
  includes/reader-revenue/woocommerce/class-woocommerce-products.php
Labels: [Status] Approved

#3117 fix(google-login): get the email from the /tokeninfo endpoint
  assets/reader-activation/auth.js
  includes/oauth/class-google-login.php
  includes/oauth/class-google-oauth.php
  includes/reader-activation/class-reader-activation.php
Labels: [Status] Approved

#3103 Release May 15
  CHANGELOG.md
  assets/other-scripts/custom-product-options/index.js
  assets/wizards/engagement/components/prerequisite.tsx
  assets/wizards/engagement/components/types.ts
  assets/wizards/engagement/views/reader-activation/campaign.js
  assets/wizards/engagement/views/reader-activation/complete.js
  assets/wizards/engagement/views/reader-activation/index.js
  assets/wizards/engagement/views/reader-activation/style.scss
  includes/class-newspack.php
  includes/data-events/connectors/class-activecampaign.php
  includes/data-events/connectors/class-connector.php
  includes/data-events/connectors/class-mailchimp.php
  includes/reader-activation/class-reader-activation.php
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
  includes/reader-revenue/woocommerce/class-woocommerce-products.php
  includes/wizards/class-engagement-wizard.php
  includes/wizards/class-wizard.php
  newspack.php
  package-lock.json
  package.json
Labels: [Status] Approved

#3068 Feat/migrate guest authors
  includes/cli/class-co-authors-plus.php
  includes/cli/class-initializer.php
Labels: [Status] Approved

#3116 fix(registration-block): prevent undefined variable warning
  assets/blocks/reader-registration/index.php
Labels: [Status] Approved

#3107 feat: update variation styles
  assets/newspack-ui/scss/_mixins.scss
  assets/newspack-ui/scss/_modals.scss
  assets/newspack-ui/scss/variables/_breakpoints.scss
  assets/newspack-ui/scss/variables/_index.scss
  assets/newspack-ui/style.scss
Labels: [Status] Approved, [Status] Needs Design Review

#3105 feat(ras-acc): use newsletters subscription lists setting to manage post-checkout newsletter signup
  assets/wizards/engagement/views/reader-activation/index.js
  includes/reader-activation/class-reader-activation.php
Labels: [Status] Approved

#3114 feat(ras-acc): add segment control & build out button styles
  assets/newspack-ui/index.js
  assets/newspack-ui/js/index.js
  assets/newspack-ui/js/segmented-control/index.js
  assets/newspack-ui/js/utils/index.js
  assets/newspack-ui/scss/elements/_icons.scss
  assets/newspack-ui/scss/elements/_index.scss
  assets/newspack-ui/scss/elements/_segmented-control.scss
  assets/newspack-ui/scss/elements/forms/_buttons.scss
  assets/newspack-ui/scss/elements/forms/_checkbox-radio.scss
  assets/newspack-ui/scss/elements/forms/_spinner.scss
  assets/newspack-ui/scss/elements/forms/_text-inputs.scss
  assets/newspack-ui/scss/elements/misc/_badge.scss
  assets/newspack-ui/scss/variables/_index.scss
  includes/class-newspack-ui.php
Labels: [Status] Approved

#3083 feat(ras-acc): update newsletters palette on theme primary color updates
  includes/emails/class-emails.php
  includes/util.php
Labels: [Status] Approved

#3109 feat: update donation landing page
  includes/class-donations.php
  includes/images/placeholder-donation.jpg
Labels: [Status] Approved

#3122 feat(cli): enable running the setup with a site import
  includes/cli/class-setup.php
  includes/starter_content/class-starter-content-wordpress.php
Labels: [Status] Approved

#3133 fix(ras-acc): handle cancelled accounts with active subs
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
Labels: [Status] Approved

#3135 fix: avoid resetting modal config via #register_modal hash from inside auth modal
  assets/reader-activation-auth/auth-form.js
  includes/reader-activation/class-reader-activation.php
Labels: [Status] Approved

#3128 fix(ras): handle RAS disabled in newsletters signup handling
  includes/reader-activation/class-reader-data.php
Labels: [Status] Approved

#3127 fix(ras): handle newsletters subscribe form selector
  assets/reader-activation/index.js
Labels: [Status] Approved

#3137 fix(tracking): handling user role in pixel
  includes/tracking/class-meta-pixel.php
  includes/tracking/class-pixel.php
Labels: [Status] Approved

#3138 refactor(lint): ban console.log and remove where unnecessary
  .eslintrc.js
  assets/reader-activation/auth.js
  assets/reader-activation/index.js
  assets/wizards/componentsDemo/index.js
  assets/wizards/popups/utils.js
  assets/wizards/popups/views/segments/segments-list.js
  assets/wizards/readerRevenue/views/stripe-setup/index.js
  assets/wizards/site-design/index.js
Labels: [Status] Approved

#3136 feat(memberships): remove content restriction handling on the homepage
  includes/plugins/wc-memberships/class-memberships.php
Labels: [Status] Approved

#3139 fix(ras): prevent email address exposure via user login
  includes/reader-activation/class-reader-activation.php
Labels: [Status] Approved

#3147 Release May 28
  .circleci/config.yml
  CHANGELOG.md
  assets/blocks/reader-registration/index.php
  composer.lock
  includes/class-newspack.php
  includes/cli/class-co-authors-plus.php
  includes/cli/class-initializer.php
  includes/data-events/connectors/ga4/class-ga4.php
  includes/optional-modules/class-rss.php
  includes/plugins/class-co-authors-plus.php
  includes/starter_content/class-starter-content-generated.php
  includes/starter_content/class-starter-content-provider.php
  newspack.php
  package-lock.json
  package.json
Labels: [Status] Approved

#3134 fix(ras-acc): disable body scroll when auth modal is open
  assets/reader-activation-auth/auth-modal.js
Labels: [Status] Approved

#3143 fix(reader-revenue): prevent sending duplicate receipt emails
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
Labels: [Status] Approved

#3142 fix(ras-setup): redirect to init screen after setup
  assets/wizards/engagement/views/reader-activation/complete.js
Labels: [Status] Approved

#3141 fix(ras-sync): allow active subscription to take precendence over orders
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
Labels: [Status] Approved

#3118 feat(ras-acc): add basic SVG handling?
  includes/class-blocks.php
  includes/class-newspack-ui-icons.php
  includes/class-newspack-ui.php
  includes/class-newspack.php
  includes/reader-activation/class-reader-activation.php
Labels: [Status] Approved

#3149 fix(ras-acc): fix focus, Google button styles
  assets/newspack-ui/scss/elements/forms/_checkbox-radio.scss
  includes/reader-activation/class-reader-activation.php
Labels: [Status] Approved

#3129 feat(ga4-events): add author name(s), category, RAS statuses to event payload
  includes/data-events/connectors/ga4/README.md
  includes/data-events/connectors/ga4/class-ga4.php
Labels: [Status] Approved

#3130 feat(ras-acc): minor visual fixes
  assets/newspack-ui/fonts/Inter-VariableFont_slnt,wght.ttf
  assets/newspack-ui/fonts/OFL.txt
  assets/newspack-ui/scss/_modals.scss
  assets/newspack-ui/scss/elements/forms/_buttons.scss
  assets/newspack-ui/scss/elements/forms/_index.scss
  assets/newspack-ui/scss/elements/forms/_labels.scss
  assets/newspack-ui/scss/elements/forms/_select.scss
  assets/newspack-ui/scss/elements/misc/_index.scss
  assets/newspack-ui/scss/elements/misc/_reader-auth.scss
  assets/newspack-ui/scss/elements/woocommerce/_overrides.scss
  assets/newspack-ui/scss/variables/_fonts.scss
  webpack.config.js
Labels: [Status] Approved, [Status] Needs Design Review

#3153 feat(ia): settings connections refactor various
  assets/admin/style.scss
  assets/components/src/section-header/index.js
  assets/components/src/wizard/index.js
  assets/wizards/index.tsx
  assets/wizards/newspack/types/index.d.ts
  assets/wizards/newspack/views/dashboard/index.tsx
  assets/wizards/newspack/views/settings/connections/index.tsx
  assets/wizards/newspack/views/settings/index.tsx
  assets/wizards/newspack/views/settings/sections.tsx
  assets/wizards/newspack/views/settings/tabs/connections.tsx
  includes/wizards/class-newspack-dashboard.php
  includes/wizards/class-newspack-settings.php
  includes/wizards/class-wizard.php
  package-lock.json
  package.json
  tsconfig.json
Labels: [Status] Approved

#3151 feat(ia): new `WizardError` & `WizardApiError` classes
  assets/wizards/errors/class-wizard-api-error.ts
  assets/wizards/errors/class-wizard-error.ts
  assets/wizards/errors/index.ts
  includes/class-newspack.php
Labels: [Status] Approved

#3148 Expand memberships performance tweaks to archives
  includes/plugins/wc-memberships/class-memberships.php
Labels: [Status] Approved

#3145 fix(newsletters): missing UTM params passing
  includes/plugins/class-newspack-newsletters.php
Labels: [Status] Approved
