Repository Automattic/newspack-plugin, pull requests merged in 2024-02, with the labels that each got.

#2884 Fix TypeScript use; add to CI
  .circleci/config.yml
  .eslintrc.js
  .gitignore
  assets/components/package.json
  assets/components/src/button/index.tsx
  assets/components/src/grid/index.js
  assets/components/src/grid/index.tsx
  assets/components/src/hooks/index.ts
  assets/components/src/hooks/usePrompt.ts
  assets/components/src/text-control/index.js
  assets/components/src/text-control/index.tsx
  assets/wizards/engagement/components/prerequisite.tsx
  assets/wizards/engagement/components/prompt.tsx
  assets/wizards/engagement/components/types.ts
  assets/wizards/readerRevenue/views/donation/index.tsx
  package-lock.json
  package.json
Labels: [Status] Needs Review

#2898 fix(engagement-wizard): handle error when retrieving subscription lists
  includes/configuration_managers/class-newspack-newsletters-configuration-manager.php
Labels: [Status] Approved

#2895 feat(ci): add epic/* release workflow and rename `master` to `trunk`
  .circleci/config.yml
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  .hooks/pre-push
  README.md
  assets/reader-activation/auth.scss
  assets/wizards/engagement/components/prompt.tsx
  assets/wizards/engagement/components/types.ts
  includes/data-events/connectors/class-activecampaign.php
  includes/data-events/connectors/class-mailchimp.php
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
  includes/util.php
  package-lock.json
  package.json
  tests/sql/newspacktestdata.sql
Labels: [Status] Approved, [Type] Infrastructure

#2878 feat(newspack-ui): update newspack ui to accomodate modal checkout block
  assets/newspack-ui/scss/_modals.scss
  assets/newspack-ui/scss/elements/forms/_index.scss
  assets/newspack-ui/scss/elements/forms/_spinner.scss
  assets/newspack-ui/scss/elements/woocommerce/_overrides.scss
  includes/reader-revenue/woocommerce/class-woocommerce-cover-fees.php
Labels: [Status] Approved

#2906 fix(ras-acc): account for null data
  assets/reader-activation-auth/auth-form.js
Labels: [Status] Approved

#2905 fix: fixes for prod release feb 5
  includes/plugins/class-organic-profile-block.php
  includes/reader-activation/class-reader-activation.php
Labels: [Status] Approved

#2866 feat(reader-revenue): make NYP and Stripe Gateway optional
  assets/wizards/readerRevenue/index.js
  assets/wizards/readerRevenue/views/donation/index.tsx
  assets/wizards/readerRevenue/views/index.js
  assets/wizards/readerRevenue/views/location-setup/index.js
  assets/wizards/readerRevenue/views/platform/index.js
  assets/wizards/readerRevenue/views/stripe-setup/index.js
  includes/class-donations.php
  includes/class-plugin-manager.php
  includes/configuration_managers/class-woocommerce-configuration-manager.php
  includes/reader-activation/class-reader-activation.php
  includes/reader-revenue/stripe/class-stripe-connection.php
  includes/wizards/class-reader-revenue-wizard.php
Labels: [Status] Approved

#2910 fix: prevent fatal when redirecting for pixel tracking
  includes/data-events/class-data-events.php
Labels: [Status] Approved

#2908 fix: typescript errors
  assets/wizards/engagement/components/types.ts
  assets/wizards/readerRevenue/views/donation/index.tsx
Labels: [Status] Approved

#2911 Turn off WooCommerce Order Attribution
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
Labels: [Status] Approved

#2904 fix(my-account): fixes for My Account
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
Labels: [Status] Approved

#2912 Chore/phpcs
  assets/wizards/dashboard/views/dashboardCard.js
  assets/wizards/engagement/components/prerequisite.tsx
  assets/wizards/engagement/components/types.ts
  includes/api/class-plugins-controller.php
  includes/api/class-wizards-controller.php
  includes/class-profile.php
  includes/configuration_managers/class-configuration-manager.php
  includes/configuration_managers/class-newspack-ads-configuration-manager.php
  includes/configuration_managers/class-newspack-popups-configuration-manager.php
  includes/oauth/class-google-oauth.php
  includes/wizards/class-advertising-wizard.php
  includes/wizards/class-analytics-wizard.php
  includes/wizards/class-connections-wizard.php
  includes/wizards/class-engagement-wizard.php
  includes/wizards/class-health-check-wizard.php
  includes/wizards/class-popups-wizard.php
  includes/wizards/class-seo-wizard.php
  includes/wizards/class-setup-wizard.php
  includes/wizards/class-site-design-wizard.php
  includes/wizards/class-syndication-wizard.php
Labels: [Status] Needs Review

#2913 fix(categories): fix pager urls
  includes/class-category-pager.php
  includes/class-newspack.php
Labels: [Status] Approved

#2918 fix: update path to wide template file
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
Labels: [Status] Approved

#2930 fix: add frequency tab options for donations, even when tiers are disabled
  assets/wizards/readerRevenue/views/donation/index.tsx
Labels: [Status] Approved

#2925 feat(rss): enable control over feed update frequency and guid
  includes/optional-modules/class-rss.php
Labels: [Status] Approved

#2926 fix: correct translation strings for assets/blocks
  assets/blocks/reader-registration/block.json
  assets/blocks/reader-registration/edit.js
Labels: [Status] Approved

#2927 fix: correct translation strings for half of assets/components
  assets/components/src/autocomplete-with-suggestions/index.js
  assets/components/src/footer/index.js
  assets/components/src/handoff/index.js
  assets/components/src/image-upload/index.js
  assets/components/src/notice/index.js
  assets/components/src/patrons-logo/index.js
  assets/components/src/plugin-installer/index.js
  assets/components/src/plugin-settings/index.js
  assets/components/src/plugin-toggle/index.js
  assets/components/src/position-control/index.js
  assets/components/src/select-control/GroupedSelectControl.js
  assets/components/src/settings/MinMaxSetting.js
Labels: [Status] Approved

#2928 fix: correct translation strings for second half of assets/components
  assets/components/src/sortable-newsletter-list-control/index.js
  assets/components/src/style-card/index.js
  assets/components/src/text-control/index.tsx
  assets/components/src/web-preview/index.js
  assets/components/src/with-wizard-screen/index.js
  assets/components/src/with-wizard/index.js
  assets/components/src/wizard/components/WizardError.js
  assets/components/src/wizard/index.js
Labels: [Status] Approved

#2929 fix: correct translation strings for number of assets files
  assets/memberships-gate/editor.js
  assets/other-scripts/emails/index.js
  assets/other-scripts/salesforce/index.js
  assets/plugins-screen/plugins-screen.js
Labels: [Status] Approved

#2932 feat: add link to block pattern category page
  includes/class-patches.php
Labels: [Status] Approved

#2923 fix(woocommerce): fix order-pay page when using woocommerce-membershi…
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
Labels: [Status] Approved

#2863 fix(perfmatters): use ignore-defaults constant when applying unused CSS
  includes/plugins/class-perfmatters.php
Labels: [Status] Approved

#2939 fix(ga4): add default client id
  includes/data-events/connectors/ga4/class-ga4.php
Labels: [Status] Approved

#2934 fix(my-account): always update all subs when updating payment method
  includes/reader-revenue/my-account/style.scss
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
Labels: [Status] Approved

#2943 fix: avoid a reCAPTCHA API error when script is enqueued with a version param
  includes/class-recaptcha.php
Labels: [Status] Approved

#2936 feat(blocks): add meta to core/image blocks
  assets/blocks/core-image/figcaption.tsx
  assets/blocks/core-image/icon.tsx
  assets/blocks/core-image/index.tsx
  assets/blocks/core-image/loader.tsx
  assets/blocks/core-image/style.scss
  assets/blocks/core-image/toolbar.tsx
  assets/blocks/core-image/types.ts
  assets/blocks/index.js
  includes/class-newspack-image-credits.php
  package-lock.json
  package.json
  tsconfig.json
Labels: [Status] Approved

#2940 feat: add a filter to esp normalized contact
  includes/plugins/class-newspack-newsletters.php
Labels: [Status] Approved

#2935 Feat/tweaks for network update
  includes/class-newspack.php
  includes/data-events/class-utils.php
  includes/data-events/class-webhooks.php
  includes/data-events/listeners.php
  includes/reader-activation/class-reader-activation.php
Labels: [Status] Approved

#2917 fix(GA): update spelling of referrer param
  includes/data-events/connectors/ga4/README.md
  includes/data-events/connectors/ga4/class-ga4.php
Labels: [Status] Approved

#2953 fix: update text domains for the analytics, components screens
  assets/wizards/analytics/index.js
  assets/wizards/analytics/views/newspack-custom-events/index.js
  assets/wizards/analytics/views/plugins/index.js
  assets/wizards/componentsDemo/index.js
Labels: [Status] Approved

#2952 fix: update text domains for the advertising wizard
  assets/wizards/advertising/components/ad-refresh-control/index.js
  assets/wizards/advertising/components/ad-unit-size-control/index.js
  assets/wizards/advertising/components/add-ons/index.js
  assets/wizards/advertising/components/onboarding/index.js
  assets/wizards/advertising/components/placement-control/index.js
  assets/wizards/advertising/components/utils/index.js
  assets/wizards/advertising/index.js
  assets/wizards/advertising/views/ad-unit/index.js
  assets/wizards/advertising/views/ad-units/index.js
  assets/wizards/advertising/views/ad-units/options-popover.js
  assets/wizards/advertising/views/placements/index.js
  assets/wizards/advertising/views/providers/index.js
  assets/wizards/advertising/views/suppression/index.js
Labels: [Status] Approved

#2924 fix(newsletters): handle status metadata
  includes/plugins/class-newspack-newsletters.php
Labels: [Status] Approved

#2954 fix: donate block layout for NRH
  includes/class-donations.php
Labels: [Status] Approved, News Revenue Hub

#2956 fix: update text domain in wizards/connections directory
  assets/wizards/connections/index.js
  assets/wizards/connections/views/main/fivetran.js
  assets/wizards/connections/views/main/google.js
  assets/wizards/connections/views/main/index.js
  assets/wizards/connections/views/main/mailchimp.js
  assets/wizards/connections/views/main/plugins.js
  assets/wizards/connections/views/main/recaptcha.js
  assets/wizards/connections/views/main/webhooks.js
Labels: [Status] Approved

#2957 fix: correct text domains in wizards/engagement
  assets/wizards/engagement/components/active-campaign.js
  assets/wizards/engagement/components/mailchimp.js
  assets/wizards/engagement/components/prerequisite.tsx
  assets/wizards/engagement/components/prompt.tsx
  assets/wizards/engagement/index.js
  assets/wizards/engagement/views/newsletters/index.js
  assets/wizards/engagement/views/reader-activation/campaign.js
  assets/wizards/engagement/views/reader-activation/complete.js
  assets/wizards/engagement/views/reader-activation/index.js
  assets/wizards/engagement/views/related-content/index.js
  assets/wizards/engagement/views/social/index.js
  assets/wizards/engagement/views/social/meta-pixel.js
  assets/wizards/engagement/views/social/twitter-pixel.js
Labels: [Status] Approved
