Repository Automattic/newspack-plugin, pull requests merged in 2024-08, with the labels that each got.

#3277 feat: enhancements for the Non editing contributor role
  assets/other-scripts/co-authors-plus/index.js
  includes/plugins/class-co-authors-plus.php
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
Labels: [Status] Approved

#3268 fix: force active membership if the user has active subs
  includes/plugins/wc-memberships/class-memberships.php
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
Labels: [Status] Approved

#3300 fix(ras-acc): recognize active non release newspack plugins
  includes/class-plugin-manager.php
Labels: [Status] Approved, ras-acc testing

#3299 fix(data-events): ensure get_last_successful_order returns WC_Order
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
Labels: [Status] Approved

#3296 fix(ras-acc): newspack ui heading font weights
  assets/newspack-ui/scss/elements/_typography.scss
Labels: [Status] Approved, ras-acc testing

#3302 feat: rename guest contributor role
  includes/plugins/class-co-authors-plus.php
Labels: [Status] Approved

#3301 feat: add heading to inline sign-in form
  assets/newspack-ui/scss/elements/woocommerce/_overrides.scss
  includes/reader-activation/class-reader-activation.php
  includes/templates/reader-activation/login-form.php
Labels: [Status] Approved, ras-acc testing

#3261 feat: add log context
  includes/data-events/connectors/class-activecampaign.php
  includes/data-events/connectors/class-connector.php
  includes/data-events/connectors/class-mailchimp.php
Labels: [Status] Needs Review

#3314 fix(data-events): race condition between `order_completed` and `subscription_updated`
  includes/data-events/connectors/class-connector.php
Labels: [Status] Approved

#3304 chore: rename subscribe contact listener
  includes/data-events/README.md
  includes/data-events/connectors/class-activecampaign.php
  includes/data-events/connectors/class-mailchimp.php
  includes/data-events/listeners.php
Labels: [Status] Approved

#3320 fix(data-events): remove `is_updating` check from `newsletter_subscribed` listener
  includes/data-events/listeners.php
Labels: [Status] Approved

#3317 fix (ras-acc): remove nowrap from tables
  assets/newspack-ui/scss/elements/_tables.scss
Labels: [Status] Approved, ras-acc testing

#3318 fix (ras-acc): hide 'Create account' message when clicked
  assets/reader-activation-auth/auth-form.js
Labels: [Status] Approved, ras-acc testing

#3316 fix (ras-acc): update max-height for modal styles
  assets/newspack-ui/scss/_modals.scss
Labels: [Status] Approved, ras-acc testing

#3322 fix(ras-acc): remove redundant email template alt attributes
  includes/templates/reader-activation-emails/delete-account.php
  includes/templates/reader-activation-emails/magic-link.php
  includes/templates/reader-activation-emails/otp.php
  includes/templates/reader-activation-emails/password-reset.php
  includes/templates/reader-activation-emails/verification.php
  includes/templates/reader-revenue-emails/cancellation.php
  includes/templates/reader-revenue-emails/receipt.php
  includes/templates/reader-revenue-emails/welcome.php
Labels: [Status] Approved, ras-acc testing

#3270 feat(ia): advertising > display ads
  assets/admin/style.scss
  assets/components/src/action-card/index.js
  assets/components/src/plugin-settings/SettingsSection.js
  assets/components/src/plugin-settings/index.js
  assets/components/src/plugin-toggle/index.js
  assets/components/src/with-wizard-screen/style.scss
  assets/components/src/with-wizard/style.scss
  assets/wizards/advertising/components/ad-refresh-control/index.js
  assets/wizards/advertising/components/add-ons/index.js
  assets/wizards/advertising/index.js
  assets/wizards/advertising/style.scss
  assets/wizards/advertising/views/index.js
  assets/wizards/advertising/views/placements/index.js
  assets/wizards/advertising/views/providers/index.js
  assets/wizards/advertising/views/settings/index.js
  assets/wizards/advertising/views/suppression/index.js
  includes/class-newspack.php
  includes/class-wizards.php
  includes/wizards/advertising/class-advertising-display-ads.php
  includes/wizards/advertising/class-advertising-sponsors.php
  includes/wizards/newspack/class-newspack-dashboard.php
Labels: [Status] Approved

#3329 fix(ras-acc): re-add webpack wizard entrypoints
  src/blocks/reader-registration/editor.scss
  webpack.config.js
Labels: [Status] Approved, ras-acc testing

#3327 fix(data-events): gate interaction for registration form
  includes/data-events/class-memberships.php
  src/memberships-gate/gate.js
Labels: [Status] Approved

#3328 fix(ras): destroy sessions on account verification
  includes/reader-activation/class-reader-activation.php
Labels: [Status] Approved

#3330 fix(ras-acc): only trigger update_checkout event when cover fees option selected
  src/other-scripts/wc-cover-fees/index.js
Labels: [Status] Approved, ras-acc testing

#3326 fix(ras-acc): update transactional email fonts to sans serif
  includes/emails/class-emails.php
  includes/templates/reader-activation-emails/delete-account.php
  includes/templates/reader-activation-emails/magic-link.php
  includes/templates/reader-activation-emails/otp.php
  includes/templates/reader-activation-emails/password-reset.php
  includes/templates/reader-activation-emails/verification.php
  includes/templates/reader-revenue-emails/cancellation.php
  includes/templates/reader-revenue-emails/receipt.php
  includes/templates/reader-revenue-emails/welcome.php
  src/other-scripts/emails/style.scss
Labels: [Status] Approved, ras-acc testing

#3323 fix(ras-acc): transactional emails helper text and template updates
  includes/reader-activation/class-reader-activation-emails.php
  includes/templates/reader-activation-emails/magic-link.php
  includes/templates/reader-activation-emails/otp.php
Labels: [Status] Approved, ras-acc testing

#3331 fix(ras-acc): correct password reset email typo
  includes/templates/reader-activation-emails/password-reset.php
Labels: [Status] Approved, ras-acc testing

#3336 Fix/epic status if new
  includes/data-events/connectors/class-mailchimp.php
  includes/plugins/class-newspack-newsletters.php
Labels: [Status] Approved

#3338 fix(woocommerce-memberships): membership status check
  includes/plugins/wc-memberships/class-memberships.php
Labels: [Status] Approved

#3337 feat: add phpcs sniff for newsletter methods
  .distignore
  phpcs.xml
  phpcsSniffs/Sniffs/NewspackNewslettersMethodsSniff.php
  phpcsSniffs/ruleset.xml
Labels: [Status] Approved

#3333 Feat/increase search authors limit
  includes/class-newspack.php
  includes/plugins/co-authors-plus/class-guest-contributor-role.php
  includes/plugins/co-authors-plus/class-search-authors-limit.php
Labels: [Status] Approved

#3339 fix(ras-acc): respect transactional email social icons alignment
  includes/util.php
Labels: [Status] Approved, ras-acc testing

#3342 feat: disable GA4 front end custom params by default
  includes/plugins/google-site-kit/class-googlesitekit.php
Labels: [Status] Approved

#3347 fix: improve compatibility with Members plugin
  includes/plugins/class-co-authors-plus.php
Labels: [Status] Approved

#3335 fix(ras-acc): various transactional email fixes
  includes/emails/class-emails.php
  includes/reader-activation/class-reader-activation-emails.php
  includes/templates/reader-activation-emails/delete-account.php
  includes/templates/reader-activation-emails/magic-link.php
  includes/templates/reader-activation-emails/otp.php
  includes/templates/reader-activation-emails/password-reset.php
  includes/templates/reader-activation-emails/verification.php
  includes/templates/reader-revenue-emails/cancellation.php
  includes/templates/reader-revenue-emails/receipt.php
  includes/templates/reader-revenue-emails/welcome.php
Labels: [Status] Approved, ras-acc testing

#3341 Make email template fetching deterministic
  includes/emails/class-emails.php
Labels: [Status] Approved

#3164 feat(ras-acc): improving keyboard navigation
  includes/reader-activation/class-reader-activation.php
  src/newspack-ui/scss/elements/forms/_buttons.scss
  src/newspack-ui/scss/elements/forms/_text-inputs.scss
  src/reader-activation-auth/accessibility.js
  src/reader-activation-auth/auth-modal.js
  src/reader-activation-auth/index.js
  src/reader-activation-newsletters/newsletters-modal.js
  src/reader-activation/index.js
Labels: [Status] Approved, ras-acc testing

#3350 fix(membership-status-check): add property check
  includes/plugins/wc-memberships/class-memberships.php
Labels: [Status] Approved

#3356 fix(ras-acc): correct linting error
  includes/reader-activation/class-reader-activation.php
Labels: [Status] Approved, ras-acc testing

#3351 fix(guest-author): enqueue the guest author admin script selectively
  includes/plugins/co-authors-plus/class-guest-contributor-role.php
Labels: [Status] Approved

#3354 feat(memberships): add memberships-related body classes
  includes/plugins/wc-memberships/class-memberships.php
Labels: [Status] Approved

#3352 fix(esp-meta): handle state of the 'Woo Team' meta
  includes/plugins/class-newspack-newsletters.php
  includes/plugins/class-teams-for-memberships.php
Labels: [Status] Approved

#3355 feat(ras): helper method for ESP master list
  includes/data-events/connectors/class-activecampaign.php
  includes/data-events/connectors/class-mailchimp.php
  includes/reader-activation/class-reader-activation.php
Labels: [Status] Approved

#3343 feat(ras-acc): handle checkout redirect params
  includes/class-magic-link.php
  includes/plugins/wc-memberships/class-memberships.php
  includes/reader-activation/class-reader-activation.php
  src/reader-activation-auth/auth-form.js
  src/reader-activation/checkout.js
  src/reader-activation/index.js
Labels: [Status] Approved, ras-acc testing

#3368 Release Aug 26
  .distignore
  composer.json
  composer.lock
  includes/class-blocks.php
  includes/class-newspack.php
  includes/configuration_managers/class-newspack-newsletters-configuration-manager.php
  includes/data-events/README.md
  includes/data-events/class-memberships.php
  includes/data-events/connectors/class-activecampaign.php
  includes/data-events/connectors/class-connector.php
  includes/data-events/connectors/class-mailchimp.php
  includes/data-events/listeners.php
  includes/plugins/class-newspack-newsletters.php
  includes/plugins/class-teams-for-memberships.php
  includes/plugins/co-authors-plus/class-guest-contributor-role.php
  includes/plugins/co-authors-plus/class-search-authors-limit.php
  includes/reader-activation/class-reader-activation.php
  newspack.php
  package-lock.json
  package.json
  phpcs.xml
  phpcsSniffs/Sniffs/NewspackNewslettersMethodsSniff.php
  phpcsSniffs/ruleset.xml
  src/memberships-gate/gate.js
Labels: [Status] Approved

#3363 fix(esp-wc-metadata): last payment date & amount handling
  includes/data-events/connectors/class-connector.php
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
  tests/class-newspack-unit-tests-bootstrap.php
  tests/mocks/wc-mocks.php
  tests/unit-tests/woocommerce-connection.php
Labels: [Status] Approved

#3346 feat(ga): disable tracking for editors regardless of RA status
  includes/plugins/google-site-kit/class-googlesitekit.php
Labels: [Status] Approved

#3353 feat(esp-sync): sync membership data regardless of subscription
  includes/data-events/connectors/class-activecampaign.php
  includes/data-events/connectors/class-connector.php
  includes/data-events/connectors/class-mailchimp.php
  includes/data-events/listeners.php
  includes/plugins/class-newspack-newsletters.php
Labels: [Status] Approved

#3372 chore: fix woocommerce connection tests
  tests/unit-tests/woocommerce-connection.php
Labels: [Status] Approved

#3283 fix: reCAPTCHA v2 + v3 for RAS-ACC flows
  includes/class-recaptcha.php
  includes/reader-activation/class-reader-activation.php
  src/blocks/reader-registration/index.php
  src/blocks/reader-registration/view.js
  src/other-scripts/recaptcha/index.js
  src/reader-activation-auth/auth-form.js
  src/reader-activation/index.js
  src/wizards/connections/views/main/recaptcha.js
Labels: [Status] Approved, ras-acc testing

#3369 fix(ras-acc): don't close modal when redirecting
  src/reader-activation-newsletters/newsletters-modal.js
  src/reader-activation/index.js
Labels: [Status] Approved, ras-acc testing

#3371 Fix/payment utm meta fields
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
  tests/mocks/wc-mocks.php
  tests/unit-tests/newsletters.php
  tests/unit-tests/woocommerce-connection.php
Labels: [Status] Approved

#3374 fix: revert #3370
  includes/cli/class-co-authors-plus.php
  includes/plugins/co-authors-plus/class-guest-contributor-role.php
Labels: [Status] Approved

#3375 fix: hide dummy guest author email address
  includes/cli/class-co-authors-plus.php
  includes/plugins/co-authors-plus/class-guest-contributor-role.php
  tests/class-newspack-unit-tests-bootstrap.php
  tests/unit-tests/guest-contributor-role.php
Labels: [Status] Approved

#3274 feat(ia): Newspack > Settings > Social - part 2
  includes/class-newspack.php
  includes/class-wizards.php
  includes/wizards/class-wizard-section.php
  includes/wizards/class-wizard.php
  includes/wizards/newspack/class-newspack-settings.php
  includes/wizards/newspack/class-pixels-section.php
  src/admin/style.scss
  src/wizards/newspack/views/settings/constants.ts
  src/wizards/newspack/views/settings/social/index.tsx
  src/wizards/newspack/views/settings/social/meta-pixel.tsx
  src/wizards/newspack/views/settings/social/x-pixel.tsx
  src/wizards/newspack/views/settings/types.d.ts
  src/wizards/types/wizard-action-card.d.ts
  src/wizards/wizards-toggle-header-card.tsx
Labels: [Status] Approved

#3360 feat(ras): unify ESP connector strategy for data events
  includes/class-newspack.php
  includes/data-events/connectors/class-activecampaign.php
  includes/data-events/connectors/class-esp-connector.php
  includes/data-events/connectors/class-mailchimp.php
  includes/plugins/class-teams-for-memberships.php
  includes/reader-activation/class-esp-sync.php
  includes/reader-activation/class-reader-activation.php
Labels: [Status] Approved
