Repository Automattic/newspack-plugin, pull requests merged in 2024-07, with the labels that each got.

#3205 fix(js): skip regenerator-runtime fix for some files
  webpack.config.js
Labels: [Status] Needs Review

#3219 Release Jul 01
  CHANGELOG.md
  assets/blocks/reader-registration/index.php
  assets/blocks/reader-registration/style.scss
  assets/blocks/reader-registration/view.js
  assets/components/src/section-header/index.js
  assets/components/src/wizard/store/index.js
  assets/wizards/connections/views/main/plugins.js
  assets/wizards/readerRevenue/components/money-input/style.scss
  assets/wizards/readerRevenue/views/donation/index.tsx
  includes/class-donations.php
  includes/class-newspack.php
  includes/class-plugin-manager.php
  includes/class-pwa.php
  includes/cli/class-co-authors-plus.php
  includes/configuration_managers/class-configuration-managers.php
  includes/configuration_managers/class-everlit-configuration-manager.php
  includes/plugins/wc-memberships/class-memberships.php
  includes/wizards/class-connections-wizard.php
  includes/wizards/class-reader-revenue-wizard.php
  newspack.php
  package-lock.json
  package.json
  webpack.config.js
Labels: [Status] Approved

#3208 feat(wc-memberships): update two and three tiers patterns with checkout-button border radius
  includes/plugins/wc-memberships/block-patterns/pay-wall-three-tiers-alt.php
  includes/plugins/wc-memberships/block-patterns/pay-wall-two-tiers-alt.php
Labels: [Status] Approved

#3198 feat(cli): cap-migration tweaks
  includes/cli/class-co-authors-plus.php
  includes/cli/class-initializer.php
Labels: [Status] Approved

#3222 fix: update text domain
  includes/reader-revenue/templates/myaccount-after-delete-account.php
  includes/reader-revenue/templates/myaccount-delete-account.php
  includes/reader-revenue/templates/myaccount-edit-account.php
  languages/newspack-plugin.pot
Labels: [Status] Approved

#3228 feat(ia): added reusable Wizard tab and section components
  assets/wizards/newspack/views/settings/connections/index.tsx
  assets/wizards/wizards-section.tsx
  assets/wizards/wizards-tab.tsx
Labels: [Status] Approved

#3167 feat(ia): Settings / Connections - APIs
  assets/wizards/errors/index.ts
  assets/wizards/newspack/views/settings/connections/google-oauth.tsx
  assets/wizards/newspack/views/settings/connections/index.tsx
  assets/wizards/newspack/views/settings/connections/mailchimp.tsx
  assets/wizards/newspack/views/settings/types.d.ts
  includes/oauth/class-mailchimp-api.php
  includes/wizards/newspack/class-newspack-settings.php
Labels: [Status] Needs Review

#3168 feat(ia): Settings / Connections - reCAPTCHA v3
  assets/wizards/newspack/views/settings/connections/constants.ts
  assets/wizards/newspack/views/settings/connections/custom-events.tsx
  assets/wizards/newspack/views/settings/connections/index.tsx
  assets/wizards/newspack/views/settings/connections/recaptcha.tsx
  assets/wizards/newspack/views/settings/types.d.ts
  includes/class-recaptcha.php
Labels: [Status] Needs Review

#3166 feat(ia): Settings / Connections - Plugins & Analytics
  assets/admin/style.scss
  assets/components/src/hooks/useObjectState.js
  assets/wizards/newspack/types/index.d.ts
  assets/wizards/newspack/views/settings/connections/analytics.tsx
  assets/wizards/newspack/views/settings/connections/index.tsx
  assets/wizards/newspack/views/settings/connections/plugins.tsx
  assets/wizards/types/index.d.ts
  assets/wizards/types/wizard-action-card.d.ts
  assets/wizards/wizards-plugin-card.tsx
  includes/util.php
  includes/wizards/newspack/class-newspack-settings.php
Labels: [Status] Needs Review

#3230 fix: add credits meta attributes to image block effect hook dependencies array
  assets/blocks/core-image/index.tsx
Labels: [Status] Approved

#3234 fix: merge conflicts w/ `trunk`
  CHANGELOG.md
  assets/other-scripts/recaptcha/style.scss
  assets/reader-activation-auth/auth-form.js
  includes/class-recaptcha.php
  includes/reader-revenue/templates/myaccount-after-delete-account.php
  includes/reader-revenue/templates/myaccount-delete-account.php
  includes/reader-revenue/templates/myaccount-edit-account.php
  languages/newspack-plugin.pot
  newspack.php
  package-lock.json
  package.json
  webpack.config.js
Labels: [Status] Approved

#3232 feat(ia): added emails tab and section to settings page
  assets/wizards/newspack/types/index.d.ts
  assets/wizards/newspack/views/settings/emails/emails.tsx
  assets/wizards/newspack/views/settings/emails/index.tsx
  assets/wizards/newspack/views/settings/sections.tsx
  assets/wizards/types/wizard-action-card.d.ts
  assets/wizards/wizards-plugin-card.tsx
  includes/wizards/newspack/class-newspack-settings.php
Labels: [Status] Approved

#3236 feat: remove 'Patterns' link from Appearance menu
  includes/class-patches.php
Labels: [Status] Approved, wp 6.6

#3235 feat(ras-acc): add notice styles to newspack ui
  assets/newspack-ui/scss/elements/_index.scss
  assets/newspack-ui/scss/elements/_notices.scss
  assets/newspack-ui/scss/variables/_spacing.scss
  includes/class-newspack-ui-icons.php
  includes/class-newspack-ui.php
Labels: [Status] Approved

#3239 fix(ras-acc): merge trunk into epic/ras-acc
  CHANGELOG.md
  assets/blocks/core-image/index.tsx
  assets/blocks/reader-registration/index.php
  assets/reader-activation/index.js
  includes/class-patches.php
  includes/class-recaptcha.php
  newspack.php
  package-lock.json
  package.json
Labels: [Status] Approved

#3248 feat(cli-co-authors-plus): ensure correct author slug is set
  includes/cli/class-co-authors-plus.php
Labels: [Status] Approved

#3252 fix: reader registration empty styles applying outside block
  assets/blocks/reader-registration/edit.js
  assets/blocks/reader-registration/index.php
  assets/blocks/reader-registration/style.scss
Labels: [Status] Approved

#3237 Refactor/mailchimp connector
  includes/class-blocks.php
  includes/configuration_managers/class-newspack-newsletters-configuration-manager.php
  includes/data-events/connectors/class-activecampaign.php
  includes/data-events/connectors/class-mailchimp.php
Labels: [Status] Approved

#3253 fix(reader-activation): handle user login clash
  includes/reader-activation/class-reader-activation.php
Labels: [Status] Approved

#3259 feat: consolidate data events
  includes/data-events/connectors/class-activecampaign.php
  includes/data-events/connectors/class-connector.php
  includes/data-events/connectors/class-mailchimp.php
  includes/data-events/listeners.php
  includes/plugins/class-newspack-newsletters.php
Labels: [Status] Approved

#3249 feat(ia): Newspack > Settings > Syndication Wizard
  assets/wizards/hooks/use-wizard-api-fetch-toggle.ts
  assets/wizards/newspack/types/index.d.ts
  assets/wizards/newspack/views/settings/connections/analytics.tsx
  assets/wizards/newspack/views/settings/sections.tsx
  assets/wizards/newspack/views/settings/syndication/index.tsx
  assets/wizards/newspack/views/settings/syndication/plugins.tsx
  assets/wizards/newspack/views/settings/syndication/rss.tsx
  assets/wizards/newspack/views/settings/types.d.ts
  assets/wizards/types/hooks.d.ts
  assets/wizards/types/wizard-action-card.d.ts
  assets/wizards/wizards-plugin-card.tsx
  includes/api/class-plugins-controller.php
  includes/configuration_managers/class-configuration-managers.php
Labels: [Status] Approved

#3267 fix(ras-acc): update auth modal button spacing
  assets/newspack-ui/scss/_modals.scss
  assets/newspack-ui/scss/elements/misc/_reader-auth.scss
Labels: [Status] Approved, ras-acc testing

#3266 fix(ras-acc): qa testing design feedback
  assets/newspack-ui/scss/_modals.scss
  assets/newspack-ui/scss/elements/forms/_buttons.scss
Labels: [Status] Approved, ras-acc testing

#3269 fix(ras-acc): add newsletter signup modal step to auth registration flow
  assets/reader-activation-auth/auth-form.js
Labels: [Status] Approved, ras-acc testing

#3271 fix(ras-acc): correctly update myaccount link after signing in
  assets/reader-activation-auth/index.js
Labels: [Status] Approved, ras-acc testing

#3265 feat(ga4): filter custom params
  includes/data-events/connectors/ga4/class-ga4.php
Labels: [Status] Approved

#3273 fix(ras-acc): adjust newsletters modal spacing and always display email text
  assets/reader-activation-newsletters/newsletters-modal.js
  assets/reader-activation-newsletters/style.scss
  includes/reader-activation/class-reader-activation.php
Labels: [Status] Approved, ras-acc testing

#3280 fix: use percentage in cover fee name
  includes/reader-revenue/woocommerce/class-woocommerce-cover-fees.php
Labels: [Status] Approved

#3281 fix(ras-acc): handle invalid removechild js error
  assets/blocks/reader-registration/view.js
Labels: [Status] Approved, ras-acc testing

#3272 fix(ras-acc): redirect to homepage when accessing my account in logged out state
  includes/reader-activation/class-reader-activation.php
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
Labels: [Status] Approved, [Status] Needs Design Review, ras-acc testing

#3264 feat: show deprecation warning for CM in Engagement wizard
  assets/wizards/engagement/views/newsletters/index.js
Labels: [Status] Approved

#3292 fix: set max width for in-page sign-in form
  assets/newspack-ui/scss/elements/forms/_buttons.scss
  assets/newspack-ui/scss/elements/woocommerce/_overrides.scss
  includes/templates/reader-activation/login-form.php
Labels: [Status] Approved, ras-acc testing

#3291 Release Jul 29
  includes/cli/class-co-authors-plus.php
  includes/reader-activation/class-reader-activation.php
  newspack.php
  package-lock.json
  package.json
Labels: [Status] Approved

#3279 fix(woocommerce): prevent /shop redirect from author archives
  includes/class-newspack.php
  includes/plugins/class-woocommerce.php
Labels: [Status] Approved

#3293 fix(ras-acc): fix order of elements in registration block
  assets/blocks/reader-registration/edit.js
  assets/blocks/reader-registration/editor.scss
  assets/blocks/reader-registration/index.php
  assets/reader-activation-auth/style.scss
Labels: [Status] Approved, ras-acc testing

#3294 fix(ras-acc): handle content gate auth checkout flow
  assets/reader-activation-auth/auth-form.js
  assets/reader-activation/index.js
  includes/plugins/wc-memberships/class-memberships.php
Labels: [Status] Approved, ras-acc testing
