Repository Automattic/newspack-plugin, pull requests merged in 2024-01, with the labels that each got.

#2825 fix(cover-fees): save order after setting total
  includes/reader-revenue/woocommerce/class-woocommerce-cover-fees.php
Labels: [Status] Approved

#2812 feat: add support for revisions to content gate CPT
  includes/plugins/wc-memberships/class-memberships.php
Labels: [Status] Approved

#2824 Adds Newspack Network & Multibranded Site
  includes/class-plugin-manager.php
Labels: [Status] Approved, Do Not Merge!

#2835 fix: alpha fixes
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
  includes/reader-revenue/woocommerce/class-woocommerce-cover-fees.php
Labels: [Status] Approved

#2844 Release Jan 08
  CHANGELOG.md
  assets/other-scripts/wc-cover-fees/index.js
  assets/wizards/engagement/index.js
  assets/wizards/engagement/views/commenting/index.js
  assets/wizards/engagement/views/index.js
  assets/wizards/engagement/views/newsletters/index.js
  composer.lock
  includes/class-donations.php
  includes/class-newspack.php
  includes/class-plugin-manager.php
  includes/optional-modules/class-media-partners.php
  includes/plugins/wc-memberships/class-memberships.php
  includes/reader-activation/class-reader-activation.php
  includes/reader-revenue/class-reader-revenue-emails.php
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
  includes/reader-revenue/woocommerce/class-woocommerce-cover-fees.php
  includes/wizards/class-dashboard.php
  includes/wizards/class-settings.php
  includes/wizards/class-wizard.php
  newspack.php
  package-lock.json
  package.json
  tests/unit-tests/settings.php
Labels: [Status] Approved

#2838 feat: approved plugins list retrieval method
  includes/class-plugin-manager.php
Labels: [Status] Approved

#2836 fix(connections-wizard): error display
  assets/wizards/connections/views/main/index.js
Labels: [Status] Approved

#2837 fix: prevent switch order synchronisation
  includes/data-events/class-memberships.php
  includes/data-events/listeners.php
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
Labels: [Status] Approved

#2826 feat: redesign password authentication flow
  assets/reader-activation/auth.js
  assets/reader-activation/auth.scss
  assets/reader-activation/index.js
  includes/reader-activation/class-reader-activation.php
Labels: [Status] Approved

#2848 feat: add cli command to fix stripe covered fees
  includes/reader-revenue/woocommerce/class-woocommerce-cli.php
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
  includes/reader-revenue/woocommerce/class-woocommerce-cover-fees.php
Labels: [Status] Approved

#2821 fix(ras): consolidate RAS <> ESP data syncs in data event connectors
  includes/data-events/README.md
  includes/data-events/class-data-events.php
  includes/data-events/class-woo-user-registration.php
  includes/data-events/connectors/class-activecampaign.php
  includes/data-events/connectors/class-mailchimp.php
  includes/data-events/listeners.php
  includes/plugins/class-newspack-newsletters.php
  includes/reader-activation/class-reader-data.php
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
Labels: [Status] Approved, [Status] Needs changes or feedback

#2855 fix: make CLI comand more reliable
  includes/reader-revenue/woocommerce/class-woocommerce-cli.php
Labels: [Status] Approved, News Revenue Hub

#2853 feat(optional-modules): remove switching from standalone plugin versions
  includes/optional-modules/class-media-partners.php
  includes/optional-modules/class-rss.php
Labels: [Status] Approved

#2854 fix(auth-form): ui state handling on errors
  assets/reader-activation/auth.js
Labels: [Status] Approved

#2856 feat(my-account): require confirmation before cancelling subscription
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
  includes/reader-revenue/my-account/index.js
Labels: [Status] Approved

#2810 feat: Newspack UI styles
  assets/newspack-ui/index.js
  assets/newspack-ui/scss/_modals.scss
  assets/newspack-ui/scss/elements/_boxes.scss
  assets/newspack-ui/scss/elements/_icons.scss
  assets/newspack-ui/scss/elements/_index.scss
  assets/newspack-ui/scss/elements/_tables.scss
  assets/newspack-ui/scss/elements/_typography.scss
  assets/newspack-ui/scss/elements/forms/_buttons.scss
  assets/newspack-ui/scss/elements/forms/_checkbox-radio.scss
  assets/newspack-ui/scss/elements/forms/_index.scss
  assets/newspack-ui/scss/elements/forms/_labels.scss
  assets/newspack-ui/scss/elements/forms/_text-inputs.scss
  assets/newspack-ui/scss/elements/misc/_index.scss
  assets/newspack-ui/scss/elements/misc/_word-divider.scss
  assets/newspack-ui/scss/elements/woocommerce/_index.scss
  assets/newspack-ui/scss/elements/woocommerce/_overrides.scss
  assets/newspack-ui/scss/variables/_colors.scss
  assets/newspack-ui/scss/variables/_fonts.scss
  assets/newspack-ui/scss/variables/_index.scss
  assets/newspack-ui/scss/variables/_spacing.scss
  assets/newspack-ui/style.scss
  includes/class-newspack-ui.php
  includes/class-newspack.php
  webpack.config.js
Labels: [Status] Approved, [Status] Needs changes or feedback

#2859 feat(newspack-ui): modal functionality
  assets/newspack-ui/scss/_modals.scss
  includes/class-newspack-ui.php
Labels: [Status] Approved

#2858 feat: automatically fill the credit meta for images
  includes/class-newspack-image-credits.php
Labels: [Status] Approved

#2865 fix(ras): handle invalid order sync request
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
Labels: [Status] Approved

#2862 feat: button styles tweaks; use BEM consistently
  assets/newspack-ui/scss/_modals.scss
  assets/newspack-ui/scss/elements/_boxes.scss
  assets/newspack-ui/scss/elements/_icons.scss
  assets/newspack-ui/scss/elements/_typography.scss
  assets/newspack-ui/scss/elements/forms/_buttons.scss
  assets/newspack-ui/scss/elements/woocommerce/_overrides.scss
  includes/class-newspack-ui.php
Labels: [Status] Approved

#2315 Deprecate Stripe Reader Revenue separate platform
  assets/memberships-gate/block-patterns.scss
  assets/wizards/readerRevenue/constants.js
  assets/wizards/readerRevenue/index.js
  assets/wizards/readerRevenue/views/donation/index.tsx
  assets/wizards/readerRevenue/views/index.js
  assets/wizards/readerRevenue/views/platform/index.js
  assets/wizards/readerRevenue/views/stripe-setup/index.js
  assets/wizards/readerRevenue/views/stripe-setup/newsletter-settings.js
  assets/wizards/readerRevenue/views/stripe-setup/style.scss
  assets/wizards/readerRevenue/views/stripe-setup/webhooks-settings.js
  composer.json
  composer.lock
  includes/class-donations.php
  includes/class-newspack.php
  includes/class-recaptcha.php
  includes/configuration_managers/class-woocommerce-configuration-manager.php
  includes/data-events/README.md
  includes/data-events/class-popups.php
  includes/data-events/connectors/ga4/class-ga4.php
  includes/reader-revenue/class-reader-revenue-emails.php
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
  includes/reader-revenue/stripe/class-stripe-connection.php
  includes/reader-revenue/stripe/class-stripe-webhooks.php
  includes/reader-revenue/templates/myaccount-billing.php
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
  includes/util.php
  includes/wizards/class-reader-revenue-wizard.php
  languages/newspack-plugin.pot
  tests/class-stripemockhttpclient.php
  tests/mocks/wc-mocks.php
  tests/unit-tests/donations.php
  tests/unit-tests/stripe-connection.php
Labels: [Status] Approved

#2845 feat(ras): better reader display/nice names
  includes/reader-activation/class-reader-activation.php
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
  includes/reader-revenue/templates/myaccount-edit-account.php
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
Labels: [Status] Approved

#2874 fix(auth-modal): fatal error in auth modal with "other" ESP
  includes/reader-activation/class-reader-activation.php
Labels: [Status] Approved

#2857 Fix/tweaks
  assets/components/src/sortable-newsletter-list-control/index.js
  assets/wizards/connections/views/main/index.js
  assets/wizards/connections/views/main/plugins.js
  assets/wizards/connections/views/main/recaptcha.js
  assets/wizards/connections/views/main/webhooks.js
  assets/wizards/popups/views/segments/segments-list.js
  includes/wizards/class-wizard.php
Labels: [Status] Approved

#2876 feat: add get_recurrence_of_order method
  includes/class-donations.php
Labels: [Status] Approved

#2875 feat(fivetran): remove FiveTran connectors other than Stripe
  assets/wizards/connections/views/main/fivetran.js
  includes/oauth/class-fivetran-connection.php
Labels: [Status] Approved

#2877 RAS UI: add primary colour to modal buttons
  assets/newspack-ui/scss/_modals.scss
  assets/newspack-ui/scss/elements/forms/_buttons.scss
  assets/newspack-ui/scss/variables/_colors.scss
  includes/class-newspack-ui.php
Labels: [Status] Approved

#2864 Feat/wizard permissions
  assets/wizards/componentsDemo/index.js
  assets/wizards/dashboard/views/dashboardCard.js
  assets/wizards/engagement/components/active-campaign.js
  assets/wizards/engagement/components/mailchimp.js
  assets/wizards/engagement/components/prerequisite.tsx
  assets/wizards/engagement/components/types.ts
  assets/wizards/engagement/views/newsletters/index.js
  assets/wizards/site-design/index.js
  assets/wizards/site-design/views/main/index.js
  includes/api/class-plugins-controller.php
  includes/api/class-wizards-controller.php
  includes/class-patches.php
  includes/class-profile.php
  includes/class-recaptcha.php
  includes/class-salesforce.php
  includes/class-wizards.php
  includes/configuration_managers/class-configuration-manager.php
  includes/configuration_managers/class-newspack-ads-configuration-manager.php
  includes/configuration_managers/class-newspack-newsletters-configuration-manager.php
  includes/configuration_managers/class-newspack-popups-configuration-manager.php
  includes/data-events/class-api.php
  includes/emails/class-emails.php
  includes/oauth/class-fivetran-connection.php
  includes/oauth/class-google-oauth.php
  includes/oauth/class-mailchimp-api.php
  includes/plugins/wc-memberships/class-memberships.php
  includes/reader-activation/class-reader-activation-emails.php
  includes/reader-activation/class-reader-activation.php
  includes/reader-revenue/class-reader-revenue-emails.php
  includes/reader-revenue/stripe/class-stripe-webhooks.php
  includes/tracking/class-meta-pixel.php
  includes/wizards/class-advertising-wizard.php
  includes/wizards/class-analytics-wizard.php
  includes/wizards/class-components-demo.php
  includes/wizards/class-connections-wizard.php
  includes/wizards/class-dashboard.php
  includes/wizards/class-engagement-wizard.php
  includes/wizards/class-health-check-wizard.php
  includes/wizards/class-popups-wizard.php
  includes/wizards/class-reader-revenue-wizard.php
  includes/wizards/class-seo-wizard.php
  includes/wizards/class-settings.php
  includes/wizards/class-setup-wizard.php
  includes/wizards/class-site-design-wizard.php
  includes/wizards/class-syndication-wizard.php
  includes/wizards/class-wizard.php
Labels: [Status] Approved

#2873 chore(auth): reorganize auth javascript
  assets/blocks/reader-registration/editor.scss
  assets/reader-activation-auth/google-oauth.js
  assets/reader-activation-auth/index.js
  assets/reader-activation-auth/otp-input.js
  assets/reader-activation-auth/style.scss
  assets/reader-activation-auth/utils.js
  webpack.config.js
Labels: [Status] Approved

#2883 Release Jan 25
  CHANGELOG.md
  assets/wizards/connections/views/main/index.js
  composer.lock
  includes/class-plugin-manager.php
  includes/data-events/class-memberships.php
  includes/data-events/listeners.php
  includes/plugins/wc-memberships/class-memberships.php
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
  newspack.php
  package-lock.json
  package.json
Labels: [Status] Approved

#2881 fix: ensure WC session is present if triggering WC notice
  includes/class-recaptcha.php
  includes/reader-activation/class-reader-activation.php
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
  includes/reader-revenue/templates/myaccount-delete-account.php
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
Labels: [Status] Needs Review

#2860 feat(newspack-ui): integrate with sign in/sign up
  assets/blocks/reader-registration/index.php
  assets/blocks/reader-registration/style.scss
  assets/newspack-ui/scss/_modals.scss
  assets/newspack-ui/scss/elements/_boxes.scss
  assets/newspack-ui/scss/elements/_icons.scss
  assets/newspack-ui/scss/elements/forms/_buttons.scss
  assets/newspack-ui/scss/elements/forms/_index.scss
  assets/newspack-ui/scss/variables/_fonts.scss
  assets/newspack-ui/style.scss
  assets/reader-activation-auth/auth-form.js
  assets/reader-activation-auth/auth-modal.js
  assets/reader-activation-auth/google-oauth.js
  assets/reader-activation-auth/index.js
  assets/reader-activation-auth/style.scss
  assets/reader-activation/index.js
  includes/class-magic-link.php
  includes/class-newspack-ui.php
  includes/class-recaptcha.php
  includes/reader-activation/class-reader-activation.php
  includes/templates/reader-activation/login-form.php
Labels: [Status] Approved

#2843 Updates to PHPCS
  composer.json
  composer.lock
  includes/author-filter/class-author-filter.php
  includes/class-admin-plugins-screen.php
  includes/class-handoff-banner.php
  includes/class-magic-link.php
  includes/class-newspack-image-credits.php
  includes/class-performance.php
  includes/class-plugin-manager.php
  includes/class-pwa.php
  includes/class-recaptcha.php
  includes/class-salesforce.php
  includes/class-starter-content.php
  includes/class-theme-manager.php
  includes/configuration_managers/class-configuration-managers.php
  includes/data-events/class-webhooks.php
  includes/data-events/connectors/class-activecampaign.php
  includes/data-events/connectors/class-mailchimp.php
  includes/oauth/class-google-login.php
  includes/oauth/class-oauth.php
  includes/optional-modules/class-rss.php
  includes/plugins/class-newspack-newsletters.php
  includes/plugins/wc-memberships/class-memberships.php
  includes/plugins/wc-memberships/class-metering.php
  includes/polyfills/class-amp-polyfills.php
  includes/reader-revenue/woocommerce/class-woocommerce-cli.php
  includes/revisions-control/class-major-revision.php
  includes/revisions-control/class-major-revisions.php
  includes/revisions-control/class-revisions-control.php
  includes/starter_content/class-starter-content-generated.php
  includes/starter_content/class-starter-content-wordpress.php
  newspack.php
  phpcs.xml
  tests/class-newspack-unit-tests-bootstrap.php
  tests/unit-tests/api-plugins-controller.php
  tests/unit-tests/media-meta-search.php
Labels: [Status] Approved

#2894 fix: redirect to origin from magic link
  includes/reader-activation/class-reader-activation.php
Labels: [Status] Approved

#2893 feat(wc): override cart, checkout, and my-account page templates
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
Labels: [Status] Needs Review

#2897 fix: update newsletter scroll styles
  assets/reader-activation/auth.scss
Labels: [Status] Approved

#2886 fix(ras): only sync spend total and last payment amounts for completed orders
  includes/data-events/connectors/class-activecampaign.php
  includes/data-events/connectors/class-mailchimp.php
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
Labels: [Status] Approved
