Repository Automattic/newspack-plugin, pull requests merged in 2024-09, with the labels that each got.

#3384 fix(phpcs): specify path in custom ruleset ref
  phpcs.xml
Labels: [Status] Approved

#3377 fix(ras-acc): handle recaptcha submit errors
  includes/class-recaptcha.php
  src/other-scripts/recaptcha/index.js
  src/reader-activation-auth/auth-form.js
Labels: [Status] Approved, ras-acc testing

#3381 Feat/mailchimp related tweaks
  src/wizards/engagement/components/active-campaign.js
  src/wizards/engagement/components/mailchimp.js
  src/wizards/engagement/views/newsletters/index.js
  src/wizards/engagement/views/reader-activation/index.js
Labels: [Status] Approved

#3380 fix(woocommerce-memberships): membership status check with post status instead of type
  includes/plugins/wc-memberships/class-memberships.php
Labels: [Status] Approved

#3382 feat(ras-acc): update translation files
  includes/class-donations.php
  includes/class-magic-link.php
  includes/class-recaptcha.php
  includes/emails/class-emails.php
  includes/reader-activation/class-reader-activation-emails.php
  includes/reader-revenue/class-reader-revenue-emails.php
  languages/newspack-plugin.pot
  src/wizards/readerRevenue/views/emails/index.js
Labels: [Status] Approved, ras-acc testing

#3390 fix(ras-acc): undo bad merge updates
  src/reader-activation-auth/auth-form.js
Labels: [Status] Approved, ras-acc testing

#3362 feat(ras): sync class
  includes/class-newspack.php
  includes/data-events/class-memberships.php
  includes/data-events/class-utils.php
  includes/data-events/connectors/class-esp-connector.php
  includes/plugins/class-newspack-newsletters.php
  includes/plugins/class-teams-for-memberships.php
  includes/reader-activation/class-reader-activation.php
  includes/reader-activation/sync/class-esp-sync-admin.php
  includes/reader-activation/sync/class-esp-sync.php
  includes/reader-activation/sync/class-metadata.php
  includes/reader-activation/sync/class-sync.php
  includes/reader-activation/sync/class-woocommerce.php
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
  includes/wizards/class-engagement-wizard.php
  tests/unit-tests/newsletters.php
  tests/unit-tests/reader-activation-sync-woocommerce.php
  tests/unit-tests/reader-activation-sync.php
Labels: [Status] Approved

#3399 fix(sync): method name for `membership_saved` handler
  includes/data-events/connectors/class-esp-connector.php
Labels: [Status] Approved

#3396 feat(ras-acc): make sure modal checkout still works without RAS
  includes/reader-activation/class-reader-activation.php
  src/reader-activation/index.js
Labels: [Status] Approved, ras-acc testing

#3400 feat(sync): add ESP sync notice to RAS wizard
  includes/reader-activation/sync/class-sync.php
  includes/wizards/class-engagement-wizard.php
  src/wizards/engagement/views/reader-activation/index.js
Labels: [Status] Approved

#3403 fix: expedite email template fix
  includes/emails/class-emails.php
Labels: [Status] Approved

#3391 fix(ras-acc): performance enhancements and small fixes
  includes/class-magic-link.php
  includes/class-recaptcha.php
  includes/reader-activation/class-reader-activation.php
Labels: [Status] Approved, ras-acc testing

#3397 fix(ras-acc): prevent invalid auth flow errors
  includes/class-magic-link.php
  includes/reader-activation/class-reader-activation.php
  src/other-scripts/recaptcha/index.js
  src/reader-activation-auth/auth-form.js
Labels: [Status] Approved, ras-acc testing

#3393 Hotfix/woo subs vs memberships expiration
  includes/plugins/wc-memberships/class-memberships.php
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
Labels: [Status] Approved

#3361 feat(ia): add settings seo
  includes/class-newspack.php
  includes/wizards/newspack/class-seo-wizard.php
  src/admin/style.scss
  src/wizards/hooks/use-fields-validation.ts
  src/wizards/newspack/types/index.d.ts
  src/wizards/newspack/views/settings/sections.tsx
  src/wizards/newspack/views/settings/seo/accounts.tsx
  src/wizards/newspack/views/settings/seo/constants.ts
  src/wizards/newspack/views/settings/seo/index.tsx
  src/wizards/newspack/views/settings/seo/types.d.ts
  src/wizards/newspack/views/settings/seo/verification-codes.tsx
  src/wizards/wizards-tab.tsx
Labels: [Status] Approved

#3401 fix (ras-acc): recaptcha badge side-scroll
  src/other-scripts/recaptcha/style.scss
Labels: [Status] Approved, ras-acc testing

#3404 fix(ras-acc): add config flag to skip newsletters signup modal
  src/reader-activation-auth/auth-form.js
  src/reader-activation/checkout.js
  src/reader-activation/index.js
Labels: [Status] Approved, ras-acc testing

#3409 fix(esp-wc-metadata): hotfix last payment date & amount handling (#3363)
  includes/data-events/connectors/class-connector.php
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
  tests/class-newspack-unit-tests-bootstrap.php
  tests/mocks/wc-mocks.php
  tests/unit-tests/woocommerce-connection.php
Labels: [Status] Approved

#3402 fix: close newsletter on complete
  src/reader-activation-auth/auth-form.js
  src/reader-activation/index.js
Labels: [Status] Approved, ras-acc testing

#3410 chore: remove duplicated tests
  tests/unit-tests/woocommerce-connection.php
Labels: [Status] Approved

#3364 feat(ia): add theme and brand tab to settings page + theme selector component
  includes/class-newspack-image-credits.php
  src/admin/style.scss
  src/components/src/style-card/index.js
  src/wizards/newspack/types/index.d.ts
  src/wizards/newspack/views/settings/sections.tsx
  src/wizards/newspack/views/settings/theme-and-brand/homepage-select.tsx
  src/wizards/newspack/views/settings/theme-and-brand/images/joseph.png
  src/wizards/newspack/views/settings/theme-and-brand/images/katharine.png
  src/wizards/newspack/views/settings/theme-and-brand/images/nelson.png
  src/wizards/newspack/views/settings/theme-and-brand/images/newspack.png
  src/wizards/newspack/views/settings/theme-and-brand/images/sacha.png
  src/wizards/newspack/views/settings/theme-and-brand/images/scott.png
  src/wizards/newspack/views/settings/theme-and-brand/index.tsx
  src/wizards/newspack/views/settings/theme-and-brand/style.scss
  src/wizards/newspack/views/settings/theme-and-brand/theme-select.tsx
  src/wizards/newspack/views/settings/theme-and-brand/types.d.ts
  src/wizards/newspack/views/settings/theme-and-brand/utils.ts
  src/wizards/types/index.d.ts
Labels: [Status] Approved

#3392 feat(ia): settings theme brand - part 2
  src/components/src/color-picker/index.js
  src/wizards/newspack/views/settings/theme-and-brand/colors.tsx
  src/wizards/newspack/views/settings/theme-and-brand/homepage-select.tsx
  src/wizards/newspack/views/settings/theme-and-brand/index.tsx
  src/wizards/newspack/views/settings/theme-and-brand/style.scss
  src/wizards/newspack/views/settings/theme-and-brand/types.d.ts
  src/wizards/newspack/views/settings/theme-and-brand/typography.tsx
  src/wizards/newspack/views/settings/theme-and-brand/utils.ts
Labels: [Status] Approved

#3395 feat(ia): settings theme brand - part 3
  src/wizards/newspack/views/settings/theme-and-brand/footer.tsx
  src/wizards/newspack/views/settings/theme-and-brand/header.tsx
  src/wizards/newspack/views/settings/theme-and-brand/index.tsx
  src/wizards/newspack/views/settings/theme-and-brand/types.d.ts
Labels: [Status] Approved

#3297 feat(ras-acc): add GA4 events to modal checkout (redo)
  includes/data-events/connectors/ga4/class-ga4.php
Labels: [Status] Approved, ras-acc testing

#3414 fix(esp-sync): sync Connected Account field
  includes/oauth/class-google-login.php
  includes/reader-activation/class-reader-activation.php
  includes/reader-activation/sync/class-metadata.php
  includes/reader-activation/sync/class-woocommerce.php
Labels: [Status] Approved

#3398 fix(reader-registration-block): fix initial newsletter checkbox state
  src/blocks/reader-registration/index.php
Labels: [Status] Approved

#3394 fix: hide My Account links if not relevant
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
Labels: [Status] Approved

#3420 fix(onboarding): add expected localized variable for GAM setup
  includes/wizards/class-setup-wizard.php
Labels: [Status] Approved

#3389 fix: required billing fields in My Account
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
Labels: [Status] Approved

#3427 fix(my-account): check if `is_account_page()` exists
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
Labels: [Status] Approved

#3416 fix: change the current product criteria for sync
  includes/reader-activation/sync/class-woocommerce.php
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
  tests/mocks/newsletters-mocks.php
  tests/mocks/wc-mocks.php
  tests/unit-tests/reader-activation-sync-woocommerce.php
  tests/unit-tests/reader-activation-sync.php
Labels: [Status] Approved

#3411 feat: remove Woo Membersip sync fields
  includes/data-events/connectors/class-esp-connector.php
  includes/reader-activation/sync/class-metadata.php
  tests/unit-tests/reader-activation-sync-woocommerce.php
Labels: [Status] Approved

#3433 fix: media credit placeholder not saving
  includes/class-newspack-image-credits.php
Labels: [Status] Approved

#3413 fix(ras-acc): remove check to prevent credit card field reset
  src/other-scripts/wc-cover-fees/index.js
Labels: [Status] Approved, ras-acc testing

#3408 feat(ga4): detect gate interaction blocks
  includes/data-events/class-memberships.php
  includes/data-events/connectors/ga4/class-ga4.php
  includes/plugins/wc-memberships/class-memberships.php
  src/memberships-gate/gate.js
Labels: [Status] Approved

#3358 Media Kit page handling
  includes/class-plugin-manager.php
  includes/configuration_managers/class-newspack-ads-configuration-manager.php
  includes/wizards/class-advertising-wizard.php
  src/components/src/action-card/index.js
  src/wizards/advertising/components/add-ons/index.js
Labels: [Status] Approved

#3438 fix(sync): place esp sync admin features behind a constant
  includes/reader-activation/sync/class-esp-sync-admin.php
Labels: [Status] Approved

#3439 fix(ras-sync): deprecate redundant Signup_Page meta field
  includes/reader-activation/sync/class-metadata.php
Labels: [Status] Approved

#3435 fix: prevent PHP notice while checking my-account page
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
Labels: [Status] Approved

#3442 fix: wizards - update type check conditional for `custom_logo`
  includes/wizards/class-setup-wizard.php
Labels: [Status] Needs Review

#3441 fix: make some newspack UI styles more specific
  src/newspack-ui/scss/_modals.scss
  src/newspack-ui/scss/elements/_tables.scss
Labels: [Status] Approved, ras-acc testing

#3437 feat(metering): dispatch RAS activity on content restriction
  src/memberships-gate/metering.js
Labels: [Status] Approved

#3448 Refactor (IA) for body css for react vs partial react pages
  includes/wizards/newspack/class-newspack-dashboard.php
  includes/wizards/traits/trait-wizards-admin-header.php
  src/components/src/with-wizard/style.scss
Labels: [Status] Approved

#3429 refactor: command to initialize cron job to slowly backfill CAP term data
  includes/cli/class-co-authors-plus.php
Labels: [Status] Approved
