Repository Automattic/newspack-plugin, pull requests merged in 2025-09, with the labels that each got.

#4153 fix(collections): make filter params unique
  includes/templates/collections/archive-newspack-collection.php
  languages/newspack-plugin.pot
  src/collections/frontend/collection-archive-filters.js
Labels: [Status] Approved

#4168 fix(collections): update all category/year url params
  includes/collections/class-template-helper.php
  tests/unit-tests/collections/class-test-template-helper.php
Labels: [Status] Needs Review

#4169 feat(newspack-ui): add standalone dropdown button; reorganise dropdown box; add generic spacing
  includes/class-newspack-ui-icons.php
  includes/class-newspack-ui.php
  includes/reader-activation/class-reader-activation.php
  src/newspack-ui/js/dropdowns.js
  src/newspack-ui/scss/elements/_boxes.scss
  src/newspack-ui/scss/elements/misc/_dropdown.scss
  src/newspack-ui/scss/elements/misc/_index.scss
  src/newspack-ui/scss/elements/misc/_spacing.scss
Labels: [Status] Approved

#4185 feat(collections): collections block feedback
  includes/collections/class-collection-meta.php
  includes/collections/class-template-helper.php
  src/blocks/collections/block.json
  src/blocks/collections/class-collections-block.php
  src/blocks/collections/components/InspectorPanel.jsx
  src/blocks/collections/edit.jsx
  src/blocks/collections/styles/_ctas.scss
  tests/unit-tests/collections/class-test-collection-meta.php
  tests/unit-tests/collections/class-test-collections-block.php
Labels: [Status] Approved

#4164 feat: subscription tier modal
  includes/plugins/woocommerce-subscriptions/class-subscriptions-tiers.php
  includes/plugins/woocommerce-subscriptions/class-woocommerce-subscriptions.php
  src/newspack-ui/js/segmented-control/index.js
  src/reader-activation/index.js
  src/reader-activation/subscription-tiers-form.js
Labels: [Status] Approved

#4192 hotfix: change sitekit check cadence
  includes/plugins/google-site-kit/class-googlesitekit-logger.php
Labels: [Status] Needs Review

#4189 refactor(collections): render single template recent using blocks
  includes/collections/class-template-helper.php
  includes/templates/collections/single-newspack-collection.php
  src/blocks/collections/class-collections-block.php
  src/collections/frontend/_common.scss
  src/collections/frontend/_recent.scss
  src/collections/frontend/_single.scss
Labels: [Status] Approved

#4184 Only defer newspack-plugin scripts if Audience Management is not enabled
  includes/plugins/class-perfmatters.php
Labels: [Status] Approved

#4199 Fix typo in wizard
  src/wizards/newspack/views/settings/connections/custom-events.tsx
Labels: [Status] Approved

#4195 feat(collections): remove feature flag
  includes/optional-modules/class-collections.php
  src/wizards/newspack/views/settings/collections/index.tsx
  tests/unit-tests/collections/class-test-collections.php
Labels: [Status] Approved

#4209 fix: ga4 events for gate interactions and tiered modal
  includes/class-magic-link.php
  includes/oauth/class-google-login.php
  includes/plugins/google-site-kit/class-googlesitekit.php
  includes/plugins/woocommerce-subscriptions/class-subscriptions-tiers.php
  src/memberships-gate/gate.js
  src/reader-activation/analytics.js
Labels: [Status] Approved

#4208 feat(collections): add css classes to meta elements
  src/blocks/collections/class-collections-block.php
  src/blocks/collections/components/CollectionItem.jsx
  tests/unit-tests/collections/class-test-collections-block.php
Labels: [Status] Approved

#4203 feat(collections): add archive link in settings page
  src/wizards/newspack/views/settings/collections/index.tsx
Labels: [Status] Approved, [Status] Needs Design Review

#4216 feat(my-account): add delete payment method modal confirmation
  includes/plugins/woocommerce/my-account/class-my-account-ui-v1.php
  includes/plugins/woocommerce/my-account/templates/v1/payment-information.php
  src/my-account/v1/payment-information.js
Labels: [Status] Approved

#4214 test: fix flaky rss test and invalid covers annotations
  tests/unit-tests/collections/class-test-post-meta.php
  tests/unit-tests/collections/class-test-sync.php
  tests/unit-tests/corrections.php
  tests/unit-tests/rss.php
Labels: [Status] Approved
