Repository Automattic/newspack-plugin, pull requests merged in 2025-05, with the labels that each got.

#3952 feat(woocommerce): log error notices
  includes/class-logger.php
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
  includes/reader-revenue/woocommerce/class-woocommerce-logs.php
Labels: [Status] Approved

#3956 fix(ga4): ensure gate_post_id and newspack_popup_id are passed to activities
  includes/class-magic-link.php
  includes/data-events/class-memberships.php
  includes/reader-activation/class-reader-activation.php
  src/blocks/reader-registration/index.php
  src/reader-activation-auth/auth-form.js
Labels: [Status] Approved

#3963 fix(404-images): use JS without modifying content
  includes/class-default-image.php
Labels: [Status] Approved

#3961 feat: add Subscription Confirmation checkboxes for FTC compliance
  includes/plugins/woocommerce-subscriptions/class-subscriptions-confirmation.php
  includes/plugins/woocommerce-subscriptions/class-woocommerce-subscriptions.php
  includes/reader-activation/class-reader-activation.php
  includes/wizards/audience/class-audience-wizard.php
  src/newspack-ui/scss/elements/forms/_labels.scss
  src/wizards/audience/components/subscription-settings/index.tsx
  src/wizards/audience/views/setup/payment.js
  src/wizards/audience/views/setup/setup.js
Labels: [Status] Approved

#3964 fix(jetpack): handle the related posts max age option
  includes/plugins/class-jetpack.php
  includes/wizards/newspack/class-recirculation-section.php
Labels: [Status] Approved

#3949 feat(analytics): "My Account" dashboard interactions
  includes/plugins/class-woocommerce.php
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
  includes/reader-revenue/templates/myaccount-edit-account.php
  src/my-account/activity.js
  src/my-account/index.js
  src/my-account/style.scss
  src/reader-activation/analytics.js
  src/reader-activation/index.js
  src/utils/index.js
  webpack.config.js
Labels: [Status] Approved

#3943 feat(email-change): remove env constant requirement
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
Labels: [Status] Approved

#3939 fix(stripe-gateway): transaction metadata
  includes/plugins/class-woocommerce-gateway-stripe.php
Labels: [Status] Approved

#3951 feat(my-account): apply Newspack UI styles to My Account w/ env constant
  includes/class-newspack.php
  includes/plugins/woocommerce/class-woocommerce-cli.php
  includes/plugins/woocommerce/class-woocommerce-connection.php
  includes/plugins/woocommerce/class-woocommerce-cover-fees.php
  includes/plugins/woocommerce/class-woocommerce-duplicate-orders.php
  includes/plugins/woocommerce/class-woocommerce-logs.php
  includes/plugins/woocommerce/class-woocommerce-order-utm.php
  includes/plugins/woocommerce/class-woocommerce-products.php
  includes/plugins/woocommerce/my-account/class-my-account-ui-v0.php
  includes/plugins/woocommerce/my-account/class-my-account-ui-v1.php
  includes/plugins/woocommerce/my-account/class-woocommerce-my-account.php
  includes/plugins/woocommerce/my-account/templates/myaccount-after-delete-account.php
  includes/plugins/woocommerce/my-account/templates/myaccount-delete-account.php
  includes/plugins/woocommerce/my-account/templates/myaccount-edit-account.php
  includes/plugins/woocommerce/my-account/templates/myaccount-verify.php
  src/my-account/activity.js
  src/my-account/index.js
  src/my-account/newsletters.js
  src/my-account/payment-methods.js
  src/my-account/subscriptions.js
  src/my-account/v0/index.js
  src/my-account/v0/style.scss
  src/my-account/v1/_components.scss
  src/my-account/v1/_content.scss
  src/my-account/v1/_forms.scss
  src/my-account/v1/_navigation.scss
  src/my-account/v1/_variables.scss
  src/my-account/v1/index.js
  src/my-account/v1/style.scss
  src/newspack-ui/scss/elements/woocommerce/_index.scss
  src/newspack-ui/scss/elements/woocommerce/_my-account.scss
  src/newspack-ui/scss/elements/woocommerce/_overrides.scss
  webpack.config.js
Labels: [Status] Approved, [Status] Needs Design Review, My Account Redesign

#3953 fix: hide modal content gate when checkout is opened
  src/memberships-gate/gate.js
  src/memberships-gate/gate.scss
Labels: [Status] Approved

#3976 fix: remove nonexistent filter use
  includes/plugins/class-woocommerce-gateway-stripe.php
Labels: [Status] Approved

#3965 fix(ga4): fire login/registration activities via SSO
  includes/reader-activation/class-reader-activation.php
  src/blocks/reader-registration/view.js
  src/reader-activation-auth/auth-form.js
  src/reader-activation/analytics.js
Labels: [Status] Approved

#3971 fix: make sure fix duplcate fields apply filters
  includes/cli/class-mailchimp.php
Labels: [Status] Approved

#3987 fix: ensure compatibility with woo memberships 1.27.2
  includes/plugins/wc-memberships/class-metering.php
Labels: [Status] Needs Review, [Status] Approved

#3974 feat(my-account): full-site takeover template and custom nav menu
  includes/plugins/woocommerce/my-account/class-my-account-ui-v0.php
  includes/plugins/woocommerce/my-account/class-my-account-ui-v1.php
  includes/plugins/woocommerce/my-account/class-woocommerce-my-account.php
  includes/plugins/woocommerce/my-account/templates/after-delete-account.php
  includes/plugins/woocommerce/my-account/templates/delete-account.php
  includes/plugins/woocommerce/my-account/templates/edit-account.php
  includes/plugins/woocommerce/my-account/templates/v1/my-account.php
  includes/plugins/woocommerce/my-account/templates/v1/navigation.php
  includes/plugins/woocommerce/my-account/templates/verify.php
  src/my-account/v1/_components.scss
  src/my-account/v1/_content.scss
  src/my-account/v1/_forms.scss
  src/my-account/v1/_navigation.scss
  src/my-account/v1/index.js
  src/my-account/v1/navigation.js
  src/my-account/v1/style.scss
  src/newspack-ui/scss/elements/woocommerce/_my-account.scss
Labels: [Status] Approved, [Status] Design Approved, My Account Redesign

#3975 fix: namespace Lite Site
  includes/lite-site/class-lite-site.php
  includes/lite-site/templates/archive.php
  includes/lite-site/templates/lite-site-styles.php
  includes/lite-site/templates/single.php
Labels: [Status] Approved

#3972 feat: add compatibility to network in custom bylines
  includes/bylines/class-bylines.php
Labels: [Status] Approved

#3978 fix: sync correction status with parent post status
  includes/corrections/class-corrections.php
  tests/unit-tests/corrections.php
Labels: [Status] Approved

#3962 feat(donations): update notice style and type
  src/components/src/notice/style.scss
  src/components/src/style.scss
  src/wizards/audience/views/donations/configuration/index.tsx
Labels: [Status] Approved

#3980 fix: add missing namespace
  includes/plugins/woocommerce/my-account/class-woocommerce-my-account.php
Labels: [Status] Approved

#3992 fix: update path to verify template in WooCommerce My Account class
  includes/plugins/woocommerce/my-account/class-woocommerce-my-account.php
Labels: [Status] Approved

#3998 fix(corrections): rewrite rule flush check
  includes/corrections/class-corrections.php
Labels: [Status] Approved

#4006 fix: prevent auto-publishing corrections when scheduling posts
  includes/corrections/class-corrections.php
  tests/unit-tests/corrections.php
Labels: [Status] Approved

#3958 fix(autocomplete-orders): apply option to variations, not parent product
  includes/reader-revenue/woocommerce/class-woocommerce-products.php
Labels: [Status] Approved
