Repository Automattic/newspack-plugin, pull requests merged in 2025-02, with the labels that each got.

#3716 Release Feb 03
  composer.lock
  includes/bylines/README.md
  includes/bylines/class-bylines.php
  includes/class-newspack.php
  includes/class-plugin-manager.php
  includes/configuration_managers/class-woocommerce-configuration-manager.php
  includes/corrections/class-corrections.php
  includes/plugins/woocommerce-subscriptions/class-on-hold-duration.php
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
  includes/reader-revenue/woocommerce/class-woocommerce-cover-fees.php
  includes/wizards/class-reader-revenue-wizard.php
  package-lock.json
  package.json
  src/bylines/index.js
  src/bylines/style.scss
  src/reader-activation-auth/auth-form.js
  src/reader-activation-auth/auth-modal.js
  src/reader-activation-auth/index.js
  src/reader-activation/index.js
  src/wizards/readerRevenue/views/payment-methods/index.js
  src/wizards/readerRevenue/views/payment-methods/payment-gateway.js
  webpack.config.js
Labels: [Status] Approved

#3699 fix: make the cart, checkout pages use shortcodes on install
  includes/plugins/class-woocommerce.php
Labels: [Status] Approved

#3708 chore(ia): clean up connections
  includes/class-blocks.php
  includes/class-newspack.php
  includes/class-wizards.php
  includes/oauth/class-fivetran-connection.php
  includes/oauth/class-oauth.php
  includes/wizards/class-connections-wizard.php
  src/wizards/advertising/components/onboarding/index.js
  src/wizards/connections/index.js
  src/wizards/connections/style.scss
  src/wizards/connections/views/index.js
  src/wizards/connections/views/main/fivetran.js
  src/wizards/connections/views/main/google.js
  src/wizards/connections/views/main/index.js
  src/wizards/connections/views/main/mailchimp.js
  src/wizards/connections/views/main/plugins.js
  src/wizards/connections/views/main/recaptcha.js
  src/wizards/connections/views/main/webhooks.js
  tests/unit-tests/oauth.php
Labels: [Status] Approved, Information Architecture

#3718 chore(ia): clean up analytics wizard
  includes/class-newspack.php
  includes/class-wizards.php
  includes/data-events/connectors/ga4/class-ga4.php
  includes/wizards/class-analytics-wizard.php
  src/wizards/analytics/index.js
  src/wizards/analytics/style.scss
  src/wizards/analytics/views/index.js
  src/wizards/analytics/views/newspack-custom-events/index.js
  src/wizards/analytics/views/plugins/index.js
Labels: [Status] Approved, Information Architecture

#3726 fix(esp-sync): get last payment amount from actual completed order
  includes/reader-activation/sync/class-woocommerce.php
Labels: [Status] Approved

#3720 fix: check for WC as well as WCS
  includes/plugins/woocommerce-subscriptions/class-woocommerce-subscriptions.php
  tests/unit-tests/plugins/woocommerce-subscriptions/class-woocommerce-subscriptions.php
Labels: [Status] Approved

#3727 fix: add check for newsletter modal and fix typo
  includes/plugins/wc-memberships/class-memberships.php
  src/reader-activation/index.js
Labels: [Status] Approved

#3722 chore(ia): clean up engagement wizard
  includes/class-newspack.php
  includes/class-wizards.php
  includes/plugins/wc-memberships/class-memberships.php
  includes/reader-activation/class-reader-activation.php
  includes/wizards/class-engagement-wizard.php
  src/wizards/engagement/index.js
  src/wizards/engagement/views/index.js
  src/wizards/engagement/views/related-content/index.js
  src/wizards/engagement/views/social/index.js
  src/wizards/engagement/views/social/meta-pixel.js
  src/wizards/engagement/views/social/pixel.js
  src/wizards/engagement/views/social/twitter-pixel.js
Labels: [Status] Needs Review, Information Architecture

#3721 chore(ia): clean up health check wizard
  includes/class-newspack.php
  includes/class-plugin-manager.php
  includes/class-wizards.php
  includes/wizards/class-health-check-wizard.php
  src/wizards/health-check/index.js
  src/wizards/health-check/views/configuration/index.js
  src/wizards/health-check/views/index.js
  src/wizards/health-check/views/plugins/index.js
Labels: [Status] Approved, Information Architecture

#3730 fix(donation-settings): collect transaction fee settings
  includes/wizards/audience/class-audience-donations.php
Labels: [Status] Approved, Information Architecture

#3733 fix(ras): rename Reader Activation to Audience Management throughout admin
  includes/reader-activation/class-reader-activation.php
  includes/reader-activation/sync/class-sync.php
  includes/wizards/audience/class-audience-campaigns.php
  includes/wizards/audience/class-audience-donations.php
  includes/wizards/audience/class-audience-subscriptions.php
  includes/wizards/audience/class-audience-wizard.php
  includes/wizards/class-wizard.php
  includes/wizards/newspack/class-newspack-dashboard.php
  src/wizards/audience/components/prompt.tsx
  src/wizards/audience/views/campaigns/index.js
  src/wizards/audience/views/donations/index.js
  src/wizards/audience/views/setup/campaign.js
  src/wizards/audience/views/setup/complete.js
  src/wizards/audience/views/setup/content-gating.js
  src/wizards/audience/views/setup/index.js
  src/wizards/audience/views/setup/setup.js
  src/wizards/audience/views/setup/transactional-emails.js
  src/wizards/audience/views/subscriptions/index.tsx
Labels: [Status] Approved, Information Architecture

#3725 feat: handle user nicename change
  includes/class-newspack.php
  includes/plugins/co-authors-plus/class-nicename-change.php
Labels: [Status] Approved

#3692 fix(recaptcha): improvements for reCAPTCHA v2 + modal checkout
  includes/reader-revenue/woocommerce/class-woocommerce-products.php
  src/other-scripts/recaptcha/index.js
  src/other-scripts/recaptcha/style.scss
Labels: [Status] Approved

#3737 chore(ia): clean up seo wizard
  includes/class-newspack.php
  includes/class-wizards.php
  includes/plugins/class-yoast.php
  includes/wizards/newspack/class-seo-section.php
  src/wizards/newspack/views/settings/seo/index.tsx
  src/wizards/seo/index.js
  src/wizards/seo/views/index.js
  src/wizards/seo/views/settings/index.js
Labels: [Status] Approved, Information Architecture

#3742 fix(ia): prevent enqueue of admin css in the frontend
  includes/class-newspack.php
Labels: [Status] Approved, Information Architecture

#3744 fix: update GAM preflight error text
  includes/wizards/newspack/class-newspack-dashboard.php
Labels: [Status] Approved, Information Architecture

#3723 fix(wcs): account for other on-hold cases
  includes/cli/class-woocommerce-subscriptions.php
  includes/plugins/woocommerce-subscriptions/class-on-hold-duration.php
Labels: [Status] Approved

#3738 feat(ras): allow skipping prerequisites; avoid dead end in onboarding
  includes/cli/class-ras.php
  includes/reader-activation/class-reader-activation.php
  includes/wizards/audience/class-audience-wizard.php
  src/components/src/action-card/style.scss
  src/components/src/modal/index.js
  src/components/src/modal/style.scss
  src/components/src/with-wizard/index.js
  src/wizards/audience/components/prerequisite.tsx
  src/wizards/audience/types/index.d.ts
  src/wizards/audience/views/setup/campaign.js
  src/wizards/audience/views/setup/complete.js
  src/wizards/audience/views/setup/index.js
  src/wizards/audience/views/setup/setup.js
  src/wizards/audience/views/setup/style.scss
  src/wizards/newspack/views/settings/connections/index.tsx
Labels: [Status] Approved, Information Architecture

#3745 fix(wcs): remove cli error call
  includes/cli/class-woocommerce-subscriptions.php
Labels: [Status] Approved

#3741 fix(recaptcha): no need to scroll to top when showing v2 widget
  src/other-scripts/recaptcha/index.js
Labels: [Status] Approved

#3728 fix(esp-sync): transform outgoing dates to site timzeone
  includes/reader-activation/sync/class-woocommerce.php
Labels: [Status] Approved

#3732 feat: update brand colours
  includes/class-starter-content.php
  includes/raw_assets/images/newspack-logo.png
  includes/raw_assets/images/newspack-logomark.png
  includes/util.php
  includes/wizards/advertising/class-advertising-display-ads.php
  includes/wizards/class-network-wizard.php
  includes/wizards/newspack/class-newspack-dashboard.php
  package-lock.json
  src/blocks/reader-registration/index.js
  src/components/src/footer/index.js
  src/components/src/footer/style.scss
  src/components/src/index.js
  src/components/src/newspack-icon/index.js
  src/components/src/newspack-logo/index.js
  src/components/src/newspack-logo/style.scss
  src/components/src/notice/index.js
  src/components/src/notice/style.scss
  src/components/src/patrons-logo/index.js
  src/components/src/with-wizard/index.js
  src/newspack-ui/scss/variables/_colors.scss
  src/shared/scss/_colors.scss
  src/wizards/componentsDemo/index.js
  src/wizards/newspack/components/icons/ad.tsx
  src/wizards/newspack/components/icons/block-post-date.tsx
  src/wizards/newspack/components/icons/dashboard.tsx
  src/wizards/newspack/components/icons/gift.tsx
  src/wizards/newspack/components/icons/index.ts
  src/wizards/newspack/components/icons/mail.tsx
  src/wizards/newspack/components/icons/position-center-center.tsx
  src/wizards/newspack/components/icons/post.tsx
  src/wizards/newspack/components/quick-actions.tsx
  src/wizards/newspack/views/dashboard/style.scss
  src/wizards/newspack/views/settings/constants.ts
Labels: [Status] Approved, Information Architecture

#3729 fix(campaigns): remove placeholder Analytics admin page
  src/wizards/popups/index.js
  src/wizards/popups/views/analytics/index.js
  src/wizards/popups/views/analytics/style.scss
  src/wizards/popups/views/index.js
Labels: [Status] Needs Review

#3750 fix(wcs): account for pagination and failed scheduled retries in on-hold migration script
  includes/cli/class-woocommerce-subscriptions.php
Labels: [Status] Approved

#3749 fix(ia): newsletters component for the setup wizard
  src/wizards/setup/views/services/index.js
Labels: [Status] Approved, Information Architecture

#3724 Hotfix/migrate guest authors cli
  includes/cli/class-co-authors-plus.php
  package-lock.json
  package.json
Labels: [Status] Approved

#3752 fix(woocommerce): add team name to checkouts for memberships-for-teams
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
Labels: [Status] Approved

#3757 Release Feb 17
  includes/corrections/README.md
  includes/corrections/class-corrections.php
  includes/plugins/class-woocommerce.php
  includes/plugins/wc-memberships/class-memberships.php
  includes/plugins/woocommerce-subscriptions/class-woocommerce-subscriptions.php
  package-lock.json
  package.json
  src/other-scripts/corrections/index.js
  src/reader-activation/index.js
  tests/unit-tests/plugins/woocommerce-subscriptions/class-woocommerce-subscriptions.php
Labels: [Status] Needs Review

#3759 feat(esp-sync): queue data events sync to run once (#3661)
  includes/data-events/class-data-events.php
  includes/reader-activation/sync/class-esp-sync.php
  tests/unit-tests/data-events.php
Labels: [Status] Approved

#3758 feat(my-account): add email change feature flag
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
  includes/reader-revenue/templates/myaccount-edit-account.php
Labels: [Status] Approved

#3753 fix(perfmatters): default for lazyload img setting parent selector
  includes/plugins/class-perfmatters.php
Labels: [Status] Approved

#3747 feat: fixes and improvements for WooCommerce Subscriptions Gifting
  includes/class-newspack.php
  includes/plugins/woocommerce-subscriptions/class-woocommerce-subscriptions-gifting.php
  includes/reader-activation/class-reader-activation.php
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
  tests/unit-tests/reader-activation.php
Labels: [Status] Approved

#3762 fix(esp-sync): broken CLI sync command
  includes/cli/class-ras-esp-sync.php
  includes/reader-activation/sync/class-esp-sync.php
Labels: [Status] Approved

#3679 feat: rate limit adding new payment methods by user
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
  includes/reader-revenue/my-account/index.js
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
Labels: [Status] Approved

#3765 fix(esp-sync): transform outgoing dates to site timzeone (#3728)
  includes/reader-activation/sync/class-woocommerce.php
Labels: [Status] Approved

#3766 feat(corrections): update style of modal in the editor
  src/other-scripts/corrections-modal/index.js
  src/other-scripts/corrections-modal/style.scss
Labels: [Status] Approved

#3771 fix: undo forcing WC order attribution to off
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
Labels: [Status] Approved

#3772 feat(my-account): add change email template
  includes/reader-activation/class-reader-activation-emails.php
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
  includes/templates/reader-activation-emails/change-email.php
  src/wizards/engagement/components/types.ts
Labels: [Status] Approved

#3751 feat: add corrections customize settings
  includes/corrections/class-corrections.php
  src/other-scripts/corrections-modal/index.js
  src/other-scripts/corrections/index.js
  src/other-scripts/corrections/style.scss
Labels: [Status] Approved

#3740 Feat/change nicename UI
  includes/class-newspack.php
  includes/plugins/co-authors-plus/class-nicename-change-ui.php
  includes/plugins/co-authors-plus/class-nicename-change.php
  src/nicename-change/index.js
  src/nicename-change/style.scss
  webpack.config.js
Labels: [Status] Needs Review

#3785 Hotfix/add change nicename
  includes/class-newspack.php
  includes/plugins/co-authors-plus/class-nicename-change-ui.php
  includes/plugins/co-authors-plus/class-nicename-change.php
  src/nicename-change/index.js
  src/nicename-change/style.scss
  webpack.config.js
Labels: [Status] Approved
