Repository Automattic/newspack-plugin, pull requests merged in 2025-10, with the labels that each got.

#4088 feat(newspack-icons): add typescript support; add new icons
  packages/icons/.gitignore
  packages/icons/build-types.js
  packages/icons/index.js
  packages/icons/package.json
  packages/icons/src/accessibility.js
  packages/icons/src/browser.js
  packages/icons/src/iframe.js
  packages/icons/tsconfig.json
Labels: [Status] Approved

#4213 hotfix: add post_id as a GA4 custom event parameter
  includes/plugins/google-site-kit/class-googlesitekit.php
Labels: [Status] Needs Review

#4223 Release Oct 06
  .github/workflows/main.yml
  bin/install-wp-tests.sh
  composer.json
  composer.lock
  includes/class-magic-link.php
  includes/oauth/class-google-login.php
  includes/optional-modules/class-collections.php
  includes/plugins/class-perfmatters.php
  includes/plugins/co-authors-plus/class-guest-contributor-role.php
  includes/plugins/woocommerce-subscriptions/class-subscriptions-tiers.php
  includes/plugins/woocommerce-subscriptions/class-woocommerce-subscriptions.php
  includes/plugins/woocommerce/my-account/class-my-account-ui-v0.php
  includes/plugins/woocommerce/my-account/class-my-account-ui-v1.php
  includes/plugins/woocommerce/my-account/class-woocommerce-my-account.php
  includes/reader-activation/class-reader-activation.php
  languages/newspack-plugin.pot
  newspack.php
  src/blocks/collections/class-collections-block.php
  src/blocks/collections/components/CollectionItem.jsx
  src/memberships-gate/gate.js
  src/my-account/v1/index.js
  src/my-account/v1/switch-subscription.js
  src/newspack-ui/js/segmented-control/index.js
  src/newspack-ui/scss/elements/woocommerce/_my-account.scss
  src/reader-activation/analytics.js
  src/reader-activation/index.js
  src/reader-activation/subscription-tiers-form.js
  src/wizards/newspack/views/settings/collections/index.tsx
  src/wizards/newspack/views/settings/connections/custom-events.tsx
  tests/unit-tests/collections/class-test-collections-block.php
  tests/unit-tests/collections/class-test-collections.php
Labels: [Status] Needs Review

#4219 feat(collections): implement design feedback for archive link
  src/components/src/section-header/index.js
  src/wizards/newspack/views/settings/collections/index.tsx
  src/wizards/wizards-section.tsx
Labels: [Status] Approved, [Status] Design Approved
