Repository Automattic/newspack-plugin, pull requests merged in 2025-01, with the labels that each got.

#3644 fix(recaptcha): also verify v2 on checkout
  includes/class-recaptcha.php
  src/other-scripts/recaptcha/index.js
  src/other-scripts/recaptcha/utils.js
Labels: [Status] Approved

#3616 perf(data-events): queue dispatches to execute on shutdown
  includes/data-events/class-data-events.php
  tests/unit-tests/data-events.php
Labels: [Status] Approved

#3660 fix(cli): verify-reader CLI command
  includes/cli/class-ras.php
Labels: [Status] Approved

#3658 fix(esp-sync): get inactive subscriptions with failed or pending orders
  includes/reader-activation/sync/class-woocommerce.php
Labels: [Status] Approved

#3638 feat(corrections): add corrections and clarifications behind feature flag
  includes/class-newspack.php
  includes/corrections/README.md
  includes/corrections/class-corrections.php
  src/other-scripts/corrections/index.js
  src/other-scripts/corrections/style.scss
Labels: [Status] Approved

#3673 feat(my-account): reCAPTCHA check on add payment method
  includes/class-recaptcha.php
  src/other-scripts/recaptcha/index.js
Labels: [Status] Approved

#3675 fix(corrections): remove newspack_corrections_ids meta
  includes/corrections/README.md
  includes/corrections/class-corrections.php
Labels: [Status] Approved

#3676 fix(recaptcha): validate on form submit, not button click
  includes/class-recaptcha.php
  includes/reader-activation/class-reader-activation.php
  src/blocks/reader-registration/index.php
  src/other-scripts/recaptcha/index.js
  src/reader-activation-auth/auth-form.js
Labels: [Status] Approved

#3674 fix(recaptcha): remove modal checkout restriction from v2
  includes/class-recaptcha.php
  includes/reader-activation/class-reader-activation.php
  src/blocks/reader-registration/index.php
  src/other-scripts/recaptcha/index.js
  src/other-scripts/recaptcha/utils.js
  src/reader-activation-auth/auth-form.js
Labels: [Status] Approved

#3663 fix(wcs): migrate-expired-subscriptions handle manual subscriptions
  includes/cli/class-woocommerce-subscriptions.php
Labels: [Status] Approved

#3637 fix(mc): handle standard merge fields when fixing duplicates
  includes/cli/class-mailchimp.php
Labels: [Status] Approved

#3680 fix(esp-sync): sync non-donation subscription data even if no completed orders
  includes/reader-activation/sync/class-woocommerce.php
Labels: [Status] Approved

#3667 feat: add custom bylines
  includes/bylines/README.md
  includes/bylines/class-bylines.php
  includes/class-newspack.php
  src/bylines/index.js
  src/bylines/style.scss
  webpack.config.js
Labels: [Status] Approved

#3690 Release Jan 20
  composer.lock
  includes/class-newspack.php
  includes/cli/class-ras.php
  includes/cli/class-woocommerce-subscriptions.php
  includes/corrections/README.md
  includes/corrections/class-corrections.php
  includes/data-events/class-data-events.php
  newspack.php
  package-lock.json
  package.json
  src/other-scripts/corrections/index.js
  src/other-scripts/corrections/style.scss
  tests/unit-tests/data-events.php
Labels: [Status] Needs Review

#3681 fix(wcs): expire manual subscriptions after on-hold duration
  includes/plugins/woocommerce-subscriptions/class-on-hold-duration.php
Labels: [Status] Approved

#3650 fix: add supported gateways check
  src/reader-activation-auth/auth-form.js
  src/reader-activation-auth/auth-modal.js
  src/reader-activation-auth/index.js
  src/reader-activation/index.js
Labels: [Status] Needs Review, ras-acc testing

#3691 Remove support for legacy form checkout
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
Labels: [Status] Approved

#3677 fix(ras-sync): account for missing creation data and first/last name
  includes/reader-activation/sync/class-woocommerce.php
Labels: [Status] Approved

#3693 Hotfix: Remove support for legacy form checkout
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
Labels: [Status] Approved

#3694 fix(corrections): replace deprecated sanitize method
  includes/corrections/class-corrections.php
Labels: [Status] Approved

#3678 feat: rate limit checkout attempts
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
Labels: [Status] Approved

#3696 Hotfix/reader data sync requests
  src/reader-activation/checkout.js
  src/reader-activation/store.js
Labels: [Status] Approved

#3665 feat(reader-revenue): add PayPal Payments gateway to wizard
  includes/class-plugin-manager.php
  includes/configuration_managers/class-woocommerce-configuration-manager.php
  includes/reader-revenue/woocommerce/class-woocommerce-cover-fees.php
  includes/wizards/class-reader-revenue-wizard.php
  src/wizards/readerRevenue/views/payment-methods/index.js
  src/wizards/readerRevenue/views/payment-methods/payment-gateway.js
Labels: [Status] Approved, Information Architecture

#3668 feat(ia): cleanup site design
  includes/class-newspack.php
  includes/class-wizards.php
  includes/wizards/class-site-design-wizard.php
  src/wizards/componentsDemo/index.js
  src/wizards/newspack/views/settings/theme-and-brand/index.tsx
  src/wizards/setup/index.js
  src/wizards/setup/views/index.js
  src/wizards/site-design/components/theme-selection/images/joseph.png
  src/wizards/site-design/components/theme-selection/images/katharine.png
  src/wizards/site-design/components/theme-selection/images/nelson.png
  src/wizards/site-design/components/theme-selection/images/newspack.png
  src/wizards/site-design/components/theme-selection/images/sacha.png
  src/wizards/site-design/components/theme-selection/images/scott.png
  src/wizards/site-design/components/theme-selection/index.js
  src/wizards/site-design/index.js
  src/wizards/site-design/views/index.js
  src/wizards/site-design/views/main/index.js
  src/wizards/site-design/views/main/style.scss
  src/wizards/site-design/views/main/utils.js
  src/wizards/site-design/views/theme-settings/index.js
  src/wizards/site-design/views/theme-settings/style.scss
  tests/unit-tests/api-wizards-controller.php
Labels: [Status] Approved, Information Architecture

#3641 feat(ia): cleanup settings
  includes/class-newspack.php
  includes/class-syndication.php
  includes/class-wizards.php
  includes/optional-modules/class-media-partners.php
  includes/optional-modules/class-rss.php
  includes/wizards/class-syndication-wizard.php
  includes/wizards/newspack/class-syndication-section.php
  src/wizards/newspack/views/settings/syndication/rss.tsx
  src/wizards/syndication/index.js
  src/wizards/syndication/views/index.js
  src/wizards/syndication/views/intro/index.js
  tests/unit-tests/syndication.php
Labels: [Status] Approved, Information Architecture

#3565 feat(ia): audience subscriptions boilerplate
  includes/class-newspack.php
  includes/class-wizards.php
  includes/wizards/audience/class-audience-subscriptions.php
  src/admin/style.scss
  src/wizards/audience/views/subscriptions/index.tsx
  src/wizards/index.tsx
  src/wizards/types/window.d.ts
  src/wizards/types/wizard-action-card.d.ts
  src/wizards/wizards-card.tsx
Labels: [Status] Approved, Information Architecture

#3622 feat(ia): update audience links in newspack dashboard
  includes/wizards/newspack/class-newspack-dashboard.php
Labels: [Status] Approved, Information Architecture

#3706 fix(nav-tabs): do not show native nav tabs in post editor
  includes/wizards/class-newsletters-wizard.php
Labels: [Status] Approved

#3703 fix(ia): dashboard header icon background
  src/wizards/newspack/views/dashboard/style.scss
Labels: [Status] Approved, Information Architecture

#3704 style(tabbed-nav): avoid 1px jank on link hover
  src/components/src/tabbed-navigation/style.scss
Labels: [Status] Approved

#3707 fix(ia): tweak syndication plugin cards behavior
  includes/class-plugin-manager.php
  src/wizards/newspack/views/settings/syndication/plugins.tsx
  src/wizards/types/wizard-action-card.d.ts
  src/wizards/wizards-plugin-card.tsx
Labels: [Status] Approved

#3697 fix(reader-revenue): collect transaction fee settings
  includes/wizards/class-reader-revenue-wizard.php
Labels: [Status] Approved

#3702 fix: update corrections post type slug
  includes/corrections/README.md
  includes/corrections/class-corrections.php
  src/other-scripts/corrections/index.js
Labels: [Status] Approved
