Repository Automattic/newspack-plugin, pull requests merged in 2025-06, with the labels that each got.

#3921 Feat: Newspack Avatar block
  includes/class-blocks.php
  src/blocks/avatar/block.json
  src/blocks/avatar/class-avatar-block.php
  src/blocks/avatar/edit.jsx
  src/blocks/avatar/hooks.js
  src/blocks/avatar/index.js
  src/blocks/avatar/style.scss
  src/blocks/index.js
  webpack.config.js
Labels: [Status] Approved, [Status] Design Approved

#4000 feat(collections): register collection CPT and taxonomy
  includes/collections/class-collection-taxonomy.php
  includes/collections/class-post-type.php
  includes/collections/class-sync.php
  includes/collections/traits/trait-hook-management.php
  includes/optional-modules/class-collections.php
  tests/class-newspack-unit-tests-bootstrap.php
  tests/unit-tests/collections.php
  tests/unit-tests/collections/class-test-collection-taxonomy.php
  tests/unit-tests/collections/class-test-collections-section.php
  tests/unit-tests/collections/class-test-collections.php
  tests/unit-tests/collections/class-test-post-type.php
  tests/unit-tests/collections/class-test-sync.php
  tests/unit-tests/collections/traits/trait-collections-test.php
Labels: [Status] Approved

#4022 feat: add option to create and display an Accessibility Statement page
  includes/advanced-settings/class-accessibility-statement-boilerplate.php
  includes/advanced-settings/class-accessibility-statement-page.php
  includes/class-newspack.php
  includes/wizards/newspack/class-newspack-settings.php
  includes/wizards/newspack/class-recirculation-section.php
  src/wizards/newspack/types/index.d.ts
  src/wizards/newspack/views/settings/advanced-settings/accessibility-statement.tsx
  src/wizards/newspack/views/settings/advanced-settings/author-bio.tsx
  src/wizards/newspack/views/settings/advanced-settings/featured-image-posts-all.tsx
  src/wizards/newspack/views/settings/advanced-settings/featured-image-posts-new.tsx
  src/wizards/newspack/views/settings/advanced-settings/index.tsx
  src/wizards/newspack/views/settings/advanced-settings/media-credits.tsx
  src/wizards/newspack/views/settings/advanced-settings/recirculation.tsx
  src/wizards/newspack/views/settings/advanced-settings/types.d.ts
  src/wizards/newspack/views/settings/constants.ts
  src/wizards/newspack/views/settings/sections.tsx
  src/wizards/newspack/views/settings/theme-mods.d.ts
Labels: [Status] Approved, [Status] Needs Design Review

#4008 fix: delete contact by email address, not user ID
  includes/data-events/connectors/class-esp-connector.php
  src/wizards/audience/views/setup/setup.js
Labels: [Status] Approved

#4030 fix: updates to accessibility statement
  includes/advanced-settings/class-accessibility-statement-boilerplate.php
  src/wizards/newspack/views/settings/advanced-settings/accessibility-statement.tsx
Labels: [Status] Approved

#4005 fix: return to dashboard link
  src/components/src/wizard/index.js
Labels: [Status] Approved

#4002 feat(dashboard): update card style to be more inline with core button card
  src/wizards/newspack/components/quick-actions.tsx
  src/wizards/newspack/views/dashboard/style.scss
Labels: [Status] Approved

#4039 feat: remove custom bylines flag
  includes/bylines/class-bylines.php
Labels: [Status] Needs Review

#3988 feat: modal checkout for My Account's reorders
  src/my-account/v1/modal-checkout.js
Labels: [Status] Approved, My Account Redesign

#4042 Add sticky post support to lite site
  includes/lite-site/templates/archive.php
Labels: [Status] Approved

#4033 feat(collections): allow overriding "collection" names and slugs
  includes/collections/class-collection-category-taxonomy.php
  includes/collections/class-collection-section-taxonomy.php
  includes/collections/class-collection-taxonomy.php
  includes/collections/class-post-meta.php
  includes/collections/class-post-type.php
  includes/collections/class-settings.php
  src/collections/admin/collection-meta-panel.js
  src/collections/admin/post-meta-panel.js
  src/wizards/newspack/views/settings/collections/custom-naming-card.tsx
  tests/unit-tests/collections/class-test-collection-category-taxonomy.php
  tests/unit-tests/collections/class-test-collection-section-taxonomy.php
  tests/unit-tests/collections/class-test-post-type.php
Labels: [Status] Approved

#4047 feat(rss): Custom Tracking snippet
  includes/optional-modules/class-rss.php
Labels: [Status] Approved

#4041 fix(menu): don't hide sponsors menu if the user can't see the newspack dashboard
  includes/wizards/advertising/class-advertising-sponsors.php
Labels: [Status] Approved

#4009 fix(woocommerce-memberships): prevent membership expiry if there's another active subscription
  includes/plugins/wc-memberships/class-membership-expiry.php
  includes/plugins/wc-memberships/class-memberships.php
Labels: [Status] Approved

#4054 fix: lite site error without sticky posts
  includes/lite-site/templates/archive.php
Labels: [Status] Needs Review

#4049 feat(collections): support multiple CTAs in collections meta
  includes/collections/README.md
  includes/collections/class-collection-meta.php
  src/collections/admin/collection-meta-attachment-info.js
  src/collections/admin/collection-meta-ctas-field.js
  src/collections/admin/collection-meta-panel.js
  src/collections/admin/collection-meta-panel.scss
  src/collections/admin/collection-meta-upload-field.js
  src/collections/admin/utils.js
  tests/unit-tests/collections/class-test-collection-meta.php
Labels: [Status] Approved

#4021 feat: show "deleted" label on segments if list, subscription, or plan was deleted [NPPM-2031]
  src/wizards/audience/components/lists-control/index.js
  src/wizards/audience/views/campaigns/segments/single-segment.js
  src/wizards/audience/views/campaigns/utils.js
Labels: [Status] Approved

#4048 feat(woocommerce): rename WooCommerce Payments to WooPay
  includes/configuration_managers/class-woocommerce-configuration-manager.php
Labels: [Status] Approved
