Repository Automattic/newspack-plugin, pull requests merged in 2025-07, with the labels that each got.

#4063 feat(rss): add 1 minute update frequency
  includes/optional-modules/class-rss.php
Labels: [Status] Approved

#4052 feat(rss): Skip non-distributable images
  includes/optional-modules/class-rss.php
Labels: [Status] Approved

#4064 fix(log): ensure `user_email` is always a string
  includes/class-logger.php
Labels: [Status] Approved

#3984 feat: prepare icons npm package
  packages/README.md
  packages/icons/.gitignore
  packages/icons/.npmignore
  packages/icons/README.md
  packages/icons/index.js
  packages/icons/package.json
  packages/icons/src/ad.js
  packages/icons/src/archive-loop.js
  packages/icons/src/aspect-landscape.js
  packages/icons/src/aspect-portrait.js
  packages/icons/src/aspect-square.js
  packages/icons/src/ballot-box.js
  packages/icons/src/broadcast.js
  packages/icons/src/content-carousel.js
  packages/icons/src/content-loop.js
  packages/icons/src/corrections.js
  packages/icons/src/curated-list.js
  packages/icons/src/dynamic-countdown.js
  packages/icons/src/email-ad.js
  packages/icons/src/email-check.js
  packages/icons/src/email-error.js
  packages/icons/src/email-send.js
  packages/icons/src/gift.js
  packages/icons/src/logout.js
  packages/icons/src/merge-tags.js
  packages/icons/src/newspack.js
  packages/icons/src/newspaper.js
  packages/icons/src/overlay-bottom.js
  packages/icons/src/overlay-center.js
  packages/icons/src/overlay-inline.js
  packages/icons/src/overlay-top.js
  packages/icons/src/phone.js
  packages/icons/src/playlist.js
  packages/icons/src/post-avatar.js
  packages/icons/src/priority.js
  packages/icons/src/reader-registration.js
  packages/icons/src/search-empty.js
  packages/icons/src/tab-item.js
  packages/icons/src/tabs.js
  packages/icons/src/theme.js
  src/blocks/correction-box/index.js
  src/blocks/correction-item/index.js
  src/blocks/reader-registration/edit.js
  src/blocks/reader-registration/index.js
  src/wizards/audience/components/segment-group/index.js
  src/wizards/newspack/components/icons.ts
  tsconfig.json
Labels: [Status] Approved

#4065 fix: ensure my-account is working w/out woocommerce
  includes/plugins/woocommerce/my-account/class-my-account-ui-v1.php
  includes/reader-activation/sync/class-esp-sync.php
Labels: [Status] Approved

#4044 feat(memberships): prevent membership editing if linked to a subscrip…
  includes/plugins/wc-memberships/class-memberships.php
Labels: [Status] Approved

#4070 fix: update custom byline markup to match regular bylines in theme
  includes/bylines/class-bylines.php
Labels: [Status] Approved

#4074 feat: Adobe InDesign Post converter
  includes/class-newspack.php
  includes/optional-modules/class-indesign-exporter.php
  includes/optional-modules/class-optional-modules.php
  includes/optional-modules/indesign-export/class-indesign-converter.php
  tests/unit-tests/optional-modules.php
Labels: [Status] Approved

#4079 fix: update the plugin's translations template (POT) file [NPPM-2112]
  languages/newspack-plugin.pot
Labels: [Status] Approved

#4077 feat(collections): highlight latest collection feature
  includes/collections/class-query-helper.php
  includes/collections/class-settings.php
  includes/collections/class-template-helper.php
  includes/templates/collections/archive-newspack-collection.php
  includes/templates/collections/parts/newspack-collection-intro.php
  includes/templates/collections/single-newspack-collection.php
  src/collections/frontend/_archive.scss
  src/collections/frontend/_intro.scss
  src/collections/frontend/_single.scss
  src/wizards/newspack/views/settings/collections/index.tsx
  src/wizards/newspack/views/settings/collections/types.d.ts
  tests/unit-tests/collections/class-test-settings.php
  tests/unit-tests/collections/class-test-template-helper.php
Labels: [Status] Needs Review, [Status] Design Approved

#4076 feat(collections): add posts per page global setting
  includes/collections/class-query-helper.php
  includes/collections/class-settings.php
  includes/collections/class-template-helper.php
  includes/templates/collections/archive-newspack-collection.php
  includes/templates/collections/parts/newspack-collection-intro.php
  includes/templates/collections/single-newspack-collection.php
  src/collections/frontend/_archive.scss
  src/collections/frontend/_intro.scss
  src/collections/frontend/_single.scss
  src/wizards/newspack/views/settings/collections/index.tsx
  src/wizards/newspack/views/settings/collections/types.d.ts
  tests/unit-tests/collections/class-test-settings.php
  tests/unit-tests/collections/class-test-template-helper.php
Labels: [Status] Needs Review

#4075 feat(collections): collection indicators for single posts
  includes/collections/class-content-inserter.php
  includes/collections/class-query-helper.php
  includes/collections/class-settings.php
  includes/collections/class-template-helper.php
  includes/optional-modules/class-collections.php
  includes/templates/collections/archive-newspack-collection.php
  includes/templates/collections/parts/newspack-collection-intro.php
  includes/templates/collections/single-newspack-collection.php
  src/collections/frontend/_archive.scss
  src/collections/frontend/_intro.scss
  src/collections/frontend/_post-indicator.scss
  src/collections/frontend/_single.scss
  src/collections/frontend/style.scss
  src/components/src/select-control/ButtonGroupControl.js
  src/wizards/newspack/views/settings/collections/index.tsx
  src/wizards/newspack/views/settings/collections/types.d.ts
  tests/unit-tests/collections/class-test-content-inserter.php
  tests/unit-tests/collections/class-test-settings.php
  tests/unit-tests/collections/class-test-template-helper.php
Labels: [Status] Needs Review, [Status] Design Approved

#4073 feat(collections): frontend templates
  includes/collections/class-cache.php
  includes/collections/class-content-inserter.php
  includes/collections/class-query-helper.php
  includes/collections/class-settings.php
  includes/collections/class-sync.php
  includes/collections/class-template-helper.php
  includes/optional-modules/class-collections.php
  includes/templates/collections/archive-newspack-collection.php
  includes/templates/collections/parts/newspack-collection-intro.php
  includes/templates/collections/single-newspack-collection.php
  src/collections/frontend/_archive.scss
  src/collections/frontend/_breakpoints.scss
  src/collections/frontend/_common.scss
  src/collections/frontend/_intro.scss
  src/collections/frontend/_post-indicator.scss
  src/collections/frontend/_single.scss
  src/collections/frontend/collection-archive-filters.js
  src/collections/frontend/index.js
  src/collections/frontend/style.scss
  src/components/src/select-control/ButtonGroupControl.js
  src/wizards/newspack/views/settings/collections/index.tsx
  src/wizards/newspack/views/settings/collections/types.d.ts
  tests/unit-tests/collections/class-test-cache.php
  tests/unit-tests/collections/class-test-content-inserter.php
  tests/unit-tests/collections/class-test-enqueuer.php
  tests/unit-tests/collections/class-test-post-type.php
  tests/unit-tests/collections/class-test-query-helper.php
  tests/unit-tests/collections/class-test-settings.php
  tests/unit-tests/collections/class-test-sync.php
  tests/unit-tests/collections/class-test-template-helper.php
  tests/unit-tests/collections/traits/trait-collections-test.php
  tests/unit-tests/collections/traits/trait-enqueuer-test.php
  webpack.config.js
Labels: [Status] Needs Review, [Status] Design Approved

#4083 feat: add 'newspack_blocks' support to Collections to appear in Content Blocks
  includes/collections/class-post-type.php
Labels: [Status] Approved

#4080 fix: user deletion w/out WC
  includes/data-events/connectors/class-esp-connector.php
Labels: [Status] Approved

#4082 feat(collections): update cpt icon
  includes/collections/class-post-type.php
Labels: [Status] Approved

#4032 feat: remove http og url override
  includes/class-patches.php
Labels: [Status] Approved

#4090 feat: add support for guest contributor in author list block
  includes/plugins/co-authors-plus/class-guest-contributor-role.php
Labels: [Status] Approved

#4093 Fix/scripts add hooks in Lite Site
  includes/lite-site/class-lite-site.php
  includes/lite-site/templates/archive.php
  includes/lite-site/templates/single.php
Labels: [Status] Approved

#4071 fix(admin-menu): handle newsletter ads permissions
  includes/wizards/class-newsletters-wizard.php
Labels: [Status] Approved

#4096 fix: make hr styles more specific and account for < 6 issues
  src/collections/frontend/_archive.scss
  src/collections/frontend/_single.scss
Labels: [Status] Approved

#4092 fix: Update PHPUnit for PHP 8.3
  .circleci/config.yml
  composer.json
  composer.lock
  includes/polyfills/class-amp-polyfills.php
  phpunit.xml
  tests/unit-tests/api-plugins-controller.php
  tests/unit-tests/api-wizards-controller.php
Labels: [Status] Approved

#4095 hotfix(google-oauth): race conditions and cross-site issues
  includes/oauth/class-google-login.php
  src/memberships-gate/gate.js
  src/reader-activation-auth/google-oauth.js
  src/reader-activation/index.js
  src/reader-activation/utils.js
Labels: [Status] Approved

#4099 fix(rss): lax filter for script tag
  includes/optional-modules/class-rss.php
Labels: [Status] Approved

#4097 feat: Collections feedback
  includes/collections/README.md
  includes/collections/class-content-inserter.php
  includes/collections/class-settings.php
  includes/collections/class-template-helper.php
  includes/templates/collections/archive-newspack-collection.php
  src/wizards/newspack/views/settings/collections/custom-naming-card.tsx
  src/wizards/newspack/views/settings/collections/index.tsx
  src/wizards/newspack/views/settings/collections/types.d.ts
  tests/unit-tests/collections/class-test-post-type.php
  tests/unit-tests/collections/class-test-settings.php
Labels: [Status] Approved, [Status] Design Approved

#4101 Fix CLI module activation logic
  includes/cli/class-optional-modules.php
Labels: [Type] Bug, [Status] Approved

#4105 feat(collections): use custom label in document title for archives
  includes/collections/class-settings.php
  includes/collections/class-template-helper.php
  tests/unit-tests/collections/class-test-template-helper.php
Labels: [Status] Approved

#4102 feat(newspack-ui): update buttons accent color and border-radius
  includes/class-newspack-ui.php
  src/newspack-ui/scss/elements/_segmented-control.scss
  src/newspack-ui/scss/elements/forms/_buttons.scss
  src/newspack-ui/scss/variables/_colors.scss
Labels: [Status] Approved

#4110 Adjust feed media URL encoding to avoid html entities
  includes/optional-modules/class-rss.php
Labels: [Type] Bug, [Status] Approved

#4113 feat: package action scheduler into the plugin
  composer.json
  composer.lock
  newspack.php
  tests/unit-tests/webhooks.php
Labels: [Status] Approved

#4114 i18n on CI
  .circleci/config.yml
  languages/newspack-plugin.pot
Labels: [Status] Needs Review

#4115 HOTFIX(rss): modify allowed attributes
  includes/optional-modules/class-rss.php
Labels: [Status] Approved

#4116 Hotfix: Revert image tag encoding changes
  includes/optional-modules/class-rss.php
Labels: [Status] Approved
