Repository Automattic/newspack-plugin, pull requests merged in 2025-08, with the labels that each got.

#4119 hotfix(sitekit-logger): improve sitekit issues detection
  includes/plugins/google-site-kit/class-googlesitekit-logger.php
Labels: [Status] Approved

#4128 feat(collections): add cover story image visibility settings
  includes/collections/README.md
  includes/collections/class-collection-meta.php
  includes/collections/class-settings.php
  includes/collections/class-template-helper.php
  includes/collections/traits/trait-meta-handler.php
  includes/templates/collections/single-newspack-collection.php
  languages/newspack-plugin.pot
  src/collections/admin/collection-meta-panel.js
  src/wizards/newspack/views/settings/collections/index.tsx
  src/wizards/newspack/views/settings/collections/types.d.ts
  tests/unit-tests/collections/class-test-collection-meta.php
  tests/unit-tests/collections/class-test-settings.php
  tests/unit-tests/collections/class-test-template-helper.php
  tests/unit-tests/collections/traits/trait-meta-handler-test.php
Labels: [Status] Approved

#4133 fix(rss): use consistent featured image size
  includes/class-rss-add-image.php
  includes/optional-modules/class-rss.php
  languages/newspack-plugin.pot
Labels: [Status] Approved

#4136 Release Aug 11
  .circleci/config.yml
  composer.json
  composer.lock
  includes/bylines/class-bylines.php
  includes/class-newspack-ui.php
  includes/cli/class-optional-modules.php
  includes/collections/README.md
  includes/collections/class-collection-category-taxonomy.php
  includes/collections/class-collection-section-taxonomy.php
  includes/collections/class-content-inserter.php
  includes/collections/class-post-type.php
  includes/collections/class-settings.php
  includes/collections/class-template-helper.php
  includes/collections/traits/trait-registration-manager.php
  includes/templates/collections/archive-newspack-collection.php
  includes/wizards/newspack/class-collections-section.php
  languages/newspack-plugin.pot
  newspack.php
  src/newspack-ui/scss/elements/_segmented-control.scss
  src/newspack-ui/scss/elements/forms/_buttons.scss
  src/newspack-ui/scss/variables/_colors.scss
  src/wizards/newspack/views/settings/collections/custom-naming-card.tsx
  src/wizards/newspack/views/settings/collections/index.tsx
  src/wizards/newspack/views/settings/collections/types.d.ts
  tests/unit-tests/collections/class-test-post-type.php
  tests/unit-tests/collections/class-test-settings.php
  tests/unit-tests/collections/class-test-template-helper.php
  tests/unit-tests/webhooks.php
Labels: [Status] Needs Review

#4138 fix: sanitize newspack_reader_data_item fields on save
  includes/reader-activation/class-reader-data.php
Labels: [Status] Approved

#4132 Fix small typo in RSS Enhancements
  includes/optional-modules/class-rss.php
  languages/newspack-plugin.pot
Labels: [Status] Approved, [Priority] Low

#4131 fix(newsletters): update plugin API
  includes/wizards/class-newsletters-wizard.php
Labels: [Status] Needs Review

#4143 fix: coerce number strings on segment criteria save
  languages/newspack-plugin.pot
  src/wizards/audience/components/lists-control/index.js
Labels: [Status] Needs Review

#4117 feat(ads): support GAM MCM (parent network code)
  includes/wizards/advertising/class-advertising-display-ads.php
  src/wizards/advertising/views/ad-units/index.js
Labels: [Status] Approved

#4142 fix(woocommerce): hide duplicated tab headings
  includes/plugins/woocommerce/class-woocommerce-products.php
Labels: [Status] Approved

#4146 fix: lint issues and improve query condition for pattern filtering
  includes/class-patches.php
Labels: [Status] Approved

#4147 fix: correctly filter sync mailchimp audience
  src/wizards/audience/components/settings.js
Labels: [Status] Approved

#4152 feat(bylines): add feed support to custom bylines
  includes/bylines/class-bylines.php
Labels: [Status] Approved

#4154 feat(pwa): display mode setting
  includes/plugins/class-pwa.php
  includes/wizards/class-setup-wizard.php
  src/wizards/newspack/views/settings/advanced-settings/index.tsx
  src/wizards/newspack/views/settings/advanced-settings/pwa-display-mode.tsx
  src/wizards/newspack/views/settings/constants.ts
  src/wizards/newspack/views/settings/theme-mods.d.ts
Labels: [Status] Approved

#4151 feat: add guardrails to distributed bylines
  includes/bylines/class-bylines.php
  tests/unit-tests/bylines/class-test-newspack-network-incoming-post-inserted.php
Labels: [Status] Approved
