Repository Automattic/newspack-plugin, pull requests merged in 2025-03, with the labels that each got.

#3789 feat(my-account): sync email change with stripe
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
  includes/reader-revenue/stripe/class-stripe-connection.php
Labels: [Status] Approved

#3786 fix(my-account): send email change emails to old and new emails
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
Labels: [Status] Approved

#3778 feat(my-account): add email change cancellation option
  includes/reader-activation/class-reader-activation-emails.php
  includes/reader-activation/class-reader-activation.php
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
  includes/reader-revenue/templates/myaccount-edit-account.php
  includes/templates/reader-activation-emails/change-email.php
Labels: [Status] Approved

#3791 fix: spacer block handling with registration block
  src/blocks/reader-registration/style.scss
Labels: [Status] Approved

#3787 feat(correction-blocks): Correction box & Loop item + Template
  includes/class-blocks.php
  includes/corrections/class-corrections.php
  includes/templates/block-patterns/corrections/corrections-loop.php
  includes/templates/corrections/corrections-archive.php
  src/blocks/correction-box/block.json
  src/blocks/correction-box/class-correction-box-block.php
  src/blocks/correction-box/edit.jsx
  src/blocks/correction-box/index.js
  src/blocks/correction-box/style.scss
  src/blocks/correction-item/block.json
  src/blocks/correction-item/class-correction-item-block.php
  src/blocks/correction-item/index.js
  src/blocks/correction-item/style.scss
  src/blocks/index.js
  webpack.config.js
Labels: [Status] Approved

#3780 feat(my-account): sync email change with esp
  includes/reader-activation/sync/class-esp-sync.php
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
Labels: [Status] Approved, Has pending E2E PR

#3795 Release Mar 04
  includes/class-donations.php
  includes/class-newspack.php
  includes/corrections/class-corrections.php
  includes/plugins/class-perfmatters.php
  includes/plugins/woocommerce-subscriptions/class-woocommerce-subscriptions-gifting.php
  includes/reader-activation/class-reader-activation-emails.php
  includes/reader-activation/class-reader-activation.php
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
  includes/reader-revenue/my-account/index.js
  includes/reader-revenue/templates/myaccount-edit-account.php
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
  includes/reader-revenue/woocommerce/class-woocommerce-products.php
  includes/templates/reader-activation-emails/change-email.php
  newspack.php
  package-lock.json
  package.json
  src/other-scripts/corrections-modal/index.js
  src/other-scripts/corrections-modal/style.scss
  src/other-scripts/corrections/index.js
  src/other-scripts/corrections/style.scss
  src/other-scripts/recaptcha/index.js
  src/other-scripts/recaptcha/style.scss
  src/wizards/engagement/components/types.ts
  src/wizards/popups/index.js
  src/wizards/popups/views/analytics/index.js
  src/wizards/popups/views/analytics/style.scss
  src/wizards/popups/views/index.js
  src/wizards/readerRevenue/views/donation/index.tsx
  tests/unit-tests/corrections.php
  tests/unit-tests/reader-activation.php
Labels: [Status] Needs Review

#3793 feat(correction-blocks): update corrections template
  includes/templates/block-patterns/corrections/corrections-loop.php
  includes/templates/corrections/corrections-archive.php
Labels: [Status] Approved

#3798 fix(modal-checkout): password setup
  includes/reader-activation/class-reader-activation.php
Labels: [Status] Approved

#3788 fix(premium-newsletters): show premium lists in post-checkout signup
  includes/reader-activation/class-reader-activation.php
Labels: [Status] Approved

#3799 feat(my-account): sync admin email change with external connections
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
Labels: [Status] Approved

#3802 fix(google-site-kit): handle new analytics option name
  includes/plugins/google-site-kit/class-googlesitekit.php
Labels: [Status] Approved

#3809 fix: avoid fatal when sitekit is not configured
  includes/plugins/google-site-kit/class-googlesitekit.php
Labels: [Status] Approved

#3804 feat(my-account): disable WC password nag
  includes/plugins/class-woocommerce.php
Labels: [Status] Approved

#3783 feat(woo-member-commenting): optional module for member commenting
  includes/class-newspack.php
  includes/cli/class-initializer.php
  includes/cli/class-optional-modules.php
  includes/optional-modules/class-woo-member-commenting.php
  includes/wizards/class-settings.php
  tests/unit-tests/settings.php
Labels: [Status] Approved, Information Architecture

#3810 fix: update paths to share button, social CSS in Perfmatters
  includes/plugins/class-perfmatters.php
Labels: [Status] Approved

#3811 feat(media): enable setting a default image for 404 images
  includes/class-default-image.php
  includes/class-newspack.php
Labels: [Status] Approved

#3806 fix(ia): re-add suppression advertising settings
  src/wizards/advertising/index.js
  src/wizards/advertising/views/index.js
  src/wizards/advertising/views/suppression/index.js
Labels: [Status] Approved, Information Architecture

#3817 fix: making `get_post()` is not `null` before attempting to read props
  includes/data-events/connectors/ga4/class-ga4.php
Labels: [Status] Approved

#3779 fix(nrh): fixes for ESP contact syncing w/ NRH, newsletter signups
  includes/cli/class-ras-esp-sync.php
  includes/data-events/connectors/class-esp-connector.php
  includes/plugins/class-teams-for-memberships.php
  includes/reader-activation/sync/class-esp-sync.php
  includes/reader-activation/sync/class-metadata.php
  includes/reader-activation/sync/class-woocommerce.php
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
  src/wizards/readerRevenue/views/donation/index.tsx
Labels: [Status] Needs Review

#3807 feat: add Lite sites feature
  includes/class-newspack.php
  includes/lite-site/class-lite-site.php
  includes/lite-site/templates/archive.php
  includes/lite-site/templates/lite-site-styles.php
  includes/lite-site/templates/single.php
Labels: [Status] Approved

#3825 Revert "refactor(corrections): remove corrections feature flag (#3797)"
  includes/class-blocks.php
  includes/corrections/README.md
  includes/corrections/class-corrections.php
  tests/unit-tests/corrections.php
Labels: [Status] Approved

#3824 feat: enable email change for newspack users
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
Labels: [Status] Approved

#3818 Fix/js tests
  package-lock.json
  package.json
  src/components/src/hooks/useObjectState.test.js
  src/components/src/settings/MinMaxSetting.js
  src/components/src/settings/SettingsCard.js
Labels: [Status] Approved

#3820 hotfix: auth modal issues with content gating
  includes/plugins/wc-memberships/class-memberships.php
  src/reader-activation-auth/index.js
Labels: [Status] Approved

#3816 fix(ia): audience wizard without activation
  includes/wizards/audience/class-audience-wizard.php
  src/wizards/audience/views/setup/index.js
  src/wizards/audience/views/setup/setup.js
Labels: [Status] Approved, Information Architecture

#3826 fix(ia): hide audience subscriptions when memberships inactive
  includes/class-wizards.php
Labels: [Status] Approved, Information Architecture

#3829 feat(corrections-location): integrate Correction location logic
  includes/corrections/README.md
  includes/corrections/class-corrections.php
  src/other-scripts/corrections-modal/index.js
  tests/unit-tests/corrections.php
Labels: [Status] Approved

#3841 fix(modal-checkout): endpoint to refresh newsletter lists via REST
  includes/reader-activation/class-reader-activation.php
  src/reader-activation-newsletters/index.js
  src/reader-activation-newsletters/newsletters-form.js
  src/reader-activation-newsletters/newsletters-modal.js
Labels: [Status] Approved

#3843 Release Mar 18
  includes/class-blocks.php
  includes/class-newspack.php
  includes/cli/class-initializer.php
  includes/cli/class-optional-modules.php
  includes/corrections/class-corrections.php
  includes/optional-modules/class-woo-member-commenting.php
  includes/reader-activation/class-reader-activation-emails.php
  includes/reader-activation/class-reader-activation.php
  includes/reader-activation/sync/class-esp-sync.php
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
  includes/reader-revenue/stripe/class-stripe-connection.php
  includes/reader-revenue/templates/myaccount-edit-account.php
  includes/templates/block-patterns/corrections/corrections-loop.php
  includes/templates/corrections/corrections-archive.php
  includes/templates/reader-activation-emails/change-email.php
  includes/wizards/class-settings.php
  newspack.php
  src/blocks/correction-box/block.json
  src/blocks/correction-box/class-correction-box-block.php
  src/blocks/correction-box/edit.jsx
  src/blocks/correction-box/index.js
  src/blocks/correction-box/style.scss
  src/blocks/correction-item/block.json
  src/blocks/correction-item/class-correction-item-block.php
  src/blocks/correction-item/index.js
  src/blocks/correction-item/style.scss
  src/blocks/index.js
  src/blocks/reader-registration/style.scss
  src/reader-activation-newsletters/index.js
  src/reader-activation-newsletters/newsletters-form.js
  src/reader-activation-newsletters/newsletters-modal.js
  tests/unit-tests/settings.php
  webpack.config.js
Labels: [Status] Approved

#3840 fix(ia): dashboard header bg color
  includes/wizards/newspack/class-newspack-dashboard.php
  src/components/src/box-contrast/index.tsx
Labels: [Status] Approved, Information Architecture

#3836 feat: update ads and newsletter-ads icons
  includes/wizards/advertising/class-advertising-display-ads.php
  includes/wizards/newspack/class-newspack-dashboard.php
  package-lock.json
  package.json
  src/wizards/newspack/components/icons/custom-icons.tsx
  src/wizards/newspack/components/icons/gift.tsx
  src/wizards/newspack/components/icons/index.ts
  src/wizards/newspack/components/icons/svg.tsx
Labels: [Status] Approved, Information Architecture

#3846 fix(ia): merge email settings
  includes/emails/class-emails.php
  includes/reader-activation/class-reader-activation-emails.php
  includes/reader-activation/class-reader-activation.php
  includes/reader-revenue/class-reader-revenue-emails.php
  includes/wizards/newspack/class-newspack-settings.php
  src/wizards/audience/views/setup/index.js
  src/wizards/audience/views/setup/transactional-emails.js
  src/wizards/newspack/types/index.d.ts
  src/wizards/newspack/views/settings/emails/emails.tsx
  tests/unit-tests/emails.php
Labels: [Status] Approved, Information Architecture

#3845 feat(memberships): status reevaluation
  includes/plugins/wc-memberships/class-memberships.php
Labels: [Status] Needs Review

#3823 feat: add custom check for media visibility
  includes/class-patches.php
  phpcs.xml
Labels: [Status] Approved

#3835 feat(corrections-modal): Improve Corrections Modal UX
  src/other-scripts/corrections-modal/index.js
  src/other-scripts/corrections-modal/style.scss
Labels: [Status] Approved

#3850 fix: add check if product before gating content
  includes/plugins/wc-memberships/class-memberships.php
Labels: [Status] Approved

#3860 fix(esp-sync): account for wp errors in email change sync
  includes/reader-activation/sync/class-esp-sync.php
Labels: [Status] Approved

#3858 fix: move optional module settings from Syndication to own class
  includes/class-newspack.php
  includes/class-syndication.php
  includes/cli/class-optional-modules.php
  includes/optional-modules/class-media-partners.php
  includes/optional-modules/class-optional-modules.php
  includes/optional-modules/class-rss.php
  includes/optional-modules/class-woo-member-commenting.php
  includes/wizards/newspack/class-syndication-section.php
  tests/unit-tests/optional-modules.php
Labels: [Status] Approved, Information Architecture

#3865 feat: add canonical url to lite site single posts
  includes/lite-site/templates/single.php
Labels: [Status] Needs Review

#3867 fix(ia): render all emails on template reset
  includes/wizards/audience/class-audience-donations.php
  includes/wizards/audience/class-audience-wizard.php
Labels: [Status] Approved

#3866 refactor(corrections): Remove feature flag
  includes/class-blocks.php
  includes/corrections/README.md
  includes/corrections/class-corrections.php
  tests/unit-tests/corrections.php
Labels: [Status] Approved

#3746 feat: custom byline interface
  .gitignore
  includes/bylines/README.md
  includes/bylines/class-bylines.php
  src/bylines/index.js
  src/bylines/style.scss
Labels: [Status] Needs Review

#3856 feat: frontend display of bylines
  includes/bylines/class-bylines.php
  src/bylines/style.scss
Labels: [Status] Needs Review

#3869 fix(image-404-handling): handle 404 from other sites
  includes/class-default-image.php
Labels: [Status] Approved

#3873 fix: handle missing Mailchimp API key in auth status
  includes/oauth/class-mailchimp-api.php
Labels: [Status] Approved

#3875 test: fix unit tests based on dates relative to "now"
  tests/unit-tests/woocommerce-cli.php
Labels: [Status] Approved

#3876 fix: remove Mailchimp for WooCommerce from wizard
  includes/class-plugin-manager.php
  src/wizards/newsletters/views/settings/index.js
Labels: [Status] Approved

#3872 fix(notices): fix PHP notice from early translation
  includes/class-donations.php
Labels: [Status] Approved
