Repository Automattic/newspack-plugin, pull requests merged in 2025-04, with the labels that each got.

#3879 chore: remove unused `react-daterange-picker` package
  package-lock.json
  package.json
  src/components/src/date-range-picker/index.js
  src/components/src/date-range-picker/style.scss
  src/components/src/index.js
Labels: [Status] Approved

#3862 fix(guest-contributors): return them in authors query
  includes/plugins/co-authors-plus/class-guest-contributor-role.php
Labels: [Status] Approved

#3878 Fix: remove design link
  includes/class-patches.php
Labels: [Status] Approved, wp 6.8

#3884 feat(corrections): hotfix removal of feature flag (#3866)
  includes/class-blocks.php
  includes/corrections/README.md
  includes/corrections/class-corrections.php
  tests/unit-tests/corrections.php
Labels: [Status] Approved

#3881 fix: restore Media Kit components in Ads wizard
  includes/wizards/advertising/class-advertising-display-ads.php
  src/components/src/plugin-settings/index.js
  src/wizards/advertising/components/media-kit/index.js
  src/wizards/advertising/components/suppression/index.js
  src/wizards/advertising/index.js
  src/wizards/advertising/views/add-ons/index.js
  src/wizards/advertising/views/index.js
  src/wizards/advertising/views/settings/index.js
Labels: [Status] Approved

#3832 feat(esp-sync): add constant contact support
  includes/reader-activation/class-reader-activation.php
  includes/reader-activation/sync/class-esp-sync.php
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
  src/wizards/audience/components/settings.js
  src/wizards/audience/types/index.d.ts
  src/wizards/audience/views/setup/setup.js
Labels: [Status] Approved

#3882 feat: update colors and add all design system variables
  .stylelintrc.js
  src/components/src/modal/style.scss
  src/components/src/style.scss
  src/components/src/web-preview/style.scss
  src/components/src/with-wizard-screen/style.scss
  src/newspack-ui/scss/variables/_colors.scss
  src/shared/scss/_colors.scss
Labels: [Status] Approved

#3888 Fix: RAS OTP Autocomplete feature
  src/reader-activation-auth/otp-input.js
Labels: [Status] Approved

#3894 fix: remove import and route for Suppression
  src/wizards/advertising/index.js
Labels: [Status] Approved

#3796 feat(reader-auth): send WP login reminder email to non-reader accounts
  includes/class-magic-link.php
  includes/reader-activation/class-reader-activation-emails.php
  includes/reader-activation/class-reader-activation.php
  includes/templates/reader-activation-emails/non-reader.php
Labels: [Status] Approved, [Status] Needs changes or feedback

#3897 chore: prevent PHP Notice about translations loading too early
  includes/optional-modules/class-rss.php
Labels: [Status] Approved

#3896 fix(bylines): avoid rerendering of editable area
  src/bylines/index.js
Labels: [Status] Approved

#3903 Hotfix/feat/wc stripe gateway stripe metadata
  includes/class-newspack.php
  includes/plugins/class-woocommerce-gateway-stripe.php
  includes/reader-revenue/woocommerce/class-woocommerce-connection.php
Labels: [Status] Approved

#3900 fix: update Lite Site URL base
  includes/lite-site/templates/archive.php
  includes/lite-site/templates/single.php
Labels: [Status] Approved

#3917 Release Apr 14
  .circleci/config.yml
  .gitignore
  includes/bylines/README.md
  includes/bylines/class-bylines.php
  includes/class-patches.php
  includes/plugins/co-authors-plus/class-guest-contributor-role.php
  includes/plugins/wc-memberships/class-memberships.php
  includes/reader-activation/class-reader-activation.php
  includes/reader-activation/sync/class-esp-sync.php
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
  newspack.php
  package-lock.json
  package.json
  src/bylines/index.js
  src/bylines/style.scss
  src/components/src/date-range-picker/index.js
  src/components/src/date-range-picker/style.scss
  src/components/src/index.js
  src/wizards/audience/components/settings.js
  src/wizards/audience/types/index.d.ts
  src/wizards/audience/views/setup/setup.js
Labels: [Status] Approved

#3909 fix: add white background to Newspack admin screens
  src/admin/style.scss
Labels: [Status] Approved

#3913 fix(email-change): persist success / error messages after redirect
  includes/class-donations.php
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
Labels: [Status] Approved

#3907 feat(bylines): useAuthorTokens() hook with user entity validation
  src/bylines/index.js
Labels: [Status] Approved

#3919 fix(bylines): custom edited state for modal
  src/bylines/index.js
Labels: [Status] Approved

#3912 feat(email-change): allow old email to cancel email change only, not confirm
  includes/reader-activation/class-reader-activation-emails.php
  includes/reader-revenue/my-account/class-woocommerce-my-account.php
  includes/templates/reader-activation-emails/change-email-cancel.php
  src/wizards/audience/types/index.d.ts
Labels: [Status] Approved

#3911 feat(bylines): get post byline authors
  includes/bylines/class-bylines.php
Labels: [Status] Approved

#3926 fix: reinstate the Add New Newsletter link in the admin menu
  includes/wizards/class-newsletters-wizard.php
Labels: [Status] Approved

#3924 fix: change nonce strategy for data events
  includes/data-events/class-data-events.php
  tests/unit-tests/data-events.php
Labels: [Status] Approved

#3922 fix: hide campaigns menu when the Newspack Campaigns plugin is deactivated
  includes/wizards/audience/class-audience-campaigns.php
Labels: [Status] Approved

#3887 feat(ras-newsletter): Newsletters list progressive disclosure
  includes/class-newspack-ui-icons.php
  includes/reader-activation/class-reader-activation.php
  src/components/src/sortable-newsletter-list-control/index.js
  src/components/src/sortable-newsletter-list-control/style.scss
  src/reader-activation-newsletters/newsletters-form.js
  src/reader-activation-newsletters/style.scss
  src/wizards/audience/views/setup/setup.js
Labels: [Status] Approved, [Status] Design Approved

#3918 WC Stripe: disable Link/Apple Pay/Google Pay by default
  includes/plugins/class-woocommerce-gateway-stripe.php
Labels: [Status] Approved

#3895 fix(analytics): migrate back-end GA4 events to front-end
  includes/class-newspack.php
  includes/data-events/class-memberships.php
  includes/data-events/connectors/ga4/README.md
  includes/data-events/connectors/ga4/class-event.php
  includes/data-events/connectors/ga4/class-ga4.php
  includes/plugins/google-site-kit/class-googlesitekit.php
  includes/plugins/wc-memberships/class-memberships.php
  includes/reader-activation/class-reader-activation.php
  src/blocks/reader-registration/index.php
  src/blocks/reader-registration/view.js
  src/memberships-gate/gate.js
  src/memberships-gate/gate.scss
  src/reader-activation-auth/auth-form.js
  src/reader-activation-auth/index.js
  src/reader-activation-auth/style.scss
  src/reader-activation/analytics.js
  src/reader-activation/index.js
  src/reader-activation/overlays.js
  tests/unit-tests/ga4-connector.php
Labels: [Status] Approved

#3930 fix(recaptcha-v2): clone Place Order button for all checkouts, not just modal
  includes/class-recaptcha.php
  src/other-scripts/recaptcha/style.scss
Labels: [Status] Approved

#3929 fix(corrections): Use Corrections Archive template by default
  includes/corrections/class-corrections.php
Labels: [Status] Approved

#3910 feat(scss): export colors as module for JS consumption
  .stylelintrc.js
  src/blocks/correction-box/edit.jsx
  src/blocks/correction-box/index.js
  src/blocks/correction-item/index.js
  src/blocks/reader-registration/index.js
  src/components/src/modal/style.scss
  src/components/src/newspack-icon/style.scss
  src/components/src/notice/style.scss
  src/components/src/popover/style.scss
  src/components/src/progress-bar/style.scss
  src/components/src/radio-control/style.scss
  src/components/src/steps-list-item/style.scss
  src/components/src/steps-list/style.scss
  src/components/src/style-card/style.scss
  src/components/src/style.scss
  src/components/src/web-preview/style.scss
  src/components/src/with-wizard-screen/style.scss
  src/components/src/with-wizard/style.scss
  src/newspack-ui/scss/variables/_colors.scss
  src/shared/scss/_colors.module.scss
  src/wizards/audience/views/campaigns/analytics/style.scss
  src/wizards/audience/views/campaigns/campaigns/style.scss
  src/wizards/audience/views/campaigns/segments/style.scss
  src/wizards/handoff-banner/style.scss
  src/wizards/newspack/views/dashboard/style.scss
Labels: [Status] Approved

#3944 fix(auth-form): check user before is_user_reader() call
  includes/reader-activation/class-reader-activation.php
Labels: [Status] Approved

#3880 feat(segments): add filter for device segment
  src/wizards/audience/views/campaigns/segments/single-segment.js
Labels: [Status] Approved

#3940 fix(setup-wizard): prevent Yoast redirect
  includes/class-plugin-manager.php
Labels: [Status] Approved

#3947 Corrections: Additional unit tests
  tests/unit-tests/corrections.php
Labels: [Status] Approved

#3938 feat(ga4): np_newsletter_subscribed event upon front-end signup
  includes/reader-revenue/my-account/index.js
  src/blocks/reader-registration/view.js
  src/memberships-gate/gate.js
  src/reader-activation-auth/auth-form.js
  src/reader-activation-newsletters/newsletters-form.js
  src/reader-activation-newsletters/newsletters-modal.js
  src/reader-activation/analytics.js
Labels: [Status] Approved

#3942 fix: avoid warning for network event
  includes/data-events/connectors/class-esp-connector.php
Labels: [Status] Approved

#3946 fix(google-login): handle google oauth disabled state in the editor
  includes/oauth/class-google-oauth.php
  includes/reader-activation/class-reader-activation.php
Labels: [Status] Approved

#3948 fix(newsletters-wizard): remove advertisers menu item
  includes/wizards/class-newsletters-wizard.php
Labels: [Status] Approved
